/**
* {{{generationBanner}}}
*/
package {{package}}

{{#imports}}
import {{import}}
{{/imports}}
import {{modelPackage}}._
import algoliasearch.ApiClient
import algoliasearch.api.{{classname}}.hosts
import algoliasearch.api.{{classname}}.readTimeout
import algoliasearch.api.{{classname}}.writeTimeout
import algoliasearch.api.{{classname}}.connectTimeout
import algoliasearch.config._
import algoliasearch.internal.util._

import java.util.concurrent.TimeUnit
import scala.concurrent.duration.Duration
import scala.concurrent.{ExecutionContext, Future}
import scala.util.Random

{{#operations}}
object {{classname}} {

  /** Creates a new {{classname}} instance using default hosts.
    *
    * @param appId
    *   application ID
    * @param apiKey
    *   api key
    {{#hasRegionalHost}} * @param region
    *   region{{/hasRegionalHost}}
    * @param clientOptions
    *   client options
    */
  def apply(
      appId: String,
      apiKey: String,
      {{#hasRegionalHost}}
      region: {{#fallbackToAliasHost}}Option[String] = None{{/fallbackToAliasHost}}{{^fallbackToAliasHost}}String{{/fallbackToAliasHost}},
      {{/hasRegionalHost}}
      clientOptions: ClientOptions = ClientOptions()
  ) = new {{classname}}(
    appId = appId,
    apiKey = apiKey,
    {{#hasRegionalHost}}region = region,{{/hasRegionalHost}}
    clientOptions = clientOptions
  )

  private def readTimeout(): Duration = {
    Duration({{x-timeouts.server.read}}, TimeUnit.MILLISECONDS)
  }

  private def connectTimeout(): Duration = {
    Duration({{x-timeouts.server.connect}}, TimeUnit.MILLISECONDS)
  }

  private def writeTimeout(): Duration = {
    Duration({{x-timeouts.server.write}}, TimeUnit.MILLISECONDS)
  }

  {{#hasRegionalHost}}
  private def hosts(region: {{#fallbackToAliasHost}}Option[String] = None{{/fallbackToAliasHost}}{{^fallbackToAliasHost}}String{{/fallbackToAliasHost}}): Seq[Host] = {
    val allowedRegions = Seq({{#allowedRegions}}"{{.}}"{{^-last}},{{/-last}}{{/allowedRegions}})
    {{^fallbackToAliasHost}}
    if (!allowedRegions.contains(region)) {
      throw new IllegalArgumentException(s"`region` is required and must be one of the following: ${allowedRegions.mkString(", ")}")
    }
    {{/fallbackToAliasHost}}
    {{#fallbackToAliasHost}}
    if (region.isDefined && !allowedRegions.contains(region.get)) {
      throw new IllegalArgumentException(s"`region` must be one of the following: ${allowedRegions.mkString(", ")}")
    }
    {{/fallbackToAliasHost}}
    val url = {{#fallbackToAliasHost}}if (region.isEmpty) "{{{hostWithFallback}}}" else {{/fallbackToAliasHost}} "{{{regionalHost}}}".replace("{region}", region{{#fallbackToAliasHost}}.get{{/fallbackToAliasHost}})
    Seq(Host(url = url, callTypes = Set(CallType.Read, CallType.Write)))
  }
  {{/hasRegionalHost}}
  {{#hostWithAppID}}
  private def hosts(appId: String): Seq[Host] = {
    val commonHosts = Random.shuffle(
      List(
        Host(appId + "-1.algolianet.com", Set(CallType.Read, CallType.Write)),
        Host(appId + "-2.algolianet.com", Set(CallType.Read, CallType.Write)),
        Host(appId + "-3.algolianet.com", Set(CallType.Read, CallType.Write))
      )
    )
    List(
      Host(appId + "-dsn.algolia.net", Set(CallType.Read)),
      Host(appId + ".algolia.net", Set(CallType.Write))
    ) ++ commonHosts
  }
  {{/hostWithAppID}}
  {{#hostsWithoutVariables.size}}
  private def hosts(): Seq[Host] = {
    List(
    {{#hostsWithoutVariables}}
    Host("{{.}}", Set(CallType.Read, CallType.Write)),
    {{/hostsWithoutVariables}}
    )
  }
  {{/hostsWithoutVariables.size}}
}

class {{classname}}(
    appId: String,
    apiKey: String,
    {{#hasRegionalHost}}region: {{#fallbackToAliasHost}}Option[String] = None{{/fallbackToAliasHost}}{{^fallbackToAliasHost}}String{{/fallbackToAliasHost}},{{/hasRegionalHost}}
    clientOptions: ClientOptions = ClientOptions()
) extends ApiClient(
      appId = appId,
      apiKey = apiKey,
      clientName = "{{{baseName}}}",
      defaultHosts = hosts({{#hostWithAppID}}appId{{/hostWithAppID}}{{#hasRegionalHost}}region{{/hasRegionalHost}}),
      defaultReadTimeout = readTimeout(),
      defaultWriteTimeout = writeTimeout(),
      defaultConnectTimeout = connectTimeout(),
      formats = JsonSupport.format,
      options = clientOptions
    ) {

{{#operation}}
/** {{{notes}}}
{{#vendorExtensions}}
{{#x-acl.0}}
*
* Required API Key ACLs:{{/x-acl.0}}
{{#x-acl}}
*   - {{.}}
{{/x-acl}}
{{/vendorExtensions}}
{{#isDeprecated}}
*
* @deprecated
{{/isDeprecated}}
*
{{#allParams}}
{{#description}}
* @param {{{paramName}}}
*   {{{.}}}
{{/description}}
{{/allParams}}
*/
  def {{operationId}}{{#vendorExtensions}}{{#x-is-custom-request}}[T: Manifest]{{/x-is-custom-request}}{{/vendorExtensions}}({{> methodParameters}} requestOptions: Option[RequestOptions] = None)(implicit ec: ExecutionContext): Future[{{#vendorExtensions}}{{#x-is-custom-request}}T{{/x-is-custom-request}}{{^x-is-custom-request}}{{{returnType}}}{{^returnType}}Unit{{/returnType}}{{/x-is-custom-request}}{{/vendorExtensions}}] = Future {
    {{#requiredParams}}
    requireNotNull({{paramName}}, "Parameter `{{paramName}}` is required when calling `{{operationId}}`.")
    {{/requiredParams}}

    val request = HttpRequest.builder()
      .withMethod("{{httpMethod}}")
      .withPath({{#vendorExtensions}}{{#x-is-custom-request}}s"{{{path}}}"{{/x-is-custom-request}}{{^x-is-custom-request}}s"{{#lambda.escape-path}}{{{path}}}{{/lambda.escape-path}}"{{/x-is-custom-request}}{{/vendorExtensions}})
      {{#bodyParam}}.withBody({{paramName}}){{/bodyParam}}
      {{#headerParams}}.withHeader("{{baseName}}", {{paramName}}){{/headerParams}}
      {{#vendorExtensions.x-use-read-transporter}}.withRead(true){{/vendorExtensions.x-use-read-transporter}}
      {{#vendorExtensions}}{{#queryParams}}{{^x-is-custom-request}}.withQueryParameter("{{baseName}}", {{paramName}}){{/x-is-custom-request}}{{#x-is-custom-request}}.withQueryParameters(parameters){{/x-is-custom-request}}{{/queryParams}}{{/vendorExtensions}}
      .build()
    execute[{{#vendorExtensions}}{{#x-is-custom-request}}T{{/x-is-custom-request}}{{^x-is-custom-request}}{{{returnType}}}{{^returnType}}Unit{{/returnType}}{{/x-is-custom-request}}{{/vendorExtensions}}](request, {{#vendorExtensions.x-timeouts}}Some(RequestOptions(writeTimeout = Some(Duration({{write}}, TimeUnit.MILLISECONDS)), readTimeout = Some(Duration({{read}}, TimeUnit.MILLISECONDS)), connectTimeout = Some(Duration({{connect}}, TimeUnit.MILLISECONDS))) + {{/vendorExtensions.x-timeouts}}requestOptions{{#vendorExtensions.x-timeouts}}){{/vendorExtensions.x-timeouts}})
  }

{{/operation}}
}
{{/operations}}