{{> licenseInfo}}
package {{package}}

{{#imports}}
import {{import}}
{{/imports}}

{{#models}}
{{#model}}
import org.json4s._

{{^isEnum}}
{{#vendorExtensions.x-is-one-of}}
{{> oneof_trait}}
{{/vendorExtensions.x-is-one-of}}
{{^vendorExtensions.x-is-one-of}}
/**
* {{#description}}{{{.}}}{{/description}}{{^description}}{{classname}}{{/description}}
*
{{#vars}}
{{#description}}
* @param {{{name}}} 
*   {{{.}}}
{{/description}}
{{/vars}}
*/
case class {{classname}}(
  {{#vars}}
  {{{name}}} {{#vendorExtensions.x-unescaped-name}}/* {{{.}}} */{{/vendorExtensions.x-unescaped-name}}: {{^required}}Option[{{/required}}{{#required}}{{#isNullable}}Option[{{/isNullable}}{{/required}}{{> generic_type}}{{^required}}] = scala.None{{/required}}{{#required}}{{#isNullable}}] = scala.None{{/isNullable}}{{/required}},
  {{/vars}}
  {{#additionalProperties}}
  additionalProperties: Option[List[JField]] = None
  {{/additionalProperties}}
){{#vendorExtensions.x-one-of-element}}{{#vendorExtensions.x-one-of-element-parents}} {{#-first}}extends{{/-first}}{{^-first}}with{{/-first}} {{parent_classname}}Trait {{/vendorExtensions.x-one-of-element-parents}}{{/vendorExtensions.x-one-of-element}}

{{#vendorExtensions.x-has-unescaped-property}}{{#additionalProperties.isAnyType}}
{{> serializer }}
{{/additionalProperties.isAnyType}}{{/vendorExtensions.x-has-unescaped-property}}
{{#vendorExtensions.x-has-unescaped-property}}{{^additionalProperties.isAnyType}}
{{> serializer }}
{{/additionalProperties.isAnyType}}{{/vendorExtensions.x-has-unescaped-property}}
{{#additionalProperties.isAnyType}}{{^vendorExtensions.x-has-unescaped-property}}
{{> serializer }}
{{/vendorExtensions.x-has-unescaped-property}}{{/additionalProperties.isAnyType}}

{{/vendorExtensions.x-is-one-of}}
{{/isEnum}}

{{#isEnum}}
{{> enum}}
{{/isEnum}}
{{/model}}
{{/models}}
