{{#vendorExtensions.x-one-of-multi-array}}import {{package}}.{{classname}}._{{/vendorExtensions.x-one-of-multi-array}}

/**
 * {{{description}}}{{^description}}{{classname}}{{/description}}{{#isDeprecated}}
 * @deprecated{{/isDeprecated}}
 */
sealed trait {{classname}}

{{#vendorExtensions.x-has-model}}
trait {{classname}}Trait extends {{classname}}
{{/vendorExtensions.x-has-model}}

{{#vendorExtensions.x-is-multi-array}}
trait {{classname}}Evidence 

object {{classname}}Evidence {
{{#composedSchemas.oneOf}}
{{#isArray}}
    implicit object {{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}Evidence extends {{classname}}Evidence
{{/isArray}}
{{/composedSchemas.oneOf}}
}
{{/vendorExtensions.x-is-multi-array}}

{{#vendorExtensions.x-is-multi-map}}
trait {{classname}}Evidence 

object {{classname}}Evidence {
{{#composedSchemas.oneOf}}
{{#isMap}}
    implicit object {{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}Evidence extends {{classname}}Evidence
{{/isMap}}
{{/composedSchemas.oneOf}}
}
{{/vendorExtensions.x-is-multi-map}}

object {{classname}} {

  {{#composedSchemas.oneOf}}
  {{^isModel}}
  {{^isEnumRef}}
  case class {{#isMap}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isMap}}{{#isArray}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isArray}}{{^isMap}}{{^isArray}}{{{datatypeWithEnum}}}Value{{/isArray}}{{/isMap}}(value: {{{datatypeWithEnum}}}) extends {{classname}}
  {{/isEnumRef}}
  {{/isModel}}
  {{/composedSchemas.oneOf}}

  {{#vendorExtensions.x-is-multi-array}}
  {{#composedSchemas.oneOf}}
  {{^isModel}}
  {{^isEnumRef}}
  def apply(value: {{{datatypeWithEnum}}}){{#isArray}}(implicit ev: {{classname}}Evidence.{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}Evidence.type){{/isArray}}: {{classname}} = {
      {{classname}}.{{#isMap}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isMap}}{{#isArray}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isArray}}{{^isMap}}{{^isArray}}{{{datatypeWithEnum}}}Value{{/isArray}}{{/isMap}}(value)
  }
  {{/isEnumRef}}
  {{/isModel}}
  {{/composedSchemas.oneOf}}
  {{/vendorExtensions.x-is-multi-array}}

  {{#vendorExtensions.x-is-multi-map}}
  {{#composedSchemas.oneOf}}
  {{^isModel}}
  {{^isEnumRef}}
  def apply(value: {{{datatypeWithEnum}}}){{#isMap}}(implicit ev: {{classname}}Evidence.{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}Evidence.type){{/isMap}}: {{classname}} = {
      {{classname}}.{{#isMap}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isMap}}{{#isArray}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isArray}}{{^isMap}}{{^isArray}}{{{datatypeWithEnum}}}Value{{/isArray}}{{/isMap}}(value)
  }
  {{/isEnumRef}}
  {{/isModel}}
  {{/composedSchemas.oneOf}}
  {{/vendorExtensions.x-is-multi-map}}
  
  {{^vendorExtensions.x-is-multi-array}}{{^vendorExtensions.x-is-multi-map}}
  {{#composedSchemas.oneOf}}
  {{^isModel}}
  {{^isEnumRef}}
  def apply(value: {{{datatypeWithEnum}}}): {{classname}} = {
      {{classname}}.{{#isMap}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isMap}}{{#isArray}}{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}{{/isArray}}{{^isMap}}{{^isArray}}{{{datatypeWithEnum}}}Value{{/isArray}}{{/isMap}}(value)
  }
  {{/isEnumRef}}
  {{/isModel}}
  {{/composedSchemas.oneOf}}
  {{/vendorExtensions.x-is-multi-map}}{{/vendorExtensions.x-is-multi-array}}
}

object {{classname}}Serializer extends Serializer[{{classname}}] {
  override def deserialize(implicit format: Formats): PartialFunction[(TypeInfo, JValue), {{classname}}] = {

    case (TypeInfo(clazz, _), json) if clazz == classOf[{{classname}}] => 
      json match {
        {{#composedSchemas.oneOf}}
        {{#isModel}}
        case value: JObject {{#vendorExtensions.x-discriminator-fields}}{{#-first}}if{{/-first}}{{^-first}}&&{{/-first}} value.obj.exists(_._1 == "{{{.}}}"){{/vendorExtensions.x-discriminator-fields}} => Extraction.extract[{{{datatypeWithEnum}}}](value)
        {{/isModel}}
        {{^isModel}}
        {{^isEnumRef}}
        {{#vendorExtensions.x-discriminator-fields.size}}
        case value: JObject {{#vendorExtensions.x-discriminator-fields}}{{#-first}}if{{/-first}}{{^-first}}&&{{/-first}} value.obj.exists(_._1 == "{{{.}}}"){{/vendorExtensions.x-discriminator-fields}} => Extraction.extract[{{{datatypeWithEnum}}}](value)
        {{/vendorExtensions.x-discriminator-fields.size}}
        {{/isEnumRef}}
        {{/isModel}}
        {{#isMap}}
        case value: JObject => {{classname}}.apply(Extraction.extract[{{{datatypeWithEnum}}}](value))
        {{/isMap}}
        {{#isEnumRef}}
        case value: JString => Extraction.extract[{{{datatypeWithEnum}}}](value)
        {{/isEnumRef}}
        {{#isArray}}
        case JArray(value) if value.forall(_.isInstanceOf[{{#isModel}}JObject{{/isModel}}{{#isBoolean}}JBool{{/isBoolean}}{{#isString}}JString{{/isString}}{{#isNumber}}JNumber{{/isNumber}}{{#isArray}}JArray{{/isArray}}]) => {{{classname}}}.{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}(value.map(_.extract))
        {{/isArray}}
        {{#isInteger}}
        case JInt(value) => {{{classname}}}.{{{datatypeWithEnum}}}Value(value.toInt)
        {{/isInteger}}
        {{#isLong}}
        case JLong(value) => {{{classname}}}.{{{datatypeWithEnum}}}Value(value.toLong)
        {{/isLong}}
        {{#isDouble}}
        case JDouble(value) => {{{classname}}}.{{{datatypeWithEnum}}}Value(value.toDouble)
        {{/isDouble}}
        {{#isBoolean}}
        case JBool(value) => {{{classname}}}.{{{datatypeWithEnum}}}Value(value)
        {{/isBoolean}}
        {{#isString}}
        case JString(value) => {{{classname}}}.{{{datatypeWithEnum}}}Value(value)
        {{/isString}}
        {{/composedSchemas.oneOf}}
        case _ => throw new MappingException("Can't convert " + json + " to {{classname}}")
      }
  }

  override def serialize(implicit format: Formats): PartialFunction[Any, JValue] = { case value: {{classname}} => 
    value match {
      {{#composedSchemas.oneOf}}
      {{#isArray}}
      case {{classname}}.{{#lambda.type-to-name}}{{{datatypeWithEnum}}}{{/lambda.type-to-name}}(value) => JArray(value.map(Extraction.decompose).toList)
      {{/isArray}}
      {{#isInteger}}
      case {{classname}}.{{{datatypeWithEnum}}}Value(value) => JInt(value)
      {{/isInteger}}
      {{#isLong}}
      case {{classname}}.{{{datatypeWithEnum}}}Value(value) => JLong(value)
      {{/isLong}}
      {{#isDouble}}
      case {{classname}}.{{{datatypeWithEnum}}}Value(value) => JDouble(value)
      {{/isDouble}}
      {{#isBoolean}}
      case {{classname}}.{{{datatypeWithEnum}}}Value(value) => JBool(value)
      {{/isBoolean}}
      {{#isString}}
      case {{classname}}.{{{datatypeWithEnum}}}Value(value) => JString(value)
      {{/isString}}
      {{#isModel}}
      case value => Extraction.decompose(value)(format - this)
      {{/isModel}}
      {{#isEnumRef}}
      case value: {{{datatypeWithEnum}}} => JString(value.toString)
      {{/isEnumRef}}
      {{/composedSchemas.oneOf}}
    }
  }
}