patch:
  operationId: patchConfig
  summary: Update crawler configuration
  description: |
    Updates the configuration of the specified crawler.
    Every time you update the configuration, a new version is created.
  tags:
    - config
  x-acl:
    - editSettings
  parameters:
    - $ref: '../common/parameters.yml#/CrawlerIdParameter'
  requestBody:
    content:
      application/json:
        schema:
          $ref: '../common/schemas/configuration.yml#/PartialConfig'

  responses:
    '200':
      $ref: '../common/schemas/responses.yml#/ActionAcknowledged'
    '400':
      $ref: '../../common/responses/InvalidRequest.yml'
    '401':
      $ref: '../common/schemas/responses.yml#/MissingAuthorization'
    '403':
      $ref: '../common/schemas/responses.yml#/NoRightsOnCrawler'
