get:
  operationId: getConfigVersion
  summary: Retrieve a configuration version
  description: |
    Retrieves the specified version of the crawler configuration.

    You can use this to restore a previous version of the configuration.
  tags:
    - config
  x-acl:
    - settings
  parameters:
    - $ref: '../common/parameters.yml#/CrawlerIdParameter'
    - $ref: '../common/parameters.yml#/CrawlerVersionParameter'
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            title: configVersion
            type: object
            properties:
              version:
                $ref: '../common/parameters.yml#/version'
              config:
                $ref: '../common/schemas/configuration.yml#/Configuration'
              createdAt:
                $ref: '../../common/responses/common.yml#/createdAt'
              authorId:
                $ref: '../common/parameters.yml#/authorId'
            required:
              - version
              - config
              - createdAt
              - authorId
    '404':
      description: Not found.
