<?php
require(__DIR__."/vendor/autoload.php");
{{> snippets/import}}

$records = json_decode(file_get_contents("/my-raw-records.json"), true);

// use the region matching your applicationID
{{> snippets/init}}

$run = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}};

// use runID in the Observability debugger
print($run);