<?php
require(__DIR__."/../vendor/autoload.php");
{{> snippets/import}}

$records = json_decode(file_get_contents("records.json") ?: "[]", true);

// use the region matching your applicationID
{{> snippets/init}}

// setting `watch` to `true` will make the call synchronous
$resp = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}};

print($resp);