package org.example
{{> snippets/import}}
{{#isSearchClient}}
import com.algolia.client.extensions.*
{{/isSearchClient}}
import kotlinx.serialization.builtins.ListSerializer
import kotlinx.serialization.json.Json
import kotlinx.serialization.json.JsonObject
import java.net.URI

suspend fun main() {
    val url = URI.create("https://dashboard.algolia.com/api/1/sample_datasets?type=movie")
    val json = url.toURL().readText()
    val movies: List<JsonObject> = Json.decodeFromString(ListSerializer(JsonObject.serializer()), json)

    {{> snippets/init}}

    try {
        client.{{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
    } catch(e: Exception) {
        println(e.message)
    }
}