import java.time.Instant

{{> snippets/import}}
import com.algolia.client.model.search.*

suspend fun searchFuturePublishedBooks() {
  {{> snippets/init}}

  val dateTimestamp = Instant.now().epochSecond
  val searchParams = SearchParamsObject(
    query = "<YOUR_SEARCH_QUERY>",
    filters = "date_timestamp > $dateTimestamp"
  )

  client.{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
}