{{> snippets/import}}
import com.algolia.client.model.search.*

suspend fun searchWithRuleContexts() {
  {{> snippets/init}}

  val platformTag = getPlatformTag()
  val searchParams = SearchParamsObject(
    query = "<YOUR_SEARCH_QUERY>",
    ruleContexts = listOf(platformTag)
  )

  client.{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
}