{{> snippets/import}}
import com.algolia.client.model.search.*

val playlists: List<Map<String, Any>> = listOf() // Your records

suspend fun setHeaderUserIDThenSaveObjects() {
  {{> snippets/init}}

  playlists.foreach { playlist ->
      val playlistUserID = playlist["userID"].toString()
      client.{{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}}
  }
}