import kotlinx.serialization.json.JsonObject

{{> snippets/import}}
import com.algolia.client.model.search.*

suspend fun setHeaderUserIDThenSaveObjects() {
  val playlists: List<JsonObject> = listOf() // Your records

  {{> snippets/init}}

  playlists.foreach { playlist ->
      val playlistUserID = playlist["userID"].toString()
      client.{{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}}
  }
}