{{#isNull}}
  null
{{/isNull}}
{{#isVerbatim}}
  {{{value}}}
{{/isVerbatim}}
{{#isString}}
  "{{#lambda.escapeJSON}}{{{value}}}{{/lambda.escapeJSON}}"
{{/isString}}
{{#isInteger}}
  {{{value}}}
{{/isInteger}}
{{#isLong}}
  {{{value}}}L
{{/isLong}}
{{#isDouble}}
  {{{value}}}
{{/isDouble}}
{{#isBoolean}}
  {{{value}}}
{{/isBoolean}}
{{#isEnum}}
  {{{objectName}}}.{{#lambda.toEnum}}{{{value}}}{{/lambda.toEnum}}
{{/isEnum}}
{{#isArray}}
  Arrays.asList({{#value}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/value}})
{{/isArray}}
{{#isObject}}
  new {{{objectName}}}()
    {{#value}}{{#isAdditionalProperty}}.setAdditionalProperty("{{{key}}}", {{> tests/generateParams}}){{/isAdditionalProperty}}{{^isAdditionalProperty}}.set{{#lambda.pascalcase}}{{{key}}}{{/lambda.pascalcase}}({{> tests/generateParams}}){{/isAdditionalProperty}}{{/value}}
{{/isObject}}
{{#isFreeFormObject}}
  {{#isAnyType}}
  new HashMap(){{ {{#value}}{{#entrySet}}put("{{{key}}}", "{{{value}}}");{{/entrySet}}{{/value}} }}
  {{/isAnyType}}
  {{^isAnyType}}
  new HashMap(){{ {{#value}}put("{{{key}}}", {{> tests/generateParams}});{{/value}} }}
  {{/isAnyType}}
{{/isFreeFormObject}}