client.{{method}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}}{{#isGeneric}}, Hit.class{{/isGeneric}}{{#hasRequestOptions}}, new RequestOptions()
  {{#requestOptions.queryParameters.parametersWithDataType}}
    .addExtraQueryParameters("{{{key}}}", {{> tests/generateInnerParams}})
  {{/requestOptions.queryParameters.parametersWithDataType}}
  {{#requestOptions.headers.parametersWithDataType}}
    .addExtraHeader("{{{key}}}", "{{{value}}}")
  {{/requestOptions.headers.parametersWithDataType}}
  {{#requestOptions.timeouts.read}}
    .setReadTimeout(Duration.ofMillis({{requestOptions.timeouts.read}}L))
  {{/requestOptions.timeouts.read}}
  {{#requestOptions.timeouts.connect}}
    .setConnectTimeout(Duration.ofMillis({{requestOptions.timeouts.connect}}L))
  {{/requestOptions.timeouts.connect}}
  {{#requestOptions.timeouts.write}}
    .setWriteTimeout(Duration.ofMillis({{requestOptions.timeouts.write}}L))
  {{/requestOptions.timeouts.write}}
{{/hasRequestOptions}})