client.{{method}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}}{{#isGeneric}}, {{defaultGeneric}}{{/isGeneric}}{{#hasRequestOptions}}, new RequestOptions()
  {{#requestOptions.queryParameters.parametersWithDataType}}
    .addExtraQueryParameters("{{{key}}}", {{> tests/generateInnerParams}})
  {{/requestOptions.queryParameters.parametersWithDataType}}
  {{#requestOptions.headers.parametersWithDataType}}
    .addExtraHeader("{{{key}}}", "{{{value}}}")
  {{/requestOptions.headers.parametersWithDataType}}
  {{#requestOptions.timeouts.read}}
    .setReadTimeout(Duration.ofMillis({{.}}L))
  {{/requestOptions.timeouts.read}}
  {{#requestOptions.timeouts.connect}}
    .setConnectTimeout(Duration.ofMillis({{.}}L))
  {{/requestOptions.timeouts.connect}}
  {{#requestOptions.timeouts.write}}
    .setWriteTimeout(Duration.ofMillis({{.}}L))
  {{/requestOptions.timeouts.write}}
{{/hasRequestOptions}})