client.{{method}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}}{{#isGeneric}}, Hit.class{{/isGeneric}}{{#hasRequestOptions}}, new RequestOptions()
  {{#requestOptions.queryParameters.parametersWithDataType}}
    .addExtraQueryParameters("{{{key}}}", {{> tests/generateInnerParams}})
  {{/requestOptions.queryParameters.parametersWithDataType}}
  {{#requestOptions.headers.parametersWithDataType}}
    .addExtraHeader("{{{key}}}", "{{{value}}}")
  {{/requestOptions.headers.parametersWithDataType}}
{{/hasRequestOptions}})