// {{generationBanner}}
using Algolia.Search.Clients;
using Algolia.Search.Models.{{clientPrefix}};
using Algolia.Search.Models.Common;
using Algolia.Search.Http;
using Algolia.Search.Transport;
using Algolia.Search.Tests.Utils;
using Algolia.Search.Serializer;
using System.Text.RegularExpressions;
using System.Text.Json;
using Xunit;
using Quibble.Xunit;

namespace Algolia.Search.client;

public class {{client}}Tests
{
private readonly EchoHttpRequester _echo;
private Exception _ex;

public {{client}}Tests()
{
_echo = new EchoHttpRequester();
}

[Fact]
public void Dispose()
{

}

{{#blocksClient}}
{{> tests/client/tests}}
{{/blocksClient}}
}