{{#hasCustomHosts}}
{{clientPrefix}}Config _config = new {{clientPrefix}}Config("{{parametersWithDataTypeMap.appId.value}}","{{parametersWithDataTypeMap.apiKey.value}}"{{#hasRegionalHost}}{{#parametersWithDataTypeMap.region}},"{{parametersWithDataTypeMap.region.value}}"{{/parametersWithDataTypeMap.region}}{{/hasRegionalHost}}) {
  CustomHosts = new List<StatefulHost>
    {
      {{#customHosts}}new () {
        Scheme = HttpScheme.Http,
        Url = Environment.GetEnvironmentVariable("CI") == "true" ? "localhost" : "host.docker.internal",
        Port = {{port}},
        Up = true,
        LastUse = DateTime.UtcNow,
        Accept = CallType.Read | CallType.Write,
      }{{^-last}},{{/-last}}{{/customHosts}}
  }{{#gzipEncoding}},Compression = CompressionType.Gzip{{/gzipEncoding}}
};
{{^autoCreateClient}}var client = {{/autoCreateClient}}new {{client}}(_config);
{{/hasCustomHosts}}
{{#hasTransformationRegion}}client.SetTransformationRegion("{{{transformationRegion}}}");{{/hasTransformationRegion}}
{{#useEchoRequester}}
{{^autoCreateClient}}var client = {{/autoCreateClient}}new {{client}}(new {{clientPrefix}}Config("{{parametersWithDataTypeMap.appId.value}}","{{parametersWithDataTypeMap.apiKey.value}}"{{#hasRegionalHost}}{{#parametersWithDataTypeMap.region}},"{{parametersWithDataTypeMap.region.value}}"{{/parametersWithDataTypeMap.region}}{{/hasRegionalHost}}), _echo);{{/useEchoRequester}}