{{^useEchoRequester}}{{#hasResponsePayload}}var res = {{/hasResponsePayload}}{{/useEchoRequester}}{{> tests/method}};
{{#useEchoRequester}}EchoResponse result = _echo.LastResponse;{{/useEchoRequester}}