namespace Algolia;

using System;
using System.Text.Json;
using System.Net.Http;
using System.Collections.Generic;

{{> snippets/import}}

class AbTestImplementationChecklist {

  private static string GetUserToken() {
    // Implement your logic here
    return "";
  }

  async Task Main(string[] args)
  {
    {{> snippets/init}}

    // Set the query and get the current user token
    var query = "User search query";
    var userToken = GetUserToken();

    // Set the searchParams
    var searchParamsObject = new SearchParamsObject
    {
      Query = query,
      EnableABTest = true
    };

    // Is the user token anonymous?
    if (string.IsNullOrEmpty(userToken) || userToken == "YOUR_ANONYMOUS_USER_TOKEN") {
      // Disable A/B testing for this request
      searchParamsObject.EnableABTest = false;
    } else {
      // Set the user token to the current user token
      searchParamsObject.UserToken = userToken;
    }

    var searchParams = new SearchParams(searchParamsObject);

    try {
      // Perform the searchSingleIndex
      var result = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
      // SearchSingleIndex results
      Console.WriteLine(result);
    } catch (Exception err) {
      // SearchSingleIndex errors
      Console.Error.WriteLine(err);
    }
  }
}
