namespace Algolia;

using System;
using System.Text.Json;
using System.Net.Http;
using System.Collections.Generic;

{{> snippets/import}}

class AbTestImplementationChecklist {

  private static string GetUserToken() {
    // Implement your logic here
    return "";
  }

  async Task Main(string[] args)
  {
    {{> snippets/init}}

    // Set the searchParams and get the current user token
    var searchParams = new SearchParams(new SearchParamsObject
    {
      Query = "User search query",
      EnableABTest = true
    });
    var userToken = GetUserToken();

    // Is the user token anonymous?
    if (string.IsNullOrEmpty(userToken) || userToken == "YOUR_ANONYMOUS_USER_TOKEN") {
      // Disable A/B testing for this request
      searchParams.SearchParamsObject.EnableABTest = false;
    } else {
      // Set the user token to the current user token
      searchParams.SearchParamsObject.UserToken = userToken;
    }

    try {
      // Perform the searchSingleIndex
      var result = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
      // SearchSingleIndex results
      Console.WriteLine(result);
    } catch (Exception err) {
      // SearchSingleIndex errors
      Console.Error.WriteLine(err);
    }
  }
}
