namespace Algolia;

using System;
using System.Text.Json;
using System.Net.Http;
using System.Collections.Generic;

{{> snippets/import}}

class SaveObjectsMovies
{
    async Task Main(string[] args)
    {
        // read json file from url
        var url = "https://dashboard.algolia.com/api/1/sample_datasets?type=movie";
        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync(url);
        var content = await response.Content.ReadAsStringAsync();

        // parse json
        var movies = JsonSerializer.Deserialize<List<dynamic>>(content);

        // initiate client and index with your app ID and write API key
        {{> snippets/init}}

        // push data to algolia
        try
        {
            var result = {{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}};
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}