using System;
using System.Text.Json;
using System.Net.Http;
using System.Collections.Generic;

{{> snippets/import}}

class Program
{
    public static async Task Main(string[] args)
    {
        // read json file from url
        var url = "https://dashboard.algolia.com/sample_datasets/movie.json";
        var httpClient = new HttpClient();
        var response = await httpClient.GetAsync(url);
        var content = await response.Content.ReadAsStringAsync();

        // parse json
        var movies = JsonSerializer.Deserialize<List<dynamic>>(content);

        // initiate client and index
        {{> snippets/init}}

        // push data to algolia
        try
        {
            var result = {{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}