namespace Algolia;

using System;
using System.Text.Json;
using System.Net.Http;
using System.Collections.Generic;

{{> snippets/import}}

class SaveObjectsModified {

  async Task Main(string[] args)
  {

    {{> snippets/init}}

    var jsonContent = await File.ReadAllTextAsync("products.json");
    var products = JsonSerializer.Deserialize<List<Dictionary<string, object>>>(jsonContent);

    var records = products?.Select(product =>
    {
      var reference = product.GetValueOrDefault("product_reference", "") as string;
      var suffixes = new List<string>();

      for (var i = reference!.Length; i > 1; i--)
      {
        suffixes.Add(reference[i..]);
      }

      return new Dictionary<string, object>(product)
      {
        ["suffixes"] = suffixes
      };
    }).ToList();

    {{#dynamicSnippet}}saveObjectsRecords{{/dynamicSnippet}};
  }
}
