namespace Algolia;

using System;
using System.Collections.Generic;

{{> snippets/import}}

class SetUpTransformationOptions
{
    async Task Main(string[] args)
    {
        // Set TransformationOptions with your transformation region to use the `WithTransformation` helper methods.
        // Replace "us" with "eu" if your Algolia application uses the Europe analytics region.
        var client = SearchClient.WithTransformation(
            "ALGOLIA_APPLICATION_ID",
            "ALGOLIA_API_KEY",
            new TransformationOptions("us")
        );

        // Save records, transforming them through the Push connector
        try
        {
            var result = {{#dynamicSnippet}}setUpTransformationOptions{{/dynamicSnippet}};
        }
        catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }
    }
}
