import scala.concurrent.ExecutionContext.Implicits.global
import scala.concurrent.Future

{{> snippets/import}}
import algoliasearch.search.SearchParamsObject

def searchWithAnalyticsAndHeader(): Future[Unit] = {
  {{> snippets/init}}

  /*
  '94.228.178.246' should be replaced with your user's IP address.
  Depending on your stack there are multiple ways to get this information.
  */
  val ip = "94.228.178.246"
  val query = "query"

  val searchParams = SearchParamsObject(
    query = Some(query),
    analytics = Some(true)
  )

  {{#dynamicSnippet}}searchWithSearchParamsAndForwardedHeader{{/dynamicSnippet}}.map { response =>
    println(response)
  }.recover {
    case ex: Exception =>
      println(s"An error occurred: ${ex.getMessage}")
  }
}

