post:
  tags:
    - tasks
  summary: Push a `batch` request payload through the Pipeline
  description: Push a `batch` request payload through the Pipeline. You can check the status of task pushes with the observability endpoints.
  operationId: pushTask
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  parameters:
    - $ref: '../../../common/parameters.yml#/pathTaskID'
  requestBody:
    description: Request body of a Search API `batch` request that will be pushed in the Connectors pipeline.
    content:
      application/json:
        schema:
          title: pushTaskPayload
          type: object
          properties:
            action:
              $ref: '../../../../common/schemas/Batch.yml#/action'
            records:
              type: array
              items:
                title: pushTaskRecords
                type: object
                x-is-generic: true
                additionalProperties: true
                required:
                  - objectID
                properties:
                  objectID:
                    $ref: '../../../../common/parameters.yml#/objectID'
          required:
            - action
            - records
    required: true
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: '../../../common/schemas/run.yml#/RunResponse'
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'
