post:
  tags:
    - tasks
  summary: Push records by task ID
  description: >
    Pushes records through the pipeline, directly to an index. You can make the call synchronous by providing the `watch` parameter,
    for asynchronous calls, you can use the observability endpoints or the debugger dashboard to see the status of your task.

    If you want to transform your data before indexing, this is the recommended way of ingesting your records.

    This method is similar to `push`, but requires a `taskID` instead of a `indexName`, which is useful when many `destinations` target the same `indexName`.
  operationId: pushTask
  externalDocs:
    url: https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/how-to/transform-your-data/
    description: |
      Related guide: Pre-indexing data transformation.
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  x-timeouts:
    connect: 180000
    read: 180000
    write: 180000
  parameters:
    - $ref: '../../../common/parameters.yml#/pathTaskID'
    - $ref: '../../../common/parameters.yml#/watch'
  requestBody:
    content:
      application/json:
        schema:
          $ref: '../../../common/schemas/task.yml#/PushTaskPayload'
    required: true
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: '../../../../common/schemas/ingestion/WatchResponse.yml'
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'
