get:
  tags:
    - tasks
  summary: List tasks
  description: Retrieves a list of tasks.
  operationId: listTasks
  x-mcp-tool: true
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  parameters:
    - $ref: '../../../common/parameters.yml#/itemsPerPage'
    - $ref: '../../../common/parameters.yml#/page'
    - $ref: '../../../common/taskParameters.yml#/action'
    - $ref: '../../../common/taskParameters.yml#/enabled'
    - $ref: '../../../common/taskParameters.yml#/sourceID'
    - $ref: '../../../common/taskParameters.yml#/sourceType'
    - $ref: '../../../common/taskParameters.yml#/destinationID'
    - $ref: '../../../common/taskParameters.yml#/triggerType'
    - $ref: '../../../common/taskParameters.yml#/withEmailNotifications'
    - $ref: '../../../common/taskParameters.yml#/sort'
    - $ref: '../../../common/parameters.yml#/order'
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            title: listTasksResponse
            type: object
            description: Configured tasks and pagination information.
            additionalProperties: false
            properties:
              tasks:
                type: array
                items:
                  $ref: '../../../common/schemas/task.yml#/Task'
              pagination:
                $ref: '../../../common/schemas/pagination.yml#/Pagination'
            required:
              - tasks
              - pagination
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'

post:
  tags:
    - tasks
  summary: Create a task
  description: Creates a new task.
  operationId: createTask
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  requestBody:
    description: Request body for creating a task.
    content:
      application/json:
        schema:
          $ref: '../../../common/schemas/task.yml#/TaskCreate'
    required: true
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: '../../../common/schemas/task.yml#/TaskCreateResponse'
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'
