{{> licenseInfo}}
package com.algolia.client.dsl.generated

import com.algolia.client.dsl.AlgoliaDsl
import com.algolia.client.dsl.AlgoliaExperimentalDsl
import com.algolia.client.model.search.*
import kotlinx.serialization.json.*

{{#dslModels}}
@AlgoliaDsl
@AlgoliaExperimentalDsl
public class {{classname}}Builder {
{{#vars}}
  public var {{{name}}}: {{> data_class_field_type}}? = null
{{/vars}}

  internal fun build(): {{classname}} = {{classname}}(
{{#vars}}
    {{{name}}} = {{#required}}{{^isNullable}}requireNotNull({{{name}}}) { "{{classname}}.{{{name}}} is required" }{{/isNullable}}{{#isNullable}}{{{name}}}{{/isNullable}}{{/required}}{{^required}}{{{name}}}{{/required}},
{{/vars}}
  )
}

{{/dslModels}}
