node_modules
.bash_profile
.env
.pnp.cjs
.parcel-cache
**/.parcel-cache
**/.nx

yarn-error.log
debug.log

**/.yarn/*
!**/.yarn/releases
!**/.yarn/plugins
!**/.yarn/patches

.vscode/
.idea/
.fleet/

target
**/.DS_Store
.gradle
build
.build
pom.xml

dist
.cache

benchmarkResult.json

**.openapi-generator
/openapitools.json
**/.openapi-generator-ignore

**.php-cs-fixer.cache

generators/bin

**/java/bin/
**/kotlin/bin/
.kotlin/

# Dart
.dart_tool/
.packages
pubspec.lock

# Python
**/__pycache__

#CSharp
**/csharp/src/bin
**/csharp/src/obj
*.DotSettings.user

swiftformat

foo

/snippets
