{
  "trailingComma": "all",
  "singleQuote": true,
  "plugins": [ "prettier-plugin-java" ],
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "printWidth": 140
      }
    },
    {
      "files": ["*.ts", "*.js", "*.mjs", "*.cjs"],
      "options": {
        "arrowParens": "always",
        "bracketSpacing": true,
        "bracketSameLine": false,
        "printWidth": 120,
        "useTabs": false,
        "quoteProps": "as-needed"
      }
    }
  ]
}
