{
  "trailingComma": "all",
  "singleQuote": true,
  "plugins": [
    "prettier-plugin-java"
  ],
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "printWidth": 140,
        "trailingComma": "none"
      }
    }
  ]
}
