<?php

// {{generationBanner}}

namespace Algolia\AlgoliaSearch\Snippets;

// >IMPORT
use Algolia\AlgoliaSearch\Api\{{client}};
// IMPORT<

class Snippet{{client}}
{
    {{#blocksRequests}}
    {{#snippets}}
    /**
    * Snippet for the {{#lambda.titlecase}}{{{method}}}{{/lambda.titlecase}} method
    *
    * {{{description}}}
    */
    public function snippetFor{{#lambda.titlecase}}{{method}}{{/lambda.titlecase}}{{testIndex}}(): void
    {
        // >SEPARATOR {{method}} {{testName}}
        // Initialize the client
        $client = {{client}}::create('<YOUR_APP_ID>', '<YOUR_API_KEY>'{{#hasRegionalHost}}, 'YOUR_APP_ID_REGION'{{/hasRegionalHost}});

        // Call the API
        {{#hasResponse}}$response = {{/hasResponse}}{{> tests/method}};
        
        {{#hasResponse}}
        // play with the response
        var_dump($response);
        {{/hasResponse}}
        // SEPARATOR<
    }

    {{/snippets}}
    {{/blocksRequests}}
}
