// {{generationBanner}}
import { describe, test, expect } from 'vitest';

import { union } from '../helpers.js';

import { {{{clientName}}} } from '{{{importPackage}}}';
import type { RequestOptions } from '@algolia/client-common';

if (!process.env.{{e2eAppID}}) {
  throw new Error("please provide an `{{e2eAppID}}` env var for e2e tests");
}

if (!process.env.{{e2eApiKey}}) {
  throw new Error("please provide an `{{e2eApiKey}}` env var for e2e tests");
}

const client = {{{clientName}}}(process.env.{{e2eAppID}}, process.env.{{e2eApiKey}}{{#isStandaloneClient}}{{#hasRegionalHost}}, '{{{defaultRegion}}}'{{/hasRegionalHost}}{{/isStandaloneClient}}){{^isStandaloneClient}}.{{{initMethod}}}({{#hasRegionalHost}} {region:'{{{defaultRegion}}}'} {{/hasRegionalHost}}){{/isStandaloneClient}};

{{#blocksE2E}}
describe('{{operationId}}', () => {
  {{#tests}}
  {{^isStreamingTest}}
  test('{{{testName}}}', async () => {
    {{#response}}
    {{#body}}const resp = {{/body}}{{> tests/method}};
  
    {{#body}}
    const expectedBody = {{{.}}};

    expect(expectedBody).toEqual(union(expectedBody, resp));
    {{/body}}
    {{/response}}
  });
  {{/isStreamingTest}}

  {{#isStreamingTest}}
  test('{{{testName}}}', async () => {
    {{#response}}
    const events = [];
    for await (const event of client.{{method}}Stream({{#hasParams}}{{#parametersWithDataType.size}}{{{parameters}}}{{/parametersWithDataType.size}}{{/hasParams}}{{#hasRequestOptions}}, {
      {{#requestOptions.queryParameters.parameters}}
        queryParameters: {{{.}}},
      {{/requestOptions.queryParameters.parameters}}
      {{#requestOptions.headers.parameters}}
        headers: {{{.}}},
      {{/requestOptions.headers.parameters}}
      }
      {{/hasRequestOptions}}
    )) {
      events.push(event);
    }
    expect(events.length).toBeGreaterThan(0);

    {{#body}}
    const expectedBody = {{{.}}};
    // assert on collected events
    const allData = events.filter(e => e.data !== null).map(e => e.data);
    expect(allData.length).toBeGreaterThan(0);
    expect(expectedBody).toEqual(union(expectedBody, allData[0]));
    {{/body}}
    {{/response}}
  });
  {{/isStreamingTest}}

  {{/tests}}
})

{{/blocksE2E}}