{{>partial_header}}

# The version of the algoliasearch package
__version__ = "{{{packageVersion}}}"

from .api_response import ApiResponse
from .exceptions import (
  AlgoliaException,
  AlgoliaUnreachableHostException,
  ApiAttributeError,
  ApiException,
  ApiKeyError,
  ApiTypeError,
  ApiValueError,
  MissingObjectIdException,
  ObjectNotFoundException,
  RequestException,
  ValidUntilNotFoundException,
)
from .hosts import (
  CallType,
  Host,
  HostsCollection,
)
from .request_options import RequestOptions
from .retry import RetryOutcome, RetryStrategy
from .serializer import QueryParametersSerializer
from .transporter import Transporter
from .user_agent import UserAgent
from .verb import Verb