from __future__ import annotations

from urllib.parse import quote
from re import match
from enum import Enum
from json import (
  loads,
  dumps,
)
from pydantic import (
  BaseModel,
  Field,
  StrictBool,
  StrictFloat,
  StrictInt,
  StrictStr,
  ValidationError,
  field_validator,
)
from typing import (
  Annotated,
  Any,
  ClassVar,
  Dict,
  List,
  Optional,
  Tuple,
  Union,
  Literal,
  Self,
  Callable
)

from algoliasearch.http.helper import create_iterable_promise, RetryTimeout
from algoliasearch.http.serializer import bodySerializer
from algoliasearch.http.api_response import ApiResponse
from algoliasearch.http.request_options import RequestOptions
from algoliasearch.http.transporter import Transporter
from algoliasearch.http.verb import Verb
from algoliasearch.http.exceptions import RequestException

from algoliasearch.{{packageName}}.config import {{#lambda.pascalcase}}{{client}}Config{{/lambda.pascalcase}}