from __future__ import annotations

from urllib.parse import quote
from re import match
from enum import Enum
from json import (
  loads,
  dumps,
)
from pydantic import (
  BaseModel,
  Field,
  StrictBool,
  StrictFloat,
  StrictInt,
  StrictStr,
  ValidationError,
  field_validator,
)
from typing import (
  Annotated,
  Any,
  ClassVar,
  Dict,
  List,
  Optional,
  Tuple,
  Union,
)
from typing_extensions import Literal

from algoliasearch.http import (
  ApiResponse,
  RequestOptions,
  Transporter,
  Verb,
)

from algoliasearch.{{packageName}}.config import Config