{{> partial_header}}
{{> imports}}

{{#imports}}
{{import}}
{{/imports}}

{{#models}}
{{#model}}
{{#isEnum}}
{{> model_enum}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{> model_oneof}}{{/-first}}{{/oneOf}}{{^oneOf}}{{> model_generic}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}