class {{classname}}({{vendorExtensions.x-py-enum-type}}, Enum):
{{> model_description}}

    """
    allowed enum values
    """
{{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}

    {{/enumVars}}

    @classmethod
    def from_json(cls, json_str: str) -> Self:
        """Create an instance of {{classname}} from a JSON string"""
        return cls(loads(json_str))

    {{#defaultValue}}

    #
    @classmethod
    def _missing_value_(cls, value):
        if value is no_arg:
            return cls.{{{.}}}
    {{/defaultValue}}
{{/allowableValues}}