class {{classname}}({{vendorExtensions.x-py-enum-type}}, Enum):
{{>model_description}}

{{#allowableValues}}
    {{#enumVars}}
    {{{name}}} = {{{value}}}
    {{/enumVars}}

    @classmethod
    def from_json(cls, raw_str: str) -> Self:
        """Create an instance of {{classname}} from a string"""
        return cls(raw_str)
{{/allowableValues}}