(
        self,
        {{#allParams}}
        {{paramName}}: {{#isModel}}Union[{{/isModel}}{{#isArray}}{{#items.isEnumRef}}Union[list[str], {{/items.isEnumRef}}{{#items.isModel}}Union[{{/items.isModel}}{{/isArray}}{{#isEnumRef}}Union[{{/isEnumRef}}{{{vendorExtensions.x-py-typing}}}{{#isModel}}, dict[str, Any]]{{/isModel}}{{#isEnumRef}}, str]{{/isEnumRef}}{{#isArray}}{{#items.isEnumRef}}]{{/items.isEnumRef}}{{#items.isModel}}, {{#isQueryParam}}list[str], {{/isQueryParam}} list[dict[str, Any]]]{{/items.isModel}}{{/isArray}}{{^required}} = None{{/required}},
        {{/allParams}}
        request_options: Optional[Union[dict, RequestOptions]] = None
    )