{{#isAsyncMethod}}await {{/isAsyncMethod}}client.{{method}}({{#hasParams}}{{#parametersWithDataType.size}}{{{parameters}}}{{/parametersWithDataType.size}}{{/hasParams}}{{#hasRequestOptions}}, {
  {{#requestOptions.queryParameters.parameters}}
    queryParameters: {{{.}}},
  {{/requestOptions.queryParameters.parameters}}
  {{#requestOptions.headers.parameters}}
    headers: {{{.}}},
  {{/requestOptions.headers.parameters}}
  {{#hasTimeouts}}
  timeouts: {
  {{#requestOptions.connectTimeout}}
    connect: {{{.}}},
  {{/requestOptions.connectTimeout}}
  {{#requestOptions.readTimeout}}
    read: {{{.}}},
  {{/requestOptions.readTimeout}}
  {{#requestOptions.writeTimeout}}
    write: {{{.}}},
  {{/requestOptions.writeTimeout}}
  }
  {{/hasTimeouts}}
  }
  {{/hasRequestOptions}}
)