{
  "name": "javascript-tests",
  "type": "module",
  "version": "1.0.0",
  "scripts": {
    "test": "tsc --noEmit && vitest run"
  },
  "dependencies": {
    "algoliasearch": "link:../../../clients/algoliasearch-client-javascript/packages/algoliasearch",
    "@algolia/client-composition": "link:../../../clients/algoliasearch-client-javascript/packages/client-composition",
    "@algolia/requester-testing": "link:../../../clients/algoliasearch-client-javascript/packages/requester-testing"
  },
  "devDependencies": {
    "@types/node": "22.8.7",
    "dotenv": "16.4.5",
    "typescript": "5.6.3",
    "vitest": "2.1.4"
  }
}