{
  "name": "javascript-tests",
  "type": "module",
  "version": "1.0.0",
  "scripts": {
    "test": "tsc --noEmit && vitest run"
  },
  "dependencies": {
    "algoliasearch": "link:../../../clients/algoliasearch-client-javascript/packages/algoliasearch",
    "@algolia/composition": "link:../../../clients/algoliasearch-client-javascript/packages/composition",
    "@algolia/requester-testing": "link:../../../clients/algoliasearch-client-javascript/packages/requester-testing"
  },
  "devDependencies": {
    "@types/node": "25.0.10",
    "typescript": "5.9.3",
    "vitest": "4.0.17"
  }
}
