// {{{generationBanner}}}

{{> client/api/imports}}

export const apiClientVersion = '{{packageVersion}}';

{{#operations}}
{{> client/api/hosts}}

{{#isIngestionClient}}
  {{> client/api/guards}}
{{/isIngestionClient}}

export function create{{#lambda.titlecase}}{{clientName}}{{/lambda.titlecase}}({
    appId: appIdOption,
    apiKey: apiKeyOption,
    authMode,
    algoliaAgents,{{#hasRegionalHost}} region: regionOption,{{/hasRegionalHost}}
    ...options
  }: CreateClientOptions{{#hasRegionalHost}} & RegionOptions{{/hasRegionalHost}}) {
  const auth = createAuth(appIdOption, apiKeyOption, authMode);
  const transporter = createTransporter({
    hosts: getDefaultHosts({{#hostWithAppID}}appIdOption{{/hostWithAppID}}{{#hasRegionalHost}}regionOption{{/hasRegionalHost}}),
    ...options,
    algoliaAgent: getAlgoliaAgent({
      algoliaAgents,
      client: '{{{algoliaAgent}}}',
      version: apiClientVersion,
    }),
    baseHeaders: {
      'content-type': 'text/plain',
      ...auth.headers(),
      ...options.baseHeaders,
    },
    baseQueryParameters: {
      ...auth.queryParameters(),
      ...options.baseQueryParameters,
    },
  });

  return {
    transporter,

    /**
     * The `appId` currently in use.
     */
    appId: appIdOption,

    /**
      * The `apiKey` currently in use.
      */
    apiKey: apiKeyOption,

    /**
     * Clears the cache of the transporter for the `requestsCache` and `responsesCache` properties.
     */
    clearCache(): Promise<void> {
      return Promise.all([
        transporter.requestsCache.clear(),
        transporter.responsesCache.clear(),
      ]).then(() => undefined);
    },

    /**
     * Get the value of the `algoliaAgent`, used by our libraries internally and telemetry system.
     */
    get _ua(): string {
      return transporter.algoliaAgent.value;
    },

    /**
     * Adds a `segment` to the `x-algolia-agent` sent with every requests.
     *
     * @param segment - The algolia agent (user-agent) segment to add.
     * @param version - The version of the agent.
     */
    addAlgoliaAgent(segment: string, version?: string | undefined): void {
      transporter.algoliaAgent.add({ segment, version });
    },

    /**
     * Helper method to switch the API key used to authenticate the requests.
     *
     * @param params - Method params.
     * @param params.apiKey - The new API Key to use.
     */
    setClientApiKey({ apiKey }: { apiKey: string }): void {
      if (!authMode || authMode === 'WithinHeaders') {
        transporter.baseHeaders['x-algolia-api-key'] = apiKey;
      } else {
        transporter.baseQueryParameters['x-algolia-api-key'] = apiKey;
      }
    },

    {{#isIngestionClient}}
    {{> client/api/ingestionHelpers}}
    {{/isIngestionClient}}
    {{#isSearchClient}}
    {{> client/api/helpers}}
    {{/isSearchClient}}
    {{#isCompositionClient}}
    {{> client/api/compositionHelpers}}
    {{/isCompositionClient}}
    {{#operation}}
    {{> client/api/operation/jsdoc}}
    {{nickname}}{{#vendorExtensions.x-is-generic}}<T>{{/vendorExtensions.x-is-generic}}{{#vendorExtensions.x-has-generic-parameter}}<T extends object>{{/vendorExtensions.x-has-generic-parameter}}( {{> client/api/operation/parameters}} ) : Promise<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}{{#vendorExtensions.x-is-generic}}<T>{{/vendorExtensions.x-is-generic}}> {
      {{#vendorExtensions.x-legacy-signature}}
        {{> client/api/operation/legacySearchCompatible/implementation}}
      {{/vendorExtensions.x-legacy-signature}}

      {{#vendorExtensions.x-legacy-signature-recommend}}
        {{> client/api/operation/legacyGetRecommendationsCompatible/implementation}}
      {{/vendorExtensions.x-legacy-signature-recommend}}

      {{#allParams}}
      {{#required}}
      if ({{#isBoolean}}{{paramName}} === null || {{paramName}} === undefined{{/isBoolean}}{{^isBoolean}}!{{paramName}}{{/isBoolean}}) {
        throw new Error('Parameter `{{paramName}}` is required when calling `{{nickname}}`.');
      }

      {{#vars}}
      {{#required}}
      if ({{#isBoolean}}{{paramName}}.{{baseName}} === null || {{paramName}}.{{baseName}} === undefined{{/isBoolean}}{{^isBoolean}}!{{paramName}}.{{baseName}}{{/isBoolean}}) {
        throw new Error('Parameter `{{paramName}}.{{baseName}}` is required when calling `{{nickname}}`.');
      }
      {{/required}}
      {{/vars}}

      {{/required}}
      {{/allParams}}

      {{#vendorExtensions}}
      const requestPath = '{{{path}}}'{{#pathParams}}.replace({{=<% %>=}}'{<%baseName%>}'<%={{ }}=%>,{{#x-is-custom-request}}{{paramName}}{{/x-is-custom-request}}{{^x-is-custom-request}}encodeURIComponent({{paramName}}){{/x-is-custom-request}}){{/pathParams}};
      {{/vendorExtensions}}
      const headers: Headers = {};
      const queryParameters: QueryParameters = {{#vendorExtensions.x-is-custom-request}}parameters ? parameters : {{/vendorExtensions.x-is-custom-request}}{};

      {{^vendorExtensions.x-is-custom-request}}{{#queryParams}}
      if ({{paramName}} !== undefined) {
        queryParameters['{{baseName}}'] = {{paramName}}.toString();
      }

      {{/queryParams}}{{/vendorExtensions.x-is-custom-request}}

      {{#headerParams}}
      if ({{paramName}} !== undefined) {
        headers['{{baseName}}'] = {{paramName}}.toString();
      }
      {{/headerParams}}

      const request: Request = {
        method: '{{httpMethod}}',
        path: requestPath,
        queryParameters,
        headers,
        {{#bodyParam}}
        data: {{paramName}}{{^required}}? {{paramName}} : {}{{/required}},
        {{/bodyParam}}
        {{#vendorExtensions}}
          {{#x-use-read-transporter}}
            useReadTransporter: true,
          {{/x-use-read-transporter}}
          {{#x-cacheable}}
            cacheable: true,
          {{/x-cacheable}}
        {{/vendorExtensions}}
      };

      {{#vendorExtensions.x-timeouts}}
      requestOptions = {
        timeouts: {
          connect: {{connect}},
          read: {{read}},
          write: {{write}},
          ...requestOptions?.timeouts,
        }
      }
      {{/vendorExtensions.x-timeouts}}

      return transporter.request(request, requestOptions);
    },

    {{/operation}}
  };
}

{{/operations}}