export default [
  {
    input: 'dist/{{#isAlgoliasearchClient}}lite/{{/isAlgoliasearchClient}}builds/browser.min.js',
    external: ['dom'],
    output: {
      esModule: false,
      file: 'dist/{{#isAlgoliasearchClient}}lite/{{/isAlgoliasearchClient}}builds/browser.umd.js',
      {{#isAlgoliasearchClient}}
      name: 'algoliasearch/lite',
      {{/isAlgoliasearchClient}}
      {{^isAlgoliasearchClient}}
      name: '@algolia/{{packageName}}',
      {{/isAlgoliasearchClient}}
      format: 'umd',
      sourcemap: false,
      globals: {
        {{#isAlgoliasearchClient}}
        ['lite']: 'lite',
        {{/isAlgoliasearchClient}}
        {{^isAlgoliasearchClient}}
        ['{{clientName}}']: '{{clientName}}',
        {{/isAlgoliasearchClient}}
      },
    },
  },
  {{#isAlgoliasearchClient}}
  {
    input: 'dist/browser.min.js',
    external: ['dom'],
    output: {
      esModule: false,
      file: 'dist/algoliasearch.umd.js',
      name: 'algoliasearch',
      format: 'umd',
      sourcemap: false,
      globals: {
        ['algoliasearch']: 'algoliasearch',
      },
    },
  }
  {{/isAlgoliasearchClient}}
]