<?php

// {{{generationBanner}}}

namespace {{apiPackage}};

use {{invokerPackage}}\Algolia;
use {{invokerPackage}}\ApiException;
use {{invokerPackage}}\Configuration\{{configClassname}};
use {{invokerPackage}}\Exceptions\ExceededRetriesException;
use {{invokerPackage}}\Exceptions\ValidUntilNotFoundException;
use {{invokerPackage}}\Iterators\ObjectIterator;
use {{invokerPackage}}\Iterators\RuleIterator;
use {{invokerPackage}}\Iterators\SynonymIterator;
use {{invokerPackage}}\ObjectSerializer;
use {{invokerPackage}}\RetryStrategy\ApiWrapper;
use {{invokerPackage}}\RetryStrategy\ApiWrapperInterface;
use {{invokerPackage}}\RetryStrategy\AlgoliaResponse;
use {{invokerPackage}}\RetryStrategy\ClusterHosts;
use {{invokerPackage}}\Support\Helpers;

{{#isSearchClient}}
use {{invokerPackage}}\Configuration\IngestionConfig;
{{/isSearchClient}}

use Algolia\AlgoliaSearch\Exceptions\NotFoundException;

/**
 * {{classname}} Class Doc Comment
 *
 * @category Class
 * @package  {{invokerPackage}}
 */
{{#operations}}class {{classname}}
{
    public const VERSION = '{{{packageVersion}}}';
    /**
     * @var ApiWrapperInterface
     */
    protected $api;

    /**
     * @var IngestionClient
     */
    protected $ingestionTransporter;

    /**
     * @var {{configClassname}}
     */
    protected $config;

    /**
     * @param {{configClassname}} $config
     * @param ApiWrapperInterface $apiWrapper
     */
    public function __construct(ApiWrapperInterface $apiWrapper, {{configClassname}} $config)
    {
        $this->config = $config;
        $this->api = $apiWrapper;
    }

    {{#hasRegionalHost}}
    /**
     * Instantiate the client with basic credentials and region
     *
     * @param string $appId  Application ID
     * @param string $apiKey Algolia API Key
     * @param string $region Region
     */
    public static function create($appId = null, $apiKey = null, $region = null)
    {
        $config = {{configClassname}}::create($appId, $apiKey, $region);

        return static::createWithConfig($config);
    }
    {{/hasRegionalHost}}

    {{^hasRegionalHost}}
    /**
     * Instantiate the client with basic credentials
     *
     * @param string $appId  Application ID
     * @param string $apiKey Algolia API Key
     */
    public static function create($appId = null, $apiKey = null)
    {
        return static::createWithConfig({{configClassname}}::create($appId, $apiKey));
    }
    {{/hasRegionalHost}}

    /**
     * Instantiate the client with configuration
     *
     * @param {{configClassname}} $config Configuration
     */
    public static function createWithConfig({{configClassname}} $config)
    {
        $config = clone $config;

        $apiWrapper = new ApiWrapper(
            Algolia::getHttpClient(),
            $config,
            self::getClusterHosts($config)
        );

        $client = new static($apiWrapper, $config);

        {{#isSearchClient}}
        if (null !== $config->getTransformationRegion()) {
            $ingestionConfig = IngestionConfig::create($config->getAppId(), $config->getAlgoliaApiKey(), $config->getTransformationRegion());

            if ($hosts = $config->getHosts()) {
                if ($config->getHasFullHosts()) {
                    $ingestionConfig = $ingestionConfig->setFullHosts($hosts);
                } else {
                    $ingestionConfig = $ingestionConfig->setHosts($hosts);
                }
            }

            $client->ingestionTransporter = IngestionClient::createWithConfig($ingestionConfig);
        }
        {{/isSearchClient}}

        return $client;
    }

    /**
     * Gets the cluster hosts depending on the config
     *
     * @param {{configClassname}} $config
     *
     * @return ClusterHosts
     */
    public static function getClusterHosts({{configClassname}} $config)
    {
        {{#hostWithAppID}}
        $cacheKey = sprintf('%s-clusterHosts-%s', __CLASS__, $config->getAppId());

        if ($hosts = $config->getHosts()) {
            // If a list of hosts was passed, we ignore the cache
            $clusterHosts = ClusterHosts::create($hosts);
        } elseif (false === ($clusterHosts = ClusterHosts::createFromCache($cacheKey))) {
            // We'll try to restore the ClusterHost from cache, if we cannot
            // we create a new instance and set the cache key
            $clusterHosts = ClusterHosts::createFromAppId($config->getAppId())
                ->setCacheKey($cacheKey);
        }
        {{/hostWithAppID}}

        {{#hasRegionalHost}}
        if ($hosts = $config->getHosts()) {
            // If a list of hosts was passed, we ignore the cache
            $clusterHosts = ClusterHosts::create($hosts);
        } else {
            $url = $config->getRegion() !== null && $config->getRegion() !== '' ?
                str_replace('{region}', $config->getRegion(), '{{{regionalHost}}}') :
                '{{{hostWithFallback}}}';
            $clusterHosts = ClusterHosts::create($url);
        }
        {{/hasRegionalHost}}

        {{#hostsWithoutVariables.size}}
        if ($hosts = $config->getHosts()) {
            // If a list of hosts was passed, we ignore the cache
            $clusterHosts = ClusterHosts::create($hosts);
        } else {
            $clusterHosts = ClusterHosts::create([
            {{#hostsWithoutVariables}}
            '{{.}}',
            {{/hostsWithoutVariables}}
            ]);
        }
        {{/hostsWithoutVariables.size}}

        return $clusterHosts;
    }

    /**
     * @return {{configClassname}}
     */
    public function getClientConfig()
    {
        return $this->config;
    }

    /**
     * Stub method setting a new API key to authenticate requests.
     *
     * @param string $apiKey
     *
     * @return void
     *
     */
    public function setClientApiKey($apiKey) {
      $this->config->setClientApiKey($apiKey);
    }

{{#operation}}
    /**
{{#notes}}
     * {{{.}}}
     *
{{/notes}}
{{#vendorExtensions}}
{{#x-acl.0}}
     * Required API Key ACLs:{{/x-acl.0}}
     {{#x-acl}}
     *  - {{.}}
{{/x-acl}}
{{/vendorExtensions}}
{{#allParams}}
     * @param {{#isModel}}{{{dataType}}}|{{/isModel}}{{#isString}}string{{/isString}}{{#isLong}}int{{/isLong}}{{#isInteger}}int{{/isInteger}}{{#isBoolean}}bool{{/isBoolean}}{{^isString}}{{^isLong}}{{^isInteger}}{{^isBoolean}}array{{/isBoolean}}{{/isInteger}}{{/isLong}}{{/isString}} ${{paramName}}{{#description}} {{{.}}}{{/description}}{{^description}} {{paramName}}{{/description}} {{#required}}(required){{/required}}{{^required}}(optional{{#defaultValue}}, default to {{{.}}}{{/defaultValue}}){{/required}}{{#isDeprecated}} (deprecated){{/isDeprecated}}
{{#isModel}}
    {{#vars}}
     * - ${{paramName}}{{> arrayParam}}
    {{/vars}}
     * @see {{{dataType}}}
{{/isModel}}
{{/allParams}}
     * @param array $requestOptions The requestOptions to send along with the query, they will be merged with the transporter requestOptions.
     *
     * @return {{#returnType}}{{#responses}}{{#dataType}}{{#-first}}array<string, mixed>|{{{dataType}}}{{/-first}}{{/dataType}}{{/responses}}{{/returnType}}{{^returnType}}void{{/returnType}}
  {{#isDeprecated}}
     * @deprecated
  {{/isDeprecated}}
     */
    public function {{operationId}}({{^vendorExtensions.x-group-parameters}}{{#allParams}}${{paramName}}{{^required}} = null{{/required}}, {{/allParams}}{{/vendorExtensions.x-group-parameters}}{{#vendorExtensions.x-group-parameters}}$associative_array{{/vendorExtensions.x-group-parameters}} $requestOptions = [])
    {
        $response = $this->{{operationId}}WithHttpInfo({{^vendorExtensions.x-group-parameters}}{{#allParams}}${{paramName}}, {{/allParams}}{{/vendorExtensions.x-group-parameters}}{{#vendorExtensions.x-group-parameters}}$associative_array{{/vendorExtensions.x-group-parameters}} $requestOptions);
        return $response->getData();
    }

    {{/operation}}

    {{#operation}}
        /**
        * {{summary}} (with HTTP info)
        *
        * Returns the response with HTTP metadata (status code, headers, body)
        {{#notes}}
            * {{{.}}}
        {{/notes}}
        {{#vendorExtensions}}
            {{#x-acl.0}}
                * Required API Key ACLs:{{/x-acl.0}}
            {{#x-acl}}
                *  - {{.}}
            {{/x-acl}}
        {{/vendorExtensions}}
        {{#allParams}}
            * @param {{#isModel}}{{{dataType}}}|{{/isModel}}{{#isString}}string{{/isString}}{{#isLong}}int{{/isLong}}{{#isInteger}}int{{/isInteger}}{{#isBoolean}}bool{{/isBoolean}}{{^isString}}{{^isLong}}{{^isInteger}}{{^isBoolean}}array{{/isBoolean}}{{/isInteger}}{{/isLong}}{{/isString}} ${{paramName}}{{#description}} {{{.}}}{{/description}} {{#required}}(required){{/required}}{{^required}}(optional){{/required}}
        {{/allParams}}
        * @param array $requestOptions Request options
        *
        * @return AlgoliaResponse
        */
        public function {{operationId}}WithHttpInfo({{^vendorExtensions.x-group-parameters}}{{#allParams}}${{paramName}}{{^required}} = null{{/required}}, {{/allParams}}{{/vendorExtensions.x-group-parameters}}{{#vendorExtensions.x-group-parameters}}$associative_array{{/vendorExtensions.x-group-parameters}} $requestOptions = [])
        {
        {{#vendorExtensions.x-group-parameters}}
            // unbox the parameters from the associative array
            {{#allParams}}
                ${{paramName}} = array_key_exists('{{paramName}}', $associative_array) ? $associative_array['{{paramName}}'] : {{{defaultValue}}}{{^defaultValue}}null{{/defaultValue}};
            {{/allParams}}

        {{/vendorExtensions.x-group-parameters}}
        {{#allParams}}
            {{#required}}
                // verify the required parameter '{{paramName}}' is set
                if (!isset(${{paramName}})) {
                throw new \InvalidArgumentException(
                'Parameter `{{paramName}}` is required when calling `{{operationId}}`.'
                );
                }
            {{/required}}
        {{/allParams}}

        $resourcePath = '{{{path}}}';
        $queryParameters = [];
        $headers = [];
        $httpBody = {{#bodyParam}}{{#required}}${{paramName}}{{/required}}{{^required}} isset(${{paramName}}) ? ${{paramName}} : []{{/required}}{{/bodyParam}}{{^bodyParam}}null{{/bodyParam}};
        {{#vendorExtensions}}{{#queryParams}}

            {{#isExplode}}
                if (${{paramName}} !== null) {
                {{#style}}
                    $queryParameters{{^x-is-custom-request}}['{{baseName}}']{{/x-is-custom-request}} = ${{paramName}};
                {{/style}}
                {{^style}}
                    $queryParameters['{{baseName}}'] = ${{paramName}};
                {{/style}}
                }
            {{/isExplode}}
            {{^isExplode}}
                if (is_array(${{paramName}})) {
                ${{paramName}} = ObjectSerializer::serializeCollection(${{paramName}}, '{{style}}{{^style}}{{collectionFormat}}{{/style}}', true);
                }
                if (${{paramName}} !== null) {
                $queryParameters['{{baseName}}'] = ${{paramName}};
                }
            {{/isExplode}}
        {{/queryParams}}{{/vendorExtensions}}
        {{#vendorExtensions}}{{#pathParams}}
            // path params
            {{#collectionFormat}}
                if (is_array(${{paramName}})) {
                ${{paramName}} = ObjectSerializer::serializeCollection(${{paramName}}, '{{collectionFormat}}');
                }
            {{/collectionFormat}}
            if (${{paramName}} !== null) {
            $resourcePath = str_replace(
            {{=<% %>=}}'{<%baseName%>}'<%={{ }}=%>,
            {{#x-is-custom-request}}${{paramName}}{{/x-is-custom-request}}{{^x-is-custom-request}}ObjectSerializer::toPathValue(${{paramName}}){{/x-is-custom-request}},
            $resourcePath
            );
            }
        {{/pathParams}}{{/vendorExtensions}}

        {{#headerParams}}
            $headers['{{baseName}}'] = ${{paramName}};
        {{/headerParams}}
        {{#servers.0}}
            $operationHosts = [{{#servers}}"{{{url}}}"{{^-last}}, {{/-last}}{{/servers}}];
            if ($this->hostIndex < 0 || $this->hostIndex >= sizeof($operationHosts)) {
            throw new \InvalidArgumentException("Invalid index {$this->hostIndex} when selecting the host. Must be less than ".sizeof($operationHosts));
            }
            $operationHost = $operationHosts[$this->hostIndex];

        {{/servers.0}}

        {{#vendorExtensions.x-timeouts}}
            if (!isset($requestOptions['readTimeout'])) {
            $requestOptions['readTimeout'] = {{#lambda.toSeconds}}{{{read}}}{{/lambda.toSeconds}};
            }
            if (!isset($requestOptions['writeTimeout'])) {
            $requestOptions['writeTimeout'] = {{#lambda.toSeconds}}{{{write}}}{{/lambda.toSeconds}};
            }
            if (!isset($requestOptions['connectTimeout'])) {
            $requestOptions['connectTimeout'] = {{#lambda.toSeconds}}{{{connect}}}{{/lambda.toSeconds}};
            }
        {{/vendorExtensions.x-timeouts}}

        return $this->sendRequestWithHttpInfo('{{httpMethod}}', $resourcePath, $headers, $queryParameters, $httpBody, $requestOptions, {{#vendorExtensions.x-use-read-transporter}}true{{/vendorExtensions.x-use-read-transporter}});
        }

    {{/operation}}

    {{#isIngestionClient}}
    /**
    * Helper: Chunks the given `objects` list in subset of 1000 elements max in order to make it fit in `batch` requests.
    *
    * @param string $indexName          the `indexName` to replace `objects` in
    * @param array  $objects            the array of `objects` to store in the given Algolia `indexName`
    * @param array  $action             the `batch` `action` to perform on the given array of `objects`, defaults to `addObject`
    * @param bool   $waitForTasks       whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
    * @param array  $batchSize          The size of the chunk of `objects`. The number of `push` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $referenceIndexName This is required when targeting an index that does not have a push connector setup (e.g. a tmp index), but you wish to attach another index's transformation to it (e.g. the source index name).
    * @param array  $requestOptions Request options
    */
    public function chunkedPush(
        $indexName,
        $objects,
        $action = 'addObject',
        $waitForTasks = true,
        $batchSize = 1000,
        $referenceIndexName = null,
        $requestOptions = []
    ) {
        $responses = [];
        $records = [];
        $count = 0;
        $offset = 0;
        $waitBatchSize = (int) ($batchSize / 10);
        if ($waitBatchSize < 1) {
            $waitBatchSize = $batchSize;
        }

        foreach ($objects as $object) {
            $records[] = $object;
            $ok = false;
            ++$count;

            if (sizeof($records) === $batchSize || $count === sizeof($objects)) {
                $responses[] = $this->push($indexName, ['action' => $action, 'records' => $records], false, $referenceIndexName, $requestOptions);
                $records = [];
            }

            if ($waitForTasks && !empty($responses) && (0 === sizeof($responses) % $waitBatchSize || $count === sizeof($objects))) {
                $timeoutCalculation = 'Algolia\AlgoliaSearch\Support\Helpers::linearTimeout';

                foreach (array_slice($responses, $offset, $waitBatchSize) as $response) {
                    $retry = 0;

                    while ($retry < 50) {
                        try {
                            $this->getEvent($response['runID'], $response['eventID']);

                            $ok = true;

                            break;
                        } catch (NotFoundException $e) {
                            // just retry
                        }

                        ++$retry;
                        usleep(
                            call_user_func_array($timeoutCalculation, [$this->config->getWaitTaskTimeBeforeRetry(), $retry])
                        );
                    }

                    if (false === $ok) {
                        throw new ExceededRetriesException('Maximum number of retries (50) exceeded.');
                    }
                }
                $offset = $offset + $waitBatchSize;
            }
        }

        return $responses;
    }

    {{/isIngestionClient}}

    {{#isSearchClient}}
    /**
     * Wait for a task to complete with `indexName` and `taskID`.
     *
     * @param string $indexName Index name
     * @param int $taskId Task Id
     * @param array $requestOptions the requestOptions to send along with the query, they will be merged with the transporter requestOptions
     * @param int|null $maxRetries Maximum number of retries
     * @param int|null $timeout Timeout
     *
     * @return \Algolia\AlgoliaSearch\Model\Search\GetTaskResponse
     *
     * @throws ExceededRetriesException
     *
     * @return void
     */
    public function waitForTask($indexName, $taskId, $requestOptions = [], $maxRetries = null, $timeout = null)
    {
        if ($timeout === null) {
            $timeout = $this->config->getWaitTaskTimeBeforeRetry();
        }

        if ($maxRetries === null) {
            $maxRetries = $this->config->getDefaultMaxRetries();
        }

        return Helpers::retryUntil(
            $this,
            'getTask',
            [$indexName, $taskId, $requestOptions],
            function($res) {return 'published' === $res['status'];},
            $maxRetries,
            $timeout
        );
    }

    /**
     * Wait for an application-level task to complete with `taskID`.
     *
     * @param int $taskId Task Id
     * @param array $requestOptions the requestOptions to send along with the query, they will be merged with the transporter requestOptions
     * @param int|null $maxRetries Maximum number of retries
     * @param int|null $timeout Timeout
     *
     * @return \Algolia\AlgoliaSearch\Model\Search\GetTaskResponse
     *
     * @throws ExceededRetriesException
     *
     * @return void
     */
    public function waitForAppTask($taskId, $requestOptions = [], $maxRetries = null, $timeout = null)
    {
        if ($timeout === null) {
            $timeout = $this->config->getWaitTaskTimeBeforeRetry();
        }

        if ($maxRetries === null) {
            $maxRetries = $this->config->getDefaultMaxRetries();
        }

        return Helpers::retryUntil(
            $this,
            'getAppTask',
            [$taskId, $requestOptions],
            function($res) {return 'published' === $res['status'];},
            $maxRetries,
            $timeout
        );
    }

    /**
     * Wait for an API key to be added, updated or deleted based on a given `operation`.
     *
     * @param string $key the `key` that has been added, deleted or updated
     * @param string $operation the `operation` that was done on a `key`
     * @param array $apiKey Necessary to know if an `update` operation has been processed, compare fields of the response with it.
     * @param int|null $maxRetries Maximum number of retries
     * @param int|null $timeout Timeout
     * @param array $requestOptions the requestOptions to send along with the query, they will be merged with the transporter requestOptions
     *
     * @throws ExceededRetriesException
     *
     * @return void
     */
    public function waitForApiKey(
        $key,
        $operation,
        $apiKey = null,
        $maxRetries = null,
        $timeout = null,
        $requestOptions = []
    ) {
        if ($timeout === null) {
            $timeout = $this->config->getWaitTaskTimeBeforeRetry();
        }

        if ($maxRetries === null) {
            $maxRetries = $this->config->getDefaultMaxRetries();
        }

        return Helpers::retryForApiKeyUntil(
            $operation,
            $this,
            $key,
            $apiKey,
            $maxRetries,
            $timeout,
            'Algolia\AlgoliaSearch\Support\Helpers::linearTimeout',
            $requestOptions
        );
    }

    /**
     * Helper: Iterate on the `browse` method of the client to allow aggregating objects of an index.
     *
     * @param string $indexName Index name
     * @param array $requestOptions Request options
     *
     * @return ObjectIterator
     */
    public function browseObjects($indexName, $requestOptions = [])
    {
        return new ObjectIterator($indexName, $this, $requestOptions);
    }

    /**
     * Helper: Iterate on the `searchRules` method of the client to allow aggregating rules of an index.
     *
     * @param string $indexName Index name
     * @param array $requestOptions Request options
     *
     * @return RuleIterator
     */
    public function browseRules($indexName, $requestOptions = [])
    {
        return new RuleIterator($indexName, $this, $requestOptions);
    }

    /**
     * Helper: Iterate on the `searchSynonyms` method of the client to allow aggregating synonyms of an index.
     *
     * @param string $indexName Index name
     * @param array $requestOptions Request options
     *
     * @return SynonymIterator
     */
    public function browseSynonyms($indexName, $requestOptions = [])
    {
        return new SynonymIterator($indexName, $this, $requestOptions);
    }

    /**
    * Helper: Similar to the `replaceAllObjects` method but requires a Push connector (https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/connectors/push/) to be created first, in order to transform records before indexing them to Algolia. The `region` must have been passed to the client instantiation method.
    *
    * @param string $indexName      The `indexName` to replace `objects` in.
    * @param array  $objects        The array of `objects` to store in the given Algolia `indexName`.
    * @param array  $batchSize      The size of the chunk of `objects`. The number of `batch` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $requestOptions Request options
    */
    public function replaceAllObjectsWithTransformation($indexName, $objects, $batchSize = 1000, $scopes = ['settings', 'rules', 'synonyms'], $requestOptions = [])
    {
        if (null == $this->ingestionTransporter) {
            throw new \InvalidArgumentException('`setTransformationRegion` must have been called before calling this method.');
        }

        $tmpIndexName = $indexName.'_tmp_'.rand(10000000, 99999999);

        try {
          $copyOperationResponse = $this->operationIndex(
            $indexName,
            [
              'operation' => 'copy',
              'destination' => $tmpIndexName,
              'scope' => $scopes,
            ],
            $requestOptions
          );

          $watchResponses = $this->ingestionTransporter->chunkedPush($tmpIndexName, $objects, 'addObject', true, $batchSize, $indexName, $requestOptions);

          $this->waitForTask($tmpIndexName, $copyOperationResponse['taskID']);

          $copyOperationResponse = $this->operationIndex(
            $indexName,
            [
              'operation' => 'copy',
              'destination' => $tmpIndexName,
              'scope' => $scopes,
            ],
            $requestOptions
          );

          $this->waitForTask($tmpIndexName, $copyOperationResponse['taskID']);

          $moveOperationResponse = $this->operationIndex(
            $tmpIndexName,
            [
              'operation' => 'move',
              'destination' => $indexName,
            ],
            $requestOptions
          );

          $this->waitForTask($tmpIndexName, $moveOperationResponse['taskID']);

          return [
            'copyOperationResponse' => $copyOperationResponse,
            'watchResponses' => $watchResponses,
            'moveOperationResponse' => $moveOperationResponse,
          ];
        } catch (\Throwable $e) {
          $this->deleteIndex($tmpIndexName);

          throw $e;
        }
    }

    /**
    * Helper: Replace all objects in an index using a temporary one.
    * See https://api-clients-automation.netlify.app/docs/custom-helpers/#replaceallobjects for implementation details.
    *
    * @param string $indexName      The `indexName` to replace `objects` in.
    * @param array  $objects        The array of `objects` to store in the given Algolia `indexName`.
    * @param array  $batchSize      The size of the chunk of `objects`. The number of `batch` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $requestOptions Request options
    */
    public function replaceAllObjects($indexName, $objects, $batchSize = 1000, $scopes = ['settings', 'rules', 'synonyms'], $requestOptions = [])
    {
        $tmpIndexName = $indexName.'_tmp_'.rand(10000000, 99999999);

        try {
          $copyOperationResponse = $this->operationIndex(
            $indexName,
            [
              'operation' => 'copy',
              'destination' => $tmpIndexName,
              'scope' => $scopes,
            ],
            $requestOptions
          );

          $batchResponses = $this->chunkedBatch($tmpIndexName, $objects, 'addObject', true, $batchSize, $requestOptions);

          $this->waitForTask($tmpIndexName, $copyOperationResponse['taskID']);

          $copyOperationResponse = $this->operationIndex(
            $indexName,
            [
              'operation' => 'copy',
              'destination' => $tmpIndexName,
              'scope' => $scopes,
            ],
            $requestOptions
          );

          $this->waitForTask($tmpIndexName, $copyOperationResponse['taskID']);

          $moveOperationResponse = $this->operationIndex(
            $tmpIndexName,
            [
              'operation' => 'move',
              'destination' => $indexName,
            ],
            $requestOptions
          );

          $this->waitForTask($tmpIndexName, $moveOperationResponse['taskID']);

          return [
            'copyOperationResponse' => $copyOperationResponse,
            'batchResponses' => $batchResponses,
            'moveOperationResponse' => $moveOperationResponse,
          ];
        } catch (\Throwable $e) {
          $this->deleteIndex($tmpIndexName);

          throw $e;
        }
    }

    /**
    * Helper: Saves the given array of objects in the given index. The `chunkedBatch` helper is used under the hood, which creates a `batch` requests with at most 1000 objects in it.
    *
    * @param string $indexName      The `indexName` to replace `objects` in.
    * @param array  $objects        The array of `objects` to store in the given Algolia `indexName`.
    * @param bool   $waitForTasks   Whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
    * @param int    $batchSize      The size of the chunk of `objects`. The number of `batch` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $requestOptions Request options
    */
    public function saveObjects($indexName, $objects, $waitForTasks = false, $batchSize = 1000, $requestOptions = [])
    {
      return $this->chunkedBatch($indexName, $objects, 'addObject', $waitForTasks, $batchSize, $requestOptions);
    }

    /**
     * Helper: Similar to the `saveObjects` method but requires a Push connector
     * (https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/connectors/push/)
     * to be created first, in order to transform records before indexing them to Algolia. The
     * `region` must have been passed to the client instantiation method.
     *
     * @param string $indexName      the `indexName` to replace `objects` in
     * @param array  $objects        the array of `objects` to store in the given Algolia `indexName`
     * @param bool   $waitForTasks   Whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
     * @param int    $batchSize      The size of the chunk of `objects`. The number of `push` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
     * @param array  $requestOptions Request options
     */
    public function saveObjectsWithTransformation($indexName, $objects, $waitForTasks = false, $batchSize = 1000, $requestOptions = [])
    {
      if (null == $this->ingestionTransporter) {
          throw new \InvalidArgumentException('`setTransformationRegion` must have been called before calling this method.');
      }

      return $this->ingestionTransporter->chunkedPush($indexName, $objects, 'addObject', $waitForTasks, $batchSize, $requestOptions);
    }

    /**
    * Helper: Deletes every records for the given objectIDs. The `chunkedBatch` helper is used under the hood, which creates a `batch` requests with at most 1000 objectIDs in it.
    *
    * @param string $indexName      The `indexName` to delete `objectIDs` from.
    * @param array  $objectIDs      The `objectIDs` to delete.
    * @param bool   $waitForTasks   Whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
    * @param int    $batchSize      The size of the chunk of `objects`. The number of `batch` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $requestOptions Request options
    */
    public function deleteObjects($indexName, $objectIDs, $waitForTasks = false, $batchSize = 1000, $requestOptions = [])
    {
        $objects = [];

        foreach ($objectIDs as $id) {
            $objects[] = ['objectID' => $id];
        }

        return $this->chunkedBatch($indexName, $objects, 'deleteObject', $waitForTasks, $batchSize, $requestOptions);
    }

    /**
    * Helper: Replaces object content of all the given objects according to their respective `objectID` field. The `chunkedBatch` helper is used under the hood, which creates a `batch` requests with at most 1000 objects in it.
    *
    * @param string $indexName         The `indexName` to replace `objects` in.
    * @param array  $objects           The array of `objects` to store in the given Algolia `indexName`.
    * @param bool   $createIfNotExists To be provided if non-existing objects are passed, otherwise, the call will fail.
    * @param bool   $waitForTasks      Whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
    * @param int    $batchSize      The size of the chunk of `objects`. The number of `batch` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $requestOptions    Request options
    */
    public function partialUpdateObjects($indexName, $objects, $createIfNotExists, $waitForTasks = false, $batchSize = 1000, $requestOptions = []) {
      return $this->chunkedBatch($indexName, $objects, ($createIfNotExists == TRUE) ? 'partialUpdateObject' : 'partialUpdateObjectNoCreate', $waitForTasks, $batchSize, $requestOptions);
    }

    /**
     * Helper: Similar to the `partialUpdateObjects` method but requires a Push connector
     * (https://www.algolia.com/doc/guides/sending-and-managing-data/send-and-update-your-data/connectors/push/)
     * to be created first, in order to transform records before indexing them to Algolia. The
     * `region` must have been passed to the client instantiation method.
     *
     * @param string $indexName         the `indexName` to replace `objects` in
     * @param array  $objects           the array of `objects` to store in the given Algolia `indexName`
     * @param bool   $createIfNotExists To be provided if non-existing objects are passed, otherwise, the call will fail.
     * @param bool   $waitForTasks      Whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
     * @param int    $batchSize         The size of the chunk of `objects`. The number of `push` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
     * @param array  $requestOptions    Request options
     */
    public function partialUpdateObjectsWithTransformation($indexName, $objects, $createIfNotExists, $waitForTasks = false, $batchSize = 1000, $requestOptions = [])
    {
      if (null == $this->ingestionTransporter) {
          throw new \InvalidArgumentException('`setTransformationRegion` must have been called before calling this method.');
      }

      return $this->ingestionTransporter->chunkedPush($indexName, $objects, ($createIfNotExists == TRUE) ? 'partialUpdateObject' : 'partialUpdateObjectNoCreate', $waitForTasks, $batchSize, $requestOptions);
    }

    /**
    * Helper: Chunks the given `objects` list in subset of 1000 elements max in order to make it fit in `batch` requests.
    *
    * @param string $indexName      the `indexName` to replace `objects` in
    * @param array  $objects        the array of `objects` to store in the given Algolia `indexName`
    * @param array  $action         the `batch` `action` to perform on the given array of `objects`, defaults to `addObject`
    * @param bool   $waitForTasks   whether or not we should wait until every `batch` tasks has been processed, this operation may slow the total execution time of this method but is more reliable
    * @param int    $batchSize      The size of the chunk of `objects`. The number of `batch` calls will be equal to `length(objects) / batchSize`. Defaults to 1000.
    * @param array  $requestOptions Request options
    */
    public function chunkedBatch(
        $indexName,
        $objects,
        $action = 'addObject',
        $waitForTasks = true,
        $batchSize = 1000,
        $requestOptions = []
    ) {
        $responses = [];
        $requests = [];
        $count = 0;

        foreach ($objects as $object) {
            $requests[] = [
                'action' => $action,
                'body' => $object,
            ];

            if (sizeof($requests) === $batchSize || $count === sizeof($objects) - 1) {
                $responses[] = $this->batch($indexName, ['requests' => $requests], $requestOptions);
                $requests = [];
            }

            ++$count;
        }

        if (!empty($requests)) {
            $responses[] = $this->batch($indexName, ['requests' => $requests], $requestOptions);
        }

        if ($waitForTasks && !empty($responses)) {
            foreach ($responses as $response) {
                $this->waitForTask($indexName, $response['taskID']);
            }
        }

        return $responses;
    }

    /**
    * Helper: Generate a secured API Key.
    *
    * @param string $parentApiKey Parent API Key
    * @param array  $restrictions API Key's restrictions
    *
    * @return string
    */
    public static function generateSecuredApiKey($parentApiKey, $restrictions)
    {
        $formattedRestrictions = $restrictions;
        if (isset($restrictions['searchParams'])) {
            $formattedRestrictions = array_merge($restrictions, $restrictions['searchParams']);
            unset($formattedRestrictions['searchParams']);
        }

        ksort($formattedRestrictions);
        $urlEncodedRestrictions = Helpers::buildQuery($formattedRestrictions);

        $content = hash_hmac('sha256', $urlEncodedRestrictions, $parentApiKey).$urlEncodedRestrictions;

        return base64_encode($content);
    }

    /**
    * Helper: Returns the time the given securedApiKey remains valid in seconds.
    *
    * @param string $securedApiKey the key to check
    *
    * @return int remaining validity in seconds
    *
    * @throws ValidUntilNotFoundException
    */
    public static function getSecuredApiKeyRemainingValidity($securedApiKey)
    {
        $decodedKey = base64_decode($securedApiKey);
        $regex = '/validUntil=(\d+)/';
        preg_match($regex, $decodedKey, $matches);

        if (0 === count($matches)) {
            throw new ValidUntilNotFoundException("validUntil not found in given secured api key.");
        }

        $validUntil = (int) $matches[1];

        return $validUntil - time();
    }

    public function indexExists($indexName)
    {
        try {
            $this->getSettings($indexName);
        } catch (NotFoundException $e) {
            return false;
        } catch (\Throwable $e) {
            throw $e;
        }

        return true;
    }
    {{/isSearchClient}}

    private function sendRequestWithHttpInfo($method, $resourcePath, $headers, $queryParameters, $httpBody, $requestOptions, $useReadTransporter = false)
    {
        if (!isset($requestOptions['headers'])) {
            $requestOptions['headers'] = [];
        }
        if (!isset($requestOptions['queryParameters'])) {
            $requestOptions['queryParameters'] = [];
        }

        $requestOptions['headers'] = array_merge($headers, $requestOptions['headers']);
        $requestOptions['queryParameters'] = array_merge($queryParameters, $requestOptions['queryParameters']);
        $query = \GuzzleHttp\Psr7\Query::build($requestOptions['queryParameters']);

        return $this->api->sendRequest(
            $method,
            $resourcePath . ($query ? "?{$query}" : ''),
            $httpBody,
            $requestOptions,
            $useReadTransporter,
            true
        );
    }
}
{{/operations}}