<?php

// {{{generationBanner}}}

namespace {{invokerPackage}}\Configuration;

use Algolia\AlgoliaSearch\Exceptions\AlgoliaException;

class {{configClassname}} extends {{#hasRegionalHost}}ConfigWithRegion{{/hasRegionalHost}}{{^hasRegionalHost}}Configuration{{/hasRegionalHost}}
{
    protected $clientName = '{{clientName}}';

    {{#hasRegionalHost}}
    public static function create($appId, $apiKey, $region = null)
    {

      $allowedRegions = [{{#allowedRegions}}'{{.}}'{{^-last}},{{/-last}}{{/allowedRegions}}];

      if (
          {{^fallbackToAliasHost}}$region === null ||{{/fallbackToAliasHost}}
          ($region !== null && !in_array($region, $allowedRegions, true))
      ) {
          throw new AlgoliaException(
              '`region` {{^fallbackToAliasHost}}is required and {{/fallbackToAliasHost}}must be one of the following: ' .
                  implode(', ', $allowedRegions)
          );
      }

      return parent::create($appId, $apiKey, $region);
    }
    {{/hasRegionalHost}}

    {{#isIngestionClient}}
    private $defaultWaitTaskTimeBeforeRetry = 5000; // 5 sec in milliseconds

    public function setWaitTaskTimeBeforeRetry($waitTaskTimeBeforeRetry)
    {
        $this->config['waitTaskTimeBeforeRetry'] = $waitTaskTimeBeforeRetry;

        return $this;
    }

    public function getWaitTaskTimeBeforeRetry()
    {
        return $this->config['waitTaskTimeBeforeRetry'];
    }

    {{/isIngestionClient}}
    {{#isSearchClient}}
    private $defaultWaitTaskTimeBeforeRetry = 5000; // 5 sec in milliseconds
    private $defaultMaxRetries = 50;

    public static function create($appId, $apiKey)
    {
        $config = [
            'appId' => $appId,
            'apiKey' => $apiKey,
        ];

        return new static($config);
    }

    public function setWaitTaskTimeBeforeRetry($waitTaskTimeBeforeRetry)
    {
        $this->config['waitTaskTimeBeforeRetry'] = $waitTaskTimeBeforeRetry;

        return $this;
    }

    public function getWaitTaskTimeBeforeRetry()
    {
        return $this->config['waitTaskTimeBeforeRetry'];
    }

    /**
     * Sets the max retries value used in the Search helpers (e.g. replaceAllobjects)
     *
     * @param number $maxRetries the user agent of the api client
     *
     * @return $this
     */
    public function setMaxRetries($maxRetries)
    {
        $this->config['defaultMaxRetries'] = $maxRetries;

        return $this;
    }

    public function getDefaultMaxRetries()
    {
        return $this->config['defaultMaxRetries'];
    }

    /**
     * Sets the region of the current algolia application to the configuration, this is required to be called if you wish to leverage the transformation pipeline (via the *WithTransformation methods).
     *
     * @param string $region the user agent of the api client
     *
     * @return $this
     */
    public function setTransformationRegion($region)
    {
        $this->config['region'] = $region;

        return $this;
    }

    public function getTransformationRegion()
    {
        return $this->config['region'];
    }
    {{/isSearchClient}}

    public function getDefaultConfiguration()
    {
        return [
            'appId' => '',
            'apiKey' => '',
            'hosts' => null,
            'hasFullHosts' => false,
            'readTimeout' => {{#lambda.toSeconds}}{{x-timeouts.server.read}}{{/lambda.toSeconds}},
            'writeTimeout' => {{#lambda.toSeconds}}{{x-timeouts.server.write}}{{/lambda.toSeconds}},
            'connectTimeout' => {{#lambda.toSeconds}}{{x-timeouts.server.connect}}{{/lambda.toSeconds}},
            'defaultHeaders' => [],
            {{#isIngestionClient}}
            'waitTaskTimeBeforeRetry' => $this->defaultWaitTaskTimeBeforeRetry,
            {{/isIngestionClient}}
            {{#isSearchClient}}
            'region' => null,
            'waitTaskTimeBeforeRetry' => $this->defaultWaitTaskTimeBeforeRetry,
            'defaultMaxRetries' => $this->defaultMaxRetries,
            'defaultForwardToReplicas' => null,
            'batchSize' => 1000,
            {{/isSearchClient}}
        ];
    }
}
