<?php

// {{{generationBanner}}}

{{#models}}
{{#model}}

namespace {{modelPackage}};

use Algolia\AlgoliaSearch\ObjectSerializer;
use Algolia\AlgoliaSearch\Model\AbstractModel;
use Algolia\AlgoliaSearch\Model\ModelInterface;

/**
 * {{classname}} Class Doc Comment
 *
 * @category Class
{{#description}}
 * @description {{{.}}}
{{/description}}
 * @package {{invokerPackage}}
 */
{{#isEnum}}{{> model_enum}}{{/isEnum}}{{^isEnum}}{{> model_generic}}{{/isEnum}}
{{/model}}{{/models}}
