import scala.io.Source
import scala.concurrent.duration.Duration
import scala.concurrent.{Await, ExecutionContextExecutor}

{{> snippets/import}}
import algoliasearch.config.*
import algoliasearch.ingestion.*

import org.json4s.native.JsonMethods
import org.json4s.jvalue2extractable

object PushSetup {
  def main(args: Array[String]): Unit = {
    implicit val ec: ExecutionContextExecutor = scala.concurrent.ExecutionContext.global
    implicit val formats: org.json4s.Formats = org.json4s.DefaultFormats

    val result = Source.fromFile("records.json").getLines().mkString
    val records = JsonMethods.parse(result).extract[Seq[algoliasearch.ingestion.PushTaskRecords]]

    // use the region matching your applicationID
    {{> snippets/init}}

    try {
      // setting `watch` to `true` will make the call synchronous
      val resp = Await.result(
        {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}},
        Duration(100, "sec")
      )

      println(resp)
    } catch {
      case e: Exception => println(e)
    }
  }
}