{{^useEchoRequester}}{{#hasResponsePayload}}var res = {{/hasResponsePayload}}{{#isAsync}}Await.result{{/isAsync}}{{/useEchoRequester}}{{#isAsync}}{{#useEchoRequester}}Await.ready{{/useEchoRequester}}({{/isAsync}}
    {{> tests/method}}{{#isAsync}},
    Duration.Inf
){{/isAsync}}