{{^useEchoRequester}}var res = Await.result{{/useEchoRequester}}{{#useEchoRequester}}Await.ready{{/useEchoRequester}}(
    client.{{method}}{{#isCustom}}[Any]{{/isCustom}}(
    {{#parametersWithDataType}}
    {{> tests/request_param}}{{^-last}},{{/-last}}
    {{/parametersWithDataType}}
    ),
    Duration.Inf
)