{{^useEchoRequester}}{{#hasResponse}}var res = {{/hasResponse}}{{#isAsyncMethod}}Await.result{{/isAsyncMethod}}{{/useEchoRequester}}{{#isAsyncMethod}}{{#useEchoRequester}}Await.ready{{/useEchoRequester}}({{/isAsyncMethod}}
    {{> tests/method}}{{#isAsyncMethod}},
    Duration.Inf
){{/isAsyncMethod}}