import fs from 'node:fs';
import type { PushTaskRecords } from 'algoliasearch';

{{> snippets/import}}

// use the region matching your applicationID
{{> snippets/init}}

try {
  // read local JSON file containing array of records
  const records = JSON.parse(fs.readFileSync('records.json', 'utf8')) as PushTaskRecords[];

  // setting `watch` to `true` will make the call synchronous
  const resp = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}}

  console.log(resp);
} catch (err) {
  console.error(err);
}