client.{{method}}(
{{#parametersWithDataType}}
  {{> tests/request_param}}
{{/parametersWithDataType}}
{{#hasRequestOptions}}
  requestOptions : RequestOptions(
  {{#requestOptions.headers}}
    headers: {
    {{#parametersWithDataType}}
      '{{{key}}}' : '{{value}}',
    {{/parametersWithDataType}}
    },
  {{/requestOptions.headers}}
  {{#requestOptions.queryParameters}}
    urlParameters: {
    {{#parametersWithDataType}}
      '{{{key}}}' : {{> tests/param_value}},
    {{/parametersWithDataType}}
    },
  {{/requestOptions.queryParameters}}
  )
{{/hasRequestOptions}}
)