{{#isNull}}empty(){{/isNull}}
{{#isVerbatim}}{{{value}}}{{/isVerbatim}}
{{#isString}}"{{#lambda.escapeDollar}}{{{value}}}{{/lambda.escapeDollar}}"{{/isString}}
{{#isNumber}}{{{value}}}{{/isNumber}}
{{#isBoolean}}{{{value}}}{{/isBoolean}}
{{#isEnum}}{{{objectName}}}.fromJson("{{value}}"){{/isEnum}}
{{#isArray}}[{{#value}}{{> tests/param_value}},{{/value}}]{{/isArray}}
{{#isFreeFormObject}}
{{#isAnyType}}{ {{#value}}{{#entrySet}}'{{{key}}}' : '{{{value}}}',{{/entrySet}}}{{/value}}{{/isAnyType}}
{{^isAnyType}}{{> tests/param_map}}{{/isAnyType}}
{{/isFreeFormObject}}
{{#isObject}}{{> tests/param_object}}{{/isObject}}