{{^isAdditionalProperty}}
{{#lambda.identifier}}{{{key}}}{{/lambda.identifier}} : {{> tests/param_value}},
{{/isAdditionalProperty}}
{{#isAdditionalProperty}}
additionalProperties : { '{{{key}}}' : '{{{value}}}' },
{{/isAdditionalProperty}}