{{^isAdditionalProperty}}
{{#lambda.camelcase}}{{{key}}}{{/lambda.camelcase}} : {{> tests/param_value}},
{{/isAdditionalProperty}}
{{#isAdditionalProperty}}
additionalProperties : { '{{{key}}}' : '{{{value}}}' },
{{/isAdditionalProperty}}