import com.algolia.client.api.{{client}}
import com.algolia.client.configuration.*
import com.algolia.client.transport.*
{{#isSearchClient}}
import com.algolia.client.extensions.*
{{/isSearchClient}}
{{#isCompositionClient}}
import com.algolia.client.model.{{import}}.RequestBody
{{/isCompositionClient}}
