// {{generationBanner}}
package com.algolia.snippets

// >IMPORT
{{> snippets/import}}
// IMPORT<
import com.algolia.client.model.{{import}}.*
import kotlinx.serialization.json.*
import kotlin.system.exitProcess

class Snippet{{client}} {
  {{#blocksRequests}}
  {{#snippets}}
  suspend fun snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}() {
      // >SEPARATOR {{method}} {{{testName}}}
      // Initialize the client
      {{> snippets/init}}

      // Call the API
      {{#hasResponse}}var response = {{/hasResponse}}client.{{> tests/method}}
      
      // >LOG
      {{#hasResponse}}
      // print the response
      println(response)
      {{/hasResponse}}
      // SEPARATOR<

      exitProcess(0)
  }

  {{/snippets}}
  {{/blocksRequests}}
}