// {{generationBanner}}
package com.algolia.snippets

// >IMPORT
import com.algolia.client.api.{{client}}
{{#isSearchClient}}
import com.algolia.client.extensions.*
{{/isSearchClient}}
// IMPORT<
import com.algolia.client.model.{{import}}.*
import kotlinx.serialization.json.*
import kotlin.system.exitProcess

class Snippet{{client}} {
  {{#blocksRequests}}
  {{#snippets}}
  suspend fun snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}() {
      // >SEPARATOR {{method}} {{testName}}
      // Initialize the client
      val client = {{client}}(appId = "YOUR_APP_ID", apiKey = "YOUR_API_KEY"{{#hasRegionalHost}}, region = "YOUR_APP_ID_REGION"{{/hasRegionalHost}})

      {{#hasResponse}}var response = {{/hasResponse}}client.{{> tests/method}}
      {{#hasResponse}}
      // Use the response
      println(response)
      {{/hasResponse}}
      // SEPARATOR<

      exitProcess(0)
  }

  {{/snippets}}
  {{/blocksRequests}}
}