{{^useEchoRequester}}$res = {{/useEchoRequester}}$client->{{{method}}}{{^parametersWithDataType}}();{{/parametersWithDataType}}({{#parametersWithDataType}}
{{> tests/generateParams}}
{{/parametersWithDataType}});