{{^useEchoRequester}}$res = {{/useEchoRequester}}$client->{{{path}}}{{^parametersWithDataType}}();{{/parametersWithDataType}}({{#parametersWithDataType}}
{{> tests/generateParams}}
{{/parametersWithDataType}});