/**
 * Helper: Wait for a task to be published (completed) for a given `indexName` and `taskID`.
 *
 * @summary Wait for a task to be published (completed).
 * @param waitForTaskOptions - The waitForTaskOptions object.
 * @param waitForTaskOptions.indexName - The `indexName` where the operation was performed.
 * @param waitForTaskOptions.taskID - The `taskID` returned in the method response.
 * @param waitForTaskOptions.maxRetries - The maximum number of retries. 50 by default.
 * @param waitForTaskOptions.timeout - The function to decide how long to wait between retries.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `getTask` method and merged with the transporter requestOptions.
 */
waitForTask(
  {
    indexName,
    taskID,
    maxRetries = 50,
    timeout = (retryCount: number): number =>
      Math.min(retryCount * 200, 5000),
  }: WaitForTaskOptions,
  requestOptions?: RequestOptions
): Promise<GetTaskResponse> {
  let retryCount = 0;

  return createIterablePromise({
    func: () => this.getTask({ indexName, taskID }, requestOptions),
    validate: (response) => response.status === 'published',
    aggregator: () => (retryCount += 1),
    error: {
      validate: () => retryCount >= maxRetries,
      message: () =>
        `The maximum number of retries exceeded. (${retryCount}/${maxRetries})`,
    },
    timeout: () => timeout(retryCount),
  });
},

/**
 * Helper: Wait for an API key to be added, updated or deleted based on a given `operation`.
 *
 * @summary Wait for an API key task to be processed.
 * @param waitForApiKeyOptions - The waitForApiKeyOptions object.
 * @param waitForApiKeyOptions.operation - The `operation` that was done on a `key`.
 * @param waitForApiKeyOptions.key - The `key` that has been added, deleted or updated.
 * @param waitForApiKeyOptions.apiKey - Necessary to know if an `update` operation has been processed, compare fields of the response with it.
 * @param waitForApiKeyOptions.maxRetries - The maximum number of retries. 50 by default.
 * @param waitForApiKeyOptions.timeout - The function to decide how long to wait between retries.
 * @param requestOptions - The requestOptions to send along with the query, they will be forwarded to the `getApikey` method and merged with the transporter requestOptions.
 */
waitForApiKey(
  {
    operation,
    key,
    apiKey,
    maxRetries = 50,
    timeout = (retryCount: number): number =>
      Math.min(retryCount * 200, 5000),
  }: WaitForApiKeyOptions,
  requestOptions?: RequestOptions
): Promise<ApiError | Key> {
  let retryCount = 0;
  const baseIteratorOptions: IterableOptions<ApiError | Key> = {
    aggregator: () => (retryCount += 1),
    error: {
      validate: () => retryCount >= maxRetries,
      message: () =>
        `The maximum number of retries exceeded. (${retryCount}/${maxRetries})`,
    },
    timeout: () => timeout(retryCount),
  };

  if (operation === 'update') {
    if (!apiKey) {
      throw new Error(
        '`apiKey` is required when waiting for an `update` operation.'
      );
    }

    return createIterablePromise({
      ...baseIteratorOptions,
      func: () => this.getApiKey({ key }, requestOptions),
      validate: (response) => {
        for (const field of Object.keys(apiKey)) {
          if (Array.isArray(apiKey[field])) {
            if (
              apiKey[field].length !== response[field].length ||
              (apiKey[field] as string[]).some(
                (value, index) => value !== response[field][index]
              )
            ) {
              return false;
            }
          } else if (response[field] !== apiKey[field]) {
            return false;
          }
        }
        return true;
      },
    });
  }

  return createIterablePromise({
    ...baseIteratorOptions,
    func: () =>
      this.getApiKey({ key }, requestOptions).catch((error) => error),
    validate: (error: ApiError) =>
      operation === 'add' ? error.status !== 404 : error.status === 404,
  });
},
