import {
  createAuth,
  createTransporter,
  getAlgoliaAgent,
  shuffle,
  {{#isSearchClient}}
  serializeQueryParameters,
  createIterablePromise,
  {{/isSearchClient}}
} from '@algolia/client-common';
import type {
  CreateClientOptions,
  Headers,
  Host,
  QueryParameters,
  Request,
  RequestOptions,
  {{#isSearchClient}}
  ApiError,
  IterableOptions,
  {{/isSearchClient}}
} from '@algolia/client-common';

{{#imports}}
import { {{classname}} } from '{{filename}}';
{{/imports}}

{{#operations}}
import type {
  {{#isSearchClient}}
    BrowseOptions,
    ChunkedBatchOptions,
    ReplaceAllObjectsOptions,
    ReplaceAllObjectsResponse,
    WaitForApiKeyOptions,
    WaitForTaskOptions,
  {{/isSearchClient}}
  {{#operation}}
    {{#vendorExtensions}}
      {{#x-create-wrapping-object}}
        {{#lambda.titlecase}}{{nickname}}{{/lambda.titlecase}}Props,
      {{/x-create-wrapping-object}}
      {{#x-legacy-signature}}
        LegacySearchMethodProps,
      {{/x-legacy-signature}}
    {{/vendorExtensions}}
  {{/operation}}
} from '../model/clientMethodProps';
{{/operations}}

{{#isSearchClient}}
  import type { BatchRequest } from '../model/batchRequest';
{{/isSearchClient}}

{{#isIngestionClient}}
  import type { OnDemandTrigger } from '../model/onDemandTrigger';
  import type { ScheduleTrigger } from '../model/scheduleTrigger';
  import type { SubscriptionTrigger } from '../model/subscriptionTrigger';
  import type { TaskCreateTrigger } from '../model/taskCreateTrigger';
  import type { Trigger } from '../model/trigger';
{{/isIngestionClient}}