{{#hasResponse}}let response{{#isGeneric}}: {{#useEchoRequester}}Response<{{/useEchoRequester}}{{#lambda.prefix}}{{{returnType}}}{{/lambda.prefix}}<{{#lambda.prefix}}Hit{{/lambda.prefix}}>{{#useEchoRequester}}>{{/useEchoRequester}}{{/isGeneric}} = {{> tests/method}}{{/hasResponse}}
{{^hasResponse}}let _ = {{> tests/method}}{{/hasResponse}}
{{^isHelper}}
{{^isBenchmark}}
{{#useEchoRequester}}
let echoResponse = try CodableHelper.jsonDecoder.decode(EchoResponse.self, from: XCTUnwrap(response.bodyData))
{{/useEchoRequester}}
{{/isBenchmark}}
{{/isHelper}}