# {{pubName}}
{{#appDescriptionWithNewLines}}
{{{.}}}
{{/appDescriptionWithNewLines}}

## Requirements

* Dart ^3.0.0 or Flutter ^3.10.0
* Dio ^5.0.0 (https://pub.dev/packages/dio)
* JSON Serializable ^6.7.0 (https://pub.dev/packages/json_serializable)

## Installation

### pub.dev
To use the package from [pub.dev](https://pub.dev), please include the following in pubspec.yaml
```yaml
dependencies:
  {{pubName}}: {{pubVersion}}
```
