{{#isRoot}}{{#lambda.snakecase}}{{{key}}}{{/lambda.snakecase}}={{/isRoot}} {{#useAnonymousKey}}{{#parent}}"{{{key}}}":{{/parent}}{{/useAnonymousKey}} {{#isNull}} None, {{/isNull}} {{#isString}} "{{{value}}}", {{/isString}} {{#isInteger}} {{{value}}}, {{/isInteger}} {{#isLong}} {{{value}}}, {{/isLong}} {{#isDouble}} {{{value}}}, {{/isDouble}} {{#isBoolean}} {{#lambda.titlecase}}{{{value}}}{{/lambda.titlecase}}, {{/isBoolean}} {{#isEnum}} "{{{value}}}", {{/isEnum}} {{#isArray}} [ {{#value}}{{> tests/requests/generateParams}}{{/value}} ], {{/isArray}} {{#isObject}} { {{#value}}{{> tests/requests/generateParams}}{{/value}} }, {{/isObject}} {{#isFreeFormObject}} {{#isAnyType}} { {{#value}}{{#entrySet}}"{{{key}}}":"{{{value}}}"{{^-last}},{{/-last}}{{/entrySet}}{{/value}} }, {{/isAnyType}} {{^isAnyType}} { {{#value}}{{> tests/requests/generateParams}}{{/value}} }, {{/isAnyType}} {{/isFreeFormObject}}