// eslint-disable-next-line @typescript-eslint/explicit-function-return-type
export function {{apiName}}(
  appId: string,
  apiKey: string,{{#hasRegionalHost}}region{{#fallbackToAliasHost}}?{{/fallbackToAliasHost}}: Region,{{/hasRegionalHost}}
  options?: ClientOptions
) {
  {{> client/builds/checkParameters}}