import { createXhrRequester } from '@algolia/requester-browser-xhr';
import { createHttpRequester } from '@algolia/requester-node-http';
import { createFetchRequester } from '@algolia/requester-fetch';
import { 
  IndexNotFoundError,
  IndicesInSameAppError,
  IndexAlreadyExistsError,
  createNullLogger,
  createMemoryCache,
  createFallbackableCache,
  createBrowserLocalStorageCache,
  createNullCache,
  serializeQueryParameters
} from '@algolia/client-common';

import type { RequestOptions, ClientOptions } from '@algolia/client-common';

import { create{{#lambda.titlecase}}{{clientName}}{{/lambda.titlecase}}, apiClientVersion } from '../src/{{clientName}}';

{{#hasRegionalHost}}
import { REGIONS } from '../src/{{clientName}}';
import type { Region, RegionOptions } from '../src/{{clientName}}'; 

export type { Region, RegionOptions } from '../src/{{clientName}}';
{{/hasRegionalHost}}

{{! We don't use `export *` to prevent exposing the factory, to avoid confusion for the user }}
export {
  apiClientVersion,
  {{#isIngestionClient}}
  isOnDemandTrigger,
  isScheduleTrigger,
  isSubscriptionTrigger,
  {{/isIngestionClient}}
} from '../src/{{clientName}}';

export * from '../model';

{{#isSearchClient}}
{{^isAlgoliasearchClient}}
import type { 
  AccountCopyIndexOptions,
  BrowseResponse,
  GenerateSecuredApiKeyOptions,
  GetSecuredApiKeyRemainingValidityOptions,
  SearchClientNodeHelpers,
  SearchRulesResponse,
  SearchSynonymsResponse,
  UpdatedAtResponse,
} from '../model';
{{/isAlgoliasearchClient}}
{{/isSearchClient}}

export function {{clientName}}(
  appId: string,
  apiKey: string,{{#hasRegionalHost}}region{{#fallbackToAliasHost}}?{{/fallbackToAliasHost}}: Region{{#fallbackToAliasHost}} | undefined {{/fallbackToAliasHost}},{{/hasRegionalHost}}
  options?: ClientOptions | undefined
): {{#lambda.titlecase}}{{clientName}}{{/lambda.titlecase}} {
  if (!appId || typeof appId !== 'string') {
    throw new Error("`appId` is missing.");
  }
  
  if (!apiKey || typeof apiKey !== 'string') {
    throw new Error("`apiKey` is missing.");
  }
  
  {{#hasRegionalHost}}
    
  if ({{^fallbackToAliasHost}}!region || {{/fallbackToAliasHost}}(region && (typeof region !== 'string' || !REGIONS.includes(region)))) {
    throw new Error(`\`region\` {{^fallbackToAliasHost}}is required and {{/fallbackToAliasHost}}must be one of the following: ${REGIONS.join(', ')}`);
  }
  {{/hasRegionalHost}}
