// {{{generationBanner}}}

{{> client/builds/definition}}
  return {
    ...create{{#lambda.titlecase}}{{apiName}}{{/lambda.titlecase}}({
      appId,
      apiKey,{{#hasRegionalHost}}region,{{/hasRegionalHost}}
      timeouts: {
        connect: DEFAULT_CONNECT_TIMEOUT_NODE,
        read: DEFAULT_READ_TIMEOUT_NODE,
        write: DEFAULT_WRITE_TIMEOUT_NODE,
      },
      requester: createHttpRequester(),
      algoliaAgents: [{ segment: 'Node.js', version: process.versions.node }],
      responsesCache: createNullCache(),
      requestsCache: createNullCache(),
      hostsCache: createMemoryCache(),
      ...options,
    }),

    {{#nodeSearchHelpers}}
    {{> client/api/nodeHelpers}}
    {{/nodeSearchHelpers}}
  };
}