{{> snippets/import}}

try {
  {{> snippets/init}}

  const { default: records } = await import('./actors.json');

  const chunkSize = 10000

  for (let beginIndex = 0; beginIndex < records.length; beginIndex += chunkSize) {
    const chunk = records.slice(beginIndex, beginIndex + chunkSize);
    {{#dynamicSnippet}}saveObjectsChunks{{/dynamicSnippet}}
  }
} catch (e) {
  console.error(e);
}
