{{> snippets/import}}

try {
  {{> snippets/init}}

  const records: Array<Record<string, any>> = [];

  await client.browseObjects<Record<string, any>>({ indexName: "<YOUR_INDEX_NAME>", browseParams: undefined, aggregator: (res) =>
      records.push(
        res.hits.map((record) => ({
          ...record,
          isPopular: record.nbFollowers >= 1_000_000,
        }))
      )
  });

  {{#dynamicSnippet}}saveObjectsRecords{{/dynamicSnippet}}
} catch (e) {
  console.error(e);
}
