{{> snippets/import}}
import type { SearchParamsObject } from 'algoliasearch';


{{> snippets/init}}

/*
'94.228.178.246' should be replaced with your user's IP address.
Depending on your stack there are multiple ways to get this information.
*/
const ip = '94.228.178.246';
const query = 'query';

const searchParams: SearchParamsObject = {
  query,
  analytics: true,
};

{{#dynamicSnippet}}searchWithSearchParamsAndForwardedHeader{{/dynamicSnippet}};

