{{> snippets/import}}
import type { SearchParams } from 'algoliasearch';

const getBuyerAccountId = () => {
 return ""; // Implement your logic here
}

try {
  {{> snippets/init}}

  // get the buyer account information
  const buyer = getBuyerAccountId();
  const searchParams: SearchParams = {
    query: "<YOUR_SEARCH_QUERY>",
    ruleContexts: [buyer]
  };

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
} catch (e: any) {
  console.error(e);
}
