{{> snippets/import}}
import type { OptionalFilters, SearchParams } from 'algoliasearch';

const labels: string[] = [] // A list of labels

const reduceLabelsToFilters = (_labels: string[]): OptionalFilters => {
  return []; // Implement your logic here
}

try {
  {{> snippets/init}}

  const optionalFilters = reduceLabelsToFilters(labels)
  const searchParams: SearchParams = {
    query: "<YOUR_SEARCH_QUERY>",
    optionalFilters: optionalFilters
  };

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
} catch (e: any) {
  console.error(e);
}
