{{> snippets/import}}

const playlists: Record<string, any>[] = [/* Your records */];

{{> snippets/init}}

playlists.forEach(async (playlist) => {
  try {
    const playlistUserID = playlist["userID"];
    {{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}}
  } catch (e: any) {
    console.error(e);
  }
});
