{{#value.0}}[]{{#isEnum}}{{clientPrefix}}.{{/isEnum}}{{#oneOfModel}}{{^isEnum}}{{clientPrefix}}.{{/isEnum}}{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{#isObject}}{{clientPrefix}}.{{/isObject}}{{#isArray}}{{> tests/arrayType}}{{/isArray}}{{^isArray}}{{objectName}}{{/isArray}}{{/oneOfModel}}{{/value.0}}{{^value.0}}nil{{/value.0}}