[]{{#value.0}}{{#isArray}}{{> arrayType}}{{/isArray}}{{^isArray}}{{#isEnum}}{{clientPrefix}}.{{/isEnum}}{{#oneOfModel}}{{clientPrefix}}.{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{#isObject}}{{clientPrefix}}.{{/isObject}}{{objectName}}{{/oneOfModel}}{{/isArray}}{{/value.0}}