{{#value.0}}[]{{#isArray}}{{> tests/arrayType}}{{/isArray}}{{^isArray}}{{#isEnum}}{{clientPrefix}}.{{/isEnum}}{{#oneOfModel}}{{^isEnum}}{{clientPrefix}}.{{/isEnum}}{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{#isObject}}{{clientPrefix}}.{{/isObject}}{{objectName}}{{/oneOfModel}}{{/isArray}}{{/value.0}}{{^value.0}}nil{{/value.0}}