map[string]{{#isSimpleObject}}any{{/isSimpleObject}}{{^isSimpleObject}}{{#value.0}}{{#isAnyType}}any{{/isAnyType}}{{^isAnyType}}{{#oneOfModel}}{{clientPrefix}}.{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{^isBoolean}}{{^isString}}{{#isFreeFormObject}}{{> mapType}}{{/isFreeFormObject}}{{^isFreeFormObject}}{{clientPrefix}}.{{objectName}}{{/isFreeFormObject}}{{/isString}}{{/isBoolean}}{{#isBoolean}}bool{{/isBoolean}}{{#isString}}string{{/isString}}{{/oneOfModel}}{{/isAnyType}}{{/value.0}}{{^value.0}}any{{/value.0}}{{/isSimpleObject}}