{{#hasOptionalWrapper}}{{^isHelper}}{{clientPrefix}}.New{{#lambda.titlecase}}{{method}}{{/lambda.titlecase}}Options(){{#parametersWithDataType}}{{^required}}.With{{#lambda.pascalcase}}{{{key}}}{{/lambda.pascalcase}}({{> tests/generateParams}}){{/required}}{{/parametersWithDataType}}{{/isHelper}}{{#isHelper}}{{#parametersWithDataType}}{{^required}}{{> tests/generateParams}}{{^-last}},{{/-last}} {{/required}}{{/parametersWithDataType}}{{/isHelper}}{{#requestOptions}},{{/requestOptions}}{{/hasOptionalWrapper}}