                {{method}}(
                {{#parametersWithDataType}}
                {{> tests/request_param}}
                {{/parametersWithDataType}}
                {{#hasRequestOptions}}
                requestOptions = RequestOptions(
                    {{#requestOptions.queryParameters}}
                    urlParameters = buildMap {
                        {{#parametersWithDataType}}
                        put("{{{key}}}", {{> tests/param_value}})
                        {{/parametersWithDataType}}
                    },
                    {{/requestOptions.queryParameters}}
                    {{#requestOptions.headers}}
                    headers = buildMap { 
                    {{#parametersWithDataType}}
                        put("{{{key}}}", {{> tests/param_value}})
                    {{/parametersWithDataType}}
                    },
                    {{/requestOptions.headers}}
                    {{#requestOptions.timeouts.connect}}
                      connectTimeout = {{.}}.milliseconds,
                    {{/requestOptions.timeouts.connect}}
                    {{#requestOptions.timeouts.read}}
                      readTimeout = {{.}}.milliseconds,
                    {{/requestOptions.timeouts.read}}
                    {{#requestOptions.timeouts.write}}
                      writeTimeout = {{.}}.milliseconds,
                    {{/requestOptions.timeouts.write}}
                )
                {{/hasRequestOptions}}
            )