{{#isArray}}{{#value.0}}<{{#childElements.oneOfModel}}{{classname}}{{/childElements.oneOfModel}}{{^childElements.oneOfModel}}{{objectName}}{{/childElements.oneOfModel}}{{> generateGenerics}}>{{/value.0}}{{/isArray}}
{{#isFreeFormObject}}<String, {{#value.0}}{{#childElements.oneOfModel}}{{classname}}{{/childElements.oneOfModel}}{{^childElements.oneOfModel}}{{objectName}}{{/childElements.oneOfModel}}{{> generateGenerics}}{{/value.0}}>{{/isFreeFormObject}}
