version: "2"
run:
  concurrency: 2
linters:
  default: all
  disable:
    - cyclop
    - depguard
    - dupl
    - dupword
    - exhaustruct
    - forbidigo
    - forcetypeassert
    - funlen
    - goconst
    - godot
    - gomoddirectives
    - ireturn
    - lll
    - maintidx
    - mnd
    - noctx
    - paralleltest
    - tagliatelle
    - testpackage
    - tparallel
    - unparam
    - unused
    - varnamelen
    - wastedassign
  settings:
    staticcheck:
      checks: ["all", "-SA1019", "-SA4006"]
  exclusions:
    generated: disable
    presets:
      - comments
      - std-error-handling
    rules:
      - linters:
          - revive
        text: "unused-parameter:"
formatters:
  enable:
    - gofmt
    - gofumpt
    - golines
  settings:
    golines:
      max-len: 150
  exclusions:
    generated: disable