// {{generationBanner}}
package snippets

// >IMPORT
{{> snippets/import}}
// IMPORT<

{{#blocksRequests}}
{{#snippets}}
func SnippetFor{{#lambda.titlecase}}{{method}}{{/lambda.titlecase}}Of{{#lambda.pascalcase}}{{clientPrefix}}{{/lambda.pascalcase}}{{testIndex}}() {
    /*
    Snippet for the {{method}} method.

    {{{description}}}
    */
    
    // >SEPARATOR {{method}} {{{testName}}}
    // Initialize the client{{#hasRegionalHost}} with your application region, eg. {{clientPrefix}}.ALGOLIA_APPLICATION_REGION{{/hasRegionalHost}}
    {{> snippets/init}}

    // Call the API
    {{#hasResponse}}response, err :={{/hasResponse}}{{^hasResponse}}err ={{/hasResponse}} {{> tests/method}}
    if err != nil {
      // handle the eventual error
      panic(err)
    }
    
    // >LOG
    {{#hasResponse}}
    // use the model directly
    print(response)
    {{/hasResponse}}
    // SEPARATOR<
}
{{/snippets}}
{{/blocksRequests}}