// {{generationBanner}}
package snippets

// >IMPORT
{{> snippets/import}}
// IMPORT<

{{#blocksRequests}}
{{#snippets}}
func SnippetFor{{#lambda.titlecase}}{{method}}{{/lambda.titlecase}}Of{{#lambda.pascalcase}}{{clientPrefix}}{{/lambda.pascalcase}}{{testIndex}}() {
    /*
    Snippet for the {{method}} method.

    {{{description}}}
    */
    
    // >SEPARATOR {{method}} {{{testName}}}
    // Initialize the client{{#hasRegionalHost}} with your application region, eg. {{clientPrefix}}.ALGOLIA_APPLICATION_REGION{{/hasRegionalHost}}
    {{> snippets/init}}

    {{^isStreaming}}
    // Call the API
    {{#hasResponse}}response, err :={{/hasResponse}}{{^hasResponse}}err ={{/hasResponse}} {{> tests/method}}
    if err != nil {
      // handle the eventual error
      panic(err)
    }

    // >LOG
    {{#hasResponse}}
    // print the response
    print(response)
    {{/hasResponse}}
    {{/isStreaming}}
    {{#isStreaming}}
    {{#useRawStream}}
    // Use the raw streaming variant to access the unparsed server-sent events
    decoder, err := {{> tests/method}}
    if err != nil {
      // handle the eventual error
      panic(err)
    }

    defer func() { _ = decoder.Close() }()

    for decoder.Next() {
      // >LOG
      fmt.Println(string(decoder.Event().Data))
    }

    err = decoder.Err()
    if err != nil {
      // handle the eventual error
      panic(err)
    }
    {{/useRawStream}}
    {{^useRawStream}}
    // Use the streaming variant to iterate over events
    stream, err := {{> tests/method}}
    if err != nil {
      // handle the eventual error
      panic(err)
    }

    defer func() { _ = stream.Close() }()

    for stream.Next() {
      event := stream.Current()
      if event.Err != nil {
        // handle the eventual per-event deserialization error
        continue
      }

      // >LOG
      fmt.Println(*event.Data)
    }

    err = stream.Err()
    if err != nil {
      // handle the eventual error
      panic(err)
    }
    {{/useRawStream}}
    {{/isStreaming}}
    // SEPARATOR<
}
{{/snippets}}
{{/blocksRequests}}