{{#useAnonymousKey}}{{#lambda.escapeRubyKeywords}}{{{key}}}{{/lambda.escapeRubyKeywords}}: {{/useAnonymousKey}}{{#isNull}}nil, {{/isNull}}{{#isString}}"{{{value}}}", {{/isString}}{{#isInteger}}{{{value}}}, {{/isInteger}}{{#isLong}}{{{value}}}, {{/isLong}}{{#isDouble}}{{{value}}}, {{/isDouble}}{{#isBoolean}}{{{value}}}, {{/isBoolean}} {{#isEnum}}'{{{value}}}', {{/isEnum}}{{#isArray}} [ {{#value}}{{> tests/generateParams}}{{/value}} ], {{/isArray}}{{#isObject}} {{{objectName}}}.new({{#value}}{{> tests/generateParams}}{{/value}}), {{/isObject}}{{#isFreeFormObject}} {{#isAnyType}} { {{#value}}{{#entrySet}}'{{{key}}}':"{{{value}}}"{{^-last}},{{/-last}}{{/entrySet}}{{/value}} }, {{/isAnyType}} {{^isAnyType}} { {{#value}}{{> tests/generateParams}}{{/value}} }, {{/isAnyType}} {{/isFreeFormObject}}