client.{{#lambda.snakecase}}{{method}}{{/lambda.snakecase}}{{^isHelper}}{{#useEchoRequester}}_with_http_info{{/useEchoRequester}}{{/isHelper}}{{#returnsBoolean}}?{{/returnsBoolean}}({{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}}{ {{#requestOptions.headers.parameters}}:header_params => JSON.parse('{{{.}}}', :symbolize_names => true),{{/requestOptions.headers.parameters}}{{#requestOptions.queryParameters.parameters}}:query_params => JSON.parse('{{{.}}}', :symbolize_names => true),{{/requestOptions.queryParameters.parameters}}{{#requestOptions.timeouts.connect}}:connect_timeout => {{{.}}},{{/requestOptions.timeouts.connect}}{{#requestOptions.timeouts.write}}:timeout => {{{.}}},{{/requestOptions.timeouts.write}} }{{/hasRequestOptions}})