client.{{#lambda.snakecase}}{{method}}{{/lambda.snakecase}}{{^isHelper}}{{#useEchoRequester}}_with_http_info{{/useEchoRequester}}{{/isHelper}}{{#returnsBoolean}}?{{/returnsBoolean}}({{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}}{ {{#requestOptions.headers}}:header_params => { {{#parametersWithDataType}}"{{{key}}}" => {{> tests/generateInnerParams}}{{^last}}, {{/last}}{{/parametersWithDataType}} },{{/requestOptions.headers}}{{#requestOptions.queryParameters.parameters}}:query_params => JSON.parse('{{{.}}}', :symbolize_names => true),{{/requestOptions.queryParameters.parameters}}{{#requestOptions.timeouts.connect}}:connect_timeout => {{{.}}},{{/requestOptions.timeouts.connect}}{{#requestOptions.timeouts.write}}:timeout => {{{.}}},{{/requestOptions.timeouts.write}} }{{/hasRequestOptions}})