{{> snippets/import}}

String getUserToken() {
  // Implement your logic here
  return "";
}

void abTestImplementationChecklist() async {
  {{> snippets/init}}

  // Set the searchParams and get the current user token
  final userToken = getUserToken();

  // Is the user token anonymous?
  final SearchParamsObject searchParams;
  if (userToken.isEmpty || userToken == "YOUR_ANONYMOUS_USER_TOKEN") {
    // Disable A/B testing for this request
    searchParams = SearchParamsObject(
      query: "User search query",
      enableABTest: false,
    );
  } else {
    // Set the user token to the current user token
    searchParams = SearchParamsObject(
      query: "User search query",
      enableABTest: true,
      userToken: userToken,
    );
  }

  try {
    // Perform the searchSingleIndex
    final result = await {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
    // SearchSingleIndex results
    print(result);
  } catch (err) {
    // SearchSingleIndex errors
    print(err);
  }
}
