{{> snippets/import}}

void deleteMultipleIndices() async {
  // You need an API key with `deleteIndex`
  {{> snippets/init}}

  // List all indices
  var indices = await {{#dynamicSnippet}}listIndicesSimple{{/dynamicSnippet}};

  // Primary indices don't have a `primary` key
  var primaryIndices = indices.items.where((element) => element.primary == null).toList();
  var replicaIndices = indices.items.where((element) => element.primary != null).toList();

  // Delete primary indices first
  if (primaryIndices.isNotEmpty) {
      List<MultipleBatchRequest> requests = primaryIndices.map((element) =>
          MultipleBatchRequest(
              action: Action.delete,
              indexName: element.name
          )
      ).toList();
      await {{#dynamicSnippet}}deleteMultipleIndicesPrimary{{/dynamicSnippet}};
      print("Deleted primary indices.");
  }

  // Now, delete replica indices
  if (replicaIndices.isNotEmpty) {
      List<MultipleBatchRequest> requests = replicaIndices.map((element) =>
          MultipleBatchRequest(
              action: Action.delete,
              indexName: element.name
          )
      ).toList();
      await {{#dynamicSnippet}}deleteMultipleIndicesReplica{{/dynamicSnippet}};
      print("Deleted replica indices.");
  }
}