{{> snippets/import}}

void enableFilterPromote() async {
  final condition = Condition(
    pattern: "{facet:brand}",
    anchoring: Anchoring.is_,
  );

  final consequence = Consequence(
    filterPromotes: true
  );

  final rule = Rule(
    objectID: "rule_with_filterPromotes",
    conditions: [condition],
    consequence: consequence
  );
}