import 'dart:convert';
import 'dart:io';

{{> snippets/import}}

void saveObjectsChunks() async {
  const path = '/tmp/records.json';
  final json = File(path).readAsStringSync();
  List<Map<String, dynamic>> records;
  try {
    records = List<Map<String, dynamic>>.from(jsonDecode(json));
  } catch (e) {
    throw Exception('Failed to read file at $path: $e');
  }

  {{> snippets/init}}

  const chunkSize = 10000;

  for (var i = 0; i < records.length; i += chunkSize) {
    var chunk = records.sublist(i, (i + chunkSize > records.length) ? records.length : i + chunkSize);
    var batchParams = BatchWriteParams(
      requests: chunk.map((record) =>
          BatchRequest(
            action: Action.addObject,
            body: record,
          )
      ).toList()
    );
    await {{#dynamicSnippet}}batchChunks{{/dynamicSnippet}};
  }
}

