import 'package:http/http.dart' as http;
import 'dart:convert';
{{> snippets/import}}

void main() async {
  // initiate client
  {{> snippets/init}}

  // read json file from url
  final datasetRequest = await http.get(
      Uri.parse('https://dashboard.algolia.com/sample_datasets/movie.json'));

  if (datasetRequest.statusCode == 200) {
    final movies = jsonDecode(datasetRequest.body);

    // push data to algolia
    {{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
  } else {
    throw Exception('Failed to load data');
  }
}
