{{> snippets/import}}

List<Map<String, String>> getAllAppIDConfigurations() {
  return [/* A list of your MCM AppID/ApiKey pairs */];
}

List<Map> playlists = [/* Your records */];

void saveObjectsMCM() async {
  var configurations = getAllAppIDConfigurations();

  for (var configuration in configurations) {
    var appId = configuration['appID'] ?? "";
    var apiKey = configuration['apiKey'] ?? "";
    var client = SearchClient(appId: appId, apiKey: apiKey);

    try {
      var batchParams = BatchWriteParams(
        requests: playlists
          .map((record) => BatchRequest(
          action: Action.addObject,
          body: record,
        )).toList()
      );
      await {{#dynamicSnippet}}batchChunks{{/dynamicSnippet}};
    } catch (e) {
      throw Exception('Error for appID $appId: $e');
    }
  }
}