{{> snippets/import}}

void savePopularRecords() async {
  {{> snippets/init}}

  List<Map<String, dynamic>> records = [];

  BrowseResponse? browseResponse;
  do {
    var browseParams = BrowseParamsObject(hitsPerPage: 1000, cursor: browseResponse?.cursor);
    browseResponse = await client.browse(
        indexName: "indexName", browseParams: browseParams
    );
    for (var hit in browseResponse.hits) {
      final isPopular = hit['nbFollowers'] > 1000;
      final updatedProduct = {
        ...hit,
        'isPopular': isPopular,
      };
      records.add(updatedProduct);
    }
  } while (browseResponse.cursor != null);

  var batchParams = BatchWriteParams(
    requests: records
        .map((record) => BatchRequest(
              action: Action.addObject,
              body: record,
            ))
        .toList());
  await {{#dynamicSnippet}}batchChunks{{/dynamicSnippet}};
}