{{> snippets/import}}

String getPlatformTag() {
  return ""; // Implement your logic here
}

void searchWithRuleContexts() async {
  {{> snippets/init}}

  final platformTag = getPlatformTag();
  final searchParams = SearchParamsObject(
    query: "<YOUR_SEARCH_QUERY>",
    ruleContexts: [platformTag]
  );

  await {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
}