{{> snippets/import}}

void searchFuturePublishedBooks() async {
  {{> snippets/init}}

  final dateTimestamp = DateTime.now().millisecondsSinceEpoch;
  final searchParams = SearchParamsObject(
      query: "<YOUR_SEARCH_QUERY>",
      filters: "date_timestamp > $dateTimestamp"
  );

  await {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
}