{{> snippets/import}}

void useConditionlessRule() async {
  {{> snippets/init}}

  final objectID = "a-rule-id";

  final rule = Rule(
      objectID: objectID,
      consequence: Consequence(
          // Set relevant consequence
      ),
      // Set validity (optional)
      validity: [
          TimeRange(
              from: 1688774400,
              until: 1738972800
          )
      ]
  );

  await {{#dynamicSnippet}}saveRule{{/dynamicSnippet}};
}