require 'json'
{{> snippets/import}}

records = JSON.parse(File.read('records.json'))

# use the region matching your applicationID
{{> snippets/init}}

# setting `watch` to `true` will make the call synchronous
resp = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}}

puts resp