require 'json'
{{> snippets/import}}

records = JSON.parse(File.read('/my-raw-records.json'))

# use the region matching your applicationID
{{> snippets/init}}

run = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}}

# use runID in the Observability debugger
puts run.run_id