package org.example
{{> snippets/import}}
{{#isSearchClient}}
import com.algolia.client.extensions.*
{{/isSearchClient}}
import com.algolia.client.model.ingestion.*

import kotlinx.serialization.builtins.ListSerializer
import kotlinx.serialization.json.Json
import kotlinx.serialization.json.JsonObject
import java.io.File

suspend fun main() {
    val json = File("/my-raw-records.json").readText()
    val records: List<PushTaskRecords> = Json.decodeFromString(ListSerializer(PushTaskRecords.serializer()), json)

    // use the region matching your applicationID
    {{> snippets/init}}

    try {
        val run = client.{{#dynamicSnippet}}pushSetup{{/dynamicSnippet}}

        // use runID in the Observability debugger
        println(run)
    } catch(e: Exception) {
        println(e.message)
    }
}