{{> snippets/import}}

def get_user_token
    # Implement your logic here
    ""
end

{{> snippets/init}}

# Set the searchParams and get the current user token
search_params = Algolia::Search::SearchParamsObject.new(
  query: "User search query",
  enable_ab_test: true,
)
user_token = get_user_token

# Is the user token anonymous?
if user_token.nil? || user_token.empty? || user_token == "YOUR_ANONYMOUS_USER_TOKEN"
  # Disable A/B testing for this request
  search_params.enable_ab_test = false
else
  # Set the user token to the current user token
  search_params.user_token = user_token
end

begin
  # Perform the searchSingleIndex
  result = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
  # SearchSingleIndex results
  puts result
rescue => err
  # SearchSingleIndex errors
  puts err
end
