{{> snippets/import}}

# You need an API key with `deleteIndex`
{{> snippets/init}}

# List all indices
indices = {{#dynamicSnippet}}listIndicesSimple{{/dynamicSnippet}}

# Primary indices don't have a `primary` key
primary_indices, replica_indices = indices.items.partition { |index| index.primary.nil? }.map(&:to_a)

# Delete primary indices first
if primary_indices.any?
  requests = primary_indices.map { |index| Algolia::Search::BatchRequest.new(action: Algolia::Search::Action::DELETE, indexName: index.name) }
  {{#dynamicSnippet}}deleteMultipleIndicesPrimary{{/dynamicSnippet}}
  print("Deleted primary indices.")
end

# Now, delete replica indices
if replica_indices.any?
  requests = replica_indices.map { |index| Algolia::Search::BatchRequest.new(action: Algolia::Search::Action::DELETE, indexName: index.name) }
  {{#dynamicSnippet}}deleteMultipleIndicesReplica{{/dynamicSnippet}}
  print("Deleted replica indices.\n")
end

