{{> snippets/import}}

def get_image_labels(image_url, object_id, score_limit)
  # Implement your image classification logic here
  {"objectID" => "", "imageURL" => "", "objects" => []}
end

{{> snippets/init}}

records = []

client.browse_objects(
  '<YOUR_INDEX_NAME>',
) do |resp|
  resp.hits.each do |hit|
    image_url = hit['imageURL']
    records << get_image_labels(image_url, hit['objectID'], 0.5)
  end
end

{{#dynamicSnippet}}partialUpdatesRecords{{/dynamicSnippet}}