require "json"
{{> snippets/import}}

{{> snippets/init}}

products = JSON.parse(File.read("products.json"))

records = []

products.each do |product|
  reference = product['product_reference']
  suffixes = []

  while reference.length > 1
    reference = reference[1..-1]
    suffixes << reference
  end

  product['product_reference_suffixes'] = suffixes
  records << product
end

{{#dynamicSnippet}}saveObjectsRecords{{/dynamicSnippet}}

