{{> snippets/import}}

def reduce_labels_to_filters(_labels)
    # Implement your logic here
    []
end

labels = [] # A list of labels

{{> snippets/init}}

optional_filters = reduce_labels_to_filters(labels)
search_params = Algolia::Search::SearchParamsObject.new(
  query: '<YOUR_SEARCH_QUERY>',
  optionalFilters: optional_filters
)

{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
