{{> snippets/import}}

def get_google_analytics_user_id_from_browser_cookie(_cookie_name)
  # Implement your logic here
  ''
end

begin
  {{> snippets/init}}

  user_token = get_google_analytics_user_id_from_browser_cookie('_ga')
  search_params = Algolia::Search::SearchParamsObject.new(
    query: '<YOUR_SEARCH_QUERY>',
    userToken: user_token,
  )

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}

  logged_in_user = nil
  search_params.user_token = logged_in_user || user_token

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
rescue Exception => e
  puts("An error occurred: #{e}")
end
