{{> snippets/import}}

def get_buyer_account_id
    # Implement your logic here
  ""
end

begin
  {{> snippets/init}}

  # get the buyer account information
  buyer = get_buyer_account_id
  search_params = Algolia::Search::SearchParamsObject.new(
    query: "<YOUR_SEARCH_QUERY>",
    rule_contexts: [buyer],
  )

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
rescue Exception => e
  puts("An error occurred: #{e}")
end
