{{> snippets/import}}

playlists = [] # Your records

begin
  {{> snippets/init}}

  playlists.each do |playlist|
    playlist_user_id = playlist['userID']
    {{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}}
  end
rescue Exception => e
  puts("An error occurred: #{e}")
end
