post:
  tags:
    - tasks
  summary: Search for tasks V1
  description: Searches for tasks using the v1 endpoint. Use `searchTasks` instead.
  operationId: searchTasksV1
  deprecated: true
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  requestBody:
    content:
      application/json:
        schema:
          $ref: '../../../common/schemas/task.yml#/TaskSearch'
    required: true
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            title: searchTasksResponseV1
            type: array
            items:
              $ref: '../../../common/schemas/task.yml#/TaskV1'
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'
