get:
  tags:
    - tasks
  summary: List tasks V1
  description: Retrieves a list of tasks using the v1 endpoint. Use `getTasks` instead.
  operationId: listTasksV1
  deprecated: true
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  parameters:
    - $ref: '../../../common/parameters.yml#/itemsPerPage'
    - $ref: '../../../common/parameters.yml#/page'
    - $ref: '../../../common/taskParameters.yml#/action'
    - $ref: '../../../common/taskParameters.yml#/enabled'
    - $ref: '../../../common/taskParameters.yml#/sourceID'
    - $ref: '../../../common/taskParameters.yml#/destinationID'
    - $ref: '../../../common/taskParameters.yml#/triggerType'
    - $ref: '../../../common/taskParameters.yml#/sort'
    - $ref: '../../../common/parameters.yml#/order'
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            title: listTasksResponseV1
            type: object
            description: Configured tasks and pagination information.
            additionalProperties: false
            properties:
              tasks:
                type: array
                items:
                  $ref: '../../../common/schemas/task.yml#/TaskV1'
              pagination:
                $ref: '../../../common/schemas/pagination.yml#/Pagination'
            required:
              - tasks
              - pagination
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'

post:
  tags:
    - tasks
  summary: Create a task V1
  description: Creates a new task using the v1 endpoint. Use `createTask` instead.
  operationId: createTaskV1
  x-acl:
    - addObject
    - deleteIndex
    - editSettings
  deprecated: true
  x-codegen-request-body-name: taskCreate
  requestBody:
    description: Request body for creating a task.
    content:
      application/json:
        schema:
          $ref: '../../../common/schemas/task.yml#/TaskCreateV1'
    required: true
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: '../../../common/schemas/task.yml#/TaskCreateResponse'
    '400':
      $ref: '../../../../common/responses/BadRequest.yml'
