{{> tests/paramKey}}{{#oneOfModel}}{{parentClassName}}.{{#lambda.identifier}}{{#lambda.camelcase}}{{type}}{{/lambda.camelcase}}{{/lambda.identifier}}({{/oneOfModel}}{{> tests/paramValue}}{{#oneOfModel}}){{/oneOfModel}}