{{> tests/paramKey}}{{#oneOfModel}}{{parentClassName}}.{{#lambda.swiftIdentifier}}{{#lambda.camelcase}}{{type}}{{/lambda.camelcase}}{{/lambda.swiftIdentifier}}({{/oneOfModel}}{{> tests/paramValue}}{{#oneOfModel}}){{/oneOfModel}}