try {{#isAsyncMethod}}await {{/isAsyncMethod}}client.{{method}}{{^isHelper}}WithHTTPInfo{{/isHelper}}({{#hasParams}}{{#parametersWithDataType}}{{> tests/generateParams }}{{^-last}}, {{/-last}}{{/parametersWithDataType}}{{/hasParams}}{{#hasRequestOptions}}{{#requestOptions}}, requestOptions: RequestOptions(
  {{#headers}}
  headers: [{{#parametersWithDataType}}"{{key}}": {{> tests/paramValue }}{{^-last}}, {{/-last}}{{/parametersWithDataType}}]{{#queryParameters}},{{/queryParameters}}
  {{/headers}}
  {{#queryParameters}}
  queryParameters: [{{#parametersWithDataType}}"{{key}}": {{> tests/paramValue }}{{^-last}}, {{/-last}}{{/parametersWithDataType}}]
  {{/queryParameters}}
  {{#timeouts.read}}
  readTimeout: TimeInterval({{.}}) / 1000
  {{/timeouts.read}}
  {{#timeouts.write}}
  writeTimeout: TimeInterval({{.}}) / 1000
  {{/timeouts.write}}
){{/requestOptions}}{{/hasRequestOptions}})