// swift-tools-version: 5.9

import PackageDescription

let libraries: [Target.Dependency] = [{{#packageList}}
  .product(
    name: "{{.}}",
    package: "algoliasearch-client-swift"
  ),{{/packageList}}
]

let package = Package(
  name: "AlgoliaSearchClientTests",
  platforms: [
    .macOS(.v11)
  ],
  dependencies: [
    .package(url: "https://github.com/swiftpackages/DotEnv.git", from: "3.0.0"),
    .package(path: "../../../clients/algoliasearch-client-swift"),
  ],
  targets: [
    .target(
        name: "Utils",
        dependencies: [
            .product(name: "Core", package: "algoliasearch-client-swift"),
            .product(name: "Search", package: "algoliasearch-client-swift")
        ],
        path: "Tests/Utils"
    ),
    .testTarget(
      name: "client",
      dependencies: [
        .target(name: "Utils"),
      ] + libraries
    ),
    .testTarget(
      name: "requests",
      dependencies: [
        .target(name: "Utils"),
      ] + libraries
    ),
    .testTarget(
      name: "e2e",
      dependencies: [
        .product(name: "DotEnv", package: "DotEnv"),
        .target(name: "Utils"),
      ] + libraries
    ),
    .testTarget(
      name: "benchmark",
      dependencies: [
        .target(name: "Utils"),
      ] + libraries
    ),
    .testTarget(
      name: "manual",
      dependencies: [
        .target(name: "Utils"),
      ] + libraries
    )
  ]
)