// swift-tools-version: 5.9

import PackageDescription

let package = Package(
  name: "AlgoliaSearchClientTests",
  dependencies: [
    .package(url: "https://github.com/Flight-School/AnyCodable", .upToNextMajor(from: "0.6.1")),
    .package(url: "https://github.com/swiftpackages/DotEnv.git", from: "3.0.0"),
    .package(path: "../../../clients/algoliasearch-client-swift"),
  ],
  targets: [
    .target(
        name: "Utils",
        dependencies: [
            .product(name: "AnyCodable", package: "AnyCodable")
        ],
        path: "Tests/Utils"
    ),
    .testTarget(
      name: "client",
      dependencies: [
        .product(name: "AnyCodable", package: "AnyCodable"),
        .target(name: "Utils"),{{#packageList}}
        .product(
          name: "{{.}}",
          package: "algoliasearch-client-swift"
        ),{{/packageList}}
      ]
    ),
    .testTarget(
      name: "requests",
      dependencies: [
        .product(name: "AnyCodable", package: "AnyCodable"),
        .product(name: "DotEnv", package: "DotEnv"),
        .target(name: "Utils"),{{#packageList}}
        .product(
          name: "{{.}}",
          package: "algoliasearch-client-swift"
        ),{{/packageList}}
      ]
    )
  ]
)