{{#isRoot}}{{key}} = {{/isRoot}}{{^isRoot}}{{#useAnonymousKey}}{{#isParentFreeFormObject}}"{{/isParentFreeFormObject}}{{key}}{{#isParentFreeFormObject}}"{{/isParentFreeFormObject}}: {{/useAnonymousKey}}{{/isRoot}}