{{^isSyncClient}}await {{/isSyncClient}}_client.{{#lambda.snakecase}}{{{method}}}{{/lambda.snakecase}}{{^isHelper}}{{#useEchoRequester}}_with_http_info{{/useEchoRequester}}{{/isHelper}}({{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}} request_options={ {{#requestOptions.headers.parameters}}"headers":loads("""{{{.}}}"""),{{/requestOptions.headers.parameters}}{{#requestOptions.queryParameters.parameters}}"query_parameters":loads("""{{{.}}}"""),{{/requestOptions.queryParameters.parameters}}{{#requestOptions.timeouts.parameters}}"timeouts":loads("""{{{.}}}"""),{{/requestOptions.timeouts.parameters}} }{{/hasRequestOptions}})