  * @throws AlgoliaRuntimeException If fail to process the API call, e.g. serializing the request body object
  {{#isDeprecated}}
  * @deprecated
  {{/isDeprecated}}
  {{#externalDocs}}
  * {{&description}}
  * @see <a href="{{url}}">{{&summary}} Documentation</a>
  {{/externalDocs}}
  */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}