  * @throws AlgoliaRuntimeException If it fails to process the API call
  {{#isDeprecated}}
  * @deprecated
  {{/isDeprecated}}
  {{#externalDocs}}
  * {{{description}}}
  * @see <a href="{{url}}">{{{summary}}} Documentation</a>
  {{/externalDocs}}
  */
  {{#isDeprecated}}
  @Deprecated
  {{/isDeprecated}}