package com.algolia.utils.echo;

import com.algolia.Pair;
import {{#apiInfo}}{{#apis}}{{{modelPackage}}}{{/apis}}{{/apiInfo}}.*;
import java.io.IOException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;

public class EchoResponse{{#apiInfo}}{{#apis}}{{{baseName}}}{{/apis}}{{/apiInfo}} {
  {{#apiInfo}}{{#apis}}
  {{#operations}}{{#operation}}

  public static class {{#lambda.titlecase}}{{{operationId}}}{{/lambda.titlecase}} extends {{{returnType}}} implements EchoResponseInterface {
    public String path;
    public String method;
    public String body;
    public List<Pair> queryParameters;

    public String getPath() {
      return path;
    }

    public String getMethod() {
      return method;
    }

    public String getBody() {
      return body;
    }

    public List<Pair> getQueryParams() {
      return queryParameters;
    }

    // to satisfy CompoundType in case it's a parent
    public Object getInsideValue() {
      return null;
    }
  }
  {{/operation}}{{/operations}}
  {{/apis}}{{/apiInfo}}
} 
