{{#vendorExtensions}}
  {{#isContainer}}{{#x-has-child-generic}}List<{{{complexType}}}<T>>{{/x-has-child-generic}}{{^x-has-child-generic}}{{#x-true-generic}}List<T>{{/x-true-generic}}{{^x-true-generic}}{{{datatypeWithEnum}}}{{/x-true-generic}}{{/x-has-child-generic}}{{/isContainer}}
  {{^isContainer}}{{#x-is-generic}}T{{/x-is-generic}}{{^x-is-generic}}{{{datatypeWithEnum}}}{{/x-is-generic}}{{/isContainer}}
{{/vendorExtensions}}
