{{#returnType}}{{#vendorExtensions.x-is-generic}}<T> CompletableFuture<{{{.}}}{{#vendorExtensions.x-return-is-generic}}<T>{{/vendorExtensions.x-return-is-generic}}>{{/vendorExtensions.x-is-generic}}{{^vendorExtensions.x-is-generic}}CompletableFuture<{{{.}}}>{{/vendorExtensions.x-is-generic}} {{/returnType}}{{^returnType}}CompletableFuture<Void> {{/returnType}}