{{^autoCreateClient}}val client = {{/autoCreateClient}}{{client}}(appId = "{{parametersWithDataTypeMap.appId.value}}", apiKey = "{{parametersWithDataTypeMap.apiKey.value}}",{{#hasRegionalHost}}{{#parametersWithDataTypeMap.region}}"{{parametersWithDataTypeMap.region.value}}",{{/parametersWithDataTypeMap.region}}{{/hasRegionalHost}}{{#hasCustomHosts}}options = ClientOptions(hosts = listOf({{#parametersWithDataTypeMap.customHosts.value}}Host(url = "{{value}}", protocol = "http"){{^-last}},{{/-last}}{{/parametersWithDataTypeMap.customHosts.value}})){{/hasCustomHosts}})