import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func deleteMultipleIndices() async throws {
  do {
    // You need an API key with `deleteIndex`
    {{> snippets/init}}

    // List all indices
    let indices = {{#dynamicSnippet}}listIndicesSimple{{/dynamicSnippet}}

    // Primary indices don't have a `primary` key
    let primaryIndices = indices.items.filter { $0.primary == nil }
    let replicaIndices = indices.items.filter { $0.primary != nil }

    // Delete primary indices first
    if primaryIndices.isEmpty == false {
        let requests = primaryIndices.map { MultipleBatchRequest(
          action: .delete,
          indexName: $0.name
        ) }
        {{#dynamicSnippet}}deleteMultipleIndicesPrimary{{/dynamicSnippet}}
        print("Deleted primary indices.")
    }

    // Now, delete replica indices
    if replicaIndices.isEmpty == false {
        let requests = replicaIndices.map { MultipleBatchRequest(
          action: .delete,
          indexName: $0.name
        ) }
        {{#dynamicSnippet}}deleteMultipleIndicesReplica{{/dynamicSnippet}}
        print("Deleted replica indices.")
    }
  } catch {
    print(error)
  }
}