import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func saveObjectsPublicUser() async throws {
  let playlists: [[String: AnyCodable]] = [] // Your records

  do {
    {{> snippets/init}}

    {{#dynamicSnippet}}saveObjectsPlaylistsWithUserIDPublic{{/dynamicSnippet}}
  } catch {
    print(error)
  }
}