import Foundation
import Core
{{> snippets/import}}

Task {
    let url = URL(string: "https://dashboard.algolia.com/sample_datasets/movie.json")!
    let (data, _) = try await URLSession.shared.data(from: url)
    let movies = try JSONDecoder().decode([AnyCodable].self, from: data)
    
    // Connect and authenticate with your Algolia app
    {{> snippets/init}}

    do {
        // Save records in Algolia index
        {{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
        exit(EXIT_SUCCESS)
    } catch {
        print(error.localizedDescription)
        exit(EXIT_FAILURE)
    }
}

RunLoop.current.run()