import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

let getAllAppIDConfigurations: () -> [(String, String)] = {
  return [/* A list of your MCM AppID/ApiKey pairs */]
}

let playlists: [[String: AnyCodable]] = [/* Your records */]

func saveObjectsMCM() async throws {
    // Fetch from your own data storage and with your own code
    // the list of application IDs and API keys to target each cluster
    let configurations = getAllAppIDConfigurations();

    // Send the records to each cluster
    for (appID, apiKey) in configurations {
      do {
        let client = try SearchClient(appID: appID, apiKey: apiKey)

        {{#dynamicSnippet}}saveObjectsPlaylists{{/dynamicSnippet}}
      } catch {
        print(error)
      }
    }

}