import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func searchInReplicaIndex() async throws {
  do {
    {{> snippets/init}}

    // 1. Change the sort dynamically based on the UI events
    let sortByPrice = false

    // 2. Get the index name based on sortByPrice
    let indexName = sortByPrice ? "products_price_desc" : "products"

    // 3. Search on dynamic index name (primary or replica)
    let _: SearchResponse<Hit> = {{#dynamicSnippet}}searchWithIndexNameVar{{/dynamicSnippet}}
  } catch {
    print(error)
  }
}
