import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func searchWithRuleContextBuyer() async throws {
  do {
    {{> snippets/init}}

    // get the buyer account information
    let buyer = getBuyerAccountId();
    let searchParams = SearchSearchParams.searchSearchParamsObject(
      SearchSearchParamsObject(query: "<YOUR_SEARCH_QUERY>", ruleContexts: [buyer])
    )

    let response: SearchResponse<Hit> = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
    print(response)
  } catch {
    print(error)
  }
}