import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

let getGoogleAnalyticsUserIdFromBrowserCookie = {(_: String) in
  "" // Implement your logic here
}

func searchWithGAToken() async throws {
  {{> snippets/init}}

  let userToken = getGoogleAnalyticsUserIdFromBrowserCookie("_ga");
  var searchParams = SearchSearchParams.searchSearchParamsObject(
    SearchSearchParamsObject(query: "<YOUR_SEARCH_QUERY>", userToken: userToken)
  )

  let _: SearchResponse<Hit> = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}

  let loggedInUser: String? = "..."
  searchParams = SearchSearchParams.searchSearchParamsObject(
      SearchSearchParamsObject(query: "<YOUR_SEARCH_QUERY>", userToken: loggedInUser ?? userToken)
  )

  let response: SearchResponse<Hit> = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
  print(response)
}