import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func setHeaderUserIDThenSaveObjects() async throws {
  do {
    {{> snippets/init}}

    for playlist in playlists {
      let playlistUserID = playlist.userID
      {{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}}
    }
  } catch {
    print(error)
  }
}