import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func setSettingsThenSaveObjects() async throws {
  for playlist in playlists {
    // Fetch from your own data storage and with your own code
    // the associated application ID and API key for this user
    let appID = getAppIDFor(playlist.user);
    let apiKey = getIndexingApiKeyFor(playlist.user);

    do {
      let client = try SearchClient(appID: appID, apiKey: apiKey)
      let settings = IndexSettings(
        attributesForFaceting: ["filterOnly(user)"]
      )
      {{#dynamicSnippet}}setSettings{{/dynamicSnippet}}

      {{#dynamicSnippet}}saveObjectsPlaylists{{/dynamicSnippet}}
    } catch {
      print(error)
    }
  }
}