// {{generationBanner}}
/* eslint-disable eslint/no-unused-vars */
import { describe, test, expect } from 'vitest';

import { {{{clientName}}} } from '{{{importPackage}}}';
import { nodeEchoRequester } from '@algolia/requester-testing';
import type { EchoResponse } from '@algolia/requester-testing';

const appId = 'test-app-id';
const apiKey = 'test-api-key';

function createClient() {
  return {{{clientName}}}(appId, apiKey{{#isStandaloneClient}}, {{#hasRegionalHost}}'{{{defaultRegion}}}', {{/hasRegionalHost}} { requester: nodeEchoRequester() }{{/isStandaloneClient}}){{^isStandaloneClient}}.{{{initMethod}}}({ options: { requester: nodeEchoRequester() }, {{#hasRegionalHost}} region:'{{{defaultRegion}}}' {{/hasRegionalHost}} });{{/isStandaloneClient}};
}

{{#blocksClient}}
{{> tests/client/tests}}
{{/blocksClient}}

{{^isCompositionClient}}
describe('init', () => {
  test('sets authMode', async () => {
    const qpClient =  {{{clientName}}}('foo', 'bar'{{#isStandaloneClient}},{{#hasRegionalHost}}'{{{defaultRegion}}}', {{/hasRegionalHost}} { requester: nodeEchoRequester(), authMode: 'WithinQueryParameters' }{{/isStandaloneClient}}){{^isStandaloneClient}}.{{{initMethod}}}({ options: { requester: nodeEchoRequester(), authMode: 'WithinQueryParameters' }, {{#hasRegionalHost}} region:'{{{defaultRegion}}}' {{/hasRegionalHost}} });{{/isStandaloneClient}};
    const headerClient =  {{{clientName}}}('foo', 'bar'{{#isStandaloneClient}},{{#hasRegionalHost}}'{{{defaultRegion}}}', {{/hasRegionalHost}} { requester: nodeEchoRequester(), authMode: 'WithinHeaders' }{{/isStandaloneClient}}){{^isStandaloneClient}}.{{{initMethod}}}({ options: { requester: nodeEchoRequester(), authMode: 'WithinHeaders' }, {{#hasRegionalHost}} region:'{{{defaultRegion}}}' {{/hasRegionalHost}} });{{/isStandaloneClient}};

    const qpResult = (await qpClient.customGet({
      path: '1/foo',
    })) as unknown as EchoResponse;
    expect(qpResult.searchParams).toEqual({
      'x-algolia-api-key': 'bar',
      'x-algolia-application-id': 'foo',
    });

    const headerResult = (await headerClient.customGet({
      path: '1/bar',
    })) as unknown as EchoResponse;
    expect(headerResult.headers).toEqual({
      accept: 'application/json',
      'content-type': 'text/plain',
      'x-algolia-api-key': 'bar',
      'x-algolia-application-id': 'foo',
    });
  });
});
{{/isCompositionClient}}