// {{generationBanner}}
/* eslint-disable eslint/no-unused-vars */
// @ts-nocheck Failing tests will have type errors, but we cannot suppress them even with @ts-expect-error because it doesn't work for a block of lines.
import { describe, test, expect } from 'vitest';

import { {{{clientName}}} } from '{{{importPackage}}}';
import { nodeEchoRequester } from '@algolia/requester-testing';
import type { EchoResponse } from '@algolia/requester-testing';

const appId = 'test-app-id';
const apiKey = 'test-api-key';

function createClient() {
  return {{{clientName}}}(appId, apiKey, { requester: nodeEchoRequester() }){{^isSearchClient}}.{{{initMethod}}}({{#hasRegionalHost}} {region:'{{{defaultRegion}}}'} {{/hasRegionalHost}}){{/isSearchClient}};
}

{{#blocksClient}}
{{> tests/client/tests}}
{{/blocksClient}}

describe('init', () => {
  test('sets authMode', async () => {
    const qpClient = {{{clientName}}}('foo', 'bar', { requester: nodeEchoRequester(), authMode: 'WithinQueryParameters' }){{^isSearchClient}}.{{{initMethod}}}({{#hasRegionalHost}} {region:'us'} {{/hasRegionalHost}}){{/isSearchClient}};
    const headerClient = {{{clientName}}}('foo', 'bar', { requester: nodeEchoRequester(), authMode: 'WithinHeaders' }){{^isSearchClient}}.{{{initMethod}}}({{#hasRegionalHost}} {region:'us'} {{/hasRegionalHost}}){{/isSearchClient}};

    const qpResult = (await qpClient.customGet({
      path: '1/foo',
    })) as unknown as EchoResponse;
    expect(qpResult.searchParams).toEqual({
      'x-algolia-api-key': 'bar',
      'x-algolia-application-id': 'foo',
    });

    const headerResult = (await headerClient.customGet({
      path: '1/bar',
    })) as unknown as EchoResponse;
    expect(headerResult.headers).toEqual({
      accept: 'application/json',
      'content-type': 'text/plain',
      'x-algolia-api-key': 'bar',
      'x-algolia-application-id': 'foo',
    });
  });
});