{{^autoCreateClient}}const $client = {{/autoCreateClient}}{{client}}('{{parametersWithDataTypeMap.appId.value}}','{{parametersWithDataTypeMap.apiKey.value}}',{{#hasRegionalHost}}'{{parametersWithDataTypeMap.region.value}}',{{/hasRegionalHost}}{ {{#useEchoRequester}}requester: echoRequester(),{{/useEchoRequester}}{{#hasCustomHosts}}hosts:[{{#parametersWithDataTypeMap.customHosts.value}}{ url: '{{value}}', accept: 'readWrite', protocol: 'http' },{{/parametersWithDataTypeMap.customHosts.value}}]{{/hasCustomHosts}} });