const result = await ({{object}}{{#path}}.{{.}}{{/path}}({{{parameters}}}, {{#requestOptions}}{{{parameters}}}{{/requestOptions}})){{#useEchoRequester}} as unknown as EchoResponse{{/useEchoRequester}};