{{#isCreateClient}}
  const result{{stepIndex}} = {{> client/createClient}}
  const $client = result{{stepIndex}};
{{/isCreateClient}}
{{#isVariable}}
  const result{{stepIndex}} = {{> client/variable}}
{{/isVariable}}
{{#isMethod}}
  const result{{stepIndex}} = await {{> client/method}}
{{/isMethod}}