{{#isCreateClient}}
  {{> client/createClient}}
  const $client = result;
{{/isCreateClient}}
{{#isVariable}}
  {{> client/variable}}
{{/isVariable}}
{{#isMethod}}
  await {{> client/method}}
{{/isMethod}}