{{#isFirstLevel}}{{#isString}}"{{{value}}}"{{^-last}},{{/-last}}{{/isString}}
{{#isInteger}}{{{value}}}{{^-last}},{{/-last}}{{/isInteger}}
{{#isDouble}}{{{value}}}{{^-last}},{{/-last}}{{/isDouble}}
{{#isBoolean}}{{{value}}}{{^-last}},{{/-last}}{{/isBoolean}}
{{#isEnum}}"{{{value}}}"{{^-last}},{{/-last}}{{/isEnum}}
{{#isArray}}["{{{key}}}" => {{#value}}{{> generateParams}}{{/value}}]{{^-last}},{{/-last}}{{/isArray}}
{{#isObject}}{{#value}}{{> generateParams}}{{/value}}{{^-last}},{{/-last}}{{/isObject}}
{{#isFreeFormObject}}{{#value}}[{{> generateParams}}]{{/value}}{{^-last}},{{/-last}}{{/isFreeFormObject}}
{{/isFirstLevel}}
{{^isFirstLevel}}
{{#isString}}{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} "{{{value}}}"{{^-last}},{{/-last}}{{/isString}}
{{#isInteger}}{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} {{{value}}}{{^-last}},{{/-last}}{{/isInteger}}
{{#isDouble}}{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} {{{value}}}{{^-last}},{{/-last}}{{/isDouble}}
{{#isBoolean}}{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} {{{value}}}{{^-last}},{{/-last}}{{/isBoolean}}
{{#isEnum}}{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} "{{{value}}}"{{^-last}},{{/-last}}{{/isEnum}}
{{#isArray}}[{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} [{{#value}}{{> generateParams}}{{/value}}]]{{^-last}},{{/-last}}{{/isArray}}
{{#isObject}}{{^hasGeneratedKey}}"{{{key}}}" =>{{/hasGeneratedKey}} [{{#value}}{{> generateParams}}{{/value}}]{{^-last}},{{/-last}}{{/isObject}}
{{#isFreeFormObject}}{{#value}}[{{> generateParams}}]{{/value}}{{^-last}},{{/-last}}{{/isFreeFormObject}}
{{/isFirstLevel}}