// Code generated by OpenAPI Generator (https://openapi-generator.tech), manual changes will be lost - read more on https://github.com/algolia/api-clients-automation. DO NOT EDIT.

import 'package:algolia_client_core/algolia_client_core.dart';
import 'package:algolia_client_agent_studio/src/deserialize.dart';
import 'package:algolia_client_agent_studio/src/version.dart';

import 'package:algolia_client_agent_studio/src/model/agent_completion_request.dart';
import 'package:algolia_client_agent_studio/src/model/agent_config_create.dart';
import 'package:algolia_client_agent_studio/src/model/agent_config_update.dart';
import 'package:algolia_client_agent_studio/src/model/agent_with_version_response.dart';
import 'package:algolia_client_agent_studio/src/model/allowed_domain_bulk_delete.dart';
import 'package:algolia_client_agent_studio/src/model/allowed_domain_bulk_insert.dart';
import 'package:algolia_client_agent_studio/src/model/allowed_domain_create.dart';
import 'package:algolia_client_agent_studio/src/model/allowed_domain_list_response.dart';
import 'package:algolia_client_agent_studio/src/model/allowed_domain_response.dart';
import 'package:algolia_client_agent_studio/src/model/application_config_patch.dart';
import 'package:algolia_client_agent_studio/src/model/application_config_response.dart';
import 'package:algolia_client_agent_studio/src/model/compatibility_mode.dart';
import 'package:algolia_client_agent_studio/src/model/conversation_full_response.dart';
import 'package:algolia_client_agent_studio/src/model/feedback_creation_request.dart';
import 'package:algolia_client_agent_studio/src/model/feedback_response.dart';
import 'package:algolia_client_agent_studio/src/model/paginated_agents_response.dart';
import 'package:algolia_client_agent_studio/src/model/paginated_conversations_response.dart';
import 'package:algolia_client_agent_studio/src/model/paginated_provider_authentications_response.dart';
import 'package:algolia_client_agent_studio/src/model/paginated_secret_keys_response.dart';
import 'package:algolia_client_agent_studio/src/model/provider_authentication_create.dart';
import 'package:algolia_client_agent_studio/src/model/provider_authentication_patch.dart';
import 'package:algolia_client_agent_studio/src/model/provider_authentication_response.dart';
import 'package:algolia_client_agent_studio/src/model/secret_key_create.dart';
import 'package:algolia_client_agent_studio/src/model/secret_key_patch.dart';
import 'package:algolia_client_agent_studio/src/model/secret_key_response.dart';
import 'package:algolia_client_agent_studio/src/model/user_data_response.dart';

final class AgentStudioClient implements ApiClient {
  @override
  final ClientOptions options;

  final RetryStrategy _retryStrategy;

  AgentStudioClient({
    required String appId,
    required String apiKey,
    this.options = const ClientOptions(),
  }) : _retryStrategy = RetryStrategy.create(
          segment: AgentSegment(value: "AgentStudio", version: packageVersion),
          appId: appId,
          apiKey: apiKey,
          options: ClientOptions(
            connectTimeout: Duration(milliseconds: 25000),
            readTimeout: Duration(milliseconds: 25000),
            writeTimeout: Duration(milliseconds: 25000),
            hosts: options.hosts,
            headers: options.headers,
            agentSegments: options.agentSegments,
            logger: options.logger,
            requester: options.requester,
            interceptors: options.interceptors,
            httpClientAdapter: options.httpClientAdapter,
            compression: options.compression,
          ),
          defaultHosts: () =>
              [
                Host(url: '$appId-dsn.algolia.net', callType: CallType.read),
                Host(url: '$appId.algolia.net', callType: CallType.write),
              ] +
              ([
                Host(url: '$appId-1.algolianet.com'),
                Host(url: '$appId-2.algolianet.com'),
                Host(url: '$appId-3.algolianet.com'),
              ]..shuffle()),
        ) {
    assert(appId.isNotEmpty, '`appId` is missing.');
    assert(apiKey.isNotEmpty, '`apiKey` is missing.');
  }

  /// Allows to switch the API key used to authenticate requests.
  @override
  void setClientApiKey({required String apiKey}) {
    _retryStrategy.requester.setClientApiKey(apiKey);
  }

  /// Add multiple allowed domain patterns. Duplicates are skipped.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [allowedDomainBulkInsert]
  /// * [requestOptions] additional request configuration.
  Future<AllowedDomainListResponse> bulkCreateAllowedDomains({
    required String agentId,
    required AllowedDomainBulkInsert allowedDomainBulkInsert,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `bulkCreateAllowedDomains`.');
    }
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/agents/{agentId}/allowed-domains/bulk'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      body: allowedDomainBulkInsert.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AllowedDomainListResponse, AllowedDomainListResponse>(
      response,
      'AllowedDomainListResponse',
      growable: true,
    );
  }

  /// Delete allowed domains by id list.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [allowedDomainBulkDelete]
  /// * [requestOptions] additional request configuration.
  Future<void> bulkDeleteAllowedDomains({
    required String agentId,
    required AllowedDomainBulkDelete allowedDomainBulkDelete,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `bulkDeleteAllowedDomains`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/agents/{agentId}/allowed-domains/bulk'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      body: allowedDomainBulkDelete.toJson(),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Create a new agent.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentConfigCreate]
  /// * [requestOptions] additional request configuration.
  Future<AgentWithVersionResponse> createAgent({
    required AgentConfigCreate agentConfigCreate,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/agents',
      body: agentConfigCreate.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AgentWithVersionResponse, AgentWithVersionResponse>(
      response,
      'AgentWithVersionResponse',
      growable: true,
    );
  }

  /// Add a single allowed domain pattern (e.g. https://app.example.com or *.example.com).
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [allowedDomainCreate]
  /// * [requestOptions] additional request configuration.
  Future<AllowedDomainResponse> createAgentAllowedDomain({
    required String agentId,
    required AllowedDomainCreate allowedDomainCreate,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `createAgentAllowedDomain`.');
    }
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/agents/{agentId}/allowed-domains'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      body: allowedDomainCreate.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AllowedDomainResponse, AllowedDomainResponse>(
      response,
      'AllowedDomainResponse',
      growable: true,
    );
  }

  /// Create a completion for the specified agent.  This endpoint handles two types of requests: 1. Normal completion request: User message -> Agent response 2. Tool approval response: User approval -> Execute tool -> Agent response  Tool Approval Flow (for MCP tools with requiresApproval: true): - Request 1: User sends message -> Agent requests tool call -> Return approval request - Request 2: User approves -> Execute tool -> Agent continues with result.
  ///
  /// Required API Key ACLs:
  ///   - search
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [compatibilityMode] Compatibility mode for the completion API.
  /// * [agentCompletionRequest]
  /// * [stream] Whether to stream the response or not.
  /// * [cache] Use cached responses if available.
  /// * [memory] Set to false to disable memory (enabled by default).
  /// * [analytics] Set to false to skip analytics for this completion (default: true). Disables Agent Studio BigQuery analytics, Algolia search analytics, click analytics, and query-suggestions training. Useful for offline-eval workflows.
  /// * [xAlgoliaSecureUserToken] The X-Algolia-Secure-User-Token.
  /// * [requestOptions] additional request configuration.
  Future<Map<String, Object>> createAgentCompletion({
    required String agentId,
    required CompatibilityMode compatibilityMode,
    required AgentCompletionRequest agentCompletionRequest,
    bool? stream,
    bool? cache,
    bool? memory,
    bool? analytics,
    String? xAlgoliaSecureUserToken,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `createAgentCompletion`.');
    }
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/agents/{agentId}/completions'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      headers: {
        if (xAlgoliaSecureUserToken != null)
          'X-Algolia-Secure-User-Token': xAlgoliaSecureUserToken,
      },
      queryParams: {
        'compatibilityMode': compatibilityMode,
        if (stream != null) 'stream': stream,
        if (cache != null) 'cache': cache,
        if (memory != null) 'memory': memory,
        if (analytics != null) 'analytics': analytics,
      },
      body: agentCompletionRequest.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<Map<String, Object>, Object>(
      response,
      'Map<String, Object>',
      growable: true,
    );
  }

  /// Create new feedback entry.
  ///
  /// Required API Key ACLs:
  ///   - search
  ///
  /// Parameters:
  /// * [feedbackCreationRequest]
  /// * [requestOptions] additional request configuration.
  Future<FeedbackResponse> createFeedback({
    required FeedbackCreationRequest feedbackCreationRequest,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/feedback',
      body: feedbackCreationRequest.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<FeedbackResponse, FeedbackResponse>(
      response,
      'FeedbackResponse',
      growable: true,
    );
  }

  /// Create Provider.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [providerAuthenticationCreate]
  /// * [requestOptions] additional request configuration.
  Future<ProviderAuthenticationResponse> createProvider({
    required ProviderAuthenticationCreate providerAuthenticationCreate,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/providers',
      body: providerAuthenticationCreate.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<ProviderAuthenticationResponse,
        ProviderAuthenticationResponse>(
      response,
      'ProviderAuthenticationResponse',
      growable: true,
    );
  }

  /// Create Secret Key.
  ///
  /// Required API Key ACLs:
  ///   - admin
  ///
  /// Parameters:
  /// * [secretKeyCreate]
  /// * [requestOptions] additional request configuration.
  Future<SecretKeyResponse> createSecretKey({
    required SecretKeyCreate secretKeyCreate,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/secret-keys',
      body: secretKeyCreate.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<SecretKeyResponse, SecretKeyResponse>(
      response,
      'SecretKeyResponse',
      growable: true,
    );
  }

  /// This method lets you send requests to the Algolia REST API.
  ///
  /// Parameters:
  /// * [path] Path of the endpoint, for example `1/newFeature`.
  /// * [parameters] Query parameters to apply to the current query.
  /// * [requestOptions] additional request configuration.
  Future<Object> customDelete({
    required String path,
    Map<String, Object>? parameters,
    RequestOptions? requestOptions,
  }) async {
    if (path.isEmpty) {
      throw ArgumentError(
          'Parameter `path` is required when calling `customDelete`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/{path}'.replaceAll('{' r'path' '}', path),
      queryParams: {
        ...?parameters,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    if (response == null) return AlgoliaNoResponse();
    return deserialize<Object, Object>(
      response,
      'Object',
      growable: true,
    );
  }

  /// This method lets you send requests to the Algolia REST API.
  ///
  /// Parameters:
  /// * [path] Path of the endpoint, for example `1/newFeature`.
  /// * [parameters] Query parameters to apply to the current query.
  /// * [requestOptions] additional request configuration.
  Future<Object> customGet({
    required String path,
    Map<String, Object>? parameters,
    RequestOptions? requestOptions,
  }) async {
    if (path.isEmpty) {
      throw ArgumentError(
          'Parameter `path` is required when calling `customGet`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/{path}'.replaceAll('{' r'path' '}', path),
      queryParams: {
        ...?parameters,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    if (response == null) return AlgoliaNoResponse();
    return deserialize<Object, Object>(
      response,
      'Object',
      growable: true,
    );
  }

  /// This method lets you send requests to the Algolia REST API.
  ///
  /// Parameters:
  /// * [path] Path of the endpoint, for example `1/newFeature`.
  /// * [parameters] Query parameters to apply to the current query.
  /// * [body] Parameters to send with the custom request.
  /// * [requestOptions] additional request configuration.
  Future<Object> customPost({
    required String path,
    Map<String, Object>? parameters,
    Object? body,
    RequestOptions? requestOptions,
  }) async {
    if (path.isEmpty) {
      throw ArgumentError(
          'Parameter `path` is required when calling `customPost`.');
    }
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/{path}'.replaceAll('{' r'path' '}', path),
      queryParams: {
        ...?parameters,
      },
      body: body,
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    if (response == null) return AlgoliaNoResponse();
    return deserialize<Object, Object>(
      response,
      'Object',
      growable: true,
    );
  }

  /// This method lets you send requests to the Algolia REST API.
  ///
  /// Parameters:
  /// * [path] Path of the endpoint, for example `1/newFeature`.
  /// * [parameters] Query parameters to apply to the current query.
  /// * [body] Parameters to send with the custom request.
  /// * [requestOptions] additional request configuration.
  Future<Object> customPut({
    required String path,
    Map<String, Object>? parameters,
    Object? body,
    RequestOptions? requestOptions,
  }) async {
    if (path.isEmpty) {
      throw ArgumentError(
          'Parameter `path` is required when calling `customPut`.');
    }
    final request = ApiRequest(
      method: RequestMethod.put,
      path: r'/agent-studio/{path}'.replaceAll('{' r'path' '}', path),
      queryParams: {
        ...?parameters,
      },
      body: body,
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    if (response == null) return AlgoliaNoResponse();
    return deserialize<Object, Object>(
      response,
      'Object',
      growable: true,
    );
  }

  /// Delete the specified agent.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<void> deleteAgent({
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `deleteAgent`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/agents/{agentId}'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Deletes the conversations matching the given filers.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [startDate] Filter conversations created after this date (format: YYYY-MM-DD).
  /// * [endDate] Filter conversations created before this date (format: YYYY-MM-DD).
  /// * [requestOptions] additional request configuration.
  Future<void> deleteAgentConversations({
    required String agentId,
    String? startDate,
    String? endDate,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `deleteAgentConversations`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/agents/{agentId}/conversations'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      queryParams: {
        if (startDate != null) 'startDate': startDate,
        if (endDate != null) 'endDate': endDate,
      },
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Remove an allowed domain by id.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [domainId] The domainId.
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<void> deleteAllowedDomain({
    required String domainId,
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (domainId.isEmpty) {
      throw ArgumentError(
          'Parameter `domainId` is required when calling `deleteAllowedDomain`.');
    }
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `deleteAllowedDomain`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/agents/{agentId}/allowed-domains/{domainId}'
          .replaceAll(
              '{' r'domainId' '}', Uri.encodeComponent(domainId.toString()))
          .replaceAll(
              '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Deletes the conversation with the given ID.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [conversationId] The conversationId.
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<void> deleteConversation({
    required String conversationId,
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (conversationId.isEmpty) {
      throw ArgumentError(
          'Parameter `conversationId` is required when calling `deleteConversation`.');
    }
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `deleteConversation`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/agents/{agentId}/conversations/{conversationId}'
          .replaceAll('{' r'conversationId' '}',
              Uri.encodeComponent(conversationId.toString()))
          .replaceAll(
              '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Delete Provider.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [providerId] The providerId.
  /// * [requestOptions] additional request configuration.
  Future<void> deleteProvider({
    required String providerId,
    RequestOptions? requestOptions,
  }) async {
    if (providerId.isEmpty) {
      throw ArgumentError(
          'Parameter `providerId` is required when calling `deleteProvider`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/providers/{providerId}'.replaceAll(
          '{' r'providerId' '}', Uri.encodeComponent(providerId.toString())),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Delete Secret Key.
  ///
  /// Required API Key ACLs:
  ///   - admin
  ///
  /// Parameters:
  /// * [secretKeyId] The secretKeyId.
  /// * [requestOptions] additional request configuration.
  Future<void> deleteSecretKey({
    required String secretKeyId,
    RequestOptions? requestOptions,
  }) async {
    if (secretKeyId.isEmpty) {
      throw ArgumentError(
          'Parameter `secretKeyId` is required when calling `deleteSecretKey`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/secret-keys/{secretKeyId}'.replaceAll(
          '{' r'secretKeyId' '}', Uri.encodeComponent(secretKeyId.toString())),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Permanently deletes all messages for the given user token. Does not delete conversations.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [userToken] The userToken.
  /// * [requestOptions] additional request configuration.
  Future<void> deleteUserData({
    required String userToken,
    RequestOptions? requestOptions,
  }) async {
    if (userToken.isEmpty) {
      throw ArgumentError(
          'Parameter `userToken` is required when calling `deleteUserData`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/user-data/{userToken}'.replaceAll(
          '{' r'userToken' '}', Uri.encodeComponent(userToken.toString())),
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// Exports all conversations based on the passed filters.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [startDate] Filter conversations created after this date (format: YYYY-MM-DD).
  /// * [endDate] Filter conversations created before this date (format: YYYY-MM-DD).
  /// * [requestOptions] additional request configuration.
  Future<List<ConversationFullResponse>> exportConversations({
    required String agentId,
    String? startDate,
    String? endDate,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `exportConversations`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents/{agentId}/conversations/export'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      queryParams: {
        if (startDate != null) 'startDate': startDate,
        if (endDate != null) 'endDate': endDate,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<List<ConversationFullResponse>,
        ConversationFullResponse>(
      response,
      'List<ConversationFullResponse>',
      growable: true,
    );
  }

  /// Retrieve details of the specified agent.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<AgentWithVersionResponse> getAgent({
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `getAgent`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents/{agentId}'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AgentWithVersionResponse, AgentWithVersionResponse>(
      response,
      'AgentWithVersionResponse',
      growable: true,
    );
  }

  /// Get a single allowed domain by id.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [domainId] The domainId.
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<AllowedDomainResponse> getAllowedDomain({
    required String domainId,
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (domainId.isEmpty) {
      throw ArgumentError(
          'Parameter `domainId` is required when calling `getAllowedDomain`.');
    }
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `getAllowedDomain`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents/{agentId}/allowed-domains/{domainId}'
          .replaceAll(
              '{' r'domainId' '}', Uri.encodeComponent(domainId.toString()))
          .replaceAll(
              '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AllowedDomainResponse, AllowedDomainResponse>(
      response,
      'AllowedDomainResponse',
      growable: true,
    );
  }

  /// Get Configuration.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [requestOptions] additional request configuration.
  Future<ApplicationConfigResponse> getConfiguration({
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/configuration',
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<ApplicationConfigResponse, ApplicationConfigResponse>(
      response,
      'ApplicationConfigResponse',
      growable: true,
    );
  }

  /// Retrieves the conversation and its messages for the given ID.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [conversationId] The conversationId.
  /// * [agentId] The agentId.
  /// * [includeFeedback] Include feedback for the conversation.
  /// * [xAlgoliaSecureUserToken] The X-Algolia-Secure-User-Token.
  /// * [requestOptions] additional request configuration.
  Future<ConversationFullResponse> getConversation({
    required String conversationId,
    required String agentId,
    bool? includeFeedback,
    String? xAlgoliaSecureUserToken,
    RequestOptions? requestOptions,
  }) async {
    if (conversationId.isEmpty) {
      throw ArgumentError(
          'Parameter `conversationId` is required when calling `getConversation`.');
    }
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `getConversation`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents/{agentId}/conversations/{conversationId}'
          .replaceAll('{' r'conversationId' '}',
              Uri.encodeComponent(conversationId.toString()))
          .replaceAll(
              '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      headers: {
        if (xAlgoliaSecureUserToken != null)
          'X-Algolia-Secure-User-Token': xAlgoliaSecureUserToken,
      },
      queryParams: {
        if (includeFeedback != null) 'includeFeedback': includeFeedback,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<ConversationFullResponse, ConversationFullResponse>(
      response,
      'ConversationFullResponse',
      growable: true,
    );
  }

  /// Get Provider.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [providerId] The providerId.
  /// * [requestOptions] additional request configuration.
  Future<ProviderAuthenticationResponse> getProvider({
    required String providerId,
    RequestOptions? requestOptions,
  }) async {
    if (providerId.isEmpty) {
      throw ArgumentError(
          'Parameter `providerId` is required when calling `getProvider`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/providers/{providerId}'.replaceAll(
          '{' r'providerId' '}', Uri.encodeComponent(providerId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<ProviderAuthenticationResponse,
        ProviderAuthenticationResponse>(
      response,
      'ProviderAuthenticationResponse',
      growable: true,
    );
  }

  /// Get Secret Key.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [secretKeyId] The secretKeyId.
  /// * [requestOptions] additional request configuration.
  Future<SecretKeyResponse> getSecretKey({
    required String secretKeyId,
    RequestOptions? requestOptions,
  }) async {
    if (secretKeyId.isEmpty) {
      throw ArgumentError(
          'Parameter `secretKeyId` is required when calling `getSecretKey`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/secret-keys/{secretKeyId}'.replaceAll(
          '{' r'secretKeyId' '}', Uri.encodeComponent(secretKeyId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<SecretKeyResponse, SecretKeyResponse>(
      response,
      'SecretKeyResponse',
      growable: true,
    );
  }

  /// Retrieves all memories, conversations and their messages for the given user token.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [userToken] The userToken.
  /// * [requestOptions] additional request configuration.
  Future<UserDataResponse> getUserData({
    required String userToken,
    RequestOptions? requestOptions,
  }) async {
    if (userToken.isEmpty) {
      throw ArgumentError(
          'Parameter `userToken` is required when calling `getUserData`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/user-data/{userToken}'.replaceAll(
          '{' r'userToken' '}', Uri.encodeComponent(userToken.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<UserDataResponse, UserDataResponse>(
      response,
      'UserDataResponse',
      growable: true,
    );
  }

  /// Invalidate cached completions for this agent. Filter with `before` (exclusive).
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [before] Delete entries strictly before this date (exclusive, YYYY-MM-DD).
  /// * [requestOptions] additional request configuration.
  Future<void> invalidateAgentCache({
    required String agentId,
    String? before,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `invalidateAgentCache`.');
    }
    final request = ApiRequest(
      method: RequestMethod.delete,
      path: r'/agent-studio/1/agents/{agentId}/cache'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      queryParams: {
        if (before != null) 'before': before,
      },
    );
    await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
  }

  /// List all allowed domain patterns for this agent.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<AllowedDomainListResponse> listAgentAllowedDomains({
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `listAgentAllowedDomains`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents/{agentId}/allowed-domains'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AllowedDomainListResponse, AllowedDomainListResponse>(
      response,
      'AllowedDomainListResponse',
      growable: true,
    );
  }

  /// Retrieves the conversations for the given agent ID.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [startDate] Filter conversations created after this date (format: YYYY-MM-DD).
  /// * [endDate] Filter conversations created before this date (format: YYYY-MM-DD).
  /// * [includeFeedback] Include feedback per conversation.
  /// * [feedbackVote] Filter by feedback value (requires includeFeedback=true).
  /// * [page] Page number.
  /// * [limit] Items per page.
  /// * [xAlgoliaSecureUserToken] The X-Algolia-Secure-User-Token.
  /// * [requestOptions] additional request configuration.
  Future<PaginatedConversationsResponse> listAgentConversations({
    required String agentId,
    String? startDate,
    String? endDate,
    bool? includeFeedback,
    int? feedbackVote,
    int? page,
    int? limit,
    String? xAlgoliaSecureUserToken,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `listAgentConversations`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents/{agentId}/conversations'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      headers: {
        if (xAlgoliaSecureUserToken != null)
          'X-Algolia-Secure-User-Token': xAlgoliaSecureUserToken,
      },
      queryParams: {
        if (startDate != null) 'startDate': startDate,
        if (endDate != null) 'endDate': endDate,
        if (includeFeedback != null) 'includeFeedback': includeFeedback,
        if (feedbackVote != null) 'feedbackVote': feedbackVote,
        if (page != null) 'page': page,
        if (limit != null) 'limit': limit,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<PaginatedConversationsResponse,
        PaginatedConversationsResponse>(
      response,
      'PaginatedConversationsResponse',
      growable: true,
    );
  }

  /// List all agents with pagination and filtering.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [page] Page number.
  /// * [limit] Items per page.
  /// * [providerId] Filter by provider id.
  /// * [requestOptions] additional request configuration.
  Future<PaginatedAgentsResponse> listAgents({
    int? page,
    int? limit,
    String? providerId,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/agents',
      queryParams: {
        if (page != null) 'page': page,
        if (limit != null) 'limit': limit,
        if (providerId != null) 'providerId': providerId,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<PaginatedAgentsResponse, PaginatedAgentsResponse>(
      response,
      'PaginatedAgentsResponse',
      growable: true,
    );
  }

  /// Get Provider Models.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [requestOptions] additional request configuration.
  Future<Map<String, List<String>>> listModels({
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/providers/models',
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<Map<String, List<String>>, List>(
      response,
      'Map<String, List<String>>',
      growable: true,
    );
  }

  /// Get available models for a specific provider.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [providerId] The providerId.
  /// * [requestOptions] additional request configuration.
  Future<List<String>> listProviderModels({
    required String providerId,
    RequestOptions? requestOptions,
  }) async {
    if (providerId.isEmpty) {
      throw ArgumentError(
          'Parameter `providerId` is required when calling `listProviderModels`.');
    }
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/providers/{providerId}/models'.replaceAll(
          '{' r'providerId' '}', Uri.encodeComponent(providerId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<List<String>, String>(
      response,
      'List<String>',
      growable: true,
    );
  }

  /// List Providers.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [page] Page number.
  /// * [limit] Items per page.
  /// * [requestOptions] additional request configuration.
  Future<PaginatedProviderAuthenticationsResponse> listProviders({
    int? page,
    int? limit,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/providers',
      queryParams: {
        if (page != null) 'page': page,
        if (limit != null) 'limit': limit,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<PaginatedProviderAuthenticationsResponse,
        PaginatedProviderAuthenticationsResponse>(
      response,
      'PaginatedProviderAuthenticationsResponse',
      growable: true,
    );
  }

  /// List Secret Keys.
  ///
  /// Required API Key ACLs:
  ///   - settings
  ///
  /// Parameters:
  /// * [page] Page number.
  /// * [limit] Items per page.
  /// * [requestOptions] additional request configuration.
  Future<PaginatedSecretKeysResponse> listSecretKeys({
    int? page,
    int? limit,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.get,
      path: r'/agent-studio/1/secret-keys',
      queryParams: {
        if (page != null) 'page': page,
        if (limit != null) 'limit': limit,
      },
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<PaginatedSecretKeysResponse,
        PaginatedSecretKeysResponse>(
      response,
      'PaginatedSecretKeysResponse',
      growable: true,
    );
  }

  /// Publish the specified agent.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<AgentWithVersionResponse> publishAgent({
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `publishAgent`.');
    }
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/agents/{agentId}/publish'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AgentWithVersionResponse, AgentWithVersionResponse>(
      response,
      'AgentWithVersionResponse',
      growable: true,
    );
  }

  /// Unpublish the specified agent.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [requestOptions] additional request configuration.
  Future<AgentWithVersionResponse> unpublishAgent({
    required String agentId,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `unpublishAgent`.');
    }
    final request = ApiRequest(
      method: RequestMethod.post,
      path: r'/agent-studio/1/agents/{agentId}/unpublish'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AgentWithVersionResponse, AgentWithVersionResponse>(
      response,
      'AgentWithVersionResponse',
      growable: true,
    );
  }

  /// Update the specified agent.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [agentId] The agentId.
  /// * [agentConfigUpdate]
  /// * [requestOptions] additional request configuration.
  Future<AgentWithVersionResponse> updateAgent({
    required String agentId,
    required AgentConfigUpdate agentConfigUpdate,
    RequestOptions? requestOptions,
  }) async {
    if (agentId.isEmpty) {
      throw ArgumentError(
          'Parameter `agentId` is required when calling `updateAgent`.');
    }
    final request = ApiRequest(
      method: RequestMethod.patch,
      path: r'/agent-studio/1/agents/{agentId}'.replaceAll(
          '{' r'agentId' '}', Uri.encodeComponent(agentId.toString())),
      body: agentConfigUpdate.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<AgentWithVersionResponse, AgentWithVersionResponse>(
      response,
      'AgentWithVersionResponse',
      growable: true,
    );
  }

  /// Patch Configuration.
  ///
  /// Required API Key ACLs:
  ///   - logs
  ///
  /// Parameters:
  /// * [applicationConfigPatch]
  /// * [requestOptions] additional request configuration.
  Future<ApplicationConfigResponse> updateConfiguration({
    required ApplicationConfigPatch applicationConfigPatch,
    RequestOptions? requestOptions,
  }) async {
    final request = ApiRequest(
      method: RequestMethod.patch,
      path: r'/agent-studio/1/configuration',
      body: applicationConfigPatch.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<ApplicationConfigResponse, ApplicationConfigResponse>(
      response,
      'ApplicationConfigResponse',
      growable: true,
    );
  }

  /// Update Provider.
  ///
  /// Required API Key ACLs:
  ///   - editSettings
  ///
  /// Parameters:
  /// * [providerId] The providerId.
  /// * [providerAuthenticationPatch]
  /// * [requestOptions] additional request configuration.
  Future<ProviderAuthenticationResponse> updateProvider({
    required String providerId,
    required ProviderAuthenticationPatch providerAuthenticationPatch,
    RequestOptions? requestOptions,
  }) async {
    if (providerId.isEmpty) {
      throw ArgumentError(
          'Parameter `providerId` is required when calling `updateProvider`.');
    }
    final request = ApiRequest(
      method: RequestMethod.patch,
      path: r'/agent-studio/1/providers/{providerId}'.replaceAll(
          '{' r'providerId' '}', Uri.encodeComponent(providerId.toString())),
      body: providerAuthenticationPatch.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<ProviderAuthenticationResponse,
        ProviderAuthenticationResponse>(
      response,
      'ProviderAuthenticationResponse',
      growable: true,
    );
  }

  /// Patch Secret Key.
  ///
  /// Required API Key ACLs:
  ///   - admin
  ///
  /// Parameters:
  /// * [secretKeyId] The secretKeyId.
  /// * [secretKeyPatch]
  /// * [requestOptions] additional request configuration.
  Future<SecretKeyResponse> updateSecretKey({
    required String secretKeyId,
    required SecretKeyPatch secretKeyPatch,
    RequestOptions? requestOptions,
  }) async {
    if (secretKeyId.isEmpty) {
      throw ArgumentError(
          'Parameter `secretKeyId` is required when calling `updateSecretKey`.');
    }
    final request = ApiRequest(
      method: RequestMethod.patch,
      path: r'/agent-studio/1/secret-keys/{secretKeyId}'.replaceAll(
          '{' r'secretKeyId' '}', Uri.encodeComponent(secretKeyId.toString())),
      body: secretKeyPatch.toJson(),
    );
    final response = await _retryStrategy.execute(
      request: request,
      options: requestOptions,
    );
    return deserialize<SecretKeyResponse, SecretKeyResponse>(
      response,
      'SecretKeyResponse',
      growable: true,
    );
  }

  @Deprecated('This operation has been deprecated, use `customPost` instead')
  Future<Object> post({
    required String path,
    Map<String, Object>? parameters,
    Object? body,
    RequestOptions? requestOptions,
  }) async {
    return customPost(
        path: path, parameters: parameters, requestOptions: requestOptions);
  }

  @Deprecated('This operation has been deprecated, use `customPut` instead')
  Future<Object> put({
    required String path,
    Map<String, Object>? parameters,
    Object? body,
    RequestOptions? requestOptions,
  }) async {
    return customPut(
        path: path, parameters: parameters, requestOptions: requestOptions);
  }

  @Deprecated('This operation has been deprecated, use `customGet` instead')
  Future<Object> get({
    required String path,
    Map<String, Object>? parameters,
    Object? body,
    RequestOptions? requestOptions,
  }) async {
    return customGet(
        path: path, parameters: parameters, requestOptions: requestOptions);
  }

  @Deprecated('This operation has been deprecated, use `customDelete` instead')
  Future<Object> del({
    required String path,
    Map<String, Object>? parameters,
    Object? body,
    RequestOptions? requestOptions,
  }) async {
    return customDelete(
        path: path, parameters: parameters, requestOptions: requestOptions);
  }

  @override
  void dispose() {
    _retryStrategy.dispose();
  }
}
