{{#isNull}}
  null
{{/isNull}}
{{#isString}}
  "{{#lambda.escapeQuotes}}{{{value}}}{{/lambda.escapeQuotes}}"
{{/isString}}
{{#isInteger}}
  {{{value}}}
{{/isInteger}}
{{#isLong}}
  {{{value}}}L
{{/isLong}}
{{#isDouble}}
  {{{value}}}
{{/isDouble}}
{{#isBoolean}}
  {{{value}}}
{{/isBoolean}}
{{#isArray}}
  Seq({{#value}}{{> tests/requests/requestOptionsParams}}{{^-last}},{{/-last}}{{/value}})
{{/isArray}}