    /// <summary>
    /// {{{description}}}{{^description}}Defines {{{name}}}{{/description}}
    /// </summary>
    {{#description}}
    /// <value>{{{.}}}</value>
    {{/description}}
    [JsonConverter(typeof(Serializer.JsonStringEnumConverter<{{datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}>))]
    {{> visibility}} enum {{datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}}
    {
        {{#allowableValues}}
        {{#enumVars}}
        /// <summary>
        /// Enum {{name}} for value: {{value}}
        /// </summary>
        {{#isString}}
        {{^useGenericHost}}
        [JsonPropertyName("{{{value}}}")]
        {{/useGenericHost}}
        {{/isString}}
        {{name}}{{^isString}} = {{{value}}}{{/isString}}{{#isString}}{{^vendorExtensions.x-zero-based-enum}} = {{-index}}{{/vendorExtensions.x-zero-based-enum}}{{/isString}}{{^-last}},{{/-last}}
        {{^-last}}

        {{/-last}}
        {{/enumVars}}
        {{/allowableValues}}
    }
