{{#returnType}}{{#vendorExtensions.x-is-generic}}{{{.}}}{T}{{/vendorExtensions.x-is-generic}}{{^vendorExtensions.x-is-generic}}{{#lambda.escape-generic}}{{{.}}}{{/lambda.escape-generic}}{{/vendorExtensions.x-is-generic}}{{/returnType}}{{^returnType}} {{/returnType}}