#if canImport(Core)
  import Core
#endif
// >IMPORT
import {{import}}
// IMPORT<

final class {{client}}Snippet {
  {{#blocksRequests}}
  {{#snippets}}
  // Snippet for the {{method}} method.
  //
  // {{{description}}}
  func snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}() async throws {
    // >SEPARATOR {{method}} {{testName}}
    // Initialize the client
    let client = try {{client}}(appID: "ALGOLIA_APPLICATION_ID", apiKey: "ALGOLIA_API_KEY"{{#hasRegionalHost}}, region: .{{defaultRegion}}{{/hasRegionalHost}})

    // Call the API
    {{#hasResponse}}let response{{#isGeneric}}: {{{returnType}}}<Hit>{{/isGeneric}} = {{/hasResponse}}try {{#isAsyncMethod}}await {{/isAsyncMethod}}client.{{method}}({{#hasParams}}{{#parametersWithDataType}}{{> tests/generateParams }}{{^-last}}, {{/-last}}{{/parametersWithDataType}}{{/hasParams}}{{#hasRequestOptions}}, requestOptions: RequestOptions({{#requestOptions.headers}}
      headers: [{{#parametersWithDataType}}"{{key}}": {{> tests/paramValue }}{{^-last}}, {{/-last}}{{/parametersWithDataType}}]{{/requestOptions.headers}}
      {{#requestOptions.headers}}{{#requestOptions.queryParameters}},{{/requestOptions.queryParameters}}{{/requestOptions.headers}}{{#requestOptions.queryParameters}}
      queryParameters: [{{#parametersWithDataType}}"{{key}}": {{> tests/paramValue }}{{^-last}}, {{/-last}}{{/parametersWithDataType}}]{{/requestOptions.queryParameters}}
    ){{/hasRequestOptions}})
    // >LOG
    // SEPARATOR<
  }
  {{/snippets}}
  {{/blocksRequests}}
}