// swift-tools-version: 5.9
// {{generationBanner}}

import PackageDescription

let package = Package(
  name: "AlgoliaSearchClientSnippets",
  platforms: [
    .iOS(.v13),
    .macOS(.v11),
    .tvOS(.v13),
    .watchOS(.v6),
  ],
  products: [
      .library(
          name: "AlgoliaSearchClientSnippets",
          targets: ["AlgoliaSearchClientSnippets"]),
  ],
  dependencies: [
      .package(path: "../../clients/algoliasearch-client-swift")
  ],
  targets: [
    .target(
      name: "AlgoliaSearchClientSnippets",
      dependencies: [{{#packageList}}
        .product(
          name: "{{{.}}}",
          package: "algoliasearch-client-swift"
        ),{{/packageList}}
      ]
    )
  ]
)
