{{#models}}{{#model}}// {{{generationBanner}}}

import Foundation
import Core
#if canImport(AnyCodable)
import AnyCodable
#endif{{#useVapor}}
import Vapor{{/useVapor}}
{{#swiftUseApiNamespace}}{{^swiftUseClientNamespace}}

@available(*, deprecated, renamed: "{{projectName}}API.{{classname}}")
{{#nonPublicApi}}internal{{/nonPublicApi}}{{^nonPublicApi}}public{{/nonPublicApi}} typealias {{classname}} = {{projectName}}API.{{classname}}

extension {{projectName}}API {
{{/swiftUseClientNamespace}}{{/swiftUseApiNamespace}}
{{#swiftUseClientNamespace}}{{^swiftUseApiNamespace}}

extension {{#lambda.client-to-name}}{{client}}{{/lambda.client-to-name}} {
{{/swiftUseApiNamespace}}{{/swiftUseClientNamespace}}
{{#description}}

/** {{.}} */{{/description}}{{#isDeprecated}}
@available(*, deprecated, message: "This schema is deprecated."){{/isDeprecated}}{{#vendorExtensions.x-is-one-of-interface}}
{{> modelOneOf}}{{/vendorExtensions.x-is-one-of-interface}}{{^vendorExtensions.x-is-one-of-interface}}{{#isArray}}
{{> modelArray}}{{/isArray}}{{^isArray}}{{#isEnum}}
{{> modelEnum}}{{/isEnum}}{{^isEnum}}
{{> modelObject}}{{/isEnum}}{{/isArray}}{{/vendorExtensions.x-is-one-of-interface}}{{/model}}{{/models}}
{{#swiftUseApiNamespace}}
{{^swiftUseClientNamespace}}
}
{{/swiftUseClientNamespace}}
{{/swiftUseApiNamespace}}
{{#swiftUseClientNamespace}}
{{^swiftUseApiNamespace}}
}
{{/swiftUseApiNamespace}}
{{/swiftUseClientNamespace}}