/// {{{generationBanner}}}

import Foundation

public struct ReplaceAllObjectsResponse {
  let copyOperationResponse: UpdatedAtResponse
  let batchResponses: [BatchResponse]
  let moveOperationResponse: UpdatedAtResponse
}