{{#nodeSearchHelpers}}
import {createHmac} from 'crypto';
{{/nodeSearchHelpers}}

import {
  DEFAULT_CONNECT_TIMEOUT_BROWSER,
  DEFAULT_CONNECT_TIMEOUT_NODE,
  DEFAULT_READ_TIMEOUT_BROWSER,
  DEFAULT_READ_TIMEOUT_NODE,
  DEFAULT_WRITE_TIMEOUT_BROWSER,
  DEFAULT_WRITE_TIMEOUT_NODE,
  createBrowserLocalStorageCache,
  createFallbackableCache,
  createMemoryCache,
  createNullCache,
  serializeQueryParameters,
} from '@algolia/client-common';

import type { ClientOptions } from '@algolia/client-common';

import { createXhrRequester } from '@algolia/requester-browser-xhr';
import { createHttpRequester } from '@algolia/requester-node-http';

import { AbtestingClient, Region as AbtestingRegion, abtestingClient } from '@algolia/client-abtesting';
import { AnalyticsClient, Region as AnalyticsRegion, analyticsClient } from '@algolia/client-analytics';
import { PersonalizationClient, Region as PersonalizationRegion, personalizationClient } from '@algolia/client-personalization';
import { searchClient, apiClientVersion as searchClientVersion } from '@algolia/client-search';
import { RecommendClient, recommendClient } from '@algolia/recommend';

import type {
  InitClientOptions,
  InitClientRegion,
  GenerateSecuredApiKeyOptions,
  GetSecuredApiKeyRemainingValidityOptions,
} from './models';

export * from './models';

export const apiClientVersion = searchClientVersion;

/**
 * The client type.
 */
export type Algoliasearch = ReturnType<typeof algoliasearch>;

// eslint-disable-next-line @typescript-eslint/explicit-function-return-type
export function algoliasearch(
  appId: string,
  apiKey: string,
  options?: ClientOptions
) {
  if (!appId || typeof appId !== 'string') {
    throw new Error('`appId` is missing.');
  }

  if (!apiKey || typeof apiKey !== 'string') {
    throw new Error('`apiKey` is missing.');
  }