{{#nodeSearchHelpers}}
import { createHmac } from 'node:crypto';
{{/nodeSearchHelpers}}

import {
  DEFAULT_CONNECT_TIMEOUT_BROWSER,
  DEFAULT_CONNECT_TIMEOUT_NODE,
  DEFAULT_READ_TIMEOUT_BROWSER,
  DEFAULT_READ_TIMEOUT_NODE,
  DEFAULT_WRITE_TIMEOUT_BROWSER,
  DEFAULT_WRITE_TIMEOUT_NODE,
  createBrowserLocalStorageCache,
  createFallbackableCache,
  createMemoryCache,
  createNullCache,
  serializeQueryParameters,
} from '@algolia/client-common';

import type { ClientOptions } from '@algolia/client-common';
import type { AbtestingClient, Region as AbtestingRegion } from "@algolia/client-abtesting"
import type { AnalyticsClient, Region as AnalyticsRegion } from "@algolia/client-analytics"
import type { PersonalizationClient, Region as PersonalizationRegion } from "@algolia/client-personalization"
import type { RecommendClient } from "@algolia/recommend"

import { createXhrRequester } from '@algolia/requester-browser-xhr';
import { createHttpRequester } from '@algolia/requester-node-http';
import { abtestingClient } from '@algolia/client-abtesting';
import { analyticsClient } from '@algolia/client-analytics';
import { personalizationClient } from '@algolia/client-personalization';
import { searchClient } from '@algolia/client-search';
import { recommendClient } from '@algolia/recommend';

import type {
  InitClientOptions,
  InitClientRegion,
  GenerateSecuredApiKeyOptions,
  GetSecuredApiKeyRemainingValidityOptions,
} from './models';

import { apiClientVersion } from './models';

export * from './models';

/**
 * The client type.
 */
export type Algoliasearch = ReturnType<typeof algoliasearch>;

// eslint-disable-next-line @typescript-eslint/explicit-function-return-type
export function algoliasearch(
  appId: string,
  apiKey: string,
  options?: ClientOptions
) {
  if (!appId || typeof appId !== 'string') {
    throw new Error('`appId` is missing.');
  }

  if (!apiKey || typeof apiKey !== 'string') {
    throw new Error('`apiKey` is missing.');
  }