function initRecommend(initOptions: InitClientOptions = {}): RecommendClient {
  return recommendClient(initOptions.appId || appId, initOptions.apiKey ||apiKey, initOptions.options);
}

function initAnalytics(initOptions: InitClientOptions & InitClientRegion<AnalyticsRegion> = {}): AnalyticsClient {
  return analyticsClient(initOptions.appId || appId, initOptions.apiKey ||apiKey, initOptions.region, initOptions.options);
}

function initAbtesting(initOptions: InitClientOptions & InitClientRegion<AbtestingRegion> = {}): AbtestingClient {
  return abtestingClient(initOptions.appId || appId, initOptions.apiKey ||apiKey, initOptions.region, initOptions.options);
}

function initPersonalization(initOptions: InitClientOptions & Required<InitClientRegion<PersonalizationRegion>>): PersonalizationClient {
  return personalizationClient(initOptions.appId || appId, initOptions.apiKey ||apiKey, initOptions.region, initOptions.options);
}