// {{{generationBanner}}}

import type {
  Host,
  Requester,
  ClientOptions,
} from '{{{npmNamespace}}}/client-common';
import {
  ErrorBase,
  CustomPutProps,
  CustomPostProps,
  CustomDeleteProps,
  CustomGetProps,
} from '{{{npmNamespace}}}/client-search/model';

export * from '{{{npmNamespace}}}/client-search/model';
export * from '{{{npmNamespace}}}/recommend/model';
export * from '{{{npmNamespace}}}/client-personalization/model';
export * from '{{{npmNamespace}}}/client-analytics/model';
export * from '{{{npmNamespace}}}/client-abtesting/model';

export { SearchClient } from '{{{npmNamespace}}}/client-search';
export { RecommendClient } from '{{{npmNamespace}}}/recommend';
export { PersonalizationClient } from '{{{npmNamespace}}}/client-personalization';
export { AnalyticsClient } from '{{{npmNamespace}}}/client-analytics';
export { AbtestingClient } from '{{{npmNamespace}}}/client-abtesting';

export {
  ErrorBase,
  CustomPutProps,
  CustomPostProps,
  CustomDeleteProps,
  CustomGetProps,
};

/**
 * Options forwarded to the client initialized via the `init` method.
 */
export type InitClientOptions = Partial<{
  /**
   * App to target with the initialized client, defaults to the `algoliasearch` appId.
   */
  appId: string;
  /**
   * API key of the targeted app ID, defaults to the `algoliasearch` apiKey.
   */
  apiKey: string;
  options: ClientOptions;
}>;

export type InitClientRegion<TRegion> = Partial<{
  /**
   * Available regions of the initialized client.
   */
  region: TRegion;
}>;