name: Publish jar

on:
  push:
    branches:
      - main

jobs:
  release:
    name: Publish to Maven Central
    runs-on: ubuntu-22.04
    if: "startsWith(github.event.head_commit.message, 'chore: release')"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-tags: true

      - name: checkout the release tag
        run: |
          TAG=$(sed -n 's/.*version := "\(.*\)"/\1/p' version.sbt)
          echo "Checking out tag $TAG"
          git checkout "v$TAG"

      - name: Install Java
        uses: actions/setup-java@v5
        with:
          distribution: zulu
          java-version: 11
          cache: sbt

      - name: Compile
        run: sbt +compile

      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          SONATYPE_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
