// {{generationBanner}}
// >IMPORT
{{> snippets/import}}
// IMPORT<
{{#isSearchClient}}
using Action = Algolia.Search.Models.Search.Action;
using Range = Algolia.Search.Models.Search.Range;
{{/isSearchClient}}
{{#isIngestionClient}}
using Action = Algolia.Search.Models.Ingestion.Action;
{{/isIngestionClient}}
{{#isCompositionClient}}
using Action = Algolia.Search.Models.Composition.Action;
{{/isCompositionClient}}

public class Snippet{{client}}
{

  {{#blocksRequests}}
  {{#snippets}}
  /// <summary>
  /// Snippet for the {{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}} method.
  ///
  /// {{{description}}}
  /// </summary>
  public async Task SnippetFor{{client}}{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}()
  {
    // >SEPARATOR {{method}} {{{testName}}}
    // Initialize the client
    {{> snippets/init}}

    // Call the API
     {{#hasResponse}}var response =  {{/hasResponse}}{{> tests/method}};
    // >LOG
    // SEPARATOR<
  }

  {{/snippets}}
  {{/blocksRequests}}
}