// {{generationBanner}}
using Algolia.Search.Http;
// >IMPORT
using Algolia.Search.Clients;
// IMPORT<
using Algolia.Search.Models.{{clientPrefix}};
{{#isSearchClient}}
using Action = Algolia.Search.Models.Search.Action;
{{/isSearchClient}}
{{^isSearchClient}}
using Action = Algolia.Search.Models.Ingestion.Action;
{{/isSearchClient}}

public class Snippet{{client}}
{

  {{#blocksRequests}}
  {{#snippets}}
  /// <summary>
  /// Snippet for the {{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}} method.
  ///
  /// {{{description}}}
  /// </summary>
  public async Task SnippetFor{{client}}{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}()
  {
    // >SEPARATOR {{method}} {{testName}}
    // Initialize the client
    var client = new {{client}}(new {{clientPrefix}}Config("YOUR_APP_ID", "YOUR_API_KEY"{{#hasRegionalHost}},"YOUR_APP_ID_REGION"{{/hasRegionalHost}}));

    // Call the API
     {{#hasResponsePayload}}var response =  {{/hasResponsePayload}}{{> tests/method}};
    // SEPARATOR<
  }

  {{/snippets}}
  {{/blocksRequests}}
}