import '{{{import}}}';

{{#blocksRequests}}
{{#snippet}}
// Snippet for the {{{method}}} method.
//
// {{{description}}}
void snippetFor{{method}}() async {
  // >SEPARATOR {{method}}
  // Initialize the client
  final client = {{client}}(appId: 'YOUR_APP_ID', apiKey: 'YOUR_API_KEY'{{#hasRegionalHost}}, region: 'YOUR_APP_ID_REGION'{{/hasRegionalHost}});

  // Call the API
  final response = await client.{{method}}(
    {{#parametersWithDataType}}
    {{> tests/request_param}}
    {{/parametersWithDataType}}
    {{#hasRequestOptions}}
    requestOptions : RequestOptions(
        {{#requestOptions.headers}}
        headers: {
        {{#parametersWithDataType}}
            '{{{key}}}' : '{{value}}',
        {{/parametersWithDataType}}
        },
        {{/requestOptions.headers}}
        {{#requestOptions.queryParameters}}
        urlParameters: {
            {{#parametersWithDataType}}
            '{{{key}}}' : {{> tests/param_value}},
            {{/parametersWithDataType}}
        },
        {{/requestOptions.queryParameters}}
    ),
    {{/hasRequestOptions}}
  );
  // SEPARATOR<
}

{{/snippet}}
{{/blocksRequests}}