// {{generationBanner}}
// >IMPORT
import '{{{import}}}';
// IMPORT<

{{#blocksRequests}}
{{#snippets}}
// Snippet for the {{{method}}} method.
//
// {{{description}}}
void snippetFor{{method}}{{testIndex}}() async {
  // >SEPARATOR {{method}} {{testName}}
  // Initialize the client
  final client = {{client}}(appId: 'YOUR_APP_ID', apiKey: 'YOUR_API_KEY'{{#hasRegionalHost}}, region: 'YOUR_APP_ID_REGION'{{/hasRegionalHost}});
  
  {{#hasResponse}}final response = {{/hasResponse}}{{#isAsync}}await {{/isAsync}}client.{{method}}(
    {{#parametersWithDataType}}
    {{> tests/request_param}}
    {{/parametersWithDataType}}
    {{#hasRequestOptions}}
    requestOptions : RequestOptions(
        {{#requestOptions.headers}}
        headers: {
        {{#parametersWithDataType}}
            '{{{key}}}' : '{{value}}',
        {{/parametersWithDataType}}
        },
        {{/requestOptions.headers}}
        {{#requestOptions.queryParameters}}
        urlParameters: {
            {{#parametersWithDataType}}
            '{{{key}}}' : {{> tests/param_value}},
            {{/parametersWithDataType}}
        },
        {{/requestOptions.queryParameters}}
    ),
    {{/hasRequestOptions}}
  );
  // SEPARATOR<
}

{{/snippets}}
{{/blocksRequests}}