// {{generationBanner}}
// ignore_for_file: unused_local_variable
// >IMPORT
{{> snippets/import}}
// IMPORT<

{{#blocksRequests}}
{{#snippets}}
// Snippet for the {{{method}}} method.
//
// {{{description}}}
void snippetFor{{method}}{{testIndex}}() async {
  // >SEPARATOR {{method}} {{{testName}}}
  // Initialize the client
  {{> snippets/init}}
  
  // Call the API
  {{#hasResponse}}final response = {{/hasResponse}}{{#isAsyncMethod}}await {{/isAsyncMethod}}client.{{method}}(
    {{#parametersWithDataType}}
    {{> tests/request_param}}
    {{/parametersWithDataType}}
    {{#hasRequestOptions}}
    requestOptions : RequestOptions(
        {{#requestOptions.headers}}
        headers: {
        {{#parametersWithDataType}}
            '{{{key}}}' : '{{value}}',
        {{/parametersWithDataType}}
        },
        {{/requestOptions.headers}}
        {{#requestOptions.queryParameters}}
        urlParameters: {
            {{#parametersWithDataType}}
            '{{{key}}}' : {{> tests/param_value}},
            {{/parametersWithDataType}}
        },
        {{/requestOptions.queryParameters}}
    ),
    {{/hasRequestOptions}}
  );
  // >LOG
  // SEPARATOR<
}

{{/snippets}}
{{/blocksRequests}}