/* eslint-disable @typescript-eslint/no-unused-vars */
/* eslint-disable require-await */
/* eslint-disable @typescript-eslint/explicit-function-return-type */
import { {{client}}, EchoRequester } from '{{{import}}}';

const appId = process.env.ALGOLIA_APPLICATION_ID || 'Algolia-API-Key';
const apiKey = process.env.ALGOLIA_SEARCH_KEY || 'Algolia-Application-Id';

function createClient() {
    return new {{client}}(appId, apiKey, {{#hasRegionalHost}}'us', {{/hasRegionalHost}}{ requester: new EchoRequester() });
}

async function createIndex() {}

{{#blocks}}
describe('{{operationId}}', () => {
    {{#tests}}
    test('{{testName}}', async () => {
        {{#autoCreateClient}}
            const $client = createClient();
        {{/autoCreateClient}}
        {{#autoCreateIndex}}
            const $index = await createIndex();
        {{/autoCreateIndex}}

        let actual;
        {{#steps}}
            {{#expectedError}}
                expect(async () => {
                    {{> step}}
                }).toThrowError("{{expectedError}}")
            {{/expectedError}}

            {{^expectedError}}
                {{#expectedNoError}}
                    expect(async () => {
                        {{> step}}
                    }).not.toThrowError();
                {{/expectedNoError}}
                
                {{^expectedNoError}}
                    {{> step}}
                {{/expectedNoError}}
            {{/expectedError}}
        {{/steps}}
    });

    {{/tests}}
})

{{/blocks}}
