{{! possible data types of a parameter }}
{{#isEnum}}
  {{classname}}{{{nameInCamelCase}}}{{#isArray}}[]{{/isArray}}
{{/isEnum}}
{{^isEnum}}
  {{#vendorExtensions.x-propagated-generic}}
    {{> client/model/types/dataTypeGeneric}}
  {{/vendorExtensions.x-propagated-generic}}
  {{^vendorExtensions.x-propagated-generic}}
    {{#vendorExtensions.x-has-child-generic}}
      {{> client/model/types/dataTypeGeneric}}
    {{/vendorExtensions.x-has-child-generic}}
    {{^vendorExtensions.x-has-child-generic}}
      {{{dataType}}}
    {{/vendorExtensions.x-has-child-generic}}
  {{/vendorExtensions.x-propagated-generic}}
  {{#isNullable}}
    | null
  {{/isNullable}}
  {{^required}}
    | undefined
  {{/required}}
{{/isEnum}}