{{! parameter that is generic and have a default value }}
{{#vendorExtensions.x-has-child-generic}}
  <T = Record<string, unknown>>
{{/vendorExtensions.x-has-child-generic}}
{{^vendorExtensions.x-has-child-generic}}
{{#vendorExtensions.x-is-generic}}
  <T = Record<string, unknown>>
{{/vendorExtensions.x-is-generic}}
{{/vendorExtensions.x-has-child-generic}}