{{> snippets/import}}


if __name__ == '__main__':
  try:
    # You need an API key with `deleteIndex`
    _{{> snippets/init}}

    # List all indices
    indices = {{#dynamicSnippet}}listIndicesSimple{{/dynamicSnippet}}

    # Primary indices don't have a `primary` key
    primary_indices = [index for index in indices.items if index.primary is None]
    replica_indices = [index for index in indices.items if index.primary is not None]

    # Delete primary indices first
    if primary_indices:
      requests = [{'action': 'delete', 'indexName': index.name} for index in primary_indices]
      {{#dynamicSnippet}}deleteMultipleIndicesPrimary{{/dynamicSnippet}}
      print("Deleted primary indices.")

    # Now, delete replica indices
    if replica_indices:
      requests = [{'action': 'delete', 'indexName': index.name} for index in replica_indices]
      {{#dynamicSnippet}}deleteMultipleIndicesReplica{{/dynamicSnippet}}
      print("Deleted replica indices.\n")

  except Exception as e:
    print(f"Error: {e}")

