import datetime
import time

{{> snippets/import}}


if __name__ == "__main__":
  _config = SearchConfig("ALGOLIA_APPLICATION_ID", "ALGOLIA_API_KEY")
  _config.headers["x-algolia-userToken"] = "test-user-123"
  _client = SearchClientSync.create_with_config(_config)
  print(_client)