import datetime
import time

{{> snippets/import}}


def _get_app_id_for(_user):
  # Implement your own logic here
  return ""

def _get_indexing_api_key_for(_user):
  # Implement your own logic here
  return ""

if __name__ == "__main__":
  app_id = _get_app_id_for("user42")
  api_key = _get_indexing_api_key_for("user42")

  search_params = {
      "query": "<YOUR_SEARCH_QUERY>",
      "facetFilters": ["user:user42", "user:public"]
  }

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
