{{> snippets/import}}
from algoliasearch.search.models.browse_response import BrowseResponse


if __name__ == '__main__':
  try:
    _{{> snippets/init}}

    records = []
    def _aggregator(resp: BrowseResponse):
      for hit in resp.hits:
        hit_dict = hit.to_dict()
        records.append({
          'twitterHandle': hit_dict['twitterHandle'],
          'nbFollowers': hit_dict['nbFollowers'],
          'isPopular': hit_dict['nbFollowers'] > 1000000,
        })

    _client.browse_objects(
      index_name="<YOUR_INDEX_NAME>",
      aggregator=_aggregator,
    )

    {{#dynamicSnippet}}saveObjectsRecords{{/dynamicSnippet}}
  except Exception as e:
    print(f"Error: {e}")
