import requests
{{> snippets/import}}


# Fetch sample dataset
url = "https://dashboard.algolia.com/api/1/sample_datasets?type=movie"
movies = requests.get(url).json()

# Connect and authenticate with your Algolia app using your app ID and write API key
_{{> snippets/init}}

# Save records in Algolia index
{{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
