import json

{{> snippets/import}}


if __name__ == "__main__":
  try:
      _{{> snippets/init}}

      with open("products.json", "r", encoding="utf-8") as f:
          products = json.load(f)

          records = []

          for product in products:
              reference = product["product_reference"]

              suffixes = []
              while len(reference) > 1:
                  reference = reference[1:]
                  suffixes.append(reference)

              product["product_reference_suffixes"] = suffixes
              records.append(product)

      {{#dynamicSnippet}}saveObjectsRecords{{/dynamicSnippet}}
  except Exception as e:
      print(f"Error: {e}")

