{{> snippets/import}}
from algoliasearch.search.models.search_params import SearchParams


def _get_buyer_account_id() -> str:
    # Implement your logic here
    return ""

_{{> snippets/init}}

# get the buyer account information
buyer = _get_buyer_account_id()
search_params = SearchParams(
  query="<YOUR_SEARCH_QUERY>",
  rule_contexts=[buyer],
)

{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
