{{> snippets/import}}
from algoliasearch.search.models.search_params import SearchParams


def _reduce_labels_to_filters(_labels):
    # Implement your logic here
    return []

if __name__ == "__main__":
  labels = [] # A list of labels

  try:
    _{{> snippets/init}}

    optional_filters = _reduce_labels_to_filters(labels)
    search_params = SearchParams(
      query="<YOUR_SEARCH_QUERY>",
      optional_filters=optional_filters,
    )

    {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
  except Exception as e:
    print(f"Error: {e}")
