{{> snippets/import}}
from algoliasearch.search.models.search_params import SearchParams


if __name__ == "__main__":
  _{{> snippets/init}}

  """
  '94.228.178.246' should be replaced with your user's IP address.
  Depending on your stack there are multiple ways to get this information.
  """
  ip = "94.228.178.246"
  query = "query"

  search_params = SearchParams(
    query=query,
    analytics=True,
  )

  {{#dynamicSnippet}}searchWithSearchParamsAndForwardedHeader{{/dynamicSnippet}}

