{{> snippets/import}}
from algoliasearch.search.models.consequence import Consequence
from algoliasearch.search.models.rule import Rule
from algoliasearch.search.models.time_range import TimeRange

_{{> snippets/init}}

object_id = "a-rule-id"

rule = Rule(
  object_id=object_id,
  consequence=Consequence(
    # Set relevant consequence
  ),
)

# Set validity (optional)
rule.validity = [
  TimeRange(
    var_from=1688774400,
    until=1738972800,
  ),
]

{{#dynamicSnippet}}saveRule{{/dynamicSnippet}}
