_config = {{#lambda.pascalcase}}{{clientPrefix}}Config{{/lambda.pascalcase}}("{{parametersWithDataTypeMap.appId.value}}", "{{parametersWithDataTypeMap.apiKey.value}}"{{#hasRegionalHost}}{{#parametersWithDataTypeMap.region}},"{{parametersWithDataTypeMap.region.value}}"{{/parametersWithDataTypeMap.region}}{{/hasRegionalHost}});{{#hasCustomHosts}}_config.hosts = HostsCollection([{{#parametersWithDataTypeMap.customHosts.value}}Host('{{value}}', 'http'){{^-last}},{{/-last}}{{/parametersWithDataTypeMap.customHosts.value}}]){{/hasCustomHosts}};self._client = {{#lambda.pascalcase}}{{{client}}}{{/lambda.pascalcase}}.create_with_config(config=_config{{#useEchoRequester}}, transporter=EchoTransporter(_config){{/useEchoRequester}})