# {{generationBanner}}
# >IMPORT
{{> snippets/import}}
# IMPORT<

{{#blocksRequests}}
{{#snippets}}
# Snippet for the {{method}} method.
#
# {{{description}}}
def snippet_for_{{#lambda.snakecase}}{{method}}{{/lambda.snakecase}}{{testIndex}}
  # >SEPARATOR {{method}} {{{testName}}}
  # Initialize the client
  {{> snippets/init}}

  # Call the API
  {{#hasResponse}}response = {{/hasResponse}}{{> tests/method}}

  # >LOG
  {{#hasResponse}}
  # print the response
  puts response
  {{/hasResponse}}
  # SEPARATOR<
end

{{/snippets}}
{{/blocksRequests}}