// {{generationBanner}}
using Algolia.Search.Http;
using Algolia.Search.Clients;
using Algolia.Search.Models.{{clientPrefix}};
using Algolia.Search.Serializer;
using Algolia.Search.Tests.Utils;
using Xunit;
using System.Text.Json;
using Quibble.Xunit;
using dotenv.net;
{{#isSearchClient}}
using Action = Algolia.Search.Models.Search.Action;
using Range = Algolia.Search.Models.Search.Range;
{{/isSearchClient}}
{{#isIngestionClient}}
using Action = Algolia.Search.Models.Ingestion.Action;
{{/isIngestionClient}}
{{#isCompositionClient}}
using Action = Algolia.Search.Models.Composition.Action;
{{/isCompositionClient}}

namespace Algolia.Search.requests;

public class {{client}}RequestTests
{
private readonly {{client}} client;
  private readonly EchoHttpRequester _echo;

  public {{client}}RequestTests()
  {
    _echo = new EchoHttpRequester();
    client = new {{client}}(new {{clientPrefix}}Config("appId", "apiKey"{{#hasRegionalHost}},"{{defaultRegion}}"{{/hasRegionalHost}}), _echo);
  }

  [Fact]
  public void Dispose()
  {

  }

  {{#blocksRequests}}
  {{#tests}}
  [Fact(DisplayName = "{{{testName}}}")]
  public async Task {{#lambda.pascalcase}}{{method}}Test{{testIndex}}{{/lambda.pascalcase}}()
  {
     {{> tests/method}};

     var req = _echo.LastResponse;
    {{#request}}
     Assert.Equal("{{{path}}}",req.Path);
     Assert.Equal("{{{method}}}",req.Method.ToString());
    {{#body}}
        JsonAssert.EqualOverrideDefault("{{#lambda.escapeJSON}}{{{body}}}{{/lambda.escapeJSON}}", req.Body, new JsonDiffConfig(false));
    {{/body}}
    {{^body}}
      {{#assertNullBody}}
          Assert.Null(req.Body);
      {{/assertNullBody}}
      {{^assertNullBody}}
          Assert.Equal("{}", req.Body);
      {{/assertNullBody}}
    {{/body}}
      {{#queryParameters}}
        var expectedQuery = JsonSerializer.Deserialize<Dictionary<string, string>>("{{#lambda.escapeQuotes}}{{{queryParameters}}}{{/lambda.escapeQuotes}}");
        Assert.NotNull(expectedQuery);

        var actualQuery = req.QueryParameters;
        Assert.Equal(expectedQuery.Count, actualQuery.Count);

        foreach (var actual in actualQuery)
        {
          expectedQuery.TryGetValue(actual.Key, out var expected);
          Assert.Equal(expected, actual.Value);
        }
    {{/queryParameters}}
    {{#headers}}
        var expectedHeaders = JsonSerializer.Deserialize<Dictionary<string, string>>("{{#lambda.escapeQuotes}}{{{headers}}}{{/lambda.escapeQuotes}}");
        var actualHeaders = req.Headers;
        foreach (var expectedHeader in expectedHeaders)
        {
          string actualHeaderValue;
          actualHeaders.TryGetValue(expectedHeader.Key, out actualHeaderValue);
          Assert.Equal(expectedHeader.Value, actualHeaderValue);
        }
    {{/headers}}
    {{/request}}
  }
  {{/tests}}
  {{/blocksRequests}}
}