{{#isNull}}
  null
{{/isNull}}
{{#isString}}
  "{{{value}}}"
{{/isString}}
{{#isInteger}}
  {{{value}}}
{{/isInteger}}
{{#isLong}}
  {{{value}}}L
{{/isLong}}
{{#isDouble}}
  {{{value}}}
{{/isDouble}}
{{#isBoolean}}
  {{{value}}}
{{/isBoolean}}
{{#isArray}}
  new List<object>{ {{#value}}{{> tests/requests/requestOptionsParams}}{{^-last}},{{/-last}}{{/value}} }
{{/isArray}}