{{#useAnonymousKey}}"{{{key}}}" => {{/useAnonymousKey}}
{{#isNull}}
  null,
{{/isNull}}
{{#isVerbatim}}
  {{{value}}}
{{/isVerbatim}}
{{#isString}}
  "{{#lambda.escapeQuotes}}{{#lambda.escapeSlash}}{{{value}}}{{/lambda.escapeSlash}}{{/lambda.escapeQuotes}}",
{{/isString}}
{{#isEnum}}
  "{{{value}}}",
{{/isEnum}}
{{#isInteger}}
  {{{value}}},
{{/isInteger}}
{{#isDouble}}
  {{{value}}},
{{/isDouble}}
{{#isLong}}
  {{{value}}},
{{/isLong}}
{{#isBoolean}}
  {{{value}}},
{{/isBoolean}}
{{#isArray}}
  [{{#value}}{{> tests/generateParams}}{{/value}}],
{{/isArray}}
{{#isObject}}
  [{{#value}}{{> tests/generateParams}}{{/value}}],
{{/isObject}}
{{#isFreeFormObject}}
  {{#isAnyType}}
  [{{#value}}{{#entrySet}}'{{{key}}}' => '{{{value}}}'{{^-last}},{{/-last}}{{/entrySet}}{{/value}}],
  {{/isAnyType}}
  {{^isAnyType}}
  [{{#value}}{{> tests/generateParams}}{{/value}}],
  {{/isAnyType}}
{{/isFreeFormObject}}