$client->{{^hasParams}}{{{method}}}(){{/hasParams}}{{#hasParams}}{{{method}}}({{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}} [
  {{#requestOptions.queryParameters.parameters}}
    'queryParameters' => [
      {{#requestOptions.queryParameters.parametersWithDataType}}
        '{{{key}}}' => {{> tests/requests/requestOptionsParams}},
      {{/requestOptions.queryParameters.parametersWithDataType}}
    ],{{/requestOptions.queryParameters.parameters}}{{#requestOptions.headers.parameters}}
    'headers' => [
      {{#requestOptions.headers.parametersWithDataType}}
        '{{{key}}}' => {{#isVerbatim}}${{{value}}}{{/isVerbatim}}{{^isVerbatim}}'{{value}}'{{/isVerbatim}},
      {{/requestOptions.headers.parametersWithDataType}}
    ],
    {{/requestOptions.headers.parameters}}
    {{#requestOptions.timeouts.connect}}
    'connectTimeout' => {{.}} / 1000,
    {{/requestOptions.timeouts.connect}}
    {{#requestOptions.timeouts.read}}
    'readTimeout' => {{.}} / 1000,
    {{/requestOptions.timeouts.read}}
    {{#requestOptions.timeouts.write}}
    'writeTimeout' => {{.}} / 1000,
    {{/requestOptions.timeouts.write}}
  ]{{/hasRequestOptions}}){{/hasParams}}