$client->{{^hasParams}}{{{method}}}(){{/hasParams}}{{#hasParams}}{{{method}}}({{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}}[
  {{#requestOptions.hasQueryParameters}}
    'queryParameters' => [
      {{#requestOptions.queryParameters.parametersWithDataType}}
        '{{{key}}}' => {{> tests/requests/requestOptionsParams}},
      {{/requestOptions.queryParameters.parametersWithDataType}}
    ],{{/requestOptions.hasQueryParameters}}{{#requestOptions.hasHeaders}}
    'headers' => [
      {{#requestOptions.headers.parametersWithDataType}}
        '{{{key}}}' => '{{{value}}}',
      {{/requestOptions.headers.parametersWithDataType}}
    ]{{/requestOptions.hasHeaders}}
  ]{{/hasRequestOptions}}){{/hasParams}}