// {{generationBanner}}

// >IMPORT
{{> snippets/import}}
// IMPORT<
import type { RequestOptions } from '@algolia/client-common';

{{#blocksRequests}}
{{#snippets}}
// Snippet for the {{method}} method.
//
// {{{description}}}
export {{#isAsyncMethod}}async{{/isAsyncMethod}} function snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}(): {{#isAsyncMethod}}Promise<void>{{/isAsyncMethod}}{{^isAsyncMethod}}void{{/isAsyncMethod}} {
  // >SEPARATOR {{method}} {{{testName}}}
  // Initialize the client
  {{#hasRegionalHost}}
  // Replace '{{defaultRegion}}' with your Algolia Application Region
  {{/hasRegionalHost}}
  {{> snippets/init}}

  // Call the API
  {{^isStreaming}}
  {{#hasResponse}}const response = {{/hasResponse}}{{> tests/method}};

  // >LOG
  {{#hasResponse}}
  // print the response
  console.log(response);
  {{/hasResponse}}
  {{/isStreaming}}
  {{#isStreaming}}
  // Use the streaming variant to iterate over events
  for await (const event of client.{{method}}Stream({{#hasParams}}{{#parametersWithDataType.size}}{{{parameters}}}{{/parametersWithDataType.size}}{{/hasParams}}{{#hasRequestOptions}}, {
    {{#requestOptions.queryParameters.parameters}}
      queryParameters: {{{.}}},
    {{/requestOptions.queryParameters.parameters}}
    {{#requestOptions.headers.parameters}}
      headers: {{{.}}},
    {{/requestOptions.headers.parameters}}
    }
    {{/hasRequestOptions}}
  )) {
    console.log(event.data);
  }
  {{/isStreaming}}
  // SEPARATOR<
}

{{/snippets}}
{{/blocksRequests}}