/* eslint no-console: ["error", { allow: ["log"] }] */

import { {{client}} } from '{{{import}}}';
import type { RequestOptions } from '{{{npmNamespace}}}/client-common';

{{#blocksRequests}}
{{#snippet}}
// Snippet for the {{method}} method.
//
// {{{description}}}
export async function snippetFor{{method}}(): Promise<void> {
  // >SEPARATOR {{method}}
  // Initialize the client
  const client = {{client}}("YOUR_APP_ID", "YOUR_API_KEY", {{#hasRegionalHost}}'YOUR_APP_ID_REGION', {{/hasRegionalHost}});

  {{#hasRequestOptions}}const requestOptions: RequestOptions = {
    {{#requestOptions.queryParameters.parameters}}queryParameters: {{{.}}},{{/requestOptions.queryParameters.parameters}}
    {{#requestOptions.headers.parameters}}headers: {{{.}}}{{/requestOptions.headers.parameters}}
  };{{/hasRequestOptions}}

  // Call the API
  const response = await client.{{method}}({{#hasParameters}}{{{parameters}}}{{/hasParameters}}{{#hasRequestOptions}}, requestOptions{{/hasRequestOptions}});

  // use typed response
  console.log(response);
  // SEPARATOR<
}

{{/snippet}}
{{/blocksRequests}}