// {{generationBanner}}
/* eslint no-console: ["error", { allow: ["log"] }] */

// >IMPORT
import { {{client}} } from '{{{import}}}';
// IMPORT<
import type { RequestOptions } from '@algolia/client-common';

{{#blocksRequests}}
{{#snippets}}
// Snippet for the {{method}} method.
//
// {{{description}}}
export {{#isAsync}}async{{/isAsync}} function snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}(): {{#isAsync}}Promise<void>{{/isAsync}}{{^isAsync}}void{{/isAsync}} {
  // >SEPARATOR {{method}} {{testName}}
  // Initialize the client
  const client = {{client}}("YOUR_APP_ID", "YOUR_API_KEY", {{#hasRegionalHost}}'YOUR_APP_ID_REGION', {{/hasRegionalHost}});

  // Call the API
  const response = {{> tests/method}};

  // use typed response
  console.log(response);
  // SEPARATOR<
}

{{/snippets}}
{{/blocksRequests}}