# {{generationBanner}}
require 'algolia'
require 'test/unit'

class TestClient{{#lambda.pascalcase}}{{{client}}}{{/lambda.pascalcase}} < Test::Unit::TestCase
  {{#blocksClient}}
  {{> tests/client/tests}}
  {{/blocksClient}}
end