{{#hasTransformationRegion}}
{{#hasTransformationCustomHosts}}_transformation_options = Algolia::TransformationOptions.new('{{transformationRegion}}', hosts: [{{#transformationCustomHosts}}Algolia::Transport::StatefulHost.new(ENV.fetch('CI', nil) == 'true' ? 'localhost' : 'host.docker.internal', protocol: 'http://', port: {{port}}, accept: CallType::READ | CallType::WRITE){{^-last}}, {{/-last}}{{/transformationCustomHosts}}])
{{/hasTransformationCustomHosts}}
{{^hasTransformationCustomHosts}}_transformation_options = Algolia::TransformationOptions.new('{{transformationRegion}}')
{{/hasTransformationCustomHosts}}
{{#hasCustomHosts}}client = Algolia::{{#lambda.pascalcase}}{{{client}}}{{/lambda.pascalcase}}.with_transformation(
  '{{parametersWithDataTypeMap.appId.value}}',
  '{{parametersWithDataTypeMap.apiKey.value}}',
  _transformation_options,
  {hosts: [{{#customHosts}}Algolia::Transport::StatefulHost.new(ENV.fetch('CI', nil) == 'true' ? 'localhost' : 'host.docker.internal', protocol: 'http://', port: {{port}}, accept: CallType::READ | CallType::WRITE){{^-last}}, {{/-last}}{{/customHosts}}]}
){{/hasCustomHosts}}
{{^hasCustomHosts}}client = Algolia::{{#lambda.pascalcase}}{{{client}}}{{/lambda.pascalcase}}.with_transformation(
  '{{parametersWithDataTypeMap.appId.value}}',
  '{{parametersWithDataTypeMap.apiKey.value}}',
  _transformation_options
){{/hasCustomHosts}}
{{/hasTransformationRegion}}
{{^hasTransformationRegion}}
{{#hasCustomHosts}}
client = Algolia::{{#lambda.pascalcase}}{{{client}}}{{/lambda.pascalcase}}.create_with_config(Algolia::Configuration.new(
  '{{parametersWithDataTypeMap.appId.value}}',
  '{{parametersWithDataTypeMap.apiKey.value}}',
  [{{#customHosts}}Algolia::Transport::StatefulHost.new(ENV.fetch('CI', nil) == 'true' ? 'localhost' : 'host.docker.internal', protocol: 'http://', port: {{port}}, accept: CallType::READ | CallType::WRITE),{{/customHosts}}],
  '{{client}}'{{#gzipEncoding}},
  compression_type: 'gzip'{{/gzipEncoding}}
)){{/hasCustomHosts}}{{^hasCustomHosts}}
{{^isError}}client = {{/isError}}Algolia::{{#lambda.pascalcase}}{{{client}}}{{/lambda.pascalcase}}.create(
  '{{parametersWithDataTypeMap.appId.value}}',
  '{{parametersWithDataTypeMap.apiKey.value}}',
  {{#hasRegionalHost}}{{#parametersWithDataTypeMap.region}}'{{parametersWithDataTypeMap.region.value}}',{{/parametersWithDataTypeMap.region}}{{/hasRegionalHost}}
  { requester: Algolia::Transport::EchoRequester.new }
){{/hasCustomHosts}}
{{/hasTransformationRegion}}