import com.fasterxml.jackson.databind.*;
import java.io.File;
import java.util.List;
import java.util.Map;

{{> snippets/import}}

public class pushSetup {
  public static void main(String[] args) throws Exception {
    JsonNode content = new ObjectMapper().readTree(new File("records.json"));
    List<PushTaskRecords> records = new ObjectMapper().readerForListOf(Map.class).readValue(content);

    // use the region matching your applicationID
    {{> snippets/init}}

    // setting `watch` to `true` will make the call synchronous
    PushTaskResponse resp = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}};

    System.out.println(resp);

    client.close();
  }
}