// {{generationBanner}}
package algoliasearch.methods.snippets

import scala.concurrent.duration.Duration

// >IMPORT
{{> snippets/import}}
// IMPORT<
import algoliasearch.{{import}}.*

import org.json4s.*
import org.json4s.native.JsonParser.*
import scala.concurrent.{Await, ExecutionContextExecutor}

class Snippet{{client}} {
  implicit val ec: ExecutionContextExecutor = scala.concurrent.ExecutionContext.global
  implicit val formats: Formats = JsonSupport.format

  {{#blocksRequests}}
  {{#snippets}}
  /** Snippet for the {{method}} method.
    *
    * {{{description}}}
    */
  def snippetFor{{#lambda.pascalcase}}{{client}}{{/lambda.pascalcase}}{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}(): Unit = {
    // >SEPARATOR {{method}} {{{testName}}}
    // Initialize the client
    {{> snippets/init}}

    // Call the API
    {{#hasResponse}}val response = {{/hasResponse}}{{#isAsyncMethod}}Await.result(
      {{/isAsyncMethod}}{{> tests/method}}{{#isAsyncMethod}},
      Duration(100, "sec")
    )
    {{/isAsyncMethod}}
    // 
    {{#hasResponse}}
    // print the response
    println(response)
    {{/hasResponse}}
    // SEPARATOR<
  }

  {{/snippets}}
  {{/blocksRequests}}
}