package algoliasearch.methods.snippets

import scala.concurrent.duration.Duration

import algoliasearch.api.{{client}}
import algoliasearch.{{import}}.*

import org.json4s.*
import org.json4s.native.JsonParser.*
import scala.concurrent.{Await, ExecutionContextExecutor}

class Snippet{{client}} {
  implicit val ec: ExecutionContextExecutor = scala.concurrent.ExecutionContext.global
  implicit val formats: Formats = org.json4s.DefaultFormats

  {{#blocksRequests}}
  {{#snippet}}
  /** Snippet for the {{method}} method.
    *
    * {{{description}}}
    */
  def snippetFor{{#lambda.pascalcase}}{{client}}{{/lambda.pascalcase}}{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}(): Unit = {
    // >SEPARATOR {{method}}
    // Initialize the client
    val client = {{client}}(appId = "YOUR_APP_ID", apiKey = "YOUR_API_KEY"{{#hasRegionalHost}}, region = {{#fallbackToAliasHost}}Option({{/fallbackToAliasHost}}"YOUR_APP_ID_REGION"{{#fallbackToAliasHost}}){{/fallbackToAliasHost}}{{/hasRegionalHost}})

    // Call the API
    val res = client.{{method}}{{#isCustomRequest}}[JObject]{{/isCustomRequest}}(
    {{#parametersWithDataType}}
    {{> tests/request_param}}{{^-last}},{{/-last}}
    {{/parametersWithDataType}}
    {{#hasRequestOptions}}
    , requestOptions = Some(RequestOptions.builder()
    {{#requestOptions.queryParameters.parametersWithDataType}}
      .withQueryParameter("{{{key}}}", {{> tests/requests/requestOptionsParams}})
    {{/requestOptions.queryParameters.parametersWithDataType}}
    {{#requestOptions.headers.parametersWithDataType}}
      .withHeader("{{{key}}}", "{{{value}}}")
    {{/requestOptions.headers.parametersWithDataType}}
      .build())
    {{/hasRequestOptions}}
    )

    // Use the response
    val value = Await.result(res, Duration(100, "sec"))
    // SEPARATOR<
  }

  {{/snippet}}
  {{/blocksRequests}}
}