cfg = {{clientPrefix}}.Configuration{
  Configuration: transport.Configuration{
    AppID:     "{{parametersWithDataTypeMap.appId.value}}",
    ApiKey:    "{{parametersWithDataTypeMap.apiKey.value}}",
    {{#useEchoRequester}}
    Requester: echo,
    {{/useEchoRequester}}
    {{#hasCustomHosts}}
    Hosts: []transport.StatefulHost{ {{#parametersWithDataTypeMap.customHosts.value}}transport.NewStatefulHost("http", "{{value}}", call.IsReadWrite),{{/parametersWithDataTypeMap.customHosts.value}} },
    {{/hasCustomHosts}}
  },{{#hasRegionalHost}}{{#parametersWithDataTypeMap.region.value}}
  Region: {{clientPrefix}}.Region("{{parametersWithDataTypeMap.region.value}}"),{{/parametersWithDataTypeMap.region.value}}{{/hasRegionalHost}}
}
client, err = {{clientPrefix}}.NewClientWithConfig(cfg)