cfg = {{clientPrefix}}.{{clientName}}Configuration{
  Configuration: transport.Configuration{
    AppID:     "{{parametersWithDataTypeMap.appId.value}}",
    ApiKey:    "{{parametersWithDataTypeMap.apiKey.value}}",
    {{#useEchoRequester}}
    Requester: echo,
    {{/useEchoRequester}}
    {{#hasCustomHosts}}
    Hosts: []transport.StatefulHost{ {{#customHosts}}transport.NewStatefulHost("http", tests.GetLocalhost() + ":{{port}}", call.IsReadWrite),{{/customHosts}} },
    {{/hasCustomHosts}}
    {{#hasCustomWriteTimeout}}
    WriteTimeout: {{writeTimeout}},
    {{/hasCustomWriteTimeout}}
    {{#gzipEncoding}}
    Compression: compression.GZIP,
    {{/gzipEncoding}}
  },{{#hasRegionalHost}}{{#parametersWithDataTypeMap.region.value}}
  Region: {{clientPrefix}}.Region("{{parametersWithDataTypeMap.region.value}}"),{{/parametersWithDataTypeMap.region.value}}{{/hasRegionalHost}}
  {{#hasTransformationRegion}}
  Transformation: &search.TransformationConfiguration{ Region: "{{{transformationRegion}}}" },
  {{/hasTransformationRegion}}
}
client, err = {{clientPrefix}}.NewClientWithConfig(cfg)