package main

import (
  "os"
  "encoding/json"
  "fmt"
  "net/http"
)


{{> snippets/import}}

func push() {
  // use the region matching your applicationID
  {{> snippets/init}}

  content, err := os.ReadFile("records.json")
  if err != nil {
    panic(err)
  }

  var records []ingestion.PushTaskRecords

  err = json.Unmarshal(content, &records)
  if err != nil {
    panic(err)
  }

  // setting `watch` to `true` will make the call synchronous
  resp, err := {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}}
  if err != nil {
    panic(err)
  }

  fmt.Printf("%#v\n", resp)
}