plugins {
    id 'java-library'
}

repositories {
    mavenCentral()
}

dependencies {
    testImplementation 'com.algolia:algoliasearch:{{packageVersion}}'
}

java {
    toolchain {
        languageVersion = JavaLanguageVersion.of({{languageVersion}})
        vendor = JvmVendorSpec.AZUL
    }
}

tasks.withType(JavaCompile) {
    options.encoding = 'UTF-8'
}
