package com.algolia.methods.snippets;

// >IMPORT
{{> snippets/import}}
// IMPORT<

class Snippet{{client}} {
  {{#blocksRequests}}
  {{#snippets}}
  // Snippet for the {{method}} method.
  //
  // {{{description}}}
  void snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}() {
    // >SEPARATOR {{method}} {{testName}}
    // Initialize the client
    {{> snippets/init}}

    // Call the API
    {{> tests/method}};
    // >LOG
    // SEPARATOR<
  }

  {{/snippets}}
  {{/blocksRequests}}
}