package com.algolia.methods.snippets;

// >IMPORT
import com.algolia.api.{{client}};
import com.algolia.model.{{import}}.*;

// IMPORT<

class Snippet{{client}} {
  {{#blocksRequests}}
  {{#snippets}}
  // Snippet for the {{method}} method.
  //
  // {{{description}}}
  void snippetFor{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{testIndex}}() {
    // >SEPARATOR {{method}} {{testName}}
    // Initialize the client
    {{client}} client = new {{client}}("ALGOLIA_APPLICATION_ID", "ALGOLIA_API_KEY"{{#hasRegionalHost}}, "ALGOLIA_APPLICATION_REGION"{{/hasRegionalHost}});

    // Call the API
    {{> tests/method}};
    // >LOG
    // SEPARATOR<
  }

  {{/snippets}}
  {{/blocksRequests}}
}