{{#blocksRequests}}
{{#tests}}
- operationId: {{operationId}}
  {{#hasDescription}}
  description: {{{description}}}
  {{/hasDescription}}
  code : |
{{#parametersWithDataType}}{{> generateParams}}{{/parametersWithDataType}}
    client.{{method}}({{#parametersWithDataType}}{{> maybeConvertOneOf}}{{^-last}}, {{/-last}}{{/parametersWithDataType}}{{#isGeneric}}, Object.class{{/isGeneric}}{{#hasRequestOptions}}, requestOptions{{/hasRequestOptions}});

{{/tests}}
{{/blocksRequests}}