client.{{method}}{{#isCustomRequest}}[JObject]{{/isCustomRequest}}(
{{#parametersWithDataType}}
{{> tests/request_param}}{{^-last}},{{/-last}}
{{/parametersWithDataType}}    
{{#hasRequestOptions}}
, requestOptions = Some(RequestOptions.builder()
{{#requestOptions.queryParameters.parametersWithDataType}}
  .withQueryParameter("{{{key}}}", {{> tests/requests/requestOptionsParams}})
{{/requestOptions.queryParameters.parametersWithDataType}}
{{#requestOptions.headers.parametersWithDataType}}
  .withHeader("{{{key}}}", "{{{value}}}")
{{/requestOptions.headers.parametersWithDataType}}
  .build())
{{/hasRequestOptions}}
)