client.{{method}}{{#isCustomRequest}}[JObject]{{/isCustomRequest}}(
{{#parametersWithDataType}}
{{> tests/request_param}}{{^-last}},{{/-last}}
{{/parametersWithDataType}}    
{{#hasRequestOptions}}
, requestOptions = Some(RequestOptions.builder()
{{#requestOptions.queryParameters.parametersWithDataType}}
  .withQueryParameter("{{{key}}}", {{> tests/requests/requestOptionsParams}})
{{/requestOptions.queryParameters.parametersWithDataType}}
{{#requestOptions.headers.parametersWithDataType}}
  .withHeader("{{{key}}}", "{{{value}}}")
{{/requestOptions.headers.parametersWithDataType}}
{{#requestOptions.timeouts.connect}}
  .withConnectTimeout(Some(Duration({{.}}, TimeUnit.MILLISECONDS)))
{{/requestOptions.timeouts.connect}}
{{#requestOptions.timeouts.read}}
  .withReadTimeout(Some(Duration({{.}}, TimeUnit.MILLISECONDS)))
{{/requestOptions.timeouts.read}}
{{#requestOptions.timeouts.write}}
  .withWriteTimeout(Some(Duration({{.}}, TimeUnit.MILLISECONDS)))
{{/requestOptions.timeouts.write}}
  .build())
{{/hasRequestOptions}}
)