{{#isNull}}
JNull
{{/isNull}}
{{#isString}}
JString("{{{value}}}")
{{/isString}}
{{#isInteger}}
JInt({{{value}}})
{{/isInteger}}
{{#isLong}}
JLong({{{value}}}L)
{{/isLong}}
{{#isDouble}}
JDouble({{{value}}})
{{/isDouble}}
{{#isBoolean}}
JBool({{{value}}})
{{/isBoolean}}
{{#isEnum}}
JString("{{{value}}}")
{{/isEnum}}
{{#isArray}}
JArray(List({{#value}}{{> tests/param_json_element}}{{^-last}},{{/-last}}{{/value}}))
{{/isArray}}
{{#isFreeFormObject}}
JObject(List({{#value}}JField("{{{key}}}", {{> tests/param_json_element}}){{^-last}},{{/-last}}{{/value}}))
{{/isFreeFormObject}}