{{{objectName}}}(
{{#value}}
{{^isAdditionalProperty}}
{{#lambda.identifier}}{{key}}{{/lambda.identifier}} = {{> tests/param_optional}},
{{/isAdditionalProperty}}
{{/value}}
{{#hasAdditionalProperties}}
additionalProperties = Some(List({{#value}}{{#isAdditionalProperty}}JField("{{key}}", {{> tests/param_json_element}}),
{{/isAdditionalProperty}}{{/value}}))
{{/hasAdditionalProperties}}
)