{{#oneOfModel}}{{{parentClassName}}}.of{{#x-one-of-explicit-name}}{{{type}}}{{/x-one-of-explicit-name}}(Seq({{#value}}{{> param_value}}{{^-last}},{{/-last}}{{/value}})){{/oneOfModel}}{{^oneOfModel}}Seq({{#value}}{{> param_value}}{{^-last}},{{/-last}}{{/value}}){{/oneOfModel}}