{{{objectName}}}(
{{#value}}
{{^isAdditionalProperty}}
{{#hasAdditionalProperties}}{{#lambda.scalaIdentifier}}{{{key}}}{{/lambda.scalaIdentifier}} = {{/hasAdditionalProperties}}{{> tests/request_param}},
{{/isAdditionalProperty}}
{{/value}}
{{#hasAdditionalProperties}}
additionalProperties = Some(List({{#value}}{{#isAdditionalProperty}}JField("{{key}}", {{> tests/request_param}}),
{{/isAdditionalProperty}}{{/value}}))
{{/hasAdditionalProperties}}
)