{{{objectName}}}(
{{#value}}
{{^isAdditionalProperty}}
{{#hasAdditionalProperties}}{{#lambda.scalaIdentifier}}{{{key}}}{{/lambda.scalaIdentifier}} = {{/hasAdditionalProperties}}{{^required}}Some({{/required}}{{> tests/param_json_element}}{{^required}}){{/required}},
{{/isAdditionalProperty}}
{{/value}}
{{#hasAdditionalProperties}}
additionalProperties = Some(List({{#value}}{{#isAdditionalProperty}}JField("{{key}}", {{> tests/request_param}}),
{{/isAdditionalProperty}}{{/value}}))
{{/hasAdditionalProperties}}
)