{{^isAdditionalProperty}}{{#lambda.scalaIdentifier}}{{&key}}{{/lambda.scalaIdentifier}} = {{> param_optional}}{{/isAdditionalProperty}}{{#isAdditionalProperty}}additionalProperties = Map("{{key}}" -> {{> param_json_element}}){{/isAdditionalProperty}}