{{^useEchoRequester}}{{#hasResponsePayload}}{{{returnType}}} res = {{/hasResponsePayload}}{{/useEchoRequester}}{{> tests/method}};
{{#useEchoRequester}}EchoResponse result = echo.getLastResponse();{{/useEchoRequester}}