{{^useEchoRequester}}var res = {{/useEchoRequester}}client{{#path}}.{{.}}{{/path}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}});
{{#useEchoRequester}}EchoResponse result = echo.getLastResponse();{{/useEchoRequester}}