{{^useEchoRequester}}var res = {{/useEchoRequester}}client{{#method}}.{{.}}{{/method}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}});
{{#useEchoRequester}}EchoResponse result = echo.getLastResponse();{{/useEchoRequester}}
