<?php

namespace Algolia\AlgoliaSearch\Test\Api;

use Algolia\AlgoliaSearch\Api\{{client}};
use Algolia\AlgoliaSearch\Configuration\{{clientPrefix}}Config;
use Algolia\AlgoliaSearch\Http\HttpClientInterface;
use Algolia\AlgoliaSearch\Http\Psr7\Response;
use Algolia\AlgoliaSearch\RetryStrategy\ApiWrapper;
use Algolia\AlgoliaSearch\RetryStrategy\ClusterHosts;
use GuzzleHttp\Psr7\Query;
use PHPUnit\Framework\TestCase;
use Psr\Http\Message\RequestInterface;
{{#hasE2E}}
use Dotenv\Dotenv;

// we only read .env file if we run locally
if (isset($_ENV['DOCKER']) && $_ENV['DOCKER'] === "true") {
    $dotenv = Dotenv::createImmutable('tests');
    $dotenv->load();
} else {
    $_ENV = getenv();
}
{{/hasE2E}}

/**
 * {{clientPrefix}}Test
 *
 * @category Class
 * @package  Algolia\AlgoliaSearch
 */
class {{clientPrefix}}Test extends TestCase implements HttpClientInterface
{
    /**
     * @var RequestInterface[]
     */
    private $recordedRequests = [];

    {{#hasE2E}}
    protected function union($expected, $received)
    {
        $res = [];

        foreach ($expected as $k => $v) {
            if (isset($received[$k])) {
                if (is_array($v)) {
                    $res[$k] = $this->union($v, $received[$k]);
                } elseif (is_array($v)) {
                    if (!isset($res[$k])) {
                        $res[$k] = [];
                    }

                    foreach ($v as $iv => $v) {
                        $res[$k][] = $this->union($v, $received[$k][$iv]);
                    }
                } else {
                    $res[$k] = $received[$k];
                }
            }
        }

        return $res;
    }
    {{/hasE2E}}

    protected function assertRequests(array $requests)
    {
        $this->assertGreaterThan(0, count($requests));
        $this->assertEquals(count($requests), count($this->recordedRequests));

        foreach ($requests as $i => $request) {
            $recordedRequest = $this->recordedRequests[$i];

            $this->assertEquals($request['method'], $recordedRequest->getMethod());

            $this->assertEquals($request['path'], $recordedRequest->getUri()->getPath());

            if (isset($request['body'])) {
                $this->assertEquals(
                    json_encode($request['body']),
                    $recordedRequest->getBody()->getContents()
                );
            }

            if (isset($request['queryParameters'])) {
                $this->assertEquals(
                    Query::build($request['queryParameters'], false),
                    $recordedRequest->getUri()->getQuery()
                );
            }

            if (isset($request['headers'])) {
                foreach ($request['headers'] as $key => $value) {
                    $this->assertArrayHasKey(
                        $key,
                        $recordedRequest->getHeaders()
                    );
                    $this->assertEquals(
                        $recordedRequest->getHeaderLine($key),
                        $value
                    );
                }
            }
        }
    }

    public function sendRequest(RequestInterface $request, $timeout, $connectTimeout)
    {
        $this->recordedRequests[] = $request;

        return new Response(200, [], '{}');
    }

    {{#hasE2E}}
    protected function getE2EClient()
    {
        return {{client}}::create($_ENV['ALGOLIA_APPLICATION_ID'], $_ENV['ALGOLIA_ADMIN_KEY']);
    }
    {{/hasE2E}}

    protected function getClient()
    {
        $api = new ApiWrapper($this, {{clientPrefix}}Config::create(getenv('ALGOLIA_APP_ID'), getenv('ALGOLIA_API_KEY'){{#hasRegionalHost}},'{{defaultRegion}}' {{/hasRegionalHost}}), ClusterHosts::create('127.0.0.1'));
        $config = {{clientPrefix}}Config::create('foo', 'bar'{{#hasRegionalHost}},'{{defaultRegion}}' {{/hasRegionalHost}});

        return new {{client}}($api, $config);
    }

    {{#blocksRequests}}
    {{#tests}}
    /**
    * Test case for {{#lambda.titlecase}}{{{method}}}{{/lambda.titlecase}}
    * {{{testName}}}
    */
    public function test{{#lambda.titlecase}}{{method}}{{/lambda.titlecase}}{{testIndex}}()
    {
        $client = $this->getClient();
        {{#hasRequestOptions}}
          $requestOptions = [
            'queryParameters' => [
              {{#requestOptions.queryParameters.parametersWithDataType}}
                '{{{key}}}' => {{> tests/requests/requestOptionsParams}},
              {{/requestOptions.queryParameters.parametersWithDataType}}
            ],
            'headers' => [
              {{#requestOptions.headers.parametersWithDataType}}
                '{{{key}}}' => '{{{value}}}',
              {{/requestOptions.headers.parametersWithDataType}}
            ]
          ];
        {{/hasRequestOptions}}
        $client->{{^hasParameters}}{{{method}}}();{{/hasParameters}}{{#hasParameters}}{{{method}}}(
        {{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}}$requestOptions{{/hasRequestOptions}}
        );{{/hasParameters}}

        $this->assertRequests([
            [
                "path" => "{{{request.path}}}",
                "method" => "{{{request.method}}}",
                {{#request.body}}
                "body" => json_decode("{{#lambda.escapeQuotes}}{{{request.body}}}{{/lambda.escapeQuotes}}"),
                {{/request.body}}
                {{^request.body}}
                {{#assertNullBody}}
                "body" => null,
                {{/assertNullBody}}
                {{^assertNullBody}}
                "body" => json_decode(""),
                {{/assertNullBody}}
                {{/request.body}}
                {{#request.queryParameters}}
                "queryParameters" => json_decode("{{#lambda.escapeQuotes}}{{{request.queryParameters}}}{{/lambda.escapeQuotes}}", true),
                {{/request.queryParameters}}
                {{#request.headers}}
                "headers" => json_decode("{{#lambda.escapeQuotes}}{{{request.headers}}}{{/lambda.escapeQuotes}}", true),
                {{/request.headers}}
            ],
        ]);

        {{#response}}
        $e2eClient = $this->getE2EClient();
        $resp = $e2eClient->{{^hasParameters}}{{{method}}}();{{/hasParameters}}{{#hasParameters}}{{{method}}}(
        {{#parametersWithDataType}}{{> tests/generateParams}}{{/parametersWithDataType}}{{#hasRequestOptions}}$requestOptions{{/hasRequestOptions}}
        );{{/hasParameters}}

        {{#body}}
        $expected = json_decode('{{{.}}}', true);

        $this->assertEquals($this->union($expected, $resp), $expected);
        {{/body}}
        {{/response}}

    }
    {{/tests}}
    {{/blocksRequests}}
}