package main

import (
  "encoding/json"
  "fmt"
  "net/http"
)

{{> snippets/import}}

func globalAlgoliaUserToken() {
  client, err := search.NewClient("YourApplicationID", "YourAdminAPIKey")
  if err != nil {
    fmt.Println(err)
  }

  client.AddDefaultHeader("X-Algolia-UserToken", "test-user-123")
}
