package main

import (
  "encoding/json"
  "fmt"
  "net/http"
)

{{> snippets/import}}

func saveObjectsMovies() {
  // read json file
  url := "https://dashboard.algolia.com/api/1/sample_datasets?type=movie"
  response, err := http.Get(url)

  if err != nil {
    fmt.Println("Could not open url")
    return
  }

  defer response.Body.Close()

  // parse json file to Movie struct
  var movies []map[string]interface{}
  err = json.NewDecoder(response.Body).Decode(&movies)

  if err != nil {
    fmt.Println("Could not decode body")
    return
  }

    // initiate client with your app ID and write API key
    {{> snippets/init}}

	// push data to algolia
	result, err := {{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}}
	if err != nil {
		panic(err)
	}

  fmt.Printf("Done! Uploaded records in %d batches.", len(result))
}