package main

import (
  "encoding/json"
  "fmt"
  "net/http"
)

{{> snippets/import}}

func saveObjectsPublicUser() {
    playlists := []map[string]any{ { /* Your records */ } }

    {{> snippets/init}}

    _, err = {{#dynamicSnippet}}saveObjectsPlaylistsWithUserIDPublic{{/dynamicSnippet}}
    if err != nil {
      panic(err)
    }
}