package main

import (
  "encoding/json"
  "fmt"
  "net/http"
)

{{> snippets/import}}

func getPlatformTag() (string, error) {
  return "", nil // Implement your logic here
}

func searchWithRuleContexts() {
  {{> snippets/init}}

  platformTag, err := getPlatformTag()
  if err != nil {
    panic(err)
  }

  searchParams := search.SearchParamsObjectAsSearchParams(
    search.NewSearchParamsObject().
      SetQuery("<YOUR_SEARCH_QUERY>").
      SetRuleContexts([]string{platformTag}),
  )

  _, err = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
  if err != nil {
    panic(err)
  }
}
