package main

import (
  "encoding/json"
  "fmt"
  "net/http"
)

{{> snippets/import}}

func getBuyerAccountID() (string, error) {
  return "", nil // Implement your logic here
}

func searchWithRuleContextBuyer() {
  {{> snippets/init}}

  // get the buyer account information
  buyer, err := getBuyerAccountID()
  if err != nil {
    panic(err)
  }

  searchParams := search.SearchParamsObjectAsSearchParams(
    search.NewSearchParamsObject().
      SetQuery("<YOUR_SEARCH_QUERY>").
      SetRuleContexts([]string{buyer}),
  )

  _, err = {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}}
  if err != nil {
    panic(err)
  }
}
