get:
  tags:
    - Dictionaries
  operationId: getDictionarySettings
  x-acl:
    - settings
  summary: Get dictionary settings.
  description: |
    Get the languages for which standard dictionary entries are turned off.
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            title: getDictionarySettingsResponse
            additionalProperties: false
            type: object
            required:
              - disableStandardEntries
            properties:
              disableStandardEntries:
                $ref: 'common/parameters.yml#/standardEntries'
    '400':
      $ref: '../../../common/responses/BadRequest.yml'
    '402':
      $ref: '../../../common/responses/FeatureNotEnabled.yml'
    '403':
      $ref: '../../../common/responses/MethodNotAllowed.yml'
    '404':
      $ref: '../../../common/responses/IndexNotFound.yml'

put:
  tags:
    - Dictionaries
  operationId: setDictionarySettings
  x-acl:
    - editSettings
  description: Turn on or off standard stop word dictionary entries for a given language.
  summary: Update dictionary settings.
  requestBody:
    required: true
    content:
      application/json:
        schema:
          title: dictionarySettingsParams
          type: object
          additionalProperties: false
          description: |
            Turn on or off the built-in Algolia stop words for a specific language.
          required:
            - disableStandardEntries
          properties:
            disableStandardEntries:
              $ref: 'common/parameters.yml#/standardEntries'
  responses:
    '200':
      $ref: '../../../common/responses/UpdatedAt.yml'
    '400':
      $ref: '../../../common/responses/BadRequest.yml'
    '402':
      $ref: '../../../common/responses/FeatureNotEnabled.yml'
    '403':
      $ref: '../../../common/responses/MethodNotAllowed.yml'
    '404':
      $ref: '../../../common/responses/IndexNotFound.yml'
