<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}
use Algolia\AlgoliaSearch\Model\Search\Action;
use Algolia\AlgoliaSearch\Model\Search\MultipleBatchRequest;

try {
  // You need an API key with `deleteIndex`
  {{> snippets/init}};

  // List all indices
  $indicesResponse = {{#dynamicSnippet}}listIndicesSimple{{/dynamicSnippet}};
  $indices = $indicesResponse['items'];

  // Primary indices don't have a `primary` key
  $primaryIndices = array_filter($indices, function ($index) {
    return !isset($index['primary']);
  });
  $replicaIndices = array_filter($indices, function ($index) {
    return isset($index['primary']);
  });

  // Delete primary indices first
  if (!empty($primaryIndices)) {
    $requests = array_map(function ($index) {
      return (new MultipleBatchRequest())
              ->setAction((new Action())::DELETE)
              ->setIndexName($index['name']);
    }, $primaryIndices);

    {{#dynamicSnippet}}deleteMultipleIndicesPrimary{{/dynamicSnippet}};
    echo "Deleted primary indices.\n";
  }

  // Now, delete replica indices
  if (!empty($replicaIndices)) {
    $requests = array_map(function ($index) {
      return [
        'action' => 'delete',
        'indexName' => $index['name'],
      ];
    }, $replicaIndices);

    {{#dynamicSnippet}}deleteMultipleIndicesReplica{{/dynamicSnippet}};
    echo "Deleted replica indices.\n";
  }
} catch (Exception $e) {
  echo 'Error: ' . $e->getMessage() . "\n";
}
