<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}
use Algolia\AlgoliaSearch\Model\Search\SearchParamsObject;

$getGoogleAnalyticsUserIdFromBrowserCookie = function (string $cookieName): string {
    // Implement your logic here
    return '';
};

{{> snippets/init}}

$userToken = $getGoogleAnalyticsUserIdFromBrowserCookie('_ga');
$searchParams = (new SearchParamsObject())
    ->setQuery('<YOUR_SEARCH_QUERY>')
    ->setUserToken($userToken);

{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};

/** @var string|null $loggedInUser */
$loggedInUser = null;

$searchParams->setUserToken($loggedInUser ?? $userToken);

{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
