<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}
use Algolia\AlgoliaSearch\Model\Search\OptionalFilters;
use Algolia\AlgoliaSearch\Model\Search\SearchParamsObject;

$labels = []; // A list of labels
$reduceLabelsToFilters = function (array $labels): OptionalFilters {
    // Implement your logic here
    return new OptionalFilters();
};

{{> snippets/init}}

$optionalFilters = $reduceLabelsToFilters($labels);
$searchParams = (new SearchParamsObject())
    ->setQuery('<YOUR_SEARCH_QUERY>')
    ->setOptionalFilters($optionalFilters);

{{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
