<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}

$getBuyerAccountId = function (): string {
    // Implement your logic here
    return '';
};

try {
  {{> snippets/init}}

  // get the buyer account information
  $buyer = $getBuyerAccountId();
  $searchParams = [
    'query' => '<YOUR_SEARCH_QUERY>',
    'ruleContexts' => [$buyer],
  ];

  {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
} catch (Exception $e) {
  echo $e->getMessage() . PHP_EOL;
}