<?php

require __DIR__ . '/../vendor/autoload.php';
{{> snippets/import}}
use Algolia\AlgoliaSearch\Model\Search\SearchParamsObject;

try {
  {{> snippets/init}}

  $query = 'query';

  // 1. Change the sort dynamically based on the UI events
  $sortByPrice = false;

  // 2. Get the index name based on sortByPrice
  $indexName = $sortByPrice ? 'products_price_desc' : 'products';

  // 3. Search on dynamic index name (primary or replica)
  {{#dynamicSnippet}}searchWithIndexNameVar{{/dynamicSnippet}};
} catch (Exception $e) {
  echo $e->getMessage() . PHP_EOL;
}

