<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}

$playlists = [ /* Your records */ ];

{{> snippets/init}}

foreach ($playlists as $playlist) {
  try {
    $playlistUserID = $playlist['userID'];
    {{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}};
  } catch (Exception $e) {
    echo $e->getMessage() . PHP_EOL;
  }
}
