<?php

require __DIR__.'/../vendor/autoload.php';
{{> snippets/import}}
use Algolia\AlgoliaSearch\Model\Search\Consequence;
use Algolia\AlgoliaSearch\Model\Search\Rule;
use Algolia\AlgoliaSearch\Model\Search\TimeRange;

{{> snippets/init}}

$objectID = 'a-rule-id';

$rule = (new Rule())
  ->setObjectID($objectID)
  ->setConsequence(new Consequence(/* Set relevant consequence */));

// Set validity (optional)
$rule->setValidity(
  [
    (new TimeRange())
    ->setFrom(1688774400)
    ->setUntil(1738972800)
  ]
);

{{#dynamicSnippet}}saveRule{{/dynamicSnippet}};
