{{#isFreeFormObject}}<string, {{#value.0}}{{#isAnyType}}object{{/isAnyType}}{{^isAnyType}}{{#oneOfModel}}{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{objectName}}{{/oneOfModel}}{{> generateGenerics}}{{/isAnyType}}{{/value.0}}{{^value.0}}object{{/value.0}}>{{/isFreeFormObject}}