{{#isArray}}{{#value.0}}<{{#oneOfModel}}{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{objectName}}{{> tests/generateGenerics}}{{/oneOfModel}}>{{/value.0}}{{/isArray}}{{#isFreeFormObject}}{{^isSimpleObject}}<string, {{#value.0}}{{#isAnyType}}object{{/isAnyType}}{{^isAnyType}}{{#oneOfModel}}{{parentClassName}}{{/oneOfModel}}{{^oneOfModel}}{{objectName}}{{/oneOfModel}}{{> tests/generateGenerics}}{{/isAnyType}}{{/value.0}}>{{/isSimpleObject}}{{/isFreeFormObject}}