{{#oneOfModel}}{{^hasWrapper}}{{{key}}}{{suffix}}{{/hasWrapper}}{{#hasWrapper}}new {{{parentClassName}}}({{{key}}}{{suffix}}){{/hasWrapper}}{{/oneOfModel}}{{^oneOfModel}}{{{key}}}{{suffix}}{{/oneOfModel}}