{{#isAsyncMethod}}await {{/isAsyncMethod}}client.{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{#isAsyncMethod}}Async{{/isAsyncMethod}}{{#isGeneric}}<Hit>{{/isGeneric}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}}{{#hasRequestOptions}}, new RequestOptionBuilder()
{{#requestOptions.queryParameters.parametersWithDataType}}
    .AddExtraQueryParameters("{{{key}}}", {{> tests/requests/requestOptionsParams}} )
{{/requestOptions.queryParameters.parametersWithDataType}}
{{#requestOptions.headers.parametersWithDataType}}
    .AddExtraHeader("{{{key}}}", "{{{value}}}")
{{/requestOptions.headers.parametersWithDataType}}
{{#requestOptions.connectTimeout}}
    .SetConnectTimeout(TimeSpan.FromMilliseconds({{requestOptions.connectTimeout}}))
{{/requestOptions.connectTimeout}}
{{#requestOptions.readTimeout}}
    .SetReadTimeout(TimeSpan.FromMilliseconds({{requestOptions.readTimeout}}))
{{/requestOptions.readTimeout}}
{{#requestOptions.writeTimeout}}
    .SetWriteTimeout(TimeSpan.FromMilliseconds({{requestOptions.writeTimeout}}))
{{/requestOptions.writeTimeout}}
    .Build()
{{/hasRequestOptions}})