{{#isAsyncMethod}}await {{/isAsyncMethod}}client.{{#lambda.pascalcase}}{{method}}{{/lambda.pascalcase}}{{#isAsyncMethod}}Async{{/isAsyncMethod}}{{#isGeneric}}<Hit>{{/isGeneric}}({{#parametersWithDataType}}{{> tests/generateParams}}{{^-last}},{{/-last}}{{/parametersWithDataType}}{{#hasRequestOptions}}, new RequestOptionBuilder()
{{#requestOptions.queryParameters.parametersWithDataType}}
    .AddExtraQueryParameters("{{{key}}}", {{> tests/requests/requestOptionsParams}} )
{{/requestOptions.queryParameters.parametersWithDataType}}
{{#requestOptions.headers.parametersWithDataType}}
    .AddExtraHeader("{{{key}}}", "{{{value}}}")
{{/requestOptions.headers.parametersWithDataType}}
{{#requestOptions.timeouts.connect}}
    .SetConnectTimeout(TimeSpan.FromMilliseconds({{.}}))
{{/requestOptions.timeouts.connect}}
{{#requestOptions.timeouts.read}}
    .SetReadTimeout(TimeSpan.FromMilliseconds({{.}}))
{{/requestOptions.timeouts.read}}
{{#requestOptions.timeouts.write}}
    .SetWriteTimeout(TimeSpan.FromMilliseconds({{.}}))
{{/requestOptions.timeouts.write}}
    .Build()
{{/hasRequestOptions}})