// {{generationBanner}}
import '{{{import}}}';
import 'package:algolia_test/algolia_test.dart';
import 'package:test/test.dart';
import 'package:test_api/hooks.dart';
import 'dart:io' show Platform;

void main() {
  {{#blocksClient}}
  {{#tests}}
  {{^isHelper}} {{! Helper tests are not supported yet}}
  test('{{{testName}}}', () async { 
    final requester = RequestInterceptor();
    {{#autoCreateClient}}
    final client =  {{client}}(
      appId: 'appId', 
      apiKey: 'apiKey',
      {{#hasRegionalHost}}
      region: '{{defaultRegion}}',
      {{/hasRegionalHost}}
      options: ClientOptions(requester: requester),
    );
    {{/autoCreateClient}}    
    {{#steps}}
    {{#isError}}
    await expectError(
      '{{{expectedError}}}',
      () async {
        {{#dynamicTemplate}}{{/dynamicTemplate}}
      },
    );
    {{/isError}}
    {{^isError}}
    {{#shouldScope}}
    {
    {{/shouldScope}}
    {{#match}}
    requester.setOnRequest((request) {
      {{#testUserAgent}}
          TestHandle.current.markSkipped('User agent added using an interceptor');
      {{/testUserAgent}}
      {{#testTimeouts}}
          expect({{{matchResponseTimeout}}}, request.timeout.inMilliseconds);
      {{/testTimeouts}}
      {{#testHost}}
          expect(request.host.url, {{#match}}{{> tests/param_value}}{{/match}});
      {{/testHost}}
    });
    {{/match}}
    {{#dynamicTemplate}}{{/dynamicTemplate}}
    {{#shouldScope}} 
    }
    {{/shouldScope}}
    {{/isError}}
    {{/steps}}
    }
  );

  {{/isHelper}}
  {{/tests}}
  {{/blocksClient}}
}