try {
  final res = await client.{{path}}(
      {{#parametersWithDataType}}
      {{> tests/request_param}}
      {{/parametersWithDataType}}
  );
  {{#match}}
  {{#testResponse}}
  {{#matchIsObject}}
  expectBody(res, """{{{match.parameters}}}""");
  {{/matchIsObject}}
  {{^matchIsObject}}
  expect(res, """{{match}}""");
  {{/matchIsObject}}
  {{/testResponse}}
  {{/match}}
} on InterceptionException catch (_) {
  // Ignore InterceptionException
}