try {
  final res = await client.{{method}}(
      {{#parametersWithDataType}}
      {{> tests/request_param}}
      {{/parametersWithDataType}}
  );
  {{#match}}
  {{#testResponse}}
  {{#matchIsJSON}}
  expectBody(res, """{{{match.parameters}}}""");
  {{/matchIsJSON}}
  {{^matchIsJSON}}
  expect(res, """{{match}}""");
  {{/matchIsJSON}}
  {{/testResponse}}
  {{/match}}
} on InterceptionException catch (_) {
  // Ignore InterceptionException
}
