try {
  {{#hasResponse}}final res = {{/hasResponse}}await client.{{method}}(
      {{#parametersWithDataType}}
      {{> tests/request_param}}
      {{/parametersWithDataType}}
      {{#hasRequestOptions}}requestOptions: RequestOptions({{#requestOptions.timeouts}}{{#write}}writeTimeout: Duration(milliseconds: {{{.}}}),{{/write}}{{#read}}readTimeout: Duration(milliseconds: {{{.}}}),{{/read}}{{#connect}}connectTimeout: Duration(milliseconds: {{{.}}}),{{/connect}}{{/requestOptions.timeouts}}),{{/hasRequestOptions}}
  );
  {{#testResponse}}
  {{^match.isPrimitive}}
  expectBody(res, """{{{match.value}}}""");
  {{/match.isPrimitive}}
  {{#match.isPrimitive}}
  expect(res, {{#match}}{{> tests/param_value}}{{/match}});
  {{/match.isPrimitive}}
  {{/testResponse}}
} on InterceptionException catch (_) {
  // Ignore InterceptionException
}