package com.algolia;

import java.util.List;

{{> snippets/import}}

public class enableFilterPromote {

public static void main(String[] args) throws Exception {

    Condition condition = new Condition()
      .setAnchoring(Anchoring.IS)
      .setPattern("{facet:brand}");

    Consequence consequence = new Consequence()
      .setFilterPromotes(true);

    Rule rule = new Rule()
      .setObjectID("rule_with_filterPromotes")
      .setConditions(List.of(condition))
      .setConsequence(consequence);
  }
}