package com.algolia;

import java.io.InputStream;
import java.net.URI;
import java.net.URL;
import java.util.List;

import com.fasterxml.jackson.core.type.TypeReference;
import com.fasterxml.jackson.databind.JsonNode;
import com.fasterxml.jackson.databind.ObjectMapper;

{{> snippets/import}}

public class saveObjectsMovies {
  public static void main(String[] args) throws Exception {
    // Fetch sample dataset
    URL url = new URI("https://dashboard.algolia.com/api/1/sample_datasets?type=movie").toURL();
    InputStream stream = url.openStream();
    ObjectMapper mapper = new ObjectMapper();
    List<JsonNode> movies = mapper.readValue(stream, new TypeReference<List<JsonNode>>() {});
    stream.close();

    // Connect and authenticate with your Algolia app using your app ID and write API key
    {{> snippets/init}}

    // Save records in Algolia index
    {{#dynamicSnippet}}saveObjectsMovies{{/dynamicSnippet}};
    client.close();
  }
}