package com.algolia;

import java.time.ZoneOffset;
import java.time.ZonedDateTime;

{{> snippets/import}}

public class searchRecentlyPublishedBooks {

  public static void main(String[] args) throws Exception {

    try ({{> snippets/init}}) {
      long dateTimestamp = ZonedDateTime.now(ZoneOffset.UTC).plusYears(-1).toEpochSecond();
      SearchParams searchParams = new SearchParamsObject()
        .setQuery("<YOUR_SEARCH_QUERY>")
        .setFilters("date_timestamp > " + dateTimestamp);

      {{#dynamicSnippet}}searchWithSearchParams{{/dynamicSnippet}};
    } catch (Exception e) {
      System.out.println("An error occurred: " + e.getMessage());
    }
  }
}
