package com.algolia;

import java.util.List;
import java.util.Map;

{{> snippets/import}}

public class setHeaderUserIDThenSaveObjects {

  private static final List<Map<String, Object>> playlists = List.of(/* Your records */);

  public static void main(String[] args) throws Exception {

    try ({{> snippets/init}}) {
      playlists.forEach((playlist) -> {
        String playlistUserID = (String) playlist.get("userID");
        {{#dynamicSnippet}}saveObjectsPlaylistsWithRequestOptions{{/dynamicSnippet}};
      });
    } catch (Exception e) {
      System.out.println("An error occurred: " + e.getMessage());
    }
  }
}