# frozen_string_literal: true

# {{{generationBanner}}}

{{#isSearchClient}}
require 'openssl'
require 'base64'
{{/isSearchClient}}

module {{moduleName}}
{{#operations}}
  class {{classname}}
    attr_accessor :api_client

    def initialize(config = nil)
      raise '`config` is missing.' if config.nil?
      raise '`app_id` is missing.' if config.app_id.nil? || config.app_id == ''
      raise '`api_key` is missing.' if config.api_key.nil? || config.api_key == ''

      if config.connect_timeout.nil?
        config.connect_timeout = {{x-timeouts.server.connect}}
      end

      if config.read_timeout.nil?
        config.read_timeout = {{x-timeouts.server.read}}
      end

      if config.write_timeout.nil?
        config.write_timeout = {{x-timeouts.server.write}}
      end

      @api_client = Algolia::ApiClient.new(config)
    end

    def self.create(app_id, api_key{{#hasRegionalHost}}, region = nil{{/hasRegionalHost}}, opts = {})
      hosts = []
      {{#hasRegionalHost}}
      regions = [{{#allowedRegions}}'{{.}}'{{^-last}}, {{/-last}}{{/allowedRegions}}]

      if region.is_a?(Hash) && (opts.nil? || opts.empty?)
        opts = region
        region = nil
      end

      {{^fallbackToAliasHost}}
      raise "`region` is required and must be one of the following: #{regions.join(', ')}" if region.nil? || !region.is_a?(String) || !regions.include?(region)
      {{/fallbackToAliasHost}}
      {{#fallbackToAliasHost}}
      raise "`region` must be one of the following: #{regions.join(', ')}" if !region.nil? && (!region.is_a?(String) || !regions.include?(region))
      {{/fallbackToAliasHost}}

      hosts << Transport::StatefulHost.new({{#fallbackToAliasHost}}region.nil? ? '{{{hostWithFallback}}}' : {{/fallbackToAliasHost}} '{{{regionalHost}}}'.sub('{region}', region), accept: CallType::READ | CallType::WRITE)
      {{/hasRegionalHost}}
      {{#hostWithAppID}}
      hosts << Transport::StatefulHost.new("#{app_id}-dsn.algolia.net", accept: CallType::READ)
      hosts << Transport::StatefulHost.new("#{app_id}.algolia.net", accept: CallType::WRITE)

      hosts += 1.upto(3).map do |i|
        Transport::StatefulHost.new("#{app_id}-#{i}.algolianet.com", accept: CallType::READ | CallType::WRITE)
      end.shuffle
      {{/hostWithAppID}}
      {{#hostsWithoutVariables.size}}
      {{#hostsWithoutVariables}}
      hosts << Transport::StatefulHost.new('{{.}}', accept: CallType::READ | CallType::WRITE)
      {{/hostsWithoutVariables}}
      {{/hostsWithoutVariables.size}}

      config = Algolia::Configuration.new(app_id, api_key, hosts, '{{{baseName}}}', opts)
      new(config)
    end

    def self.create_with_config(config)
      new(config)
    end

    # Helper method to switch the API key used to authenticate the requests.
    #
    # @param api_key [String] the new API key to use.
    # @return [void]
    def set_client_api_key(api_key)
      @api_client.set_client_api_key(api_key)

      self
    end

    def add_user_agent_segment(segment, version = nil)
      @api_client.config.add_user_agent_segment(segment, version)

      self
    end

{{#operation}}
    {{#notes}}
    # {{{.}}}
    {{/notes}}
    {{#vendorExtensions}}
    {{#x-acl.0}}
    #
    # Required API Key ACLs:{{/x-acl.0}}
    {{#x-acl}}
    #   - {{.}}
    {{/x-acl}}
    {{/vendorExtensions}}
    {{#isDeprecated}}
    # THIS OPERATION IS DEPRECATED
    {{/isDeprecated}}
{{#allParams}}
{{#required}}
    # @param {{paramName}} [{{{dataType}}}] {{{description}}} (required)
{{/required}}
{{^required}}
    # @param {{paramName}} [{{{dataType}}}] {{{description}}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
{{/required}}
{{/allParams}}
    # @param request_options: The request options to send along with the query, they will be merged with the transporter base parameters (headers, query params, timeouts, etc.). (optional)
    # @return [Http::Response] the response
    def {{operationId}}_with_http_info({{#allParams}}{{#required}}{{paramName}}, {{/required}}{{^required}}{{paramName}}=nil, {{/required}}{{/allParams}}request_options = {})
      {{#allParams}}
      {{^isNullable}}
      {{#required}}
      # verify the required parameter '{{paramName}}' is set
      if @api_client.config.client_side_validation && {{{paramName}}}.nil?
        raise ArgumentError, "Parameter `{{paramName}}` is required when calling `{{operationId}}`."
      end
      {{/required}}
      {{/isNullable}}
      {{/allParams}}
      {{#vendorExtensions}}
      path = '{{{path}}}'{{#pathParams}}.sub('{' + '{{baseName}}' + '}', {{#x-is-custom-request}}{{paramName}}.to_s{{/x-is-custom-request}}{{^x-is-custom-request}}Transport.encode_uri({{paramName}}.to_s){{/x-is-custom-request}}){{/pathParams}}
      query_params = {}
      {{#queryParams}}
      {{#x-is-custom-request}}
      query_params = query_params.merge({{{paramName}}}) unless {{{paramName}}}.nil?
      {{/x-is-custom-request}}
      {{^x-is-custom-request}}
      query_params[:{{{baseName}}}] = {{#collectionFormat}}@api_client.build_collection_param({{{paramName}}}, :{{{collectionFormat}}}){{/collectionFormat}}{{^collectionFormat}}{{{paramName}}}{{/collectionFormat}}{{^required}} unless {{{paramName}}}.nil?{{/required}}
      {{/x-is-custom-request}}
      {{/queryParams}}
      query_params = query_params.merge(request_options[:query_params]) unless request_options[:query_params].nil?
      header_params = {}
      {{#headerParams}}
      header_params[{{#lambdaFixHeaderKey}}:'{{{baseName}}}'{{/lambdaFixHeaderKey}}] = {{#collectionFormat}}@api_client.build_collection_param({{{paramName}}}, :{{{collectionFormat}}}){{/collectionFormat}}{{^collectionFormat}}{{{paramName}}}{{/collectionFormat}}{{^required}} unless {{{paramName}}}.nil?{{/required}}
      {{/headerParams}}
      header_params = header_params.merge(request_options[:header_params]) unless request_options[:header_params].nil?
      {{/vendorExtensions}}
      {{#vendorExtensions.x-timeouts}}
      request_options[:timeout] ||= {{#vendorExtensions.x-use-read-transporter}}{{read}}{{/vendorExtensions.x-use-read-transporter}} {{^vendorExtensions.x-use-read-transporter}}{{write}}{{/vendorExtensions.x-use-read-transporter}}
      request_options[:connect_timeout] ||= {{connect}}
      {{/vendorExtensions.x-timeouts}}

      post_body = request_options[:debug_body]{{#bodyParam}} || @api_client.object_to_http_body({{{paramName}}}){{/bodyParam}}

      new_options = request_options.merge(
        :operation => :'{{classname}}.{{operationId}}',
        :header_params => header_params,
        :query_params => query_params,
        :body => post_body,
        :use_read_transporter => {{#vendorExtensions.x-use-read-transporter}}true{{/vendorExtensions.x-use-read-transporter}}{{^vendorExtensions.x-use-read-transporter}}false{{/vendorExtensions.x-use-read-transporter}}
      )

      @api_client.call_api(:{{httpMethod}}, path, new_options)
    end

    {{#notes}}
    # {{{.}}}
    {{/notes}}
    {{#vendorExtensions}}
    {{#x-acl.0}}
    #
    # Required API Key ACLs:{{/x-acl.0}}
    {{#x-acl}}
    #   - {{.}}
    {{/x-acl}}
    {{/vendorExtensions}}
{{#allParams}}
{{#required}}
    # @param {{paramName}} [{{{dataType}}}] {{{description}}} (required)
{{/required}}
{{^required}}
    # @param {{paramName}} [{{{dataType}}}] {{{description}}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
{{/required}}
{{/allParams}}
    # @param request_options: The request options to send along with the query, they will be merged with the transporter base parameters (headers, query params, timeouts, etc.). (optional)
    # @return [{{{returnType}}}{{^returnType}}nil{{/returnType}}]
    def {{operationId}}({{#allParams}}{{#required}}{{paramName}}, {{/required}}{{^required}}{{paramName}}=nil, {{/required}}{{/allParams}}request_options = {})
      {{#returnType}}response = {{/returnType}}{{operationId}}_with_http_info({{#allParams}}{{paramName}}, {{/allParams}}request_options)
      {{#returnType}}@api_client.deserialize(response.body, request_options[:debug_return_type]{{#vendorExtensions}}{{#returnProperty}} || '{{#isArray}}Array<{{{modelModule}}}::{{complexType}}>{{/isArray}}{{^isArray}}{{^isPrimitiveType}}{{^isMap}}{{{modelModule}}}::{{/isMap}}{{/isPrimitiveType}}{{{dataType}}}{{/isArray}}'{{/returnProperty}}{{/vendorExtensions}}){{/returnType}}{{^returnType}}nil{{/returnType}}
    end
{{^-last}}

{{/-last}}
{{/operation}}

{{#isSearchClient}}
{{> search_helpers}}
{{/isSearchClient}}
  end
{{/operations}}
end
