# {{{generationBanner}}}

module {{moduleName}}
{{#operations}}
  class {{classname}}
    attr_accessor :api_client

    def initialize(config = nil)
      raise '`config` is missing.' if config.nil?
      raise '`app_id` is missing.' if config.app_id.nil? || config.app_id == ''
      raise '`api_key` is missing.' if config.api_key.nil? || config.api_key == ''

      @api_client = Algolia::ApiClient.new(config)
    end

    def self.create(app_id, api_key{{#hasRegionalHost}}, region = nil{{/hasRegionalHost}}, opts = {})
      hosts = []
      {{#hasRegionalHost}}
      regions = [{{#allowedRegions}}'{{.}}'{{^-last}}, {{/-last}}{{/allowedRegions}}]

      if region.is_a?(Hash) && (opts.nil? || opts.empty?)
        opts = region
        region = nil
      end

      {{^fallbackToAliasHost}}
      raise "`region` is required and must be one of the following: #{regions.join(', ')}" if region.nil? || !region.is_a?(String) || !regions.include?(region)
      {{/fallbackToAliasHost}}
      {{#fallbackToAliasHost}}
      raise "`region` must be one of the following: #{regions.join(', ')}" if !region.nil? && (!region.is_a?(String) || !regions.include?(region))
      {{/fallbackToAliasHost}}

      hosts << Transport::StatefulHost.new({{#fallbackToAliasHost}}region.nil? ? '{{{hostWithFallback}}}' : {{/fallbackToAliasHost}} '{{{regionalHost}}}'.sub!('{region}', region), accept: CallType::READ | CallType::WRITE)
      {{/hasRegionalHost}}
      {{#hostWithAppID}}
      hosts << Transport::StatefulHost.new("#{app_id}-dsn.algolia.net", accept: CallType::READ)
      hosts << Transport::StatefulHost.new("#{app_id}.algolia.net", accept: CallType::WRITE)

      hosts += 1.upto(3).map do |i|
        Transport::StatefulHost.new("#{app_id}-#{i}.algolianet.com", accept: CallType::READ | CallType::WRITE)
      end.shuffle
      {{/hostWithAppID}}
      {{#uniqueHost}}
      hosts << Transport::StatefulHost.new('{{.}}', accept: CallType::READ | CallType::WRITE)
      {{/uniqueHost}}

      config = Algolia::Configuration.new(app_id, api_key, hosts, '{{{baseName}}}', opts)
      create_with_config(config)
    end

    def self.create_with_config(config)
      new(config)
    end

{{#operation}}
    {{#summary}}
    # {{.}}
    {{/summary}}
    {{#notes}}
    # {{.}}
    {{/notes}}
{{#allParams}}
{{#required}}
    # @param {{paramName}} [{{{dataType}}}] {{description}} (required)
{{/required}}
{{^required}}
    # @param {{paramName}} [{{{dataType}}}] {{description}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
{{/required}}
{{/allParams}}
    # @param request_options: The request options to send along with the query, they will be merged with the transporter base parameters (headers, query params, timeouts, etc.). (optional)
    # @return [Http::Response] the response
    def {{operationId}}_with_http_info({{#allParams}}{{#required}}{{paramName}}, {{/required}}{{^required}}{{paramName}}=nil, {{/required}}{{/allParams}}request_options = {})
      {{#allParams}}
      {{^isNullable}}
      {{#required}}
      # verify the required parameter '{{paramName}}' is set
      if @api_client.config.client_side_validation && {{{paramName}}}.nil?
        raise ArgumentError, "Parameter `{{paramName}}` is required when calling `{{operationId}}`."
      end
      {{#isEnum}}
      {{^isContainer}}
      # verify enum value
      allowable_values = [{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]
      if @api_client.config.client_side_validation && !allowable_values.include?({{{paramName}}})
        raise ArgumentError, "invalid value for \"{{{paramName}}}\", must be one of #{allowable_values}"
      end
      {{/isContainer}}
      {{/isEnum}}
      {{/required}}
      {{/isNullable}}
      {{^required}}
      {{#isEnum}}
      {{#collectionFormat}}
      allowable_values = [{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]
      if @api_client.config.client_side_validation && !{{paramName}}.nil? && !{{{paramName}}}.all? { |item| allowable_values.include?(item) }
        raise ArgumentError, "invalid value for \"{{{paramName}}}\", must include one of #{allowable_values}"
      end
      {{/collectionFormat}}
      {{^collectionFormat}}
      allowable_values = [{{#allowableValues}}{{#enumVars}}{{{value}}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}]
      if @api_client.config.client_side_validation && !{{paramName}}.nil? && !allowable_values.include?({{{paramName}}})
        raise ArgumentError, "invalid value for \"{{{paramName}}}\", must be one of #{allowable_values}"
      end
      {{/collectionFormat}}
      {{/isEnum}}
      {{/required}}
      {{#hasValidation}}
      {{#maxLength}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}}.to_s.length > {{{maxLength}}}
        raise ArgumentError, 'invalid value for "{{#required}}{{{paramName}}}{{/required}}{{^required}}"{{{paramName}}}"{{/required}}" when calling {{classname}}.{{operationId}}, the character length must be smaller than or equal to {{{maxLength}}}.'
      end

      {{/maxLength}}
      {{#minLength}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}}.to_s.length < {{{minLength}}}
        raise ArgumentError, 'invalid value for "{{#required}}{{{paramName}}}{{/required}}{{^required}}"{{{paramName}}}"{{/required}}" when calling {{classname}}.{{operationId}}, the character length must be great than or equal to {{{minLength}}}.'
      end

      {{/minLength}}
      {{#maximum}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}} >{{#exclusiveMaximum}}={{/exclusiveMaximum}} {{{maximum}}}
        raise ArgumentError, 'invalid value for "{{#required}}{{{paramName}}}{{/required}}{{^required}}"{{{paramName}}}"{{/required}}" when calling {{classname}}.{{operationId}}, must be smaller than {{^exclusiveMaximum}}or equal to {{/exclusiveMaximum}}{{{maximum}}}.'
      end

      {{/maximum}}
      {{#minimum}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}} <{{#exclusiveMinimum}}={{/exclusiveMinimum}} {{{minimum}}}
        raise ArgumentError, 'invalid value for "{{#required}}{{{paramName}}}{{/required}}{{^required}}"{{{paramName}}}"{{/required}}" when calling {{classname}}.{{operationId}}, must be greater than {{^exclusiveMinimum}}or equal to {{/exclusiveMinimum}}{{{minimum}}}.'
      end

      {{/minimum}}
      {{#pattern}}
      pattern = {{{pattern}}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}} !~ pattern
        raise ArgumentError, "invalid value for '{{#required}}{{{paramName}}}{{/required}}{{^required}}\"{{{paramName}}}\"{{/required}}' when calling {{classname}}.{{operationId}}, must conform to the pattern #{pattern}."
      end

      {{/pattern}}
      {{#maxItems}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}}.length > {{{maxItems}}}
        raise ArgumentError, 'invalid value for "{{#required}}{{{paramName}}}{{/required}}{{^required}}"{{{paramName}}}"{{/required}}" when calling {{classname}}.{{operationId}}, number of items must be less than or equal to {{{maxItems}}}.'
      end

      {{/maxItems}}
      {{#minItems}}
      if @api_client.config.client_side_validation && {{^required}}!{{{paramName}}}.nil? && {{/required}}{{#required}}{{{paramName}}}{{/required}}{{^required}}{{{paramName}}}{{/required}}.length < {{{minItems}}}
        raise ArgumentError, 'invalid value for "{{#required}}{{{paramName}}}{{/required}}{{^required}}"{{{paramName}}}"{{/required}}" when calling {{classname}}.{{operationId}}, number of items must be greater than or equal to {{{minItems}}}.'
      end

      {{/minItems}}
      {{/hasValidation}}
      {{/allParams}}
      {{#vendorExtensions}}
      path = '{{{path}}}'{{#pathParams}}.sub('{' + '{{baseName}}' + '}', {{#x-is-custom-request}}{{paramName}}.to_s{{/x-is-custom-request}}{{^x-is-custom-request}}@api_client.encode_uri({{paramName}}.to_s){{/x-is-custom-request}}){{/pathParams}}
      query_params = {}
      {{#queryParams}}
      {{#x-is-custom-request}}
      query_params = query_params.merge({{{paramName}}}) unless {{{paramName}}}.nil?
      {{/x-is-custom-request}}
      {{^x-is-custom-request}}
      query_params[:{{{baseName}}}] = {{#collectionFormat}}@api_client.build_collection_param({{{paramName}}}, :{{{collectionFormat}}}){{/collectionFormat}}{{^collectionFormat}}{{{paramName}}}{{/collectionFormat}}{{^required}} unless {{{paramName}}}.nil?{{/required}}
      {{/x-is-custom-request}}
      {{/queryParams}}
      query_params = query_params.merge(request_options[:query_params]) unless request_options[:query_params].nil?
      header_params = {}
      {{#headerParams}}
      header_params[{{#lambdaFixHeaderKey}}:'{{{baseName}}}'{{/lambdaFixHeaderKey}}] = {{#collectionFormat}}@api_client.build_collection_param({{{paramName}}}, :{{{collectionFormat}}}){{/collectionFormat}}{{^collectionFormat}}{{{paramName}}}{{/collectionFormat}}{{^required}} unless {{{paramName}}}.nil?{{/required}}
      {{/headerParams}}
      header_params = header_params.merge(request_options[:header_params]) unless request_options[:header_params].nil?
      {{/vendorExtensions}}

      post_body = request_options[:debug_body]{{#bodyParam}} || @api_client.object_to_http_body({{{paramName}}}){{/bodyParam}}

      new_options = request_options.merge(
        :operation => :'{{classname}}.{{operationId}}',
        :header_params => header_params,
        :query_params => query_params,
        :body => post_body,
        :use_read_transporter => {{#vendorExtensions.x-use-read-transporter}}true{{/vendorExtensions.x-use-read-transporter}}{{^vendorExtensions.x-use-read-transporter}}false{{/vendorExtensions.x-use-read-transporter}}
      )

      @api_client.call_api(:{{httpMethod}}, path, new_options)
    end

    {{#summary}}
    # {{{.}}}
    {{/summary}}
    {{#notes}}
    # {{{.}}}
    {{/notes}}
{{#allParams}}
{{#required}}
    # @param {{paramName}} [{{{dataType}}}] {{description}} (required)
{{/required}}
{{^required}}
    # @param {{paramName}} [{{{dataType}}}] {{description}}{{#defaultValue}} (default to {{{.}}}){{/defaultValue}}
{{/required}}
{{/allParams}}
    # @param request_options: The request options to send along with the query, they will be merged with the transporter base parameters (headers, query params, timeouts, etc.). (optional)
    # @return [{{{returnType}}}{{^returnType}}nil{{/returnType}}]
    def {{operationId}}({{#allParams}}{{#required}}{{paramName}}, {{/required}}{{^required}}{{paramName}}=nil, {{/required}}{{/allParams}}request_options = {})
      {{#returnType}}response = {{/returnType}}{{operationId}}_with_http_info({{#allParams}}{{paramName}}, {{/allParams}}request_options)
      {{#returnType}}@api_client.deserialize(response.body, request_options[:debug_return_type]{{#vendorExtensions}}{{#returnProperty}} || '{{#isArray}}Array<{{{modelModule}}}::{{complexType}}>{{/isArray}}{{^isArray}}{{^x-is-custom-request}}{{{modelModule}}}::{{/x-is-custom-request}}{{{dataType}}}{{/isArray}}'{{/returnProperty}}{{/vendorExtensions}}){{/returnType}}{{^returnType}}nil{{/returnType}}
    end
{{^-last}}

{{/-last}}
{{/operation}}

{{#isSearchClient}}
{{> search_helpers}}
{{/isSearchClient}}
  end
{{/operations}}
end
