if (getRecommendationsParams && Array.isArray(getRecommendationsParams)) {
  const newSignatureRequest: GetRecommendationsParams = {
    requests: getRecommendationsParams,
  };

  getRecommendationsParams = newSignatureRequest;
}
