import Foundation
#if os(Linux) // For linux interop
  import FoundationNetworking
#endif

import Core
{{> snippets/import}}

func pushSetup() async throws {
    do {
        let path = URL(string: #file)!.deletingLastPathComponent()
            .appendingPathComponent("records.json")
        let data = try Data(contentsOf: URL(fileURLWithPath: path.absoluteString))
        let records = try JSONDecoder().decode([PushTaskRecords].self, from: data)

        // use the region matching your applicationID
        {{> snippets/init}}

        // setting `watch` to `true` will make the call synchronous
        let resp = {{#dynamicSnippet}}pushSetup{{/dynamicSnippet}}

        dump(resp)
    } catch {
        print(error)
    }
}