package {{packageName}}

// {{{generationBanner}}}

import (
  "github.com/algolia/algoliasearch-client-go/v4/algolia/transport"
)

{{#hasRegionalHost}}
var allowedRegions = [...]string{ {{#allowedRegions}}"{{.}}",{{/allowedRegions}} }

type Region string

const (
  {{#allowedRegions}}
  {{#lambda.uppercase}}{{.}}{{/lambda.uppercase}} Region = "{{.}}"
  {{/allowedRegions}}
)
{{/hasRegionalHost}}

// {{#lambda.titlecase}}{{#lambda.camelcase}}{{client}}{{/lambda.camelcase}}{{/lambda.titlecase}}Configuration stores the configuration of the API client.
type {{#lambda.titlecase}}{{#lambda.camelcase}}{{client}}{{/lambda.camelcase}}{{/lambda.titlecase}}Configuration struct {
	transport.Configuration
  
  {{#hasRegionalHost}}Region Region{{/hasRegionalHost}}
}
