{{#isContainer}}{{#vendorExtensions.x-has-child-generic}}[]{{{complexType}}}[T]{{/vendorExtensions.x-has-child-generic}}{{^vendorExtensions.x-has-child-generic}}{{#vendorExtensions.x-propagated-generic}}[]T{{/vendorExtensions.x-propagated-generic}}{{^vendorExtensions.x-propagated-generic}}{{{datatypeWithEnum}}}{{/vendorExtensions.x-propagated-generic}}{{/vendorExtensions.x-has-child-generic}}{{/isContainer}}{{^isContainer}}{{#vendorExtensions.x-is-generic}}T{{/vendorExtensions.x-is-generic}}{{^vendorExtensions.x-is-generic}}{{{datatypeWithEnum}}}{{/vendorExtensions.x-is-generic}}{{/isContainer}}