package {{packageName}}

// {{{generationBanner}}}

{{#models}}
import (
	"encoding/json"
  "fmt"
  
  "github.com/algolia/algoliasearch-client-go/v4/algolia/utils"
)

{{#model}}
{{#isEnum}}
{{> model_enum}}
{{/isEnum}}
{{^isEnum}}
{{#oneOf}}{{#-first}}{{> model_oneof}}{{/-first}}{{/oneOf}}{{^oneOf}}{{> model_simple}}{{/oneOf}}
{{/isEnum}}
{{/model}}
{{/models}}
