type Nullable{{classname}}{{> generic_init}} struct {
	value {{^isArray}}{{^isFreeFormObject}}*{{/isFreeFormObject}}{{/isArray}}{{classname}}{{> generic_param}}
	isSet bool
}

func (v Nullable{{classname}}{{> generic_param}}) Get() {{^isArray}}{{^isFreeFormObject}}*{{/isFreeFormObject}}{{/isArray}}{{classname}}{{> generic_param}} {
	return v.value
}

func (v *Nullable{{classname}}{{> generic_param}}) Set(val {{^isArray}}{{^isFreeFormObject}}*{{/isFreeFormObject}}{{/isArray}}{{classname}}{{> generic_param}}) {
	v.value = val
	v.isSet = true
}

func (v Nullable{{classname}}{{> generic_param}}) IsSet() bool {
	return v.isSet
}

func (v *Nullable{{classname}}{{> generic_param}}) Unset() {
	v.value = nil
	v.isSet = false
}

func NewNullable{{classname}}{{> generic_init}}(val {{^isArray}}{{^isFreeFormObject}}*{{/isFreeFormObject}}{{/isArray}}{{classname}}{{> generic_param}}) *Nullable{{classname}}{{> generic_param}} {
	return &Nullable{{classname}}{{> generic_param}}{value: val, isSet: true}
}

func (v Nullable{{classname}}{{> generic_param}}) MarshalJSON() ([]byte, error) {
	return json.Marshal(v.value) //nolint:wrapcheck
}

func (v *Nullable{{classname}}{{> generic_param}}) UnmarshalJSON(src []byte) error {
	v.isSet = true
	return json.Unmarshal(src, &v.value) //nolint:wrapcheck
}
