{{#notes}}

{{{unescapedNotes}}}
{{/notes}}
{{#vendorExtensions}}
{{#x-acl.0}}

Required API Key ACLs:{{/x-acl.0}}
{{#x-acl}}
  - {{.}}
{{/x-acl}}
{{/vendorExtensions}}

Request can be constructed by NewApi{{operationId}}Request with parameters below.
 {{#allParams}}
 @param {{paramName}} {{dataType}}{{#description}} - {{{.}}}{{/description}}
 {{/allParams}}
 {{#returnType}}@return {{{.}}}{{/returnType}}
{{#isDeprecated}}

Deprecated
{{/isDeprecated}}
*/
