/*
WaitForTask waits for a task to be published.
Wraps WaitForTaskWithContext with context.Background().
It returns the task response if the operation was successful.
It returns an error if the operation failed.

		@param indexName string - Index name.
		@param taskID int64 - Task ID.
		@param maxRetries *float64 - Maximum number of retries.
	  @param timeout func(float64) time.Duration - Timeout function.
		@param opts ...Option - Optional parameters for the request.
		@return *GetTaskResponse - Task response.
		@return error - Error if any.
*/
func (c *APIClient) WaitForTask(
	indexName string,
	taskID int64,
	maxRetries *float64,
	timeout func(float64) time.Duration,
	opts ...Option,
) (*GetTaskResponse, error) {
	return c.WaitForTaskWithContext(
		context.Background(),
		indexName,
		taskID,
		maxRetries,
		timeout,
		opts...,
	)
}

/*
WaitForTaskWithContext waits for a task to be published.
It returns the task response if the operation was successful.
It returns an error if the operation failed.

	@param ctx context.Context - The context that will be drilled down to the actual request.
	@param indexName string - Index name.
	@param taskID int64 - Task ID.
	@param maxRetries *float64 - Maximum number of retries.
	@param timeout func(float64) time.Duration - Timeout function.
	@param opts ...Option - Optional parameters for the request.
	@return *GetTaskResponse - Task response.
	@return error - Error if any.
*/
func (c *APIClient) WaitForTaskWithContext(
	ctx context.Context,
	indexName string,
	taskID int64,
	maxRetries *float64,
	timeout func(float64) time.Duration,
	opts ...Option,
) (*GetTaskResponse, error) {
	retryCount := float64(0)

	if maxRetries == nil {
		maxRetries = new(float64)
		*maxRetries = 50
	}

	if timeout == nil {
		timeout = func(count float64) time.Duration {
			return time.Duration(min(count*0.2, 5)) * time.Second
		}
	}

	return utils.CreateIterable( //nolint:wrapcheck
		func(*GetTaskResponse, error) (*GetTaskResponse, error) {
			return c.GetTaskWithContext(ctx, c.NewApiGetTaskRequest(indexName, taskID), opts...)
		},
		func(response *GetTaskResponse, err error) bool {
			if err != nil || response == nil {
				return false
			}

			return response.Status == TASK_STATUS_PUBLISHED
		},
		func(*GetTaskResponse, error) {
			retryCount++
		},
		func() time.Duration {
			return timeout(retryCount)
		},
		&utils.IterableError[GetTaskResponse]{
			Validate: func(*GetTaskResponse, error) bool {
				return retryCount >= *maxRetries
			},
			Message: func(*GetTaskResponse, error) string {
				return fmt.Sprintf("The maximum number of retries exceeded. (%f/%f)", retryCount, *maxRetries)
			},
		},
	)
}

/*
WaitForAppTask waits for an application-level task to be published.
Wraps WaitForAppTask with context.Background().
It returns the task response if the operation was successful.
It returns an error if the operation failed.

	@param taskID int64 - Task ID.
	@param maxRetries *float64 - Maximum number of retries.
	@param timeout func(float64) time.Duration - Timeout function.
	@param opts ...Option - Optional parameters for the request.
	@return *GetTaskResponse - Task response.
	@return error - Error if any.
*/
func (c *APIClient) WaitForAppTask(
	taskID int64,
	maxRetries *float64,
	timeout func(float64) time.Duration,
	opts ...Option,
) (*GetTaskResponse, error) {
	return c.WaitForAppTaskWithContext(
		context.Background(),
		taskID,
		maxRetries,
		timeout,
		opts...,
	)
}

/*
WaitForAppTaskWithContext waits for an application-level task to be published.
It returns the task response if the operation was successful.
It returns an error if the operation failed.

	@param ctx context.Context - The context that will be drilled down to the actual request.
	@param taskID int64 - Task ID.
	@param maxRetries *float64 - Maximum number of retries.
	@param timeout func(float64) time.Duration - Timeout function.
	@param opts ...Option - Optional parameters for the request.
	@return *GetTaskResponse - Task response.
	@return error - Error if any.
*/
func (c *APIClient) WaitForAppTaskWithContext(
	ctx context.Context,
	taskID int64,
	maxRetries *float64,
	timeout func(float64) time.Duration,
	opts ...Option,
) (*GetTaskResponse, error) {
	retryCount := float64(0)

	if maxRetries == nil {
		maxRetries = new(float64)
		*maxRetries = 50
	}

	if timeout == nil {
		timeout = func(count float64) time.Duration {
			return time.Duration(min(count*0.2, 5)) * time.Second
		}
	}

	return utils.CreateIterable( //nolint:wrapcheck
		func(*GetTaskResponse, error) (*GetTaskResponse, error) {
			return c.GetAppTaskWithContext(ctx, c.NewApiGetAppTaskRequest(taskID), opts...)
		},
		func(response *GetTaskResponse, err error) bool {
			if err != nil || response == nil {
				return false
			}

			return response.Status == TASK_STATUS_PUBLISHED
		},
		func(*GetTaskResponse, error) {
			retryCount++
		},
		func() time.Duration {
			return timeout(retryCount)
		},
		&utils.IterableError[GetTaskResponse]{
			Validate: func(*GetTaskResponse, error) bool {
				return retryCount >= *maxRetries
			},
			Message: func(*GetTaskResponse, error) string {
				return fmt.Sprintf("The maximum number of retries exceeded. (%f/%f)", retryCount, *maxRetries)
			},
		},
	)
}

/*
WaitForApiKey waits for an API key to be created, deleted or updated.
It returns the API key response if the operation was successful.
It returns an error if the operation failed.

The operation can be one of the following:
  - "add": wait for the API key to be created
  - "delete": wait for the API key to be deleted
  - "update": wait for the API key to be updated

If the operation is "update", the apiKey parameter must be set.
If the operation is "delete" or "add", the apiKey parameter is not used.

	@param operation ApiKeyOperation - Operation type - add, delete or update.
	@param key string - API key.
	@param apiKey *ApiKey - API key structure - required for update operation.
	@param opts ...Option - Optional parameters for the request.
	@return *GetApiKeyResponse - API key response.
	@return error - Error if any.
*/
func (c *APIClient) WaitForApiKey(
	operation ApiKeyOperation,
	key string,
	apiKey *ApiKey,
	opts ...Option,
) (*GetApiKeyResponse, error) {
	return c.WaitForApiKeyWithContext(
		context.Background(),
		operation,
		key,
		apiKey,
		nil,
		nil,
		opts...,
	)
}

/*
WaitForApiKey waits for an API key to be created, deleted or updated.
Wraps WaitForApiKeyWithContext with context.Background().
It returns the API key response if the operation was successful.
It returns an error if the operation failed.

The operation can be one of the following:
  - "add": wait for the API key to be created
  - "delete": wait for the API key to be deleted
  - "update": wait for the API key to be updated

If the operation is "update", the apiKey parameter must be set.
If the operation is "delete" or "add", the apiKey parameter is not used.

	@param operation ApiKeyOperation - Operation type - add, delete or update.
	@param key string - API key.
	@param apiKey *ApiKey - API key structure - required for update operation.
	@param maxRetries *float64 - Maximum number of retries.
	@param timeout func(float64) time.Duration - Timeout function.
	@param opts ...Option - Optional parameters for the request.
	@return *GetApiKeyResponse - API key response.
	@return error - Error if any.
*/
func (c *APIClient) WaitForApiKeyWithOptions(
	operation ApiKeyOperation,
	key string,
	apiKey *ApiKey,
	maxRetries *float64,
	timeout func(float64) time.Duration,
	opts ...Option,
) (*GetApiKeyResponse, error) {
	return c.WaitForApiKeyWithContext(
		context.Background(),
		operation,
		key,
		apiKey,
		maxRetries,
		timeout,
		opts...,
	)
}

/*
WaitForApiKeyWithContext waits for an API key to be created, deleted or updated.
It returns the API key response if the operation was successful.
It returns an error if the operation failed.

The operation can be one of the following:
  - "add": wait for the API key to be created
  - "delete": wait for the API key to be deleted
  - "update": wait for the API key to be updated

If the operation is "update", the apiKey parameter must be set.
If the operation is "delete" or "add", the apiKey parameter is not used.

	@param ctx context.Context - The context that will be drilled down to the actual request.
	@param operation ApiKeyOperation - Operation type - add, delete or update.
	@param key string - API key.
	@param apiKey *ApiKey - API key structure - required for update operation.
	@param maxRetries *float64 - Maximum number of retries.
	@param timeout func(float64) time.Duration - Timeout function.
	@param opts ...Option - Optional parameters for the request.
	@return *GetApiKeyResponse - API key response.
	@return error - Error if any.
*/
func (c *APIClient) WaitForApiKeyWithContext(
	ctx context.Context,
	operation ApiKeyOperation,
	key string,
	apiKey *ApiKey,
	maxRetries *float64,
	timeout func(float64) time.Duration,
	opts ...Option,
) (*GetApiKeyResponse, error) {
	if operation != API_KEY_OPERATION_ADD && operation != API_KEY_OPERATION_DELETE && operation != API_KEY_OPERATION_UPDATE {
		return nil, &errs.WaitKeyOperationError{}
	}

	retryCount := float64(0)

	if maxRetries == nil {
		maxRetries = new(float64)
		*maxRetries = 50
	}

	if timeout == nil {
		timeout = func(count float64) time.Duration {
			return time.Duration(min(count*0.2, 5)) * time.Second
		}
	}

	var validateFunc func(*GetApiKeyResponse, error) bool

	if operation == API_KEY_OPERATION_UPDATE {
		if apiKey == nil {
			return nil, &errs.WaitKeyUpdateError{}
		}

		validateFunc = func(response *GetApiKeyResponse, err error) bool {
			if err != nil || response == nil {
				return false
			}

			if apiKey.GetDescription() != response.GetDescription() {
				return false
			}

			if apiKey.GetQueryParameters() != response.GetQueryParameters() {
				return false
			}

			if apiKey.GetMaxHitsPerQuery() != response.GetMaxHitsPerQuery() {
				return false
			}

			if apiKey.GetMaxQueriesPerIPPerHour() != response.GetMaxQueriesPerIPPerHour() {
				return false
			}

			if apiKey.GetValidity() != response.GetValidity() {
				return false
			}

			slices.Sort(apiKey.Acl)
			slices.Sort(response.Acl)

			if !slices.Equal(apiKey.Acl, response.Acl) {
				return false
			}

			slices.Sort(apiKey.Indexes)
			slices.Sort(response.Indexes)

			if !slices.Equal(apiKey.Indexes, response.Indexes) {
				return false
			}

			slices.Sort(apiKey.Referers)
			slices.Sort(response.Referers)

			return slices.Equal(apiKey.Referers, response.Referers)
		}
	} else {
		validateFunc = func(response *GetApiKeyResponse, err error) bool {
			switch operation {
			case API_KEY_OPERATION_ADD:
				return err == nil && response != nil && response.CreatedAt > 0
			case API_KEY_OPERATION_DELETE:
				if _, ok := err.(*APIError); ok {
					apiErr := err.(*APIError)

					return apiErr.Status == 404
				}

				return false
			}
			return false
		}
	}

	return utils.CreateIterable( //nolint:wrapcheck
		func(*GetApiKeyResponse, error) (*GetApiKeyResponse, error) {
			return c.GetApiKeyWithContext(ctx, c.NewApiGetApiKeyRequest(key), opts...)
		},
		validateFunc,
		func(*GetApiKeyResponse, error) {
			retryCount += 1
		},
		func() time.Duration {
			return timeout(retryCount)
		},
		&utils.IterableError[GetApiKeyResponse]{
			Validate: func(*GetApiKeyResponse, error) bool {
				return retryCount >= *maxRetries
			},
			Message: func(*GetApiKeyResponse, error) string {
				return fmt.Sprintf("The maximum number of retries exceeded. (%f/%f)", retryCount, *maxRetries)
			},
		},
	)
}

func encodeRestrictions(restrictions *SecuredApiKeyRestrictions) (string, error) {
	if restrictions == nil {
		return "", nil
	}

	toSerialize := map[string]any{}
	if restrictions.Filters != nil {
		toSerialize["filters"] = *restrictions.Filters
	}
	if restrictions.ValidUntil != nil {
		toSerialize["validUntil"] = *restrictions.ValidUntil
	}
	if restrictions.RestrictIndices != nil {
		toSerialize["restrictIndices"] = restrictions.RestrictIndices
	}
	if restrictions.RestrictSources != nil {
		toSerialize["restrictSources"] = *restrictions.RestrictSources
	}
	if restrictions.UserToken != nil {
		toSerialize["userToken"] = *restrictions.UserToken
	}
	if restrictions.SearchParams != nil {
		// merge with searchParams
		serializedParams, err := restrictions.SearchParams.MarshalJSON()
		if err != nil {
			return "", fmt.Errorf("failed to marshal SearchParams: %w", err)
		}
		err = json.Unmarshal(serializedParams, &toSerialize)
		if err != nil {
			return "", fmt.Errorf("failed to unmarshal SearchParams: %w", err)
		}
	}

	// sort the keys to ensure consistent encoding
	keys := make([]string, 0, len(toSerialize))
	for k := range toSerialize {
		keys = append(keys, k)
	}
	sort.Strings(keys)

	queryString := make([]string, 0, len(toSerialize))
	for _, k := range keys {
		queryString = append(queryString, k+"="+queryParameterToString(toSerialize[k]))
	}

	return strings.Join(queryString, "&"), nil
}

// GenerateSecuredApiKey generates a public API key intended to restrict access
// to certain records. This new key is built upon the existing key named
// `parentApiKey` and the following options.
func (c *APIClient) GenerateSecuredApiKey(parentApiKey string, restrictions *SecuredApiKeyRestrictions) (string, error) {
	h := hmac.New(sha256.New, []byte(parentApiKey))

	message, err := encodeRestrictions(restrictions)
	if err != nil {
		return "", err
	}
	_, err = h.Write([]byte(message))
	if err != nil {
		return "", fmt.Errorf("failed to compute HMAC: %w", err)
	}

	checksum := hex.EncodeToString(h.Sum(nil))
	key := base64.StdEncoding.EncodeToString([]byte(checksum + message))

	return key, nil
}

// GetSecuredApiKeyRemainingValidity retrieves the remaining validity of the previously generated `securedApiKey`, the `ValidUntil` parameter must have been provided.
func (c *APIClient) GetSecuredApiKeyRemainingValidity(securedApiKey string) (time.Duration, error) {
	if len(securedApiKey) == 0 {
		return 0, fmt.Errorf("given secured API key is empty: %s", securedApiKey)
	}

	decoded, err := base64.StdEncoding.DecodeString(securedApiKey)
	if err != nil {
		return 0, fmt.Errorf("unable to decode given secured API key: %s", err)
	}

	submatch := regexp.MustCompile(`validUntil=(\d{1,10})`).FindSubmatch(decoded)

	if len(submatch) != 2 {
		return 0, fmt.Errorf("unable to find `validUntil` parameter in the given secured API key: %s", string(decoded))
	}

	ts, err := strconv.Atoi(string(submatch[1]))
	if err != nil {
		return 0, fmt.Errorf("invalid format for the received `validUntil` value: %s", string(submatch[1]))
	}

	return time.Until(time.Unix(int64(ts), 0)), nil
}

// ChunkedBatch chunks the given `objects` list in subset of 1000 elements max in order to make it fit in `batch` requests.
func (c *APIClient) ChunkedBatch(indexName string, objects []map[string]any, action *Action, waitForTasks *bool, batchSize *int) ([]BatchResponse, error) {
	var (
		defaultBatchSize   = 1000
		defaultAction      = ACTION_ADD_OBJECT
		defaultWaitForTask = false
	)

	if batchSize == nil {
		batchSize = &defaultBatchSize
	}

	if action == nil {
		action = &defaultAction
	}

	if waitForTasks == nil {
		waitForTasks = &defaultWaitForTask
	}

	requests := make([]BatchRequest, 0, len(objects)%1000)
	responses := make([]BatchResponse, 0, len(objects)%1000)

	for i, obj := range objects {
		requests = append(requests, *NewBatchRequest(*action, obj))

		if len(requests) == *batchSize || i == len(objects)-1 {
			resp, err := c.Batch(c.NewApiBatchRequest(indexName, NewBatchWriteParams(requests)))
			if err != nil {
				return nil, err
			}

			responses = append(responses, *resp)
			requests = make([]BatchRequest, 0, len(objects)%1000)
		}
	}

	if *waitForTasks {
		for _, resp := range responses {
			_, err := c.WaitForTask(indexName, resp.TaskID, nil, nil)
			if err != nil {
				return nil, err
			}
		}
	}

	return responses, nil
}

// ReplaceAllObjects replaces all objects (records) in the given `indexName` with the given `objects`. A temporary index is created during this process in order to backup your data.
// See https://api-clients-automation.netlify.app/docs/contributing/add-new-api-client#5-helpers for implementation details.
func (c *APIClient) ReplaceAllObjects(indexName string, objects []map[string]any, batchSize *int) (*ReplaceAllObjectsResponse, error) {
	tmpIndexName := fmt.Sprintf("%s_tmp_%d", indexName, time.Now().UnixNano())

	copyResp, err := c.OperationIndex(c.NewApiOperationIndexRequest(indexName, NewOperationIndexParams(OPERATION_TYPE_COPY, tmpIndexName, WithOperationIndexParamsScope([]ScopeType{SCOPE_TYPE_RULES, SCOPE_TYPE_SETTINGS, SCOPE_TYPE_SYNONYMS}))))
	if err != nil {
		return nil, err
	}

	waitForTask := true

	batchResp, err := c.ChunkedBatch(tmpIndexName, objects, nil, &waitForTask, batchSize)
	if err != nil {
		return nil, err
	}

	_, err = c.WaitForTask(tmpIndexName, copyResp.TaskID, nil, nil)
	if err != nil {
		return nil, err
	}

	copyResp, err = c.OperationIndex(c.NewApiOperationIndexRequest(indexName, NewOperationIndexParams(OPERATION_TYPE_COPY, tmpIndexName, WithOperationIndexParamsScope([]ScopeType{SCOPE_TYPE_RULES, SCOPE_TYPE_SETTINGS, SCOPE_TYPE_SYNONYMS}))))
	if err != nil {
		return nil, err
	}

	_, err = c.WaitForTask(tmpIndexName, copyResp.TaskID, nil, nil)
	if err != nil {
		return nil, err
	}

	moveResp, err := c.OperationIndex(c.NewApiOperationIndexRequest(tmpIndexName, NewOperationIndexParams(OPERATION_TYPE_MOVE, indexName)))
	if err != nil {
		return nil, err
	}

	_, err = c.WaitForTask(tmpIndexName, moveResp.TaskID, nil, nil)
	if err != nil {
		return nil, err
	}

	return &ReplaceAllObjectsResponse{
		CopyOperationResponse: *copyResp,
		BatchResponses:        batchResp,
		MoveOperationResponse: *moveResp,
	}, nil
}
