get:
  tags:
    - Indices
  operationId: getSettings
  x-mcp-tool: true
  x-acl:
    - settings
  description: Retrieves an object with non-null index settings.
  summary: Retrieve index settings
  parameters:
    - $ref: '../../../common/parameters.yml#/IndexName'
    - $ref: '../../common/parameters.yml#/getVersion'
  responses:
    '200':
      description: OK
      content:
        application/json:
          schema:
            $ref: '../../common/schemas/SettingsResponse.yml#/settingsResponse'
    '400':
      $ref: '../../../common/responses/BadRequest.yml'
    '402':
      $ref: '../../../common/responses/FeatureNotEnabled.yml'
    '403':
      $ref: '../../../common/responses/MethodNotAllowed.yml'
    '404':
      $ref: '../../../common/responses/IndexNotFound.yml'

put:
  tags:
    - Indices
  operationId: setSettings
  x-acl:
    - editSettings
  description: |
    Update the specified index settings.

    Index settings that you don't specify are left unchanged.
    Specify `null` to reset a setting to its default value.

    For best performance, update the index settings before you add new records to your index.
  summary: Update index settings
  parameters:
    - $ref: '../../../common/parameters.yml#/IndexName'
    - $ref: '../../../common/parameters.yml#/ForwardToReplicas'
  requestBody:
    required: true
    content:
      application/json:
        schema:
          $ref: '../../../common/schemas/IndexSettings.yml#/indexSettings'
  responses:
    '200':
      $ref: '../../../common/responses/UpdatedAt.yml'
    '400':
      $ref: '../../../common/responses/BadRequest.yml'
    '402':
      $ref: '../../../common/responses/FeatureNotEnabled.yml'
    '403':
      $ref: '../../../common/responses/MethodNotAllowed.yml'
    '404':
      $ref: '../../../common/responses/IndexNotFound.yml'
