/** Code generated by OpenAPI Generator (https://openapi-generator.tech), manual changes will be lost - read more on
  * https://github.com/algolia/api-clients-automation. DO NOT EDIT.
  */
package algoliasearch.api

import algoliasearch.agentstudio.AgentCompletionRequest
import algoliasearch.agentstudio.AgentConfigCreate
import algoliasearch.agentstudio.AgentConfigUpdate
import algoliasearch.agentstudio.AgentWithVersionResponse
import algoliasearch.agentstudio.AllowedDomainBulkDelete
import algoliasearch.agentstudio.AllowedDomainBulkInsert
import algoliasearch.agentstudio.AllowedDomainCreate
import algoliasearch.agentstudio.AllowedDomainListResponse
import algoliasearch.agentstudio.AllowedDomainResponse
import algoliasearch.agentstudio.ApplicationConfigPatch
import algoliasearch.agentstudio.ApplicationConfigResponse
import algoliasearch.agentstudio.CompatibilityMode._
import algoliasearch.agentstudio.ConversationFullResponse
import algoliasearch.agentstudio.ErrorBase
import algoliasearch.agentstudio.FeedbackCreationRequest
import algoliasearch.agentstudio.FeedbackResponse
import algoliasearch.agentstudio.HTTPValidationError
import algoliasearch.agentstudio.PaginatedAgentsResponse
import algoliasearch.agentstudio.PaginatedConversationsResponse
import algoliasearch.agentstudio.PaginatedProviderAuthenticationsResponse
import algoliasearch.agentstudio.PaginatedSecretKeysResponse
import algoliasearch.agentstudio.ProviderAuthenticationCreate
import algoliasearch.agentstudio.ProviderAuthenticationPatch
import algoliasearch.agentstudio.ProviderAuthenticationResponse
import algoliasearch.agentstudio.SecretKeyCreate
import algoliasearch.agentstudio.SecretKeyPatch
import algoliasearch.agentstudio.SecretKeyResponse
import algoliasearch.agentstudio.UserDataResponse
import algoliasearch.agentstudio._
import algoliasearch.ApiClient
import algoliasearch.api.AgentStudioClient.hosts
import algoliasearch.api.AgentStudioClient.readTimeout
import algoliasearch.api.AgentStudioClient.writeTimeout
import algoliasearch.api.AgentStudioClient.connectTimeout
import algoliasearch.config._
import algoliasearch.internal.util._

import java.util.concurrent.TimeUnit
import scala.concurrent.duration.Duration
import scala.concurrent.{ExecutionContext, Future}
import scala.util.Random

object AgentStudioClient {

  /** Creates a new AgentStudioClient instance using default hosts.
    *
    * @param appId
    *   application ID
    * @param apiKey
    *   api key
    *
    * @param clientOptions
    *   client options
    */
  def apply(
      appId: String,
      apiKey: String,
      clientOptions: ClientOptions = ClientOptions()
  ) = new AgentStudioClient(
    appId = appId,
    apiKey = apiKey,
    clientOptions = clientOptions
  )

  private def readTimeout(): Duration = {
    Duration(25000, TimeUnit.MILLISECONDS)
  }

  private def connectTimeout(): Duration = {
    Duration(25000, TimeUnit.MILLISECONDS)
  }

  private def writeTimeout(): Duration = {
    Duration(25000, TimeUnit.MILLISECONDS)
  }

  private def hosts(appId: String): Seq[Host] = {
    val commonHosts = Random.shuffle(
      List(
        Host(appId + "-1.algolianet.com", Set(CallType.Read, CallType.Write)),
        Host(appId + "-2.algolianet.com", Set(CallType.Read, CallType.Write)),
        Host(appId + "-3.algolianet.com", Set(CallType.Read, CallType.Write))
      )
    )
    List(
      Host(appId + "-dsn.algolia.net", Set(CallType.Read)),
      Host(appId + ".algolia.net", Set(CallType.Write))
    ) ++ commonHosts
  }
}

class AgentStudioClient(
    appId: String,
    apiKey: String,
    clientOptions: ClientOptions = ClientOptions()
) extends ApiClient(
      appId = appId,
      apiKey = apiKey,
      clientName = "AgentStudio",
      defaultHosts = hosts(appId),
      defaultReadTimeout = readTimeout(),
      defaultWriteTimeout = writeTimeout(),
      defaultConnectTimeout = connectTimeout(),
      formats = JsonSupport.format,
      options = clientOptions
    ) {

  /** Add multiple allowed domain patterns. Duplicates are skipped.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def bulkCreateAllowedDomains(
      agentId: String,
      allowedDomainBulkInsert: AllowedDomainBulkInsert,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AllowedDomainListResponse] = Future {
    execute[AllowedDomainListResponse](
      bulkCreateAllowedDomainsHttpRequest(agentId = agentId, allowedDomainBulkInsert = allowedDomainBulkInsert),
      requestOptions
    )
  }

  /** Variant of `bulkCreateAllowedDomains` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def bulkCreateAllowedDomainsWithHTTPInfo(
      agentId: String,
      allowedDomainBulkInsert: AllowedDomainBulkInsert,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[AllowedDomainListResponse]] = Future {
    executeWithHttpInfo[AllowedDomainListResponse](
      bulkCreateAllowedDomainsHttpRequest(agentId = agentId, allowedDomainBulkInsert = allowedDomainBulkInsert),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `bulkCreateAllowedDomains` and
    * `bulkCreateAllowedDomainsWithHTTPInfo`.
    */
  private def bulkCreateAllowedDomainsHttpRequest(
      agentId: String,
      allowedDomainBulkInsert: AllowedDomainBulkInsert
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `bulkCreateAllowedDomains`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `bulkCreateAllowedDomains`.")
    requireNotNull(
      allowedDomainBulkInsert,
      "Parameter `allowedDomainBulkInsert` is required when calling `bulkCreateAllowedDomains`."
    )

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/bulk")
      .withBody(allowedDomainBulkInsert)
      .build()
  }

  /** Delete allowed domains by id list.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def bulkDeleteAllowedDomains(
      agentId: String,
      allowedDomainBulkDelete: AllowedDomainBulkDelete,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Unit] = Future {
    execute[Unit](
      bulkDeleteAllowedDomainsHttpRequest(agentId = agentId, allowedDomainBulkDelete = allowedDomainBulkDelete),
      requestOptions
    )
  }

  /** Variant of `bulkDeleteAllowedDomains` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def bulkDeleteAllowedDomainsWithHTTPInfo(
      agentId: String,
      allowedDomainBulkDelete: AllowedDomainBulkDelete,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](
      bulkDeleteAllowedDomainsHttpRequest(agentId = agentId, allowedDomainBulkDelete = allowedDomainBulkDelete),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `bulkDeleteAllowedDomains` and
    * `bulkDeleteAllowedDomainsWithHTTPInfo`.
    */
  private def bulkDeleteAllowedDomainsHttpRequest(
      agentId: String,
      allowedDomainBulkDelete: AllowedDomainBulkDelete
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `bulkDeleteAllowedDomains`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `bulkDeleteAllowedDomains`.")
    requireNotNull(
      allowedDomainBulkDelete,
      "Parameter `allowedDomainBulkDelete` is required when calling `bulkDeleteAllowedDomains`."
    )

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/bulk")
      .withBody(allowedDomainBulkDelete)
      .build()
  }

  /** Create a new agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    */
  def createAgent(agentConfigCreate: AgentConfigCreate, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    execute[AgentWithVersionResponse](createAgentHttpRequest(agentConfigCreate = agentConfigCreate), requestOptions)
  }

  /** Variant of `createAgent` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    */
  def createAgentWithHTTPInfo(agentConfigCreate: AgentConfigCreate, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[AgentWithVersionResponse]] = Future {
    executeWithHttpInfo[AgentWithVersionResponse](
      createAgentHttpRequest(agentConfigCreate = agentConfigCreate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `createAgent` and `createAgentWithHTTPInfo`.
    */
  private def createAgentHttpRequest(agentConfigCreate: AgentConfigCreate): HttpRequest = {
    requireNotNull(agentConfigCreate, "Parameter `agentConfigCreate` is required when calling `createAgent`.")

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents")
      .withBody(agentConfigCreate)
      .build()
  }

  /** Add a single allowed domain pattern (e.g. https://app.example.com or *.example.com).
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def createAgentAllowedDomain(
      agentId: String,
      allowedDomainCreate: AllowedDomainCreate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AllowedDomainResponse] = Future {
    execute[AllowedDomainResponse](
      createAgentAllowedDomainHttpRequest(agentId = agentId, allowedDomainCreate = allowedDomainCreate),
      requestOptions
    )
  }

  /** Variant of `createAgentAllowedDomain` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def createAgentAllowedDomainWithHTTPInfo(
      agentId: String,
      allowedDomainCreate: AllowedDomainCreate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[AllowedDomainResponse]] = Future {
    executeWithHttpInfo[AllowedDomainResponse](
      createAgentAllowedDomainHttpRequest(agentId = agentId, allowedDomainCreate = allowedDomainCreate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `createAgentAllowedDomain` and
    * `createAgentAllowedDomainWithHTTPInfo`.
    */
  private def createAgentAllowedDomainHttpRequest(
      agentId: String,
      allowedDomainCreate: AllowedDomainCreate
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `createAgentAllowedDomain`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `createAgentAllowedDomain`.")
    requireNotNull(
      allowedDomainCreate,
      "Parameter `allowedDomainCreate` is required when calling `createAgentAllowedDomain`."
    )

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains")
      .withBody(allowedDomainCreate)
      .build()
  }

  /** Create a completion for the specified agent. This endpoint handles two types of requests: 1. Normal completion
    * request: User message -> Agent response 2. Tool approval response: User approval -> Execute tool -> Agent response
    * Tool Approval Flow (for MCP tools with requiresApproval: true): - Request 1: User sends message -> Agent requests
    * tool call -> Return approval request - Request 2: User approves -> Execute tool -> Agent continues with result.
    *
    * Required API Key ACLs:
    *   - search
    *
    * @param agentId
    *   The agentId.
    * @param compatibilityMode
    *   Compatibility mode for the completion API.
    * @param stream
    *   Whether to stream the response or not.
    * @param cache
    *   Use cached responses if available.
    * @param memory
    *   Set to false to disable memory (enabled by default).
    * @param analytics
    *   Set to false to skip analytics for this completion (default: true). Disables Agent Studio BigQuery analytics,
    *   Algolia search analytics, click analytics, and query-suggestions training. Useful for offline-eval workflows.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def createAgentCompletion(
      agentId: String,
      compatibilityMode: CompatibilityMode,
      agentCompletionRequest: AgentCompletionRequest,
      stream: Option[Boolean] = None,
      cache: Option[Boolean] = None,
      memory: Option[Boolean] = None,
      analytics: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Map[String, Any]] = Future {
    execute[Map[String, Any]](
      createAgentCompletionHttpRequest(
        agentId = agentId,
        compatibilityMode = compatibilityMode,
        agentCompletionRequest = agentCompletionRequest,
        stream = stream,
        cache = cache,
        memory = memory,
        analytics = analytics,
        xAlgoliaSecureUserToken = xAlgoliaSecureUserToken
      ),
      requestOptions
    )
  }

  /** Variant of `createAgentCompletion` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - search
    *
    * @param agentId
    *   The agentId.
    * @param compatibilityMode
    *   Compatibility mode for the completion API.
    * @param stream
    *   Whether to stream the response or not.
    * @param cache
    *   Use cached responses if available.
    * @param memory
    *   Set to false to disable memory (enabled by default).
    * @param analytics
    *   Set to false to skip analytics for this completion (default: true). Disables Agent Studio BigQuery analytics,
    *   Algolia search analytics, click analytics, and query-suggestions training. Useful for offline-eval workflows.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def createAgentCompletionWithHTTPInfo(
      agentId: String,
      compatibilityMode: CompatibilityMode,
      agentCompletionRequest: AgentCompletionRequest,
      stream: Option[Boolean] = None,
      cache: Option[Boolean] = None,
      memory: Option[Boolean] = None,
      analytics: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Map[String, Any]]] = Future {
    executeWithHttpInfo[Map[String, Any]](
      createAgentCompletionHttpRequest(
        agentId = agentId,
        compatibilityMode = compatibilityMode,
        agentCompletionRequest = agentCompletionRequest,
        stream = stream,
        cache = cache,
        memory = memory,
        analytics = analytics,
        xAlgoliaSecureUserToken = xAlgoliaSecureUserToken
      ),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `createAgentCompletion` and
    * `createAgentCompletionWithHTTPInfo`.
    */
  private def createAgentCompletionHttpRequest(
      agentId: String,
      compatibilityMode: CompatibilityMode,
      agentCompletionRequest: AgentCompletionRequest,
      stream: Option[Boolean] = None,
      cache: Option[Boolean] = None,
      memory: Option[Boolean] = None,
      analytics: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `createAgentCompletion`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `createAgentCompletion`.")
    requireNotNull(compatibilityMode, "Parameter `compatibilityMode` is required when calling `createAgentCompletion`.")
    requireNotNull(
      agentCompletionRequest,
      "Parameter `agentCompletionRequest` is required when calling `createAgentCompletion`."
    )

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/completions")
      .withBody(agentCompletionRequest)
      .withHeader("X-Algolia-Secure-User-Token", xAlgoliaSecureUserToken)
      .withQueryParameter("compatibilityMode", compatibilityMode)
      .withQueryParameter("stream", stream)
      .withQueryParameter("cache", cache)
      .withQueryParameter("memory", memory)
      .withQueryParameter("analytics", analytics)
      .build()
  }

  /** Create new feedback entry.
    *
    * Required API Key ACLs:
    *   - search
    */
  def createFeedback(feedbackCreationRequest: FeedbackCreationRequest, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[FeedbackResponse] = Future {
    execute[FeedbackResponse](
      createFeedbackHttpRequest(feedbackCreationRequest = feedbackCreationRequest),
      requestOptions
    )
  }

  /** Variant of `createFeedback` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - search
    */
  def createFeedbackWithHTTPInfo(
      feedbackCreationRequest: FeedbackCreationRequest,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[FeedbackResponse]] = Future {
    executeWithHttpInfo[FeedbackResponse](
      createFeedbackHttpRequest(feedbackCreationRequest = feedbackCreationRequest),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `createFeedback` and `createFeedbackWithHTTPInfo`.
    */
  private def createFeedbackHttpRequest(feedbackCreationRequest: FeedbackCreationRequest): HttpRequest = {
    requireNotNull(
      feedbackCreationRequest,
      "Parameter `feedbackCreationRequest` is required when calling `createFeedback`."
    )

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/feedback")
      .withBody(feedbackCreationRequest)
      .build()
  }

  /** Create Provider.
    *
    * Required API Key ACLs:
    *   - editSettings
    */
  def createProvider(
      providerAuthenticationCreate: ProviderAuthenticationCreate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ProviderAuthenticationResponse] = Future {
    execute[ProviderAuthenticationResponse](
      createProviderHttpRequest(providerAuthenticationCreate = providerAuthenticationCreate),
      requestOptions
    )
  }

  /** Variant of `createProvider` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    */
  def createProviderWithHTTPInfo(
      providerAuthenticationCreate: ProviderAuthenticationCreate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[ProviderAuthenticationResponse]] = Future {
    executeWithHttpInfo[ProviderAuthenticationResponse](
      createProviderHttpRequest(providerAuthenticationCreate = providerAuthenticationCreate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `createProvider` and `createProviderWithHTTPInfo`.
    */
  private def createProviderHttpRequest(providerAuthenticationCreate: ProviderAuthenticationCreate): HttpRequest = {
    requireNotNull(
      providerAuthenticationCreate,
      "Parameter `providerAuthenticationCreate` is required when calling `createProvider`."
    )

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/providers")
      .withBody(providerAuthenticationCreate)
      .build()
  }

  /** Create Secret Key.
    *
    * Required API Key ACLs:
    *   - admin
    */
  def createSecretKey(secretKeyCreate: SecretKeyCreate, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[SecretKeyResponse] = Future {
    execute[SecretKeyResponse](createSecretKeyHttpRequest(secretKeyCreate = secretKeyCreate), requestOptions)
  }

  /** Variant of `createSecretKey` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - admin
    */
  def createSecretKeyWithHTTPInfo(secretKeyCreate: SecretKeyCreate, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[SecretKeyResponse]] = Future {
    executeWithHttpInfo[SecretKeyResponse](
      createSecretKeyHttpRequest(secretKeyCreate = secretKeyCreate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `createSecretKey` and `createSecretKeyWithHTTPInfo`.
    */
  private def createSecretKeyHttpRequest(secretKeyCreate: SecretKeyCreate): HttpRequest = {
    requireNotNull(secretKeyCreate, "Parameter `secretKeyCreate` is required when calling `createSecretKey`.")

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/secret-keys")
      .withBody(secretKeyCreate)
      .build()
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    */
  def customDelete[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    execute[T](customDeleteHttpRequest(path = path, parameters = parameters), requestOptions)
  }

  /** Variant of `customDelete` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    */
  def customDeleteWithHTTPInfo[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[T]] = Future {
    executeWithHttpInfo[T](customDeleteHttpRequest(path = path, parameters = parameters), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `customDelete` and `customDeleteWithHTTPInfo`.
    */
  private def customDeleteHttpRequest(path: String, parameters: Option[Map[String, Any]] = None): HttpRequest = {
    requireNotNull(path, "Parameter `path` is required when calling `customDelete`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customDelete`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/${path}")
      .withQueryParameters(parameters)
      .build()
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    */
  def customGet[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    execute[T](customGetHttpRequest(path = path, parameters = parameters), requestOptions)
  }

  /** Variant of `customGet` that returns the full HTTP response: status code, headers, raw body and deserialized data.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    */
  def customGetWithHTTPInfo[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[T]] = Future {
    executeWithHttpInfo[T](customGetHttpRequest(path = path, parameters = parameters), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `customGet` and `customGetWithHTTPInfo`.
    */
  private def customGetHttpRequest(path: String, parameters: Option[Map[String, Any]] = None): HttpRequest = {
    requireNotNull(path, "Parameter `path` is required when calling `customGet`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customGet`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/${path}")
      .withQueryParameters(parameters)
      .build()
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    * @param body
    *   Parameters to send with the custom request.
    */
  def customPost[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    execute[T](customPostHttpRequest(path = path, parameters = parameters, body = body), requestOptions)
  }

  /** Variant of `customPost` that returns the full HTTP response: status code, headers, raw body and deserialized data.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    * @param body
    *   Parameters to send with the custom request.
    */
  def customPostWithHTTPInfo[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[T]] = Future {
    executeWithHttpInfo[T](customPostHttpRequest(path = path, parameters = parameters, body = body), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `customPost` and `customPostWithHTTPInfo`.
    */
  private def customPostHttpRequest(
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None
  ): HttpRequest = {
    requireNotNull(path, "Parameter `path` is required when calling `customPost`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customPost`.")

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/${path}")
      .withBody(body)
      .withQueryParameters(parameters)
      .build()
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    * @param body
    *   Parameters to send with the custom request.
    */
  def customPut[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    execute[T](customPutHttpRequest(path = path, parameters = parameters, body = body), requestOptions)
  }

  /** Variant of `customPut` that returns the full HTTP response: status code, headers, raw body and deserialized data.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    * @param body
    *   Parameters to send with the custom request.
    */
  def customPutWithHTTPInfo[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[T]] = Future {
    executeWithHttpInfo[T](customPutHttpRequest(path = path, parameters = parameters, body = body), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `customPut` and `customPutWithHTTPInfo`.
    */
  private def customPutHttpRequest(
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None
  ): HttpRequest = {
    requireNotNull(path, "Parameter `path` is required when calling `customPut`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customPut`.")

    HttpRequest
      .builder()
      .withMethod("PUT")
      .withPath(s"/agent-studio/${path}")
      .withBody(body)
      .withQueryParameters(parameters)
      .build()
  }

  /** Delete the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def deleteAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    execute[Unit](deleteAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Variant of `deleteAgent` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def deleteAgentWithHTTPInfo(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](deleteAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `deleteAgent` and `deleteAgentWithHTTPInfo`.
    */
  private def deleteAgentHttpRequest(agentId: String): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteAgent`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}")
      .build()
  }

  /** Deletes the conversations matching the given filers.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    */
  def deleteAgentConversations(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Unit] = Future {
    execute[Unit](
      deleteAgentConversationsHttpRequest(agentId = agentId, startDate = startDate, endDate = endDate),
      requestOptions
    )
  }

  /** Variant of `deleteAgentConversations` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    */
  def deleteAgentConversationsWithHTTPInfo(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](
      deleteAgentConversationsHttpRequest(agentId = agentId, startDate = startDate, endDate = endDate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `deleteAgentConversations` and
    * `deleteAgentConversationsWithHTTPInfo`.
    */
  private def deleteAgentConversationsHttpRequest(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteAgentConversations`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteAgentConversations`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations")
      .withQueryParameter("startDate", startDate)
      .withQueryParameter("endDate", endDate)
      .build()
  }

  /** Remove an allowed domain by id.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param domainId
    *   The domainId.
    * @param agentId
    *   The agentId.
    */
  def deleteAllowedDomain(domainId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    execute[Unit](deleteAllowedDomainHttpRequest(domainId = domainId, agentId = agentId), requestOptions)
  }

  /** Variant of `deleteAllowedDomain` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param domainId
    *   The domainId.
    * @param agentId
    *   The agentId.
    */
  def deleteAllowedDomainWithHTTPInfo(domainId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](deleteAllowedDomainHttpRequest(domainId = domainId, agentId = agentId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `deleteAllowedDomain` and
    * `deleteAllowedDomainWithHTTPInfo`.
    */
  private def deleteAllowedDomainHttpRequest(domainId: String, agentId: String): HttpRequest = {
    requireNotNull(domainId, "Parameter `domainId` is required when calling `deleteAllowedDomain`.")
    requireNotEmpty(domainId, "Parameter `domainId` is required when calling `deleteAllowedDomain`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteAllowedDomain`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteAllowedDomain`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/${escape(domainId)}")
      .build()
  }

  /** Deletes the conversation with the given ID.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param conversationId
    *   The conversationId.
    * @param agentId
    *   The agentId.
    */
  def deleteConversation(conversationId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[Unit] = Future {
    execute[Unit](deleteConversationHttpRequest(conversationId = conversationId, agentId = agentId), requestOptions)
  }

  /** Variant of `deleteConversation` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param conversationId
    *   The conversationId.
    * @param agentId
    *   The agentId.
    */
  def deleteConversationWithHTTPInfo(
      conversationId: String,
      agentId: String,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](
      deleteConversationHttpRequest(conversationId = conversationId, agentId = agentId),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `deleteConversation` and
    * `deleteConversationWithHTTPInfo`.
    */
  private def deleteConversationHttpRequest(conversationId: String, agentId: String): HttpRequest = {
    requireNotNull(conversationId, "Parameter `conversationId` is required when calling `deleteConversation`.")
    requireNotEmpty(conversationId, "Parameter `conversationId` is required when calling `deleteConversation`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteConversation`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteConversation`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations/${escape(conversationId)}")
      .build()
  }

  /** Delete Provider.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param providerId
    *   The providerId.
    */
  def deleteProvider(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    execute[Unit](deleteProviderHttpRequest(providerId = providerId), requestOptions)
  }

  /** Variant of `deleteProvider` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param providerId
    *   The providerId.
    */
  def deleteProviderWithHTTPInfo(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](deleteProviderHttpRequest(providerId = providerId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `deleteProvider` and `deleteProviderWithHTTPInfo`.
    */
  private def deleteProviderHttpRequest(providerId: String): HttpRequest = {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `deleteProvider`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `deleteProvider`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}")
      .build()
  }

  /** Delete Secret Key.
    *
    * Required API Key ACLs:
    *   - admin
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def deleteSecretKey(secretKeyId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    execute[Unit](deleteSecretKeyHttpRequest(secretKeyId = secretKeyId), requestOptions)
  }

  /** Variant of `deleteSecretKey` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - admin
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def deleteSecretKeyWithHTTPInfo(secretKeyId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](deleteSecretKeyHttpRequest(secretKeyId = secretKeyId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `deleteSecretKey` and `deleteSecretKeyWithHTTPInfo`.
    */
  private def deleteSecretKeyHttpRequest(secretKeyId: String): HttpRequest = {
    requireNotNull(secretKeyId, "Parameter `secretKeyId` is required when calling `deleteSecretKey`.")
    requireNotEmpty(secretKeyId, "Parameter `secretKeyId` is required when calling `deleteSecretKey`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/secret-keys/${escape(secretKeyId)}")
      .build()
  }

  /** Permanently deletes all messages for the given user token. Does not delete conversations.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param userToken
    *   The userToken.
    */
  def deleteUserData(userToken: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    execute[Unit](deleteUserDataHttpRequest(userToken = userToken), requestOptions)
  }

  /** Variant of `deleteUserData` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param userToken
    *   The userToken.
    */
  def deleteUserDataWithHTTPInfo(userToken: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](deleteUserDataHttpRequest(userToken = userToken), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `deleteUserData` and `deleteUserDataWithHTTPInfo`.
    */
  private def deleteUserDataHttpRequest(userToken: String): HttpRequest = {
    requireNotNull(userToken, "Parameter `userToken` is required when calling `deleteUserData`.")
    requireNotEmpty(userToken, "Parameter `userToken` is required when calling `deleteUserData`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/user-data/${escape(userToken)}")
      .build()
  }

  /** Exports all conversations based on the passed filters.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    */
  def exportConversations(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Seq[ConversationFullResponse]] = Future {
    execute[Seq[ConversationFullResponse]](
      exportConversationsHttpRequest(agentId = agentId, startDate = startDate, endDate = endDate),
      requestOptions
    )
  }

  /** Variant of `exportConversations` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    */
  def exportConversationsWithHTTPInfo(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Seq[ConversationFullResponse]]] = Future {
    executeWithHttpInfo[Seq[ConversationFullResponse]](
      exportConversationsHttpRequest(agentId = agentId, startDate = startDate, endDate = endDate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `exportConversations` and
    * `exportConversationsWithHTTPInfo`.
    */
  private def exportConversationsHttpRequest(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `exportConversations`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `exportConversations`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations/export")
      .withQueryParameter("startDate", startDate)
      .withQueryParameter("endDate", endDate)
      .build()
  }

  /** Retrieve details of the specified agent.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param agentId
    *   The agentId.
    */
  def getAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    execute[AgentWithVersionResponse](getAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Variant of `getAgent` that returns the full HTTP response: status code, headers, raw body and deserialized data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param agentId
    *   The agentId.
    */
  def getAgentWithHTTPInfo(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[AgentWithVersionResponse]] = Future {
    executeWithHttpInfo[AgentWithVersionResponse](getAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `getAgent` and `getAgentWithHTTPInfo`.
    */
  private def getAgentHttpRequest(agentId: String): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `getAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `getAgent`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}")
      .build()
  }

  /** Get a single allowed domain by id.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param domainId
    *   The domainId.
    * @param agentId
    *   The agentId.
    */
  def getAllowedDomain(domainId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AllowedDomainResponse] = Future {
    execute[AllowedDomainResponse](getAllowedDomainHttpRequest(domainId = domainId, agentId = agentId), requestOptions)
  }

  /** Variant of `getAllowedDomain` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param domainId
    *   The domainId.
    * @param agentId
    *   The agentId.
    */
  def getAllowedDomainWithHTTPInfo(domainId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[AllowedDomainResponse]] = Future {
    executeWithHttpInfo[AllowedDomainResponse](
      getAllowedDomainHttpRequest(domainId = domainId, agentId = agentId),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `getAllowedDomain` and `getAllowedDomainWithHTTPInfo`.
    */
  private def getAllowedDomainHttpRequest(domainId: String, agentId: String): HttpRequest = {
    requireNotNull(domainId, "Parameter `domainId` is required when calling `getAllowedDomain`.")
    requireNotEmpty(domainId, "Parameter `domainId` is required when calling `getAllowedDomain`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `getAllowedDomain`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `getAllowedDomain`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/${escape(domainId)}")
      .build()
  }

  /** Get Configuration.
    *
    * Required API Key ACLs:
    *   - logs
    */
  def getConfiguration(
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ApplicationConfigResponse] = Future {
    execute[ApplicationConfigResponse](getConfigurationHttpRequest(), requestOptions)
  }

  /** Variant of `getConfiguration` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - logs
    */
  def getConfigurationWithHTTPInfo(
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[ApplicationConfigResponse]] = Future {
    executeWithHttpInfo[ApplicationConfigResponse](getConfigurationHttpRequest(), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `getConfiguration` and `getConfigurationWithHTTPInfo`.
    */
  private def getConfigurationHttpRequest(): HttpRequest = {

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/configuration")
      .build()
  }

  /** Retrieves the conversation and its messages for the given ID.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param conversationId
    *   The conversationId.
    * @param agentId
    *   The agentId.
    * @param includeFeedback
    *   Include feedback for the conversation.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def getConversation(
      conversationId: String,
      agentId: String,
      includeFeedback: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ConversationFullResponse] = Future {
    execute[ConversationFullResponse](
      getConversationHttpRequest(
        conversationId = conversationId,
        agentId = agentId,
        includeFeedback = includeFeedback,
        xAlgoliaSecureUserToken = xAlgoliaSecureUserToken
      ),
      requestOptions
    )
  }

  /** Variant of `getConversation` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param conversationId
    *   The conversationId.
    * @param agentId
    *   The agentId.
    * @param includeFeedback
    *   Include feedback for the conversation.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def getConversationWithHTTPInfo(
      conversationId: String,
      agentId: String,
      includeFeedback: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[ConversationFullResponse]] = Future {
    executeWithHttpInfo[ConversationFullResponse](
      getConversationHttpRequest(
        conversationId = conversationId,
        agentId = agentId,
        includeFeedback = includeFeedback,
        xAlgoliaSecureUserToken = xAlgoliaSecureUserToken
      ),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `getConversation` and `getConversationWithHTTPInfo`.
    */
  private def getConversationHttpRequest(
      conversationId: String,
      agentId: String,
      includeFeedback: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None
  ): HttpRequest = {
    requireNotNull(conversationId, "Parameter `conversationId` is required when calling `getConversation`.")
    requireNotEmpty(conversationId, "Parameter `conversationId` is required when calling `getConversation`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `getConversation`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `getConversation`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations/${escape(conversationId)}")
      .withHeader("X-Algolia-Secure-User-Token", xAlgoliaSecureUserToken)
      .withQueryParameter("includeFeedback", includeFeedback)
      .build()
  }

  /** Get Provider.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param providerId
    *   The providerId.
    */
  def getProvider(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[ProviderAuthenticationResponse] = Future {
    execute[ProviderAuthenticationResponse](getProviderHttpRequest(providerId = providerId), requestOptions)
  }

  /** Variant of `getProvider` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param providerId
    *   The providerId.
    */
  def getProviderWithHTTPInfo(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[ProviderAuthenticationResponse]] = Future {
    executeWithHttpInfo[ProviderAuthenticationResponse](getProviderHttpRequest(providerId = providerId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `getProvider` and `getProviderWithHTTPInfo`.
    */
  private def getProviderHttpRequest(providerId: String): HttpRequest = {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `getProvider`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `getProvider`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}")
      .build()
  }

  /** Get Secret Key.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def getSecretKey(secretKeyId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[SecretKeyResponse] = Future {
    execute[SecretKeyResponse](getSecretKeyHttpRequest(secretKeyId = secretKeyId), requestOptions)
  }

  /** Variant of `getSecretKey` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def getSecretKeyWithHTTPInfo(secretKeyId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[SecretKeyResponse]] = Future {
    executeWithHttpInfo[SecretKeyResponse](getSecretKeyHttpRequest(secretKeyId = secretKeyId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `getSecretKey` and `getSecretKeyWithHTTPInfo`.
    */
  private def getSecretKeyHttpRequest(secretKeyId: String): HttpRequest = {
    requireNotNull(secretKeyId, "Parameter `secretKeyId` is required when calling `getSecretKey`.")
    requireNotEmpty(secretKeyId, "Parameter `secretKeyId` is required when calling `getSecretKey`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/secret-keys/${escape(secretKeyId)}")
      .build()
  }

  /** Retrieves all memories, conversations and their messages for the given user token.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param userToken
    *   The userToken.
    */
  def getUserData(userToken: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[UserDataResponse] = Future {
    execute[UserDataResponse](getUserDataHttpRequest(userToken = userToken), requestOptions)
  }

  /** Variant of `getUserData` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param userToken
    *   The userToken.
    */
  def getUserDataWithHTTPInfo(userToken: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[UserDataResponse]] = Future {
    executeWithHttpInfo[UserDataResponse](getUserDataHttpRequest(userToken = userToken), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `getUserData` and `getUserDataWithHTTPInfo`.
    */
  private def getUserDataHttpRequest(userToken: String): HttpRequest = {
    requireNotNull(userToken, "Parameter `userToken` is required when calling `getUserData`.")
    requireNotEmpty(userToken, "Parameter `userToken` is required when calling `getUserData`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/user-data/${escape(userToken)}")
      .build()
  }

  /** Invalidate cached completions for this agent. Filter with `before` (exclusive).
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    * @param before
    *   Delete entries strictly before this date (exclusive, YYYY-MM-DD).
    */
  def invalidateAgentCache(
      agentId: String,
      before: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Unit] = Future {
    execute[Unit](invalidateAgentCacheHttpRequest(agentId = agentId, before = before), requestOptions)
  }

  /** Variant of `invalidateAgentCache` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    * @param before
    *   Delete entries strictly before this date (exclusive, YYYY-MM-DD).
    */
  def invalidateAgentCacheWithHTTPInfo(
      agentId: String,
      before: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Unit]] = Future {
    executeWithHttpInfo[Unit](invalidateAgentCacheHttpRequest(agentId = agentId, before = before), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `invalidateAgentCache` and
    * `invalidateAgentCacheWithHTTPInfo`.
    */
  private def invalidateAgentCacheHttpRequest(agentId: String, before: Option[String] = None): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `invalidateAgentCache`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `invalidateAgentCache`.")

    HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/cache")
      .withQueryParameter("before", before)
      .build()
  }

  /** List all allowed domain patterns for this agent.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param agentId
    *   The agentId.
    */
  def listAgentAllowedDomains(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AllowedDomainListResponse] = Future {
    execute[AllowedDomainListResponse](listAgentAllowedDomainsHttpRequest(agentId = agentId), requestOptions)
  }

  /** Variant of `listAgentAllowedDomains` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param agentId
    *   The agentId.
    */
  def listAgentAllowedDomainsWithHTTPInfo(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[AllowedDomainListResponse]] = Future {
    executeWithHttpInfo[AllowedDomainListResponse](
      listAgentAllowedDomainsHttpRequest(agentId = agentId),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `listAgentAllowedDomains` and
    * `listAgentAllowedDomainsWithHTTPInfo`.
    */
  private def listAgentAllowedDomainsHttpRequest(agentId: String): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `listAgentAllowedDomains`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `listAgentAllowedDomains`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains")
      .build()
  }

  /** Retrieves the conversations for the given agent ID.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    * @param includeFeedback
    *   Include feedback per conversation.
    * @param feedbackVote
    *   Filter by feedback value (requires includeFeedback=true).
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def listAgentConversations(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      includeFeedback: Option[Boolean] = None,
      feedbackVote: Option[Int] = None,
      page: Option[Int] = None,
      limit: Option[Int] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[PaginatedConversationsResponse] = Future {
    execute[PaginatedConversationsResponse](
      listAgentConversationsHttpRequest(
        agentId = agentId,
        startDate = startDate,
        endDate = endDate,
        includeFeedback = includeFeedback,
        feedbackVote = feedbackVote,
        page = page,
        limit = limit,
        xAlgoliaSecureUserToken = xAlgoliaSecureUserToken
      ),
      requestOptions
    )
  }

  /** Variant of `listAgentConversations` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    * @param includeFeedback
    *   Include feedback per conversation.
    * @param feedbackVote
    *   Filter by feedback value (requires includeFeedback=true).
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def listAgentConversationsWithHTTPInfo(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      includeFeedback: Option[Boolean] = None,
      feedbackVote: Option[Int] = None,
      page: Option[Int] = None,
      limit: Option[Int] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[PaginatedConversationsResponse]] = Future {
    executeWithHttpInfo[PaginatedConversationsResponse](
      listAgentConversationsHttpRequest(
        agentId = agentId,
        startDate = startDate,
        endDate = endDate,
        includeFeedback = includeFeedback,
        feedbackVote = feedbackVote,
        page = page,
        limit = limit,
        xAlgoliaSecureUserToken = xAlgoliaSecureUserToken
      ),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `listAgentConversations` and
    * `listAgentConversationsWithHTTPInfo`.
    */
  private def listAgentConversationsHttpRequest(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      includeFeedback: Option[Boolean] = None,
      feedbackVote: Option[Int] = None,
      page: Option[Int] = None,
      limit: Option[Int] = None,
      xAlgoliaSecureUserToken: Option[String] = None
  ): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `listAgentConversations`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `listAgentConversations`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations")
      .withHeader("X-Algolia-Secure-User-Token", xAlgoliaSecureUserToken)
      .withQueryParameter("startDate", startDate)
      .withQueryParameter("endDate", endDate)
      .withQueryParameter("includeFeedback", includeFeedback)
      .withQueryParameter("feedbackVote", feedbackVote)
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .build()
  }

  /** List all agents with pagination and filtering.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    * @param providerId
    *   Filter by provider id.
    */
  def listAgents(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      providerId: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[PaginatedAgentsResponse] = Future {
    execute[PaginatedAgentsResponse](
      listAgentsHttpRequest(page = page, limit = limit, providerId = providerId),
      requestOptions
    )
  }

  /** Variant of `listAgents` that returns the full HTTP response: status code, headers, raw body and deserialized data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    * @param providerId
    *   Filter by provider id.
    */
  def listAgentsWithHTTPInfo(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      providerId: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[PaginatedAgentsResponse]] = Future {
    executeWithHttpInfo[PaginatedAgentsResponse](
      listAgentsHttpRequest(page = page, limit = limit, providerId = providerId),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `listAgents` and `listAgentsWithHTTPInfo`.
    */
  private def listAgentsHttpRequest(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      providerId: Option[String] = None
  ): HttpRequest = {

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents")
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .withQueryParameter("providerId", providerId)
      .build()
  }

  /** Get Provider Models.
    *
    * Required API Key ACLs:
    *   - settings
    */
  def listModels(
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Map[String, Seq[String]]] = Future {
    execute[Map[String, Seq[String]]](listModelsHttpRequest(), requestOptions)
  }

  /** Variant of `listModels` that returns the full HTTP response: status code, headers, raw body and deserialized data.
    *
    * Required API Key ACLs:
    *   - settings
    */
  def listModelsWithHTTPInfo(
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[Map[String, Seq[String]]]] = Future {
    executeWithHttpInfo[Map[String, Seq[String]]](listModelsHttpRequest(), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `listModels` and `listModelsWithHTTPInfo`.
    */
  private def listModelsHttpRequest(): HttpRequest = {

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers/models")
      .build()
  }

  /** Get available models for a specific provider.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param providerId
    *   The providerId.
    */
  def listProviderModels(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Seq[String]] = Future {
    execute[Seq[String]](listProviderModelsHttpRequest(providerId = providerId), requestOptions)
  }

  /** Variant of `listProviderModels` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param providerId
    *   The providerId.
    */
  def listProviderModelsWithHTTPInfo(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[Seq[String]]] = Future {
    executeWithHttpInfo[Seq[String]](listProviderModelsHttpRequest(providerId = providerId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `listProviderModels` and
    * `listProviderModelsWithHTTPInfo`.
    */
  private def listProviderModelsHttpRequest(providerId: String): HttpRequest = {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `listProviderModels`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `listProviderModels`.")

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}/models")
      .build()
  }

  /** List Providers.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    */
  def listProviders(page: Option[Int] = None, limit: Option[Int] = None, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[PaginatedProviderAuthenticationsResponse] = Future {
    execute[PaginatedProviderAuthenticationsResponse](
      listProvidersHttpRequest(page = page, limit = limit),
      requestOptions
    )
  }

  /** Variant of `listProviders` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    */
  def listProvidersWithHTTPInfo(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[PaginatedProviderAuthenticationsResponse]] = Future {
    executeWithHttpInfo[PaginatedProviderAuthenticationsResponse](
      listProvidersHttpRequest(page = page, limit = limit),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `listProviders` and `listProvidersWithHTTPInfo`.
    */
  private def listProvidersHttpRequest(page: Option[Int] = None, limit: Option[Int] = None): HttpRequest = {

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers")
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .build()
  }

  /** List Secret Keys.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    */
  def listSecretKeys(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[PaginatedSecretKeysResponse] = Future {
    execute[PaginatedSecretKeysResponse](listSecretKeysHttpRequest(page = page, limit = limit), requestOptions)
  }

  /** Variant of `listSecretKeys` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    */
  def listSecretKeysWithHTTPInfo(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[PaginatedSecretKeysResponse]] = Future {
    executeWithHttpInfo[PaginatedSecretKeysResponse](
      listSecretKeysHttpRequest(page = page, limit = limit),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `listSecretKeys` and `listSecretKeysWithHTTPInfo`.
    */
  private def listSecretKeysHttpRequest(page: Option[Int] = None, limit: Option[Int] = None): HttpRequest = {

    HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/secret-keys")
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .build()
  }

  /** Publish the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def publishAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    execute[AgentWithVersionResponse](publishAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Variant of `publishAgent` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def publishAgentWithHTTPInfo(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[AgentWithVersionResponse]] = Future {
    executeWithHttpInfo[AgentWithVersionResponse](publishAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `publishAgent` and `publishAgentWithHTTPInfo`.
    */
  private def publishAgentHttpRequest(agentId: String): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `publishAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `publishAgent`.")

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/publish")
      .build()
  }

  /** Unpublish the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def unpublishAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    execute[AgentWithVersionResponse](unpublishAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Variant of `unpublishAgent` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def unpublishAgentWithHTTPInfo(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AlgoliaHttpResponse[AgentWithVersionResponse]] = Future {
    executeWithHttpInfo[AgentWithVersionResponse](unpublishAgentHttpRequest(agentId = agentId), requestOptions)
  }

  /** Validates the parameters and builds the request shared by `unpublishAgent` and `unpublishAgentWithHTTPInfo`.
    */
  private def unpublishAgentHttpRequest(agentId: String): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `unpublishAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `unpublishAgent`.")

    HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/unpublish")
      .build()
  }

  /** Update the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def updateAgent(agentId: String, agentConfigUpdate: AgentConfigUpdate, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    execute[AgentWithVersionResponse](
      updateAgentHttpRequest(agentId = agentId, agentConfigUpdate = agentConfigUpdate),
      requestOptions
    )
  }

  /** Variant of `updateAgent` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def updateAgentWithHTTPInfo(
      agentId: String,
      agentConfigUpdate: AgentConfigUpdate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[AgentWithVersionResponse]] = Future {
    executeWithHttpInfo[AgentWithVersionResponse](
      updateAgentHttpRequest(agentId = agentId, agentConfigUpdate = agentConfigUpdate),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `updateAgent` and `updateAgentWithHTTPInfo`.
    */
  private def updateAgentHttpRequest(agentId: String, agentConfigUpdate: AgentConfigUpdate): HttpRequest = {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `updateAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `updateAgent`.")
    requireNotNull(agentConfigUpdate, "Parameter `agentConfigUpdate` is required when calling `updateAgent`.")

    HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}")
      .withBody(agentConfigUpdate)
      .build()
  }

  /** Patch Configuration.
    *
    * Required API Key ACLs:
    *   - logs
    */
  def updateConfiguration(
      applicationConfigPatch: ApplicationConfigPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ApplicationConfigResponse] = Future {
    execute[ApplicationConfigResponse](
      updateConfigurationHttpRequest(applicationConfigPatch = applicationConfigPatch),
      requestOptions
    )
  }

  /** Variant of `updateConfiguration` that returns the full HTTP response: status code, headers, raw body and
    * deserialized data.
    *
    * Required API Key ACLs:
    *   - logs
    */
  def updateConfigurationWithHTTPInfo(
      applicationConfigPatch: ApplicationConfigPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[ApplicationConfigResponse]] = Future {
    executeWithHttpInfo[ApplicationConfigResponse](
      updateConfigurationHttpRequest(applicationConfigPatch = applicationConfigPatch),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `updateConfiguration` and
    * `updateConfigurationWithHTTPInfo`.
    */
  private def updateConfigurationHttpRequest(applicationConfigPatch: ApplicationConfigPatch): HttpRequest = {
    requireNotNull(
      applicationConfigPatch,
      "Parameter `applicationConfigPatch` is required when calling `updateConfiguration`."
    )

    HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/configuration")
      .withBody(applicationConfigPatch)
      .build()
  }

  /** Update Provider.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param providerId
    *   The providerId.
    */
  def updateProvider(
      providerId: String,
      providerAuthenticationPatch: ProviderAuthenticationPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ProviderAuthenticationResponse] = Future {
    execute[ProviderAuthenticationResponse](
      updateProviderHttpRequest(providerId = providerId, providerAuthenticationPatch = providerAuthenticationPatch),
      requestOptions
    )
  }

  /** Variant of `updateProvider` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param providerId
    *   The providerId.
    */
  def updateProviderWithHTTPInfo(
      providerId: String,
      providerAuthenticationPatch: ProviderAuthenticationPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[ProviderAuthenticationResponse]] = Future {
    executeWithHttpInfo[ProviderAuthenticationResponse](
      updateProviderHttpRequest(providerId = providerId, providerAuthenticationPatch = providerAuthenticationPatch),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `updateProvider` and `updateProviderWithHTTPInfo`.
    */
  private def updateProviderHttpRequest(
      providerId: String,
      providerAuthenticationPatch: ProviderAuthenticationPatch
  ): HttpRequest = {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `updateProvider`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `updateProvider`.")
    requireNotNull(
      providerAuthenticationPatch,
      "Parameter `providerAuthenticationPatch` is required when calling `updateProvider`."
    )

    HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}")
      .withBody(providerAuthenticationPatch)
      .build()
  }

  /** Patch Secret Key.
    *
    * Required API Key ACLs:
    *   - admin
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def updateSecretKey(
      secretKeyId: String,
      secretKeyPatch: SecretKeyPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[SecretKeyResponse] = Future {
    execute[SecretKeyResponse](
      updateSecretKeyHttpRequest(secretKeyId = secretKeyId, secretKeyPatch = secretKeyPatch),
      requestOptions
    )
  }

  /** Variant of `updateSecretKey` that returns the full HTTP response: status code, headers, raw body and deserialized
    * data.
    *
    * Required API Key ACLs:
    *   - admin
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def updateSecretKeyWithHTTPInfo(
      secretKeyId: String,
      secretKeyPatch: SecretKeyPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AlgoliaHttpResponse[SecretKeyResponse]] = Future {
    executeWithHttpInfo[SecretKeyResponse](
      updateSecretKeyHttpRequest(secretKeyId = secretKeyId, secretKeyPatch = secretKeyPatch),
      requestOptions
    )
  }

  /** Validates the parameters and builds the request shared by `updateSecretKey` and `updateSecretKeyWithHTTPInfo`.
    */
  private def updateSecretKeyHttpRequest(secretKeyId: String, secretKeyPatch: SecretKeyPatch): HttpRequest = {
    requireNotNull(secretKeyId, "Parameter `secretKeyId` is required when calling `updateSecretKey`.")
    requireNotEmpty(secretKeyId, "Parameter `secretKeyId` is required when calling `updateSecretKey`.")
    requireNotNull(secretKeyPatch, "Parameter `secretKeyPatch` is required when calling `updateSecretKey`.")

    HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/secret-keys/${escape(secretKeyId)}")
      .withBody(secretKeyPatch)
      .build()
  }

  /** Helper: Forges a secured user token (JWT) for Agent Studio authenticated requests.
    *
    * @param secretKey
    *   The secret key to sign the token with.
    * @param secretKeyId
    *   The key ID to include in the JWT header (kid).
    * @param userId
    *   The user identifier to include as the subject (sub) claim.
    * @param expiresIn
    *   The token expiration in seconds from now. Defaults to 86400 (24 hours).
    * @return
    *   The signed JWT token.
    */
  def forgeSecuredUserToken(
      secretKey: String,
      secretKeyId: String,
      userId: String,
      expiresIn: Int = 24 * 3600
  ): String = {
    def base64UrlEncode(data: Array[Byte]): String =
      java.util.Base64.getUrlEncoder.withoutPadding.encodeToString(data)

    val header = base64UrlEncode(
      s"""{"alg":"HS256","typ":"JWT","kid":"$secretKeyId"}""".getBytes(java.nio.charset.StandardCharsets.UTF_8)
    )
    val payload = base64UrlEncode(
      s"""{"sub":"$userId","exp":${java.time.Instant.now.getEpochSecond + expiresIn}}"""
        .getBytes(java.nio.charset.StandardCharsets.UTF_8)
    )

    val mac = javax.crypto.Mac.getInstance("HmacSHA256")
    mac.init(
      new javax.crypto.spec.SecretKeySpec(secretKey.getBytes(java.nio.charset.StandardCharsets.UTF_8), "HmacSHA256")
    )
    val signature = base64UrlEncode(mac.doFinal(s"$header.$payload".getBytes(java.nio.charset.StandardCharsets.UTF_8)))

    s"$header.$payload.$signature"
  }
}
