/** Code generated by OpenAPI Generator (https://openapi-generator.tech), manual changes will be lost - read more on
  * https://github.com/algolia/api-clients-automation. DO NOT EDIT.
  */
package algoliasearch.api

import algoliasearch.agentstudio.AgentCompletionRequest
import algoliasearch.agentstudio.AgentConfigCreate
import algoliasearch.agentstudio.AgentConfigUpdate
import algoliasearch.agentstudio.AgentWithVersionResponse
import algoliasearch.agentstudio.AllowedDomainBulkDelete
import algoliasearch.agentstudio.AllowedDomainBulkInsert
import algoliasearch.agentstudio.AllowedDomainCreate
import algoliasearch.agentstudio.AllowedDomainListResponse
import algoliasearch.agentstudio.AllowedDomainResponse
import algoliasearch.agentstudio.ApplicationConfigPatch
import algoliasearch.agentstudio.ApplicationConfigResponse
import algoliasearch.agentstudio.CompatibilityMode._
import algoliasearch.agentstudio.ConversationFullResponse
import algoliasearch.agentstudio.ErrorBase
import algoliasearch.agentstudio.FeedbackCreationRequest
import algoliasearch.agentstudio.FeedbackResponse
import algoliasearch.agentstudio.HTTPValidationError
import algoliasearch.agentstudio.PaginatedAgentsResponse
import algoliasearch.agentstudio.PaginatedConversationsResponse
import algoliasearch.agentstudio.PaginatedProviderAuthenticationsResponse
import algoliasearch.agentstudio.PaginatedSecretKeysResponse
import algoliasearch.agentstudio.ProviderAuthenticationCreate
import algoliasearch.agentstudio.ProviderAuthenticationPatch
import algoliasearch.agentstudio.ProviderAuthenticationResponse
import algoliasearch.agentstudio.SecretKeyCreate
import algoliasearch.agentstudio.SecretKeyPatch
import algoliasearch.agentstudio.SecretKeyResponse
import algoliasearch.agentstudio.UserDataResponse
import algoliasearch.agentstudio._
import algoliasearch.ApiClient
import algoliasearch.api.AgentStudioClient.hosts
import algoliasearch.api.AgentStudioClient.readTimeout
import algoliasearch.api.AgentStudioClient.writeTimeout
import algoliasearch.api.AgentStudioClient.connectTimeout
import algoliasearch.config._
import algoliasearch.internal.util._

import java.util.concurrent.TimeUnit
import scala.concurrent.duration.Duration
import scala.concurrent.{ExecutionContext, Future}
import scala.util.Random

object AgentStudioClient {

  /** Creates a new AgentStudioClient instance using default hosts.
    *
    * @param appId
    *   application ID
    * @param apiKey
    *   api key
    *
    * @param clientOptions
    *   client options
    */
  def apply(
      appId: String,
      apiKey: String,
      clientOptions: ClientOptions = ClientOptions()
  ) = new AgentStudioClient(
    appId = appId,
    apiKey = apiKey,
    clientOptions = clientOptions
  )

  private def readTimeout(): Duration = {
    Duration(25000, TimeUnit.MILLISECONDS)
  }

  private def connectTimeout(): Duration = {
    Duration(25000, TimeUnit.MILLISECONDS)
  }

  private def writeTimeout(): Duration = {
    Duration(25000, TimeUnit.MILLISECONDS)
  }

  private def hosts(appId: String): Seq[Host] = {
    val commonHosts = Random.shuffle(
      List(
        Host(appId + "-1.algolianet.com", Set(CallType.Read, CallType.Write)),
        Host(appId + "-2.algolianet.com", Set(CallType.Read, CallType.Write)),
        Host(appId + "-3.algolianet.com", Set(CallType.Read, CallType.Write))
      )
    )
    List(
      Host(appId + "-dsn.algolia.net", Set(CallType.Read)),
      Host(appId + ".algolia.net", Set(CallType.Write))
    ) ++ commonHosts
  }
}

/** @note
  *   Beta: The Agent Studio API is not yet stable and may introduce breaking changes. See
  *   [[https://www.algolia.com/doc/rest-api/agent-studio Agent Studio API docs]].
  */
class AgentStudioClient(
    appId: String,
    apiKey: String,
    clientOptions: ClientOptions = ClientOptions()
) extends ApiClient(
      appId = appId,
      apiKey = apiKey,
      clientName = "AgentStudio",
      defaultHosts = hosts(appId),
      defaultReadTimeout = readTimeout(),
      defaultWriteTimeout = writeTimeout(),
      defaultConnectTimeout = connectTimeout(),
      formats = JsonSupport.format,
      options = clientOptions
    ) {

  /** Add multiple allowed domain patterns. Duplicates are skipped.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def bulkCreateAllowedDomains(
      agentId: String,
      allowedDomainBulkInsert: AllowedDomainBulkInsert,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AllowedDomainListResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `bulkCreateAllowedDomains`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `bulkCreateAllowedDomains`.")
    requireNotNull(
      allowedDomainBulkInsert,
      "Parameter `allowedDomainBulkInsert` is required when calling `bulkCreateAllowedDomains`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/bulk")
      .withBody(allowedDomainBulkInsert)
      .build()
    execute[AllowedDomainListResponse](request, requestOptions)
  }

  /** Delete allowed domains by id list.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def bulkDeleteAllowedDomains(
      agentId: String,
      allowedDomainBulkDelete: AllowedDomainBulkDelete,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Unit] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `bulkDeleteAllowedDomains`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `bulkDeleteAllowedDomains`.")
    requireNotNull(
      allowedDomainBulkDelete,
      "Parameter `allowedDomainBulkDelete` is required when calling `bulkDeleteAllowedDomains`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/bulk")
      .withBody(allowedDomainBulkDelete)
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Create a new agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    */
  def createAgent(agentConfigCreate: AgentConfigCreate, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    requireNotNull(agentConfigCreate, "Parameter `agentConfigCreate` is required when calling `createAgent`.")

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents")
      .withBody(agentConfigCreate)
      .build()
    execute[AgentWithVersionResponse](request, requestOptions)
  }

  /** Add a single allowed domain pattern (e.g. https://app.example.com or *.example.com).
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def createAgentAllowedDomain(
      agentId: String,
      allowedDomainCreate: AllowedDomainCreate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[AllowedDomainResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `createAgentAllowedDomain`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `createAgentAllowedDomain`.")
    requireNotNull(
      allowedDomainCreate,
      "Parameter `allowedDomainCreate` is required when calling `createAgentAllowedDomain`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains")
      .withBody(allowedDomainCreate)
      .build()
    execute[AllowedDomainResponse](request, requestOptions)
  }

  /** Create a completion for the specified agent. This endpoint handles two types of requests: 1. Normal completion
    * request: User message -> Agent response 2. Tool approval response: User approval -> Execute tool -> Agent response
    * Tool Approval Flow (for MCP tools with requiresApproval: true): - Request 1: User sends message -> Agent requests
    * tool call -> Return approval request - Request 2: User approves -> Execute tool -> Agent continues with result.
    *
    * Required API Key ACLs:
    *   - search
    *
    * @param agentId
    *   The agentId.
    * @param compatibilityMode
    *   Compatibility mode for the completion API.
    * @param stream
    *   Whether to stream the response or not.
    * @param cache
    *   Use cached responses if available.
    * @param memory
    *   Set to false to disable memory (enabled by default).
    * @param analytics
    *   Set to false to skip analytics for this completion (default: true). Disables Agent Studio BigQuery analytics,
    *   Algolia search analytics, click analytics, and query-suggestions training. Useful for offline-eval workflows.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def createAgentCompletion(
      agentId: String,
      compatibilityMode: CompatibilityMode,
      agentCompletionRequest: AgentCompletionRequest,
      stream: Option[Boolean] = None,
      cache: Option[Boolean] = None,
      memory: Option[Boolean] = None,
      analytics: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Map[String, Any]] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `createAgentCompletion`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `createAgentCompletion`.")
    requireNotNull(compatibilityMode, "Parameter `compatibilityMode` is required when calling `createAgentCompletion`.")
    requireNotNull(
      agentCompletionRequest,
      "Parameter `agentCompletionRequest` is required when calling `createAgentCompletion`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/completions")
      .withBody(agentCompletionRequest)
      .withHeader("X-Algolia-Secure-User-Token", xAlgoliaSecureUserToken)
      .withQueryParameter("compatibilityMode", compatibilityMode)
      .withQueryParameter("stream", stream)
      .withQueryParameter("cache", cache)
      .withQueryParameter("memory", memory)
      .withQueryParameter("analytics", analytics)
      .build()
    execute[Map[String, Any]](request, requestOptions)
  }

  /** Create new feedback entry.
    *
    * Required API Key ACLs:
    *   - search
    */
  def createFeedback(feedbackCreationRequest: FeedbackCreationRequest, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[FeedbackResponse] = Future {
    requireNotNull(
      feedbackCreationRequest,
      "Parameter `feedbackCreationRequest` is required when calling `createFeedback`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/feedback")
      .withBody(feedbackCreationRequest)
      .build()
    execute[FeedbackResponse](request, requestOptions)
  }

  /** Create Provider.
    *
    * Required API Key ACLs:
    *   - editSettings
    */
  def createProvider(
      providerAuthenticationCreate: ProviderAuthenticationCreate,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ProviderAuthenticationResponse] = Future {
    requireNotNull(
      providerAuthenticationCreate,
      "Parameter `providerAuthenticationCreate` is required when calling `createProvider`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/providers")
      .withBody(providerAuthenticationCreate)
      .build()
    execute[ProviderAuthenticationResponse](request, requestOptions)
  }

  /** Create Secret Key.
    *
    * Required API Key ACLs:
    *   - admin
    */
  def createSecretKey(secretKeyCreate: SecretKeyCreate, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[SecretKeyResponse] = Future {
    requireNotNull(secretKeyCreate, "Parameter `secretKeyCreate` is required when calling `createSecretKey`.")

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/secret-keys")
      .withBody(secretKeyCreate)
      .build()
    execute[SecretKeyResponse](request, requestOptions)
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    */
  def customDelete[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    requireNotNull(path, "Parameter `path` is required when calling `customDelete`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customDelete`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/${path}")
      .withQueryParameters(parameters)
      .build()
    execute[T](request, requestOptions)
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    */
  def customGet[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    requireNotNull(path, "Parameter `path` is required when calling `customGet`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customGet`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/${path}")
      .withQueryParameters(parameters)
      .build()
    execute[T](request, requestOptions)
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    * @param body
    *   Parameters to send with the custom request.
    */
  def customPost[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    requireNotNull(path, "Parameter `path` is required when calling `customPost`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customPost`.")

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/${path}")
      .withBody(body)
      .withQueryParameters(parameters)
      .build()
    execute[T](request, requestOptions)
  }

  /** This method lets you send requests to the Algolia REST API.
    *
    * @param path
    *   Path of the endpoint, for example `1/newFeature`.
    * @param parameters
    *   Query parameters to apply to the current query.
    * @param body
    *   Parameters to send with the custom request.
    */
  def customPut[T: Manifest](
      path: String,
      parameters: Option[Map[String, Any]] = None,
      body: Option[Any] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[T] = Future {
    requireNotNull(path, "Parameter `path` is required when calling `customPut`.")
    requireNotEmpty(path, "Parameter `path` is required when calling `customPut`.")

    val request = HttpRequest
      .builder()
      .withMethod("PUT")
      .withPath(s"/agent-studio/${path}")
      .withBody(body)
      .withQueryParameters(parameters)
      .build()
    execute[T](request, requestOptions)
  }

  /** Delete the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def deleteAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteAgent`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}")
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Deletes the conversations matching the given filers.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    */
  def deleteAgentConversations(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Unit] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteAgentConversations`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteAgentConversations`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations")
      .withQueryParameter("startDate", startDate)
      .withQueryParameter("endDate", endDate)
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Remove an allowed domain by id.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param domainId
    *   The domainId.
    * @param agentId
    *   The agentId.
    */
  def deleteAllowedDomain(domainId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    requireNotNull(domainId, "Parameter `domainId` is required when calling `deleteAllowedDomain`.")
    requireNotEmpty(domainId, "Parameter `domainId` is required when calling `deleteAllowedDomain`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteAllowedDomain`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteAllowedDomain`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/${escape(domainId)}")
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Deletes the conversation with the given ID.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param conversationId
    *   The conversationId.
    * @param agentId
    *   The agentId.
    */
  def deleteConversation(conversationId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[Unit] = Future {
    requireNotNull(conversationId, "Parameter `conversationId` is required when calling `deleteConversation`.")
    requireNotEmpty(conversationId, "Parameter `conversationId` is required when calling `deleteConversation`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `deleteConversation`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `deleteConversation`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations/${escape(conversationId)}")
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Delete Provider.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param providerId
    *   The providerId.
    */
  def deleteProvider(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `deleteProvider`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `deleteProvider`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}")
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Delete Secret Key.
    *
    * Required API Key ACLs:
    *   - admin
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def deleteSecretKey(secretKeyId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    requireNotNull(secretKeyId, "Parameter `secretKeyId` is required when calling `deleteSecretKey`.")
    requireNotEmpty(secretKeyId, "Parameter `secretKeyId` is required when calling `deleteSecretKey`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/secret-keys/${escape(secretKeyId)}")
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Permanently deletes all messages for the given user token. Does not delete conversations.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param userToken
    *   The userToken.
    */
  def deleteUserData(userToken: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Unit] = Future {
    requireNotNull(userToken, "Parameter `userToken` is required when calling `deleteUserData`.")
    requireNotEmpty(userToken, "Parameter `userToken` is required when calling `deleteUserData`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/user-data/${escape(userToken)}")
      .build()
    execute[Unit](request, requestOptions)
  }

  /** Exports all conversations based on the passed filters.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    */
  def exportConversations(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Seq[ConversationFullResponse]] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `exportConversations`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `exportConversations`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations/export")
      .withQueryParameter("startDate", startDate)
      .withQueryParameter("endDate", endDate)
      .build()
    execute[Seq[ConversationFullResponse]](request, requestOptions)
  }

  /** Retrieve details of the specified agent.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param agentId
    *   The agentId.
    */
  def getAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `getAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `getAgent`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}")
      .build()
    execute[AgentWithVersionResponse](request, requestOptions)
  }

  /** Get a single allowed domain by id.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param domainId
    *   The domainId.
    * @param agentId
    *   The agentId.
    */
  def getAllowedDomain(domainId: String, agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AllowedDomainResponse] = Future {
    requireNotNull(domainId, "Parameter `domainId` is required when calling `getAllowedDomain`.")
    requireNotEmpty(domainId, "Parameter `domainId` is required when calling `getAllowedDomain`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `getAllowedDomain`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `getAllowedDomain`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains/${escape(domainId)}")
      .build()
    execute[AllowedDomainResponse](request, requestOptions)
  }

  /** Get Configuration.
    *
    * Required API Key ACLs:
    *   - logs
    */
  def getConfiguration(
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ApplicationConfigResponse] = Future {

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/configuration")
      .build()
    execute[ApplicationConfigResponse](request, requestOptions)
  }

  /** Retrieves the conversation and its messages for the given ID.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param conversationId
    *   The conversationId.
    * @param agentId
    *   The agentId.
    * @param includeFeedback
    *   Include feedback for the conversation.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def getConversation(
      conversationId: String,
      agentId: String,
      includeFeedback: Option[Boolean] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ConversationFullResponse] = Future {
    requireNotNull(conversationId, "Parameter `conversationId` is required when calling `getConversation`.")
    requireNotEmpty(conversationId, "Parameter `conversationId` is required when calling `getConversation`.")
    requireNotNull(agentId, "Parameter `agentId` is required when calling `getConversation`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `getConversation`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations/${escape(conversationId)}")
      .withHeader("X-Algolia-Secure-User-Token", xAlgoliaSecureUserToken)
      .withQueryParameter("includeFeedback", includeFeedback)
      .build()
    execute[ConversationFullResponse](request, requestOptions)
  }

  /** Get Provider.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param providerId
    *   The providerId.
    */
  def getProvider(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[ProviderAuthenticationResponse] = Future {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `getProvider`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `getProvider`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}")
      .build()
    execute[ProviderAuthenticationResponse](request, requestOptions)
  }

  /** Get Secret Key.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def getSecretKey(secretKeyId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[SecretKeyResponse] = Future {
    requireNotNull(secretKeyId, "Parameter `secretKeyId` is required when calling `getSecretKey`.")
    requireNotEmpty(secretKeyId, "Parameter `secretKeyId` is required when calling `getSecretKey`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/secret-keys/${escape(secretKeyId)}")
      .build()
    execute[SecretKeyResponse](request, requestOptions)
  }

  /** Retrieves all memories, conversations and their messages for the given user token.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param userToken
    *   The userToken.
    */
  def getUserData(userToken: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[UserDataResponse] = Future {
    requireNotNull(userToken, "Parameter `userToken` is required when calling `getUserData`.")
    requireNotEmpty(userToken, "Parameter `userToken` is required when calling `getUserData`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/user-data/${escape(userToken)}")
      .build()
    execute[UserDataResponse](request, requestOptions)
  }

  /** Invalidate cached completions for this agent. Filter with `before` (exclusive).
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    * @param before
    *   Delete entries strictly before this date (exclusive, YYYY-MM-DD).
    */
  def invalidateAgentCache(
      agentId: String,
      before: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Unit] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `invalidateAgentCache`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `invalidateAgentCache`.")

    val request = HttpRequest
      .builder()
      .withMethod("DELETE")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/cache")
      .withQueryParameter("before", before)
      .build()
    execute[Unit](request, requestOptions)
  }

  /** List all allowed domain patterns for this agent.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param agentId
    *   The agentId.
    */
  def listAgentAllowedDomains(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AllowedDomainListResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `listAgentAllowedDomains`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `listAgentAllowedDomains`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/allowed-domains")
      .build()
    execute[AllowedDomainListResponse](request, requestOptions)
  }

  /** Retrieves the conversations for the given agent ID.
    *
    * Required API Key ACLs:
    *   - logs
    *
    * @param agentId
    *   The agentId.
    * @param startDate
    *   Filter conversations created after this date (format: YYYY-MM-DD).
    * @param endDate
    *   Filter conversations created before this date (format: YYYY-MM-DD).
    * @param includeFeedback
    *   Include feedback per conversation.
    * @param feedbackVote
    *   Filter by feedback value (requires includeFeedback=true).
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    * @param xAlgoliaSecureUserToken
    *   The X-Algolia-Secure-User-Token.
    */
  def listAgentConversations(
      agentId: String,
      startDate: Option[String] = None,
      endDate: Option[String] = None,
      includeFeedback: Option[Boolean] = None,
      feedbackVote: Option[Int] = None,
      page: Option[Int] = None,
      limit: Option[Int] = None,
      xAlgoliaSecureUserToken: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[PaginatedConversationsResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `listAgentConversations`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `listAgentConversations`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/conversations")
      .withHeader("X-Algolia-Secure-User-Token", xAlgoliaSecureUserToken)
      .withQueryParameter("startDate", startDate)
      .withQueryParameter("endDate", endDate)
      .withQueryParameter("includeFeedback", includeFeedback)
      .withQueryParameter("feedbackVote", feedbackVote)
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .build()
    execute[PaginatedConversationsResponse](request, requestOptions)
  }

  /** List all agents with pagination and filtering.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    * @param providerId
    *   Filter by provider id.
    */
  def listAgents(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      providerId: Option[String] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[PaginatedAgentsResponse] = Future {

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/agents")
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .withQueryParameter("providerId", providerId)
      .build()
    execute[PaginatedAgentsResponse](request, requestOptions)
  }

  /** Get Provider Models.
    *
    * Required API Key ACLs:
    *   - settings
    */
  def listModels(
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[Map[String, Seq[String]]] = Future {

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers/models")
      .build()
    execute[Map[String, Seq[String]]](request, requestOptions)
  }

  /** Get available models for a specific provider.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param providerId
    *   The providerId.
    */
  def listProviderModels(providerId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[Seq[String]] = Future {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `listProviderModels`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `listProviderModels`.")

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}/models")
      .build()
    execute[Seq[String]](request, requestOptions)
  }

  /** List Providers.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    */
  def listProviders(page: Option[Int] = None, limit: Option[Int] = None, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[PaginatedProviderAuthenticationsResponse] = Future {

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/providers")
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .build()
    execute[PaginatedProviderAuthenticationsResponse](request, requestOptions)
  }

  /** List Secret Keys.
    *
    * Required API Key ACLs:
    *   - settings
    *
    * @param page
    *   Page number.
    * @param limit
    *   Items per page.
    */
  def listSecretKeys(
      page: Option[Int] = None,
      limit: Option[Int] = None,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[PaginatedSecretKeysResponse] = Future {

    val request = HttpRequest
      .builder()
      .withMethod("GET")
      .withPath(s"/agent-studio/1/secret-keys")
      .withQueryParameter("page", page)
      .withQueryParameter("limit", limit)
      .build()
    execute[PaginatedSecretKeysResponse](request, requestOptions)
  }

  /** Publish the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def publishAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `publishAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `publishAgent`.")

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/publish")
      .build()
    execute[AgentWithVersionResponse](request, requestOptions)
  }

  /** Unpublish the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def unpublishAgent(agentId: String, requestOptions: Option[RequestOptions] = None)(implicit
      ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `unpublishAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `unpublishAgent`.")

    val request = HttpRequest
      .builder()
      .withMethod("POST")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}/unpublish")
      .build()
    execute[AgentWithVersionResponse](request, requestOptions)
  }

  /** Update the specified agent.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param agentId
    *   The agentId.
    */
  def updateAgent(agentId: String, agentConfigUpdate: AgentConfigUpdate, requestOptions: Option[RequestOptions] = None)(
      implicit ec: ExecutionContext
  ): Future[AgentWithVersionResponse] = Future {
    requireNotNull(agentId, "Parameter `agentId` is required when calling `updateAgent`.")
    requireNotEmpty(agentId, "Parameter `agentId` is required when calling `updateAgent`.")
    requireNotNull(agentConfigUpdate, "Parameter `agentConfigUpdate` is required when calling `updateAgent`.")

    val request = HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/agents/${escape(agentId)}")
      .withBody(agentConfigUpdate)
      .build()
    execute[AgentWithVersionResponse](request, requestOptions)
  }

  /** Patch Configuration.
    *
    * Required API Key ACLs:
    *   - logs
    */
  def updateConfiguration(
      applicationConfigPatch: ApplicationConfigPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ApplicationConfigResponse] = Future {
    requireNotNull(
      applicationConfigPatch,
      "Parameter `applicationConfigPatch` is required when calling `updateConfiguration`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/configuration")
      .withBody(applicationConfigPatch)
      .build()
    execute[ApplicationConfigResponse](request, requestOptions)
  }

  /** Update Provider.
    *
    * Required API Key ACLs:
    *   - editSettings
    *
    * @param providerId
    *   The providerId.
    */
  def updateProvider(
      providerId: String,
      providerAuthenticationPatch: ProviderAuthenticationPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[ProviderAuthenticationResponse] = Future {
    requireNotNull(providerId, "Parameter `providerId` is required when calling `updateProvider`.")
    requireNotEmpty(providerId, "Parameter `providerId` is required when calling `updateProvider`.")
    requireNotNull(
      providerAuthenticationPatch,
      "Parameter `providerAuthenticationPatch` is required when calling `updateProvider`."
    )

    val request = HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/providers/${escape(providerId)}")
      .withBody(providerAuthenticationPatch)
      .build()
    execute[ProviderAuthenticationResponse](request, requestOptions)
  }

  /** Patch Secret Key.
    *
    * Required API Key ACLs:
    *   - admin
    *
    * @param secretKeyId
    *   The secretKeyId.
    */
  def updateSecretKey(
      secretKeyId: String,
      secretKeyPatch: SecretKeyPatch,
      requestOptions: Option[RequestOptions] = None
  )(implicit ec: ExecutionContext): Future[SecretKeyResponse] = Future {
    requireNotNull(secretKeyId, "Parameter `secretKeyId` is required when calling `updateSecretKey`.")
    requireNotEmpty(secretKeyId, "Parameter `secretKeyId` is required when calling `updateSecretKey`.")
    requireNotNull(secretKeyPatch, "Parameter `secretKeyPatch` is required when calling `updateSecretKey`.")

    val request = HttpRequest
      .builder()
      .withMethod("PATCH")
      .withPath(s"/agent-studio/1/secret-keys/${escape(secretKeyId)}")
      .withBody(secretKeyPatch)
      .build()
    execute[SecretKeyResponse](request, requestOptions)
  }

  /** Helper: Forges a secured user token (JWT) for Agent Studio authenticated requests.
    *
    * @param secretKey
    *   The secret key to sign the token with.
    * @param secretKeyId
    *   The key ID to include in the JWT header (kid).
    * @param userId
    *   The user identifier to include as the subject (sub) claim.
    * @param expiresIn
    *   The token expiration in seconds from now. Defaults to 86400 (24 hours).
    * @return
    *   The signed JWT token.
    */
  def forgeSecuredUserToken(
      secretKey: String,
      secretKeyId: String,
      userId: String,
      expiresIn: Int = 24 * 3600
  ): String = {
    def base64UrlEncode(data: Array[Byte]): String =
      java.util.Base64.getUrlEncoder.withoutPadding.encodeToString(data)

    val header = base64UrlEncode(
      s"""{"alg":"HS256","typ":"JWT","kid":"$secretKeyId"}""".getBytes(java.nio.charset.StandardCharsets.UTF_8)
    )
    val payload = base64UrlEncode(
      s"""{"sub":"$userId","exp":${java.time.Instant.now.getEpochSecond + expiresIn}}"""
        .getBytes(java.nio.charset.StandardCharsets.UTF_8)
    )

    val mac = javax.crypto.Mac.getInstance("HmacSHA256")
    mac.init(
      new javax.crypto.spec.SecretKeySpec(secretKey.getBytes(java.nio.charset.StandardCharsets.UTF_8), "HmacSHA256")
    )
    val signature = base64UrlEncode(mac.doFinal(s"$header.$payload".getBytes(java.nio.charset.StandardCharsets.UTF_8)))

    s"$header.$payload.$signature"
  }
}
